{%extends "parent.tpl"%}

{%block title%}
网商贷 - 我要借款 -
{%endblock%}

{%block script%}{%endblock%}

{%block link%}
 <link rel="stylesheet" href="/static/css/pages/borrow/prod.css">
{%endblock%}

{%block content%}
      
  <div id="pg-borrow-prod">
        <div class="container_12">
            <div class="grid_12">
                <div class="info-list">
                    <h1 class="h3 bg-orange">网商贷<span>(适用淘宝网店用户)</span></h1>
                    <div class="info-list-condition border-bt">
                        <h2 class="h4 mb15">申请条件</h2>
                        <ul class="ui-list-disc">
                            <li><i></i>22-55周岁的中国公民</li>
                            <li><i></i>在淘宝或天猫经营网店满半年</li>
                            <li><i></i>店铺等级达到2钻，好评率达到95%，动态评分达到4.5，无法估价产品和虚拟产品占比不超过40%</li>
                            <li><i></i>店铺在申请人名下，且近期无淘宝严重处罚</li>
                            <li><i></i>近3个月交易总额满3万，且交易笔数超过50笔</li>
                        </ul>
                        <div class="review-button">
                            <a href="/borrow/borrowPage.action?loanProductType=RRWSD" class="ui-button ui-button-blue ui-button-mid">申请借款</a>
                        </div>
                    </div>
                    <div class="info-list-material">
                        <h2 class="h4 mb15">必要申请资料</h2>
                        <ul class="ui-list-disc">
                            <li>
                                <h5>1. 身份认证<em>（请同时提供下面两项资料）</em></h5>
                                <div class="idcard-div">
                                  <span data="1" class="card-icon icon-id"></span><em style="left:75px;top:127px;">身份证<br>本人身份证原件的正、反两面照片</em>
                                  <span data="2" class="card-icon icon-id2"></span><em style="left:387px;top:127px;">本人手持身份证正面头部照</em>
                                </div>
                            </li>
                            <li>
                                <h5>2. 网店认证</h5>
                                <div class="idcard-div wangwang-div">
                                    <span data="1" class="card-icon-ww icon-wangwang" style="cursor:auto"></span><em style="left:75px;top:127px;">提供网店地址及阿里旺旺账号</em>
                                </div>
                            </li>
                            
                        </ul>
                    </div>
                        <div class="worm-tips">
                          <span class="icon"></span>
                          <span class="txt">温馨提示：除进行上述认证外，建议您进行房产、购车认证，有助于提高您的审核通过率与信用额度。</span>
                        </div>
                    </div>


                    <div class="info-list-way borrow-way-div">
                        <h2 class="h4 mb15">借款方式</h2>
                        <ul>
                            <li><span>借&nbsp;款&nbsp;额&nbsp;度&nbsp;</span>3,000-500,000</li>
                            <li><span>借款年利率</span>10%-24% <a class="calc" title="年利率计算器" target="_blank" href="/borrow/calculator.action?prodType=RRWSD"></a></li>
                            <li><span>借&nbsp;款&nbsp;期&nbsp;限</span>3、6、9、12、15、18、24、36个月</li>
                            <li><span>审&nbsp;核&nbsp;时&nbsp;间</span>1-3个工作日</li>
                            <li><span>还&nbsp;款&nbsp;方&nbsp;式</span>等额本息，每月还款</li>
                        </ul>
                    </div>
                    <div class="info-list-fee borrow-way-div borrow-info-div">
                        <h2 class="h4 mb15">费用说明</h2>
                        <ul>
                            <li class="range">
                               <h4>期初服务费</h4>
                                <h5>由人人贷平台收取</h5>
                                <table width="70%" class="table">
                                    <thead>
                                    <tr>
                                        <th>信用等级</th>
                                        <th><i class="ui-creditlevel ui-creditlevel-s AA snow">AA</i></th>
                                        <th><i class="ui-creditlevel ui-creditlevel-s A snow">A</i></th>
                                        <th><i class="ui-creditlevel ui-creditlevel-s B snow">B</i></th>
                                        <th><i class="ui-creditlevel ui-creditlevel-s C snow">C</i></th>
                                        <th><i class="ui-creditlevel ui-creditlevel-s D snow">D</i></th>
                                        <th><i class="ui-creditlevel ui-creditlevel-s E snow">E</i></th>
                                        <th><i class="ui-creditlevel ui-creditlevel-s HR snow">HR</i></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>服务费率</td>
                                        <td class="text-center-ie">0%</td>
                                        <td class="text-center-ie">1%</td>
                                        <td class="text-center-ie">1.5%</td>
                                        <td class="text-center-ie">2%</td>
                                        <td class="text-center-ie">2.5%</td>
                                        <td class="text-center-ie">3%</td>
                                        <td class="text-center-ie">5%</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </li>
                            <li class="info">
                                <h4>每月还款额</h4>
                                <ul>
                                    <li><span>本金及利息</span>支付给理财人</li>
                                    <li><span>借款管理费</span>由人人贷平台收取，借款本金的<em>0.3%</em></li>

                                </ul>
                            </li>
                        </ul>
                        <div class="review-button btn-div">
                            <a href="/borrow/borrowPage.action?loanProductType=RRWSD" class="ui-button ui-button-blue ui-button-mid">申请借款</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>   
         <div class="hide">
        <div id="focusimg-fram" class="J_focusimg-img">
<div class="title"></div>
    <div id="focusimg-bigpic">
           <img data="身份证|(1/2)" src="/static/img/example/4.jpg" />
           <img data="本人手持身份证正面头部照|(2/2)" src="/static/img/example/5.jpg" />
    </div>
    <div id="focusimg-thumpicw" class="J_fimg">
        <div class="thumfram"></div>
        <div class="thumfram"></div>
        
    </div>
    <div id="focusimg-btnp"><img src="/static/img/example/qian.png" /></div>
    <div id="focusimg-btnn"><img src="/static/img/example/hou.png" /></div>
</div>
    
  </div>
        
<script>seajs.use(['pages/borrow/focusimg']);</script> 
{%endblock%}