{%extends "parent.tpl"%}

{%block title%}
登录 -
{%endblock%}

{%block script%}
<script type="text/javascript">
  seajs.use(['pages/auth/login']);
</script>
{%endblock%}

{%block link%}
 <link rel="stylesheet" href="/static/css/pages/auth/login.css">
{%endblock%}

{%block content%}
        <div id="pg-login">
          <div class="container_12">
            <div class="content clearfix">
              <div class="right-con">
                <div class="loginbox ui-box-white-bg">
                  <h3 class="fn-hide">请登录您的多网账户</h3>
                  <form data-name="login" class="ui-form" method="post" action='/login' id="login">
                    <fieldset>
                      <legend>登录</legend>
                      <div class="top-msg mb10">
                        <label class="error" id="allError"></label>
                      </div>
                      <div class="ui-form-item">
                        <label class="ui-label">手机号/邮箱</label>
                        <input class="ui-input input-icon input-bg-gray" type="text" name='userid' id="j_username" data-is="isMobileOrEmail" autocomplete="off">
                        
                        <p class="placeholder" >请输入手机号/邮箱</p>
                        <span class="icon input-icon-head-gray"></span>
                      </div>
                      <div class="ui-form-item">
                        <label class="ui-label">密码</label>
                        <input class="ui-input input-icon input-bg-gray" id="J_pass_input" type="password" name='password' data-is="isEmail">
                        <p class="placeholder">请输入密码</p>
                        <span class="icon input-icon-lock-gray"></span>
                      </div>
                      
                      
                      <div class="ui-form-item">
                        
                        <input name="rememberme" id="rememberme" type="checkbox" checked="checked">
                        
                        <label for="rememberme">记住用户名</label> <a class="findpsw" href="/findPwd.action">忘记密码</a>
                      </div>
                      <input type="hidden" name="targetUrl" value="" id="targetUrl"/>
                      <input type="hidden" name="returnUrl" value="" id="returnUrl"/>
                      
                      <div class="ui-form-item text-center">
                        <p class="bottom-msg mb10"></p>
                        <input type="submit" class="ui-button-rrd-blue ui-button-rrd-blue-large" value='立即登录' id="loginbtn">
                      </div>
                      <div class="ui-form-item text-center">
                        <p class="go-reg">没有账号？ <a href="/regPage.action">免费注册</a></p>
                      </div>
                    </fieldset>
                  </form>
                  <div class="bottom">
                    
                    <span>您还可以使用合作账号登录</span>
                    <a id="partner-qq" class="partner" href="/connect/login?provider=qq">腾讯账号</a>
                    <a id="partner-weibo" class="partner" href="/connect/login?provider=sina">新浪微博</a>
                    
                  </div>
                </div>
              </div>
              <div class="left-con">
                <div class="logininfo">
                  <img src="/static/img/login/loginad.png" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <script id="email-suggest-template" type="text/x-handlebars-template">
        <ul>
          {{@if remove}}
          <li>{{inputs}}</li>
          {{/if}}
          {{@each lists}}
          <li>{{email}}</li>
          {{/each}}
        </ul>
        </script>
        <script>
        seajs.use(['jquery'],function($){
         $('.no-nav-text').html('登录').show();
         $('.grid_7 .ui-nav').addClass('fn-hide');
        });
        </script>
{%endblock%}