{%extends "parent.tpl"%}
{%block title%}
网站地图 -
{%endblock%}

{%block link%}
  <link rel="stylesheet" href="/static/css/pages/sitemap.css">
{%endblock%}

{%block content%}
  <div id="pg-guarantee">
    <div class="container_12 mt20">
      <div id="mapcontent" class="right-container">
        <h1 class="h3">网站地图</h1>
        <div class="fn-clear" id="mapcon">
          <h4 class="home-link">
            <a href="/" target="_blank">首页</a>
          </h4>
          <div class="mapc bg02">
            <h4>
              <a href="/lend/index.action" target="_blank">我要理财</a>
            </h4>
            <ul>
              <li><a href="/financeplan/listPlan.action" target="_blank">优选理财计划</a></li>
              <li><a href="/lend/loanList.action" target="_blank">散标投资列表</a></li>
              <li><a href="/transfer/transferList.action" target="_blank">债权转让列表</a></li>
            </ul>
          </div>
          <div class="mapc bg03">
            <h4>
              <a href="/borrow/index.action" target="_blank">我要借款</a>
            </h4>
            <ul>
              <li><a href="/borrow/prodWork.action" target="_blank">工薪贷</a></li>
              <li><a href="/borrow/prodBiz.action" target="_blank">生意贷</a></li>
              <li><a href="/borrow/prodEcomm.action" target="_blank">网商贷</a></li>
            </ul>
          </div>
          <div class="mapc bg01">
            <h4>
              <a href="/guide/invest.action" target="_blank">新手引导</a>
            </h4>
            <ul>
              <li><a href="/guide/invest.action" target="_blank">我要理财</a></li>
              <li><a href="/guide/borrow.action" target="_blank">我要借款</a></li>
            </ul>
          </div>
          <div class="mapc bg06">
            <h4>
              <a href="/help/index.action" target="_blank">帮助</a>
            </h4>
            <ul>
              <li><a href="/help/invest/invest!invest.action" target="_blank">我要理财</a></li>
              <li><a href="/help/borrow/borrow!borrow.action" target="_blank">我要借款</a></li>
              <li><a href="/help/account/account!account.action" target="_blank">账户管理</a></li>
              <li><a href="/help/security/security!security.action" target="_blank">安全保障</a></li>
              <li><a href="/help/terms/terms!terms.action" target="_blank">名词解释</a></li>
            </ul>
          </div>
          <div class="mapc bg05">
            <h4>
              <a href="/about/about.action?flag=intro" target="_blank">关于我们</a>
            </h4>
            <ul class="specialLineHeight">
              <li><a href="/about/about.action?flag=intro" target="_blank">公司简介</a></li>
              <li><a href="/about/about.action?flag=team" target="_blank">管理团队</a></li>
              <li><a href="/about/about.action?flag=expert" target="_blank">专家顾问</a></li>
              <li><a href="/about/about.action?flag=performance" target="_blank">业绩报告</a></li>
              <li><a href="/about/about.action?flag=responsibility" target="_blank">社会责任</a></li>
              <li><a href="/about/about.action?flag=partner" target="_blank">合作伙伴</a></li>
              <li><a href="/about/about.action?flag=report" target="_blank">媒体报道</a></li>
              <li><a href="/about/about.action?flag=news" target="_blank">最新动态</a></li>
              <li><a href="/about/about.action?flag=notices" target="_blank">网站公告</a></li>
              <li><a href="/about/about.action?flag=contact" target="_blank">联系我们</a></li>
            </ul>
          </div>
          <div class="mapc bg04">
            <h4>
              <a href="/bbs/forums/list.page" target="_blank">论坛</a>
            </h4>
            <ul>
              <li><a href="http://bbs.renrendai.com/forum.php?mod=forumdisplay&fid=9" target="_blank">新手报到</a></li>
              <li><a href="http://bbs.renrendai.com/forum.php?mod=forumdisplay&fid=10" target="_blank">活动专区</a></li>
              <li><a href="http://bbs.renrendai.com/forum.php?mod=forumdisplay&fid=11" target="_blank">最新动态</a></li>
              <li><a href="http://bbs.renrendai.com/forum.php?mod=forumdisplay&fid=8" target="_blank">人人漫谈</a></li>
              <li><a href="http://bbs.renrendai.com/forum.php?mod=forumdisplay&fid=5" target="_blank">借款交流</a></li>
              <li><a href="http://bbs.renrendai.com/forum.php?mod=forumdisplay&fid=18" target="_blank">借款百科</a></li>
              <li><a href="http://bbs.renrendai.com/forum.php?mod=forumdisplay&fid=6" target="_blank">人人理财</a></li>
              <li><a href="http://bbs.renrendai.com/forum.php?mod=forumdisplay&fid=14" target="_blank">优选理财计划</a></li>
              <li><a href="http://bbs.renrendai.com/forum.php?mod=forumdisplay&fid=15" target="_blank">需求建议</a></li>
              <li><a href="http://bbs.renrendai.com/forum.php?mod=forumdisplay&fid=19" target="_blank">版务专区</a></li>
            </ul> 
          </div>
          <div class="mapc bg07">
            <h4>快捷操作</h4>
            <ul>
              <li><a href="/regPage.action" target="_blank">注册</a></li>
              <li><a href="/loginPage.action" target="_blank">登陆</a></li>
              <li><a href="/findPwd.action" target="_blank">找回密码</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
{%endblock%}