{%extends "parent.tpl"%}

{%block title%}
个人基础信息 - 账户管理 - 我的多网帐户中心 -
{%endblock%}

{%block script%}{%endblock%}

{%block link%}
 <link rel="stylesheet" href="/static/css/pages/account/account.css">
{%endblock%}

{%block content%}
  <div id="pg-account-user" class="pg-account container_12 fn-clear">
    <div class="container_12 mt10">
      <ul class="ui-breadcrumb grid_12 fn-clear">
        <li class="fn-left ui-breadcrumb-item ui-breadcrumb-text ui-breadcrumb-text-first">
          <a href="/account/index.action">我的多网</a>
        </li>
        <li class="fn-left ui-breadcrumb-item ui-breadcrumb-separator"></li>
        <li class="fn-left ui-breadcrumb-item ui-breadcrumb-text">
          <a href="/account/info/basicInfo.action">账户管理</a>
        </li>
        <li class="fn-left ui-breadcrumb-item ui-breadcrumb-separator"></li>
        <li class="fn-left ui-breadcrumb-item ui-breadcrumb-text ui-breadcrumb-text-current">
          <a>个人基础信息</a>
        </li>
      </ul>
    </div>
    <div class="container_12 mt10">
        <div class="grid_2">
          

<div class="ui-side ui-side-withicon" id="sidebar">
  <ul class="ui-side-list nav nav-list bs-docs-sidenav affix">
    <li class="ui-side-item ">
      <a class="ui-side-item-link" href="/account/index.action"><i class="fn-left ui-icon-mid index"></i>我的多网</a>
    </li>
    <li class="ui-side-item ">
      <a class="ui-side-item-link"><i class="fn-left ui-icon-mid capital"></i>资金管理</a>
      <ul class="ui-side-sub-list">
        <li class="ui-side-sub-item ">
          <a class="ui-side-sub-item-link" href="/account/capital.action">交易记录</a>
        </li>
        <li class="ui-side-sub-item ">
          <a class="ui-side-sub-item-link" href="/account/capital/recharge.action">充值</a>
        </li>
        <li class="ui-side-sub-item ">
          <a class="ui-side-sub-item-link last" href="/account/capital/withdraw.action">提现</a>
        </li>
      </ul>
    </li>
    <li class="ui-side-item ">
      <a class="ui-side-item-link"><i class="fn-left ui-icon-mid invest"></i>理财管理</a>
      <ul class="ui-side-sub-list">
        <li class="ui-side-sub-item ">
          <a class="ui-side-sub-item-link" href="/account/invest/loan.action">我的债权</a>
        </li>
        <li class="ui-side-sub-item ">
          <a class="ui-side-sub-item-link" href="/account/invest/plan.action">优选理财计划</a>
        </li>
        <li class="ui-side-sub-item ">
          <a class="ui-side-sub-item-link" href="/account/invest/transfer.action">债权转让</a>
        </li>
        <li class="ui-side-sub-item ">
          <a class="ui-side-sub-item-link" href="/account/invest/statistics.action">理财统计</a>
        </li>
        <li class="ui-side-sub-item ">
          <a class="ui-side-sub-item-link last" href="/account/invest/tool.action">自动投标工具</a>
        </li>
      </ul>
    </li>
    <li class="ui-side-item ">
      <a class="ui-side-item-link"><i class="fn-left ui-icon-mid borrow"></i>借款管理</a>
      <ul class="ui-side-sub-list">
        <li class="ui-side-sub-item ">
          <a class="ui-side-sub-item-link" href="/account/borrow/toMyLoans.action">我的借款</a>
        </li>
        <li class="ui-side-sub-item ">
          <a class="ui-side-sub-item-link" href="/account/borrow/applications.action">借款申请查询</a>
        </li>
        <li class="ui-side-sub-item ">
          <a class="ui-side-sub-item-link last" href="/account/borrow/statistics.action">借款统计</a>
        </li>
      </ul>
    </li>
    <li class="ui-side-item active">
      <a class="ui-side-item-link"><i class="fn-left ui-icon-mid account"></i>账户管理</a>
      <ul class="ui-side-sub-list">
        <li class="ui-side-sub-item active">
          <a class="ui-side-sub-item-link" href="/account/info/basicInfo.action">个人基础信息</a>
        </li>
        <li class="ui-side-sub-item ">
          <a class="ui-side-sub-item-link" href="/account/info/verification.action">认证信息</a>
        </li>
        <li class="ui-side-sub-item ">
          <a class="ui-side-sub-item-link" href="/account/info/security.action">安全信息</a>
        </li>
        <li class="ui-side-sub-item ">
          <a class="ui-side-sub-item-link last" href="/account/info/bank.action">银行卡信息</a>
        </li>
      </ul>
    </li>
    <li class="ui-side-item ">
      <a class="ui-side-item-link"><i class="fn-left ui-icon-mid comm"></i>互动管理</a>
      <ul class="ui-side-sub-list">
        <li class="ui-side-sub-item ">
          <a  class="ui-side-sub-item-link" href="/account/comm/mail.action">站内消息</a>
        </li>
        <li class="ui-side-sub-item ">
          <a  class="ui-side-sub-item-link last" href="/account/comm/settings.action">通知设置</a>
        </li>
      </ul>
    </li>
    <li class="ui-side-item last ">
          <a class="ui-side-item-link"><i class="fn-left ui-icon-mid coupons"></i>优惠券管理</a>
          <ul class="ui-side-sub-list">
              <li class="ui-side-sub-item ">
                  <a  class="ui-side-sub-item-link" href="/account/ucode.action">U-code兑换</a>
              </li>
          </ul>
     </li>
  </ul>
  <div class="ui-side-ad mt20">
        <a  style="display: block; width:140px;overflow:hidden;"><img style="width:140px;" src="http://www.duonet.cn/upload/cms/advertising/accountIndexRight/2960ccda-628c-42b4-addc-c4a391ba847d.jpg?20140401a" alt="微信扫描"></a>
</div>
</div>
<script>
seajs.use(['components/components'], function(Components) {
  new Components.Sidebar({
    name: 'account-sidebar'
  }).init();
});
</script>
        </div>
        <div class="grid_10">
      <div class="p20bs color-white-bg fn-clear">
         <div class="fn-clear head"><div class="title fn-left">个人基础信息</div><div class="fn-right"><a id="modiForm" class="ui-button ui-button-mid ui-button-green">修改信息</a></div></div>
         <form data-name="userbasic" enctype="multipart/form-data" class="ui-form" method="post" id="userInfoForm" action="/account/info/saveBasicInfo.action">
            <div class="userphoto" id="userphoto">
               
               <a id="modUserPhoto" class="photo" href="/getMediaPicker.action"><img src="/static/img/account/default-avatar-96.png" /></a>
                <input name="avatar" id="modUserPhotoInput" type="hidden" value="" />
               
               
            </div>
            <div class="inputs">
                  <div class="ui-form-item">
                    <label class="ui-label"><span class="ui-form-required">*</span>昵称</label>
                    yanni4night
                  </div>
                
                  <div class="ui-form-item">
                    <label class="ui-label"><span class="ui-form-required">*</span>真实姓名</label>
                    殷*
                    <span class="icon-status pass">已认证</span>
                  </div>
                  <div class="ui-form-item">
                    <label class="ui-label"><span class="ui-form-required">*</span>身份证号</label>
                    21**** **** **** ****
                    <span class="icon-status pass">已认证</span>
                  </div>
                  
                  

                  
                  <div class="ui-form-item">
                    <label class="ui-label"><span class="ui-form-required">*</span>手机号码</label>
                    186 **** 1105
                    <span class="icon-status pass">已绑定</span>
                  </div>
                  
                  
                  
                  
                  <div class="ui-form-item">
                    <label class="ui-label"><span class="ui-form-required">*</span>邮箱地址</label>
                    <span class="icon-status noauth"><a href="/account/info/security.action">去绑定</a></span>
                  </div>
                  

                 
                  <div class="ui-form-item">
                    <label class="ui-label"><span class="ui-form-required">*</span>性别</label>
                    男
                  </div>

                  <div class="ui-form-item">
                    <label class="ui-label"><span class="ui-form-required">*</span>出生日期</label>
                    1987-08-10
                  </div>
                
                

                  <div class="ui-form-item">
                    <label class="ui-label"><span class="ui-form-required">*</span>最高学历</label>
                   <select name="graduation" id="graduation" >
                        <option value="">请选择</option>
                        
                            <option value="高中或以下"
                                >
                                高中或以下
                            </option>
                        
                            <option value="大专"
                                >
                                大专
                            </option>
                        
                            <option value="本科"
                                >
                                本科
                            </option>
                        
                            <option value="研究生或以上"
                                >
                                研究生或以上
                            </option>
                        
                    </select>
                  </div>
                  <div class="ui-form-item">
                    <label class="ui-label">毕业院校</label>
                    <input class="ui-input" type="text" name="university" id="university" value="">
                  </div>
                  <div class="ui-form-item">
                    <label class="ui-label"><span class="ui-form-required">*</span>婚姻状况</label>
                    <em><input type="radio" value="MARRIED" name="marriage" > 已婚</em>
                    <em><input type="radio" value="UNMARRIED" name="marriage" checked='checked'> 未婚</em>
                    <em><input type="radio" value="DIVORCED" name="marriage" > 离异</em>
                    <em><input type="radio" value="WIDOWED" name="marriage" > 丧偶</em>
                  </div>

                  <div class="ui-form-item">
                    <label class="ui-label"><span class="ui-form-required">*</span>居住地址</label>
                    <input class="ui-input w280" type="text" name="address" id="address" value="">
                  </div>
                   <div class="ui-form-item">
                    <label class="ui-label"><span class="ui-form-required">*</span>公司行业</label>
                    <select name="officeDomain" id="officeDomain">
                      <option value="">请选择</option>
                      
                            <option value="制造业"
                                >
                                制造业
                            </option>
                      
                            <option value="IT"
                                >
                                IT
                            </option>
                      
                            <option value="政府机关"
                                >
                                政府机关
                            </option>
                      
                            <option value="媒体/广告"
                                >
                                媒体/广告
                            </option>
                      
                            <option value="零售/批发"
                                >
                                零售/批发
                            </option>
                      
                            <option value="教育/培训"
                                >
                                教育/培训
                            </option>
                      
                            <option value="公共事业"
                                >
                                公共事业
                            </option>
                      
                            <option value="交通运输业"
                                >
                                交通运输业
                            </option>
                      
                            <option value="房地产业"
                                >
                                房地产业
                            </option>
                      
                            <option value="能源业"
                                >
                                能源业
                            </option>
                      
                            <option value="金融/法律"
                                >
                                金融/法律
                            </option>
                      
                            <option value="餐饮/旅馆业"
                                >
                                餐饮/旅馆业
                            </option>
                      
                            <option value="医疗/卫生/保健"
                                >
                                医疗/卫生/保健
                            </option>
                      
                            <option value="建筑工程"
                                >
                                建筑工程
                            </option>
                      
                            <option value="农业"
                                >
                                农业
                            </option>
                      
                            <option value="娱乐服务业"
                                >
                                娱乐服务业
                            </option>
                      
                            <option value="体育/艺术"
                                >
                                体育/艺术
                            </option>
                      
                            <option value="公益组织"
                                >
                                公益组织
                            </option>
                      
                            <option value="其它"
                                >
                                其它
                            </option>
                      
                    </select>
                  </div>
                  <div class="ui-form-item">
                    <label class="ui-label"><span class="ui-form-required">*</span>公司规模</label>
                    <select name="officeScale" id="officeScale">
                      <option value="">请选择</option>
                      
                            <option value="10人以下"
                                 >
                                10人以下
                            </option>
                      
                            <option value="10-100人"
                                 >
                                10-100人
                            </option>
                      
                            <option value="100-500人"
                                 >
                                100-500人
                            </option>
                      
                            <option value="500人以上"
                                 >
                                500人以上
                            </option>
                      
                    </select>
                  </div>
                  <div class="ui-form-item">
                    <label class="ui-label"><span class="ui-form-required">*</span>职位</label>
                    <input class="ui-input" type="text" name="position" id="position" value="">
                  </div>
                  <div class="ui-form-item">
                    <label class="ui-label"><span class="ui-form-required">*</span>月收入</label>
                    <select name="salary" id="salary">
                      <option value="">请选择</option>
                      
                            <option value="1000元以下"
                                >
                                1000元以下
                            </option>
                        
                            <option value="1001-2000元"
                                >
                                1001-2000元
                            </option>
                        
                            <option value="2000-5000元"
                                >
                                2000-5000元
                            </option>
                        
                            <option value="5000-10000元"
                                >
                                5000-10000元
                            </option>
                        
                            <option value="10000-20000元"
                                >
                                10000-20000元
                            </option>
                        
                            <option value="20000-50000元"
                                >
                                20000-50000元
                            </option>
                        
                            <option value="50000元以上"
                                >
                                50000元以上
                            </option>
                        
                    </select>
                  </div>
                  <div class="ui-form-item">
                    <input id="savebt" type="submit" class="ui-button ui-button-green ui-button-mid" value="保 存">
                  </div>
            </div>
         </form>

      </div>
    </div>
    </div>
  </div>
 <script>seajs.use(['pages/account/account/userbasic']);</script>
{%endblock%}