{%extends "parent.tpl"%}

{%block title%}
认证信息 - 账户管理 - 我的多网帐户中心 -
{%endblock%}

{%block script%}{%endblock%}

{%block link%}
 <link rel="stylesheet" href="/static/css/pages/account/account.css">
{%endblock%}

{%block content%}
<div id="pg-account-verify" class="pg-account container_12 fn-clear">
  <div class="container_12 mt10">
      <ul class="ui-breadcrumb grid_12 fn-clear">
        <li class="fn-left ui-breadcrumb-item ui-breadcrumb-text ui-breadcrumb-text-first">
          <a href="/account/index.action">我的多网</a>
        </li>
        <li class="fn-left ui-breadcrumb-item ui-breadcrumb-separator"></li>
        <li class="fn-left ui-breadcrumb-item ui-breadcrumb-text">
          <a href="/account/info/basicInfo.action">账户管理</a>
        </li>
        <li class="fn-left ui-breadcrumb-item ui-breadcrumb-separator"></li>
        <li class="fn-left ui-breadcrumb-item ui-breadcrumb-text ui-breadcrumb-text-current">
          <a>认证信息</a>
        </li>
      </ul>
  </div>    
  <div class="container_12 mt10">
      <div class="grid_2">
        

<div class="ui-side ui-side-withicon" id="sidebar">
  <ul class="ui-side-list nav nav-list bs-docs-sidenav affix">
    <li class="ui-side-item ">
      <a class="ui-side-item-link" href="/account/index.action"><i class="fn-left ui-icon-mid index"></i>我的多网</a>
    </li>
    <li class="ui-side-item ">
      <a class="ui-side-item-link"><i class="fn-left ui-icon-mid capital"></i>资金管理</a>
      <ul class="ui-side-sub-list">
        <li class="ui-side-sub-item ">
          <a class="ui-side-sub-item-link" href="/account/capital.action">交易记录</a>
        </li>
        <li class="ui-side-sub-item ">
          <a class="ui-side-sub-item-link" href="/account/capital/recharge.action">充值</a>
        </li>
        <li class="ui-side-sub-item ">
          <a class="ui-side-sub-item-link last" href="/account/capital/withdraw.action">提现</a>
        </li>
      </ul>
    </li>
    <li class="ui-side-item ">
      <a class="ui-side-item-link"><i class="fn-left ui-icon-mid invest"></i>理财管理</a>
      <ul class="ui-side-sub-list">
        <li class="ui-side-sub-item ">
          <a class="ui-side-sub-item-link" href="/account/invest/loan.action">我的债权</a>
        </li>
        <li class="ui-side-sub-item ">
          <a class="ui-side-sub-item-link" href="/account/invest/plan.action">优选理财计划</a>
        </li>
        <li class="ui-side-sub-item ">
          <a class="ui-side-sub-item-link" href="/account/invest/transfer.action">债权转让</a>
        </li>
        <li class="ui-side-sub-item ">
          <a class="ui-side-sub-item-link" href="/account/invest/statistics.action">理财统计</a>
        </li>
        <li class="ui-side-sub-item ">
          <a class="ui-side-sub-item-link last" href="/account/invest/tool.action">自动投标工具</a>
        </li>
      </ul>
    </li>
    <li class="ui-side-item ">
      <a class="ui-side-item-link"><i class="fn-left ui-icon-mid borrow"></i>借款管理</a>
      <ul class="ui-side-sub-list">
        <li class="ui-side-sub-item ">
          <a class="ui-side-sub-item-link" href="/account/borrow/toMyLoans.action">我的借款</a>
        </li>
        <li class="ui-side-sub-item ">
          <a class="ui-side-sub-item-link" href="/account/borrow/applications.action">借款申请查询</a>
        </li>
        <li class="ui-side-sub-item ">
          <a class="ui-side-sub-item-link last" href="/account/borrow/statistics.action">借款统计</a>
        </li>
      </ul>
    </li>
    <li class="ui-side-item active">
      <a class="ui-side-item-link"><i class="fn-left ui-icon-mid account"></i>账户管理</a>
      <ul class="ui-side-sub-list">
        <li class="ui-side-sub-item ">
          <a class="ui-side-sub-item-link" href="/account/info/basicInfo.action">个人基础信息</a>
        </li>
        <li class="ui-side-sub-item active">
          <a class="ui-side-sub-item-link" href="/account/info/verification.action">认证信息</a>
        </li>
        <li class="ui-side-sub-item ">
          <a class="ui-side-sub-item-link" href="/account/info/security.action">安全信息</a>
        </li>
        <li class="ui-side-sub-item ">
          <a class="ui-side-sub-item-link last" href="/account/info/bank.action">银行卡信息</a>
        </li>
      </ul>
    </li>
    <li class="ui-side-item ">
      <a class="ui-side-item-link"><i class="fn-left ui-icon-mid comm"></i>互动管理</a>
      <ul class="ui-side-sub-list">
        <li class="ui-side-sub-item ">
          <a  class="ui-side-sub-item-link" href="/account/comm/mail.action">站内消息</a>
        </li>
        <li class="ui-side-sub-item ">
          <a  class="ui-side-sub-item-link last" href="/account/comm/settings.action">通知设置</a>
        </li>
      </ul>
    </li>
    <li class="ui-side-item last ">
          <a class="ui-side-item-link"><i class="fn-left ui-icon-mid coupons"></i>优惠券管理</a>
          <ul class="ui-side-sub-list">
              <li class="ui-side-sub-item ">
                  <a  class="ui-side-sub-item-link" href="/account/ucode.action">U-code兑换</a>
              </li>
          </ul>
     </li>
  </ul>
  <div class="ui-side-ad mt20">
        <a  style="display: block; width:140px;overflow:hidden;"><img style="width:140px;" src="http://www.duonet.cn/upload/cms/advertising/accountIndexRight/2960ccda-628c-42b4-addc-c4a391ba847d.jpg" alt="微信扫描"></a>
</div>
</div>
<script>
seajs.use(['components/components'], function(Components) {
  new Components.Sidebar({
    name: 'account-sidebar'
  }).init();
});
</script>
      </div>
      <div class="grid_10">
      <div class="p20bs color-white-bg title-table-div">
      
      <table border="0">
      <tr>
          <td style="text-align:center \9;">信用等级</td>
          <td>信用总分</td>
          <td>信用额度</td>
          <td>可用额度</td>
      </tr>
       <tr>
          <td class = "pd10"><i class="ui-creditlevel ui-creditlevel-s HR snow">HR</i></td>
          <td class="big">
                0</td>
          <td class="big">￥ 0</td>
          <td class="big">￥
                0</td>
      </tr>
      </table>
      
        
      </div>
        <div class="p20bs color-white-bg tablebox">
          <table>
            
            <tr>
              <td>&nbsp;</td>
              <td> 项目 </td>
              <td width="80"> 状态 </td>
              <td class="credit"> 信用分数 </td>
            </tr>
            <tr>
              <td> 基本信息 </td>
              <td><p> 个人详细信息，工作信息 </p></td>
              <td></td>
              <td class="credit"><span class="f_red">0</span> 分 </td>
            </tr>
            <tr>
              <td rowspan="4"> 必要申请资料 </td>
              <td><p> 身份证认证 </p></td>
              <td> <font style="color:#666">待完成</font>
                
                
                
                </td>
              <td rowspan="9" class="credit"><span class="f_red">0</span> 分<i id="tips" class="iconfont tips" style="font-size:16px">&#xF046;</i>   
              </td>
            </tr>
            <tr>
              <td class=" item"> 工作认证 </td>
              <td> <font style="color:#666">待完成</font>  
                
                
                
                </td>
            </tr>
            <tr >
              <td> 收入认证 </td>
              <td> <font style="color:#666">待完成</font>
                
                
                
                </td>
            </tr>
            <tr>
              <td> 信用报告</td>
              <td><span>
                 <font style="color:#666">待完成</font> 
                
                
                
                
                </span></td>
            </tr>
            <tr>
              <td rowspan="8"> 可选申请资料 </td>
              <td> 房产认证 </td>
              <td> <font style="color:#666">待完成</font> 
                
                
                
                </td>
            </tr>
            <tr>
              <td> 技术职称认证 </td>
              <td> <font style="color:#666">待完成</font> 
                
                
                
                </td>
            </tr>
            <tr >
              <td> 购车证明 </td>
              <td><font style="color:#666">待完成</font> 
                
                
                
                </td>
            </tr>
            <tr>
              <td> 结婚认证 </td>
              <td> <font style="color:#666">待完成</font> 
                
                
                
                </td>
            </tr>
            <tr>
              <td> 居住地证明 </td>
              <td> <font style="color:#666">待完成</font> 
                
                
                
                </td>
            </tr>
            <!--
            <tr>
              <td> 视频认证 </td>
              <td ><font style="color:#666">待完成</font>
                
                
                
                </td>
            </tr>
            -->
            <tr>
              <td> 学历认证（10分） </td>
              <td><font style="color:#666">待完成</font> 
                
                
                
                </td>
              <td class="credit"><span class="f_red">
                0
                </span> 分 </td>
            </tr>
            <tr>
              <td> 手机实名认证（10分） </td>
              <td ><font style="color:#666">待完成</font> 
                
                
                
                </td>
              <td class="credit"><span class="f_red">
                0
                </span> 分 </td>
            </tr>
            <tr>
              <td> 微博认证（2分） </td>
              <td><font style="color:#666">待完成</font> 
                
                
                
                </td>
              <td class="credit"><span class="f_red">
                0
                </span> 分 </td>
            </tr>
            <tr >
              <td rowspan="3" class="last"> 多网记录 </td>
              <td> 还清笔数（+1分/笔，加分间隔28天，上限20分） </td>
              <td>0 笔</td>
              <td class="credit"><span class="f_red">0</span> 分 </td>
            </tr>
            <tr>
              <td> 逾期次数（-1分/次） </td>
              <td> 0 次 </td>
              <td class="credit"><span class="f_red"> 0 </span> 分 </td>
            </tr>
            <tr >
              <td class="last"> 严重逾期笔数（-30分/次） </td>
              <td class="last"> 0 次 </td>
              <td class="last credit"><span class="f_red"> 0 </span> 分 </td>
            </tr>
          </table>
          
          <br/>
          <div class="worm-tipsrz">
                  <span class="icon"></span>
                  <span class="txt">温馨提示：您可以在发布借款申请时按照网站要求进行信息认证，本页仅供认证状态查询。</span>
              </div>
          
          
              <div class="ui-poptip fn-hide" id="tipCon">
                <div class="ui-poptip-shadow">
                <div class="ui-poptip-container">
                    <div class="ui-poptip-arrow ui-poptip-arrow-7">
                        <em></em>
                        <span></span>
                    </div>
                    <div class="ui-poptip-content" data-role="content">
                              该分数由用户的综合情况决定，单项认证通过不额外加分。
                    </div>
                </div>
              </div>
            </div>
        </div>
      </div>
  </div>
</div>
 <script>
seajs.use(['jquery','tip'],function($,Tip){
  $(function(){ 
      new Tip({
         element: '#tipCon',
         trigger: '#tips',
         arrowPosition: 5 
      });
  })
})

</script>

{%endblock%}