.fn-left.last {
margin-right:-3px
}

.ui-loantype {
display:inline
}

.arrow-down {
display:block;
width:0;
height:0;
border:0
}

.ui-header-main .ui-header-grid.grid_7 {
width:500px
}

.ui-header-main .ui-header-grid.grid_7 .ui-nav-item {
width:122px
}

.ui-header-main .ui-header-grid.grid_3 .ui-nav-item {
width:76px
}

.ui-header-main .ui-nav-dropdown-invest {
width:124px
}

.ui-header-main .ui-nav-dropdown-borrow {
width:114px
}

.ui-header-main .ui-nav-dropdown-account {
width:124px
}

.ui-footer {
position:absolute;
bottom:0;
width:100%;
padding:10px 0;
background:#555
}

.ui-footer-links li {
width:85px
}

.ui-footer-verification-item {
display:inline
}

.ui-message-content {
background:#fff;
position:absolute;
left:expression(0+((e=document.documentElement.scrollLeft)?e:document.body.scrollLeft)+'px');
top:expression(0+((e=document.documentElement.scrollTop)?e:document.body.scrollTop)+'px');
margin:110px 0 0 220px;
padding:20px 20px 10px;
width:460px;
height:120px;
border:1px solid #CCC
}

.ui-list-invest .ui-list-item .ui-button {
width:50px
}

.ui-list-invest .ui-list-field.join {
width:90px
}

#pg-index #news-section {
margin-top:60px
}

a.ui-button-transparent:hover {
border:0
}
