.ui-creditlevel {
display:block;
margin:12px auto;
height:36px;
width:36px;
border-radius:none;
color:#fff;
font-size:0;
line-height:0;
text-align:center;
text-decoration:none
}

.ui-creditlevel.AA {
background:url(/static/img/ie-credit-levels.png?rrdversion=20140414) no-repeat -1px center
}

.ui-creditlevel.A {
background:url(/static/img/ie-credit-levels.png?rrdversion=20140414) no-repeat -38px center
}

.ui-creditlevel.B {
background:url(/static/img/ie-credit-levels.png?rrdversion=20140414) no-repeat -75px center
}

.ui-creditlevel.C {
background:url(/static/img/ie-credit-levels.png?rrdversion=20140414) no-repeat -112px center
}

.ui-creditlevel.D {
background:url(/static/img/ie-credit-levels.png?rrdversion=20140414) no-repeat -149px center
}

.ui-creditlevel.E {
background:url(/static/img/ie-credit-levels.png?rrdversion=20140414) no-repeat -186px center
}

.ui-creditlevel.HR {
background:url(/static/img/ie-credit-levels.png?rrdversion=20140414) no-repeat -223px center
}

#pg-account-index .ui-list-invest.loan-s .ui-creditlevel {
display:block;
margin:3px auto;
width:30px;
height:30px;
border-radius:none;
color:#fff;
font-size:0;
line-height:0;
text-align:center;
text-decoration:none
}

#pg-account-index .ui-list-invest.loan-s .ui-creditlevel.AA {
background:url(/static/img/ie-credit-levels-s.png?rrdversion=20140414) no-repeat -1px center
}

#pg-account-index .ui-list-invest.loan-s .ui-creditlevel.A {
background:url(/static/img/ie-credit-levels-s.png?rrdversion=20140414) no-repeat -32px center
}

#pg-account-index .ui-list-invest.loan-s .ui-creditlevel.B {
background:url(/static/img/ie-credit-levels-s.png?rrdversion=20140414) no-repeat -63px center
}

#pg-account-index .ui-list-invest.loan-s .ui-creditlevel.C {
background:url(/static/img/ie-credit-levels-s.png?rrdversion=20140414) no-repeat -94px center
}

#pg-account-index .ui-list-invest.loan-s .ui-creditlevel.D {
background:url(/static/img/ie-credit-levels-s.png?rrdversion=20140414) no-repeat -125px center
}

#pg-account-index .ui-list-invest.loan-s .ui-creditlevel.E {
background:url(/static/img/ie-credit-levels-s.png?rrdversion=20140414) no-repeat -156px center
}

#pg-account-index .ui-list-invest.loan-s .ui-creditlevel.HR {
background:url(/static/img/ie-credit-levels-s.png?rrdversion=20140414) no-repeat -187px center
}

.ui-progressbar-circle {
display:block;
width:96px;
height:96px;
line-height:96px;
text-align:center;
font-size:16px;
background:url(/static/img/ui-progressbar-large-green.png?rrdversion=20140414) no-repeat 0 center
}

.ui-progressbar-circle-join,a.ui-progressbar-circle-join {
border:0;
color:#83a700
}

.ui-progressbar-circle-join:hover {
border:0;
color:#728f07;
background:url(/static/img/ui-progressbar-large-green.png?rrdversion=20140414) no-repeat -97px center
}

.ui-progressbar-circle-ready {
border:0
}

.ui-progressbar-circle-ready:hover {
color:#83a700
}

.ui-list-news .decoration {
display:inline;
width:12px;
height:12px;
line-height:12px;
border:0;
border-radius:none;
background:url(/static/img/ie-news-list-decoration.png?rrdversion=20140414) no-repeat center center
}

.ui-list-news li {
vertical-align:top
}

.notice-more.ui-button-transparent {
width:88px;
height:25px;
border:0;
color:#898989;
background:url(/static/img/ie-more-notices-button.png?rrdversion=20140414) no-repeat center 0
}

.notice-more.ui-button-transparent:active {
border:0;
color:#00a8e8;
background:url(/static/img/ie-more-notices-button.png?rrdversion=20140414) no-repeat center -25px
}

.notice-more.ui-button-transparent:hover {
border:0;
color:#00a8e8;
background:url(/static/img/ie-more-notices-button.png?rrdversion=20140414) no-repeat center -25px
}

.ui-list-disc li>i {
width:4px;
height:4px;
background:url(/static/img/ie-disc-listbg.png?rrdversion=20140414) no-repeat scroll left center
}

#pg-user-profile .ui-creditlevel {
margin-top:0
}

.het45 {
line-height:45px
}

#pg-about-invite .about-list-item dd {
*position:relative;
*left:-25px
}
