{%extends "parent.tpl"%}

{%block title%}
我要理财 -
{%endblock%}

{%block script%}{%endblock%}

{%block link%}
 <link rel="stylesheet" href="/static/css/pages/products.css">
{%endblock%}

{%block content%}
  <div id="pg-products">
    <div class="container_12 mt20">
      <div class="grid_12">
        <div class="pg-products-content">
          <div class="products-content">
            <h1 class="h3">多网理财 - 产品介绍</h1>
            <div class="fn-clear products-list procategories-list">
              <div class="fn-left products-team invest bg-green">
                <h2 class="h4">加入优选</h2>
                <div class="content-padding">
                  <h6 class="invest">加入优选理财计划，资金以用户认可的既定规则自动进行投标，用户每月的回款也会循环复利再投资，更安全，更便捷，更高效。</h6>
                  <br/>
                  <ul class="ui-list-disc mt10">
                    <li class="fn-clear"><i></i><span>收益稳定，预期年化收益12%-14%</span></li>
                    <li class="fn-clear"><i></i><span>资金安全，投资标的适用本金保障计划</span></li>
                    <li class="fn-clear"><i></i><span>系统优先投标，精选优质债权</span></li>
                    <li class="fn-clear"><i></i><span>多种收益处理方式，灵活方便</span></li>
                    <li class="fn-clear"><i></i><span>低门槛，10,000元起步</span></li>
                    <li class="fn-clear"><i></i><span>锁定期12个月，期满可随时退出</span></li>
                  </ul>
                  <div class="products-link">
                    <p class="text-center review-button">
                      <a class="ui-button ui-button-blue ui-button-mid w70" href="/financeplan/listPlan.action">去加入</a>
                    </p>
                  </div>
                </div>
              </div>
              <div class="fn-left products-team invest bg-yellow">
                <h2 class="h4">投资散标</h2>
                <div class="content-padding">
                  <h6 class="invest">平台提供信用认证标、机构担保标、实地认证标等多类产品，用户根据审核后的信息，自选合适的借款标的，构建符合个人意愿的投资组合。</h6>
                  <br/>
                  <ul class="ui-list-disc mt10">
                    <li class="fn-clear"><i></i><span>标的年利率区间8%-24%</span></li>
                    <li class="fn-clear"><i></i><span>投资标的适用本金保障计划</span></li>
                    <li class="fn-clear"><i></i><span>期限灵活，3-36个月</span></li>
                    <li class="fn-clear"><i></i><span>50元起投，可小额多笔投资，分散风险</span></li>
                    <li class="fn-clear"><i></i><span>债权持有90天以上，可进行转让</span></li>
                  </ul>
                  <div class="products-link">
                    <a class="text-crayblue cursor-pointer" href="/lend/calculator.action">理财收益计算</a>
                    <p class="text-center review-button">
                      <a class="ui-button ui-button-blue ui-button-mid w70" href="/lend/loanList.action">去投标</a>
                    </p>
                  </div>
                </div>
              </div>
              <div class="fn-left products-team invest bg-cyanblue">
                <h2 class="h4">债权转让</h2>
                <div class="content-padding">
                  <h6 class="invest">平台提供债权转让功能，用户可自行转让资产组合中符合条件的债权，也可购买其他用户转让的债权，从而获得折让收益及借款标的后续收益。</h6>
                  <br/>
                  <ul class="ui-list-disc mt10">
                    <li class="fn-clear"><i></i><span>提供转让功能，增加资金流动性</span></li>
                    <li class="fn-clear"><i></i><span>债权持有90天后即可进行转让</span></li>
                    <li class="fn-clear"><i></i><span>债权转让次数不限</span></li>
                    <li class="fn-clear"><i></i><span>寻找折价债权，获得更多折让收益 </span></li>
                    <li class="fn-clear"><i></i><span>无投资门槛</span></li>
                  </ul>
                  <div class="products-link">
                    <p class="text-center review-button">
                      <a class="ui-button ui-button-blue ui-button-mid w70" href="/transfer/transferList.action">去购买</a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{%endblock%}