{%extends "parent.tpl"%}

{%block title%}
联系我们 - 关于我们 -
{%endblock%}

{%block script%}{%endblock%}

{%block link%}
 <link rel="stylesheet" href="/static/css/pages/about.css">
{%endblock%}

{%block content%}
  <div id="pg-about-contact">
    <div class="container_12 mt20">
      <div class="grid_2">
        

<div class="ui-side" id="sidebar">
  <ul class="ui-side-list">
    <li class="ui-side-item ">
      <a class="ui-side-item-link" href="/about/about.action?flag=intro" target="_self">公司简介</a>
    </li>
    <li class="ui-side-item ">
      <a class="ui-side-item-link" href="/about/about.action?flag=team" target="_self">管理团队</a>
    </li>
    <li class="ui-side-item ">
      <a class="ui-side-item-link" href="/about/about.action?flag=expert" target="_self">专家顾问</a>
    </li>
    <li class="ui-side-item ">
      <a class="ui-side-item-link" href="/about/about.action?flag=performance" target="_self">业绩报告</a>
    </li>
    <li class="ui-side-item ">
      <a class="ui-side-item-link" href="/about/about.action?flag=supervise" target="_self">监管报告</a>
    </li>
    <li class="ui-side-item ">
      <a class="ui-side-item-link" href="/about/about.action?flag=responsibility" target="_self">社会责任</a>
    </li>
    <li class="ui-side-item ">
      <a class="ui-side-item-link" href="/about/about.action?flag=partner" target="_self">合作伙伴</a>
    </li>
    <li class="ui-side-item ">
      <a class="ui-side-item-link" href="/about/about.action?flag=report" target="_self">媒体报道</a>
    </li>
    <li class="ui-side-item ">
      <a class="ui-side-item-link" href="/about/about.action?flag=news" target="_self">最新动态</a>
    </li>
    <li class="ui-side-item ">
      <a class="ui-side-item-link" href="/about/about.action?flag=notices" target="_self">网站公告</a>
    </li>
    <li class="ui-side-item ">
      <a class="ui-side-item-link" href="/about/about.action?flag=invite" target="_self">招贤纳士</a>
    </li>
    <li class="ui-side-item last active">
      <a class="ui-side-item-link" href="/about/about.action?flag=contact" target="_self">联系我们</a>
    </li>
  </ul>
</div>
      </div>
      <div class="grid_10">
                <div class="pg-about-main right-container p20bs">
  <h1 class="rrdcolor-blue-text">联系我们</h1>
  <div class="pg-about-section">
    <p class="line30">多网当前的服务已覆盖了全国30余个省的2000多个地区，在北京的西直门和五道口均设有办公场所，在上海设有专业的信审服务中心。</p>
  </div>
  <div class="pg-about-section mt20">
    <h2 class="rrdcolor-blue-text">北京总部</h2>
    <ul class="li-height30">
      <li>地址：北京市海淀区西直门外高梁桥斜街59号中坤大厦7层</li>
      <li>邮编：100044</li>
    </ul>
  </div>
  <div class="pg-about-section mt20">
    <h2 class="rrdcolor-blue-text">北京分部</h2>
    <ul class="li-height30">
      <li>地址：北京市海淀区五道口优盛大厦18层</li>
      <li>邮编：100083</li>
    </ul>
  </div>
  <div class="pg-about-section mt20">
    <h2 class="rrdcolor-blue-text">客服电话</h2>
    <ul class="li-height30">
      <li>如果您在使用多网(duonet.cn)的过程中有任何疑问请您与多网客服人员联系。</li>
      <li>客服电话：400-027-8080</li>
      <li>在线帮助：<a href="/help/index.action" target="_blank">www.duonet.cn/help/index.action</a></li>
    </ul>
  </div>
  <div class="pg-about-section mt20">
    <h2 class="rrdcolor-blue-text">媒体采访</h2>
    <p class="line30">如果有媒体采访需求，请将您的媒体名称、采访提纲、联系方式发至：<br><a href="mailto:PR@duonet.cn" target="_blank">PR@duonet.cn</a>，我们会尽快与您联系。</p>
  </div>
  <div class="pg-about-section mt20">
    <h2 class="rrdcolor-blue-text">商务合作</h2>
    <p class="line30">如果贵公司希望与我们建立商务合作关系，形成优势互补，请将合作意向进行简要描述并发送邮件至：<br><a href="mailto:BD@duonet.cn" target="_blank">BD@duonet.cn</a>，我们会尽快与您联系。
    <br>备注：多网目前暂时没有线下加盟/线下开店等商务合作模式，谢谢关注。
    </p>
  </div>
  <div class="pg-about-section information-con mt20">
    <h2 class="rrdcolor-blue-text">信息同步</h2>
    <p class="line30">如果您还希望了解我们更多信息，请关注我们的新浪微博、腾讯微博、微信或博客。</p>
    
    <div class="con-way">
       
        <ul class="li-height30">
          <li>微信公众平台：duonet（扫描右侧二维码关注多网微信）</li>
          <li>新浪博客：<a href="http://blog.sina.com.cn/duonet" target="_blank">blog.sina.com.cn/duonet</a></li>
          <li>新浪微博：<a href="http://e.weibo.com/duonet" target="_blank">e.weibo.com/duonet</a></li>
          <li>腾讯微博：<a href="http://t.qq.com/duonet" target="_blank">t.qq.com/duonet</a></li>
        </ul>   
         <div class="weixin" id="qr-code-weixin">
          <p class="weixin-img"><img src="/static/img/weixin.jpg" width="150" height="150" alt="微信二维码"></p>
          
        </div>
    </div>
       
  </div>
</div>
      </div>
    </div>
  </div>
{%endblock%}
