{%extends "parent.tpl"%}

{%block title%}
专家顾问 - 关于我们 -
{%endblock%}

{%block script%}{%endblock%}

{%block link%}
 <link rel="stylesheet" href="/static/css/pages/about.css">
{%endblock%}

{%block content%}
    <div id="pg-about-expert">
        <div class="container_12 mt20">
            <div class="grid_2">
                

<div class="ui-side" id="sidebar">
  <ul class="ui-side-list">
    <li class="ui-side-item ">
      <a class="ui-side-item-link" href="/about/about.action?flag=intro" target="_self">公司简介</a>
    </li>
    <li class="ui-side-item ">
      <a class="ui-side-item-link" href="/about/about.action?flag=team" target="_self">管理团队</a>
    </li>
    <li class="ui-side-item active">
      <a class="ui-side-item-link" href="/about/about.action?flag=expert" target="_self">专家顾问</a>
    </li>
    <li class="ui-side-item ">
      <a class="ui-side-item-link" href="/about/about.action?flag=performance" target="_self">业绩报告</a>
    </li>
    <li class="ui-side-item ">
      <a class="ui-side-item-link" href="/about/about.action?flag=supervise" target="_self">监管报告</a>
    </li>
    <li class="ui-side-item ">
      <a class="ui-side-item-link" href="/about/about.action?flag=responsibility" target="_self">社会责任</a>
    </li>
    <li class="ui-side-item ">
      <a class="ui-side-item-link" href="/about/about.action?flag=partner" target="_self">合作伙伴</a>
    </li>
    <li class="ui-side-item ">
      <a class="ui-side-item-link" href="/about/about.action?flag=report" target="_self">媒体报道</a>
    </li>
    <li class="ui-side-item ">
      <a class="ui-side-item-link" href="/about/about.action?flag=news" target="_self">最新动态</a>
    </li>
    <li class="ui-side-item ">
      <a class="ui-side-item-link" href="/about/about.action?flag=notices" target="_self">网站公告</a>
    </li>
    <li class="ui-side-item ">
      <a class="ui-side-item-link" href="/about/about.action?flag=invite" target="_self">招贤纳士</a>
    </li>
    <li class="ui-side-item last ">
      <a class="ui-side-item-link" href="/about/about.action?flag=contact" target="_self">联系我们</a>
    </li>
  </ul>
</div>
            </div>
            <div class="main grid_10" id="aboutContent">
                <div id="expert" class="expert right-container p20bs">
<h1 class="dwcolor-blue-text">专家顾问</h1>
<p>多网在快速成长的道路上需要启迪与指导。多网专家顾问团队，汇聚了法律、学术、企业管理等各领域的精英和专家。权威铸就信任，经验创造财富，多网专家顾问团队将引领多网一路前行，乘风破浪。</p>
<ul>
    <li class="team-item dwcolor-thinblue-text fn-clear mb10">
        <img width="100" height="125" align="middle" src="http://www.duonet.cn/images/leadership/expert_02.jpg" alt="刘晓明">
        <div class="record">
            <h5 class="dwcolor-blue-text">
            刘晓明
            </h5>
            <p>中国政法大学法学硕士，武汉大学法学博士，北京理工大学法学院兼职教授。曾担任新华社直属网站新华网法律顾问、国内法学杂志《判例与研究》编委会委员，并主编了《法律诉讼指引》一书。现任隆安律师事务所高级合伙人。对于公司法、知识产权、证券、金融保险、跨国并购收购、重大资产重组改制、产权交易等领域有着深入研究。</p>
        </div>
    </li>
    <li class="team-item dwcolor-thinblue-text fn-clear mb10">
        <img width="100" height="125" align="middle" src="http://www.duonet.cn/images/leadership/expert_03.jpg" alt="吴岚">
        <div class="record">
            <h5 class="dwcolor-blue-text">
            吴岚
            </h5>
            <p>北京大学金融数学系系主任、博士生导师。1990年至今在北京大学数学科学学院工作，以精算学与金融风险管理为主要研究方向。为中国精算师协会理事、中国保监会委员、教育委员会委员。参与研究国家自然科学基金委精算重点项目《保险信息处理与精算数学理论和方法》；并在2007年7月-2012年12月主持研究了国家科技部国家重点基础研究发展计划（973计划）项目（课题）《金融风险控制中的定量分析与计算》、《银行与保险业中的风险模型与数据分析》等项目（课题）。</p>
        </div>
    </li>
    <li class="team-item dwcolor-thinblue-text fn-clear mb10">
        <img width="100" height="125" align="middle" src="http://www.duonet.cn/images/leadership/expert_04.jpg" alt="李罗力">
        <div class="record">
            <h5 class="dwcolor-blue-text">
            李罗力
            </h5>
            <p>硕士研究生学历，南开大学教授，博士生导师。现任中国体改研究会副会长、综合开发研究院（中国·深圳）副理事长、《开放导报》杂志社社长、深圳市城市信息化协会会长、深圳脑库投资管理有限公司副董事长、深圳平安银行独立董事、平安信托投资有限责任公司独立董事、天津九安医疗电子股份有限公司独立董事、华侨城独立董事。</p>
        </div>
    </li>
    <li class="team-item dwcolor-thinblue-text fn-clear mb10">
        <img width="100" height="125" align="middle" src="http://www.duonet.cn/upload/cms/article/expert/63e13766-5b16-4685-92db-78194b802ac4.jpg" alt="张虹海">
        <div class="record">
            <h5 class="dwcolor-blue-text">
            张虹海
            </h5>
            <p>张虹海先生现为北京控股有限公司董事局副主席，同时担任北京控股集团有限公司董事、北京发展（香港）有限公司（股份代号：154）执行董事以及北控水务集团有限公司（股份代号：371）董事局主席兼执行董事。张虹海先生于一九八二年毕业于北京大学，其后于湖南大学国际商学院完成研究生课程，获硕士学位。高级经济师职称。张先生之后于北京大学光华管理学院获高级管理人员工商管理硕士(EMBA)学位。张先生在北京市政府任职多年，曾任北京市人民政府外事办公室暨北京市人民政府港澳事务办公室主任，现为北京海外联谊会副会长。张先生于一九九零至一九九八年期间于北京国际信托投资公司任职副总经理，然后擢升至副董事长兼总经理，于企业管理、资本运作、投资方面积累了非常丰富的经验和成功案例。</p>
        </div>
    </li>
</ul>
</div>
            </div>
        </div>
    </div>
{%endblock%}