{%extends "parent.tpl"%}

{%block title%}
公司简介 - 关于我们 -
{%endblock%}

{%block script%}{%endblock%}

{%block link%}
 <link rel="stylesheet" href="/static/css/pages/about.css">
{%endblock%}

{%block content%}
  <div id="pg-about-intro">
    <div class="container_12 mt20">
      <div class="grid_2">
        

<div class="ui-side" id="sidebar">
  <ul class="ui-side-list">
    <li class="ui-side-item active">
      <a class="ui-side-item-link" href="/about/about.action?flag=intro" target="_self">公司简介</a>
    </li>
    <li class="ui-side-item ">
      <a class="ui-side-item-link" href="/about/about.action?flag=team" target="_self">管理团队</a>
    </li>
    <li class="ui-side-item ">
      <a class="ui-side-item-link" href="/about/about.action?flag=expert" target="_self">专家顾问</a>
    </li>
    <li class="ui-side-item ">
      <a class="ui-side-item-link" href="/about/about.action?flag=performance" target="_self">业绩报告</a>
    </li>
    <li class="ui-side-item ">
      <a class="ui-side-item-link" href="/about/about.action?flag=supervise" target="_self">监管报告</a>
    </li>
    <li class="ui-side-item ">
      <a class="ui-side-item-link" href="/about/about.action?flag=responsibility" target="_self">社会责任</a>
    </li>
    <li class="ui-side-item ">
      <a class="ui-side-item-link" href="/about/about.action?flag=partner" target="_self">合作伙伴</a>
    </li>
    <li class="ui-side-item ">
      <a class="ui-side-item-link" href="/about/about.action?flag=report" target="_self">媒体报道</a>
    </li>
    <li class="ui-side-item ">
      <a class="ui-side-item-link" href="/about/about.action?flag=news" target="_self">最新动态</a>
    </li>
    <li class="ui-side-item ">
      <a class="ui-side-item-link" href="/about/about.action?flag=notices" target="_self">网站公告</a>
    </li>
    <li class="ui-side-item ">
      <a class="ui-side-item-link" href="/about/about.action?flag=invite" target="_self">招贤纳士</a>
    </li>
    <li class="ui-side-item last ">
      <a class="ui-side-item-link" href="/about/about.action?flag=contact" target="_self">联系我们</a>
    </li>
  </ul>
</div>
      </div>
      <div class="grid_10">
        <div class="pg-about-main right-container p20bs">
  <h1 class="dwcolor-blue-text">公司简介</h1>
  <div class="pg-about-section">
    <p>多网(duonet.cn)，系人人友信集团旗下公司及独立品牌。</p>
    <p>自2010年5月成立至今，多网的服务已覆盖了全国30余个省的2000多个地区，服务了几十万名客户，成功帮助他们通过信用申请获得融资借款，或通过自主出借获得稳定收益。</p>
    <p>作为中国最早的一批基于互联网的P2P信用借贷服务平台，多网以其诚信、透明、公平、高效、创新的特征赢得了良好的用户口碑。现在，多网已成为行业内最具影响力的品牌之一。</p>
  </div>
  <div class="pg-about-section mt30">
    <h2 class="dwcolor-blue-text">使命</h2>
    <p>实现个人的信用自主和金融自由。</p>
  </div>
  <div class="pg-about-section mt30">
    <h2 class="dwcolor-blue-text">愿景</h2>
    <p>打造一个人人参与、人人自由、人人平等的互联网个人金融服务平台。</p>
  </div>
  <div class="pg-about-section mt30">
    <h2 class="dwcolor-blue-text">核心价值</h2>
    <dl>
      <dt>释放用户借款和理财的自主权利</dt>
      <dd class="color-gray-text">借款人通过个人信用申请借款，获得资金；理财人通过公开信息自主选择进行投资，获得收益。</dd>
      <dt>建立互联网时代的个人金融风险定价体系</dt>
      <dd class="color-gray-text">通过有效的个人信用模型和大数据挖掘，逐步建立并完善符合时代特征的个人金融风险定价体系。</dd>
      <dt>实现更低借款成本和更稳健投资收益</dt>
      <dd class="color-gray-text">受益于精准的个人金融风险定价体系和安全分散有保障的投资机制，借款人和理财人的权益均可得到充分的<br>保障和满足。</dd>
    </dl>
  </div>
</div>
      </div>
    </div>
  </div>
{%endblock%}