{%extends "parent.tpl"%}

{%block title%}
最新动态 - 关于我们 -
{%endblock%}

{%block script%}{%endblock%}

{%block link%}
 <link rel="stylesheet" href="/static/css/pages/about.css">
{%endblock%}

{%block content%}
      
  <div id="pg-about-intro">
    <div class="container_12 mt20">
      <div class="grid_2">
        

<div class="ui-side" id="sidebar">
  <ul class="ui-side-list">
    <li class="ui-side-item ">
      <a class="ui-side-item-link" href="/about/about.action?flag=intro" target="_self">公司简介</a>
    </li>
    <li class="ui-side-item ">
      <a class="ui-side-item-link" href="/about/about.action?flag=team" target="_self">管理团队</a>
    </li>
    <li class="ui-side-item ">
      <a class="ui-side-item-link" href="/about/about.action?flag=expert" target="_self">专家顾问</a>
    </li>
    <li class="ui-side-item ">
      <a class="ui-side-item-link" href="/about/about.action?flag=performance" target="_self">业绩报告</a>
    </li>
    <li class="ui-side-item ">
      <a class="ui-side-item-link" href="/about/about.action?flag=supervise" target="_self">监管报告</a>
    </li>
    <li class="ui-side-item ">
      <a class="ui-side-item-link" href="/about/about.action?flag=responsibility" target="_self">社会责任</a>
    </li>
    <li class="ui-side-item ">
      <a class="ui-side-item-link" href="/about/about.action?flag=partner" target="_self">合作伙伴</a>
    </li>
    <li class="ui-side-item ">
      <a class="ui-side-item-link" href="/about/about.action?flag=report" target="_self">媒体报道</a>
    </li>
    <li class="ui-side-item active">
      <a class="ui-side-item-link" href="/about/about.action?flag=news" target="_self">最新动态</a>
    </li>
    <li class="ui-side-item ">
      <a class="ui-side-item-link" href="/about/about.action?flag=notices" target="_self">网站公告</a>
    </li>
    <li class="ui-side-item ">
      <a class="ui-side-item-link" href="/about/about.action?flag=invite" target="_self">招贤纳士</a>
    </li>
    <li class="ui-side-item last ">
      <a class="ui-side-item-link" href="/about/about.action?flag=contact" target="_self">联系我们</a>
    </li>
  </ul>
</div>
      </div>
      <div class="grid_10">
        
  <div class="p20bs color-white-bg fn-clear">
    <h1 class="rrdcolor-blue-text">最新动态</h1>
    <ul class="ui-list ui-list-m ui-list-news narrow mt10" id="news-list">
      <li class="ui-list-item fn-clear ">
        <p class="fn-left field decoration"></p>
        <p class="fn-left field text color-silver-text fn-text-overflow">
          <a class="title text-big rrd-dimgray" href="/about/detail.action?news_id=news_323" target="_blank">多网荣登2014“未来之星-最具成长性企业”21强</a>
          <span class="content text-small"></span>
        </p>
        <p class="fn-left field date color-darkgray-text">2014-06-30</p>
      </li>
      <li class="ui-list-item fn-clear ">
        <p class="fn-left field decoration"></p>
        <p class="fn-left field text color-silver-text fn-text-overflow">
          <a class="title text-big rrd-dimgray" href="/about/detail.action?news_id=news_322" target="_blank">多网荣获P2P平台领袖奖   </a>
          <span class="content text-small"></span>
        </p>
        <p class="fn-left field date color-darkgray-text">2014-06-11</p>
      </li>
      <li class="ui-list-item fn-clear ">
        <p class="fn-left field decoration"></p>
        <p class="fn-left field text color-silver-text fn-text-overflow">
          <a class="title text-big rrd-dimgray" href="/about/detail.action?news_id=news_321" target="_blank">多网“来到你身边”走进上海</a>
          <span class="content text-small"></span>
        </p>
        <p class="fn-left field date color-darkgray-text">2014-06-10</p>
      </li>
      <li class="ui-list-item fn-clear ">
        <p class="fn-left field decoration"></p>
        <p class="fn-left field text color-silver-text fn-text-overflow">
          <a class="title text-big rrd-dimgray" href="/about/detail.action?news_id=news_320" target="_blank">多网荣膺互联网信用AAA级企业</a>
          <span class="content text-small"></span>
        </p>
        <p class="fn-left field date color-darkgray-text">2014-05-28</p>
      </li>
      <li class="ui-list-item fn-clear ">
        <p class="fn-left field decoration"></p>
        <p class="fn-left field text color-silver-text fn-text-overflow">
          <a class="title text-big rrd-dimgray" href="/about/detail.action?news_id=news_319" target="_blank">多网完成公司增资，注册资本增至1亿元</a>
          <span class="content text-small"></span>
        </p>
        <p class="fn-left field date color-darkgray-text">2014-04-04</p>
      </li>
      <li class="ui-list-item fn-clear ">
        <p class="fn-left field decoration"></p>
        <p class="fn-left field text color-silver-text fn-text-overflow">
          <a class="title text-big rrd-dimgray" href="/about/detail.action?news_id=news_318" target="_blank">多网杨一夫出席和讯互联网春季峰会并演讲</a>
          <span class="content text-small"></span>
        </p>
        <p class="fn-left field date color-darkgray-text">2014-03-28</p>
      </li>
      <li class="ui-list-item fn-clear ">
        <p class="fn-left field decoration"></p>
        <p class="fn-left field text color-silver-text fn-text-overflow">
          <a class="title text-big rrd-dimgray" href="/about/detail.action?news_id=news_316" target="_blank">中国小额信贷机构联席会理事会首迎P2P 多网实至名归</a>
          <span class="content text-small"></span>
        </p>
        <p class="fn-left field date color-darkgray-text">2014-03-26</p>
      </li>
      <li class="ui-list-item fn-clear ">
        <p class="fn-left field decoration"></p>
        <p class="fn-left field text color-silver-text fn-text-overflow">
          <a class="title text-big rrd-dimgray" href="/about/detail.action?news_id=news_310" target="_blank">多网李欣贺入选2014年“中国商业创新50人”大奖</a>
          <span class="content text-small"></span>
        </p>
        <p class="fn-left field date color-darkgray-text">2014-02-27</p>
      </li>
      <li class="ui-list-item fn-clear ">
        <p class="fn-left field decoration"></p>
        <p class="fn-left field text color-silver-text fn-text-overflow">
          <a class="title text-big rrd-dimgray" href="/about/detail.action?news_id=news_305" target="_blank">多网李欣贺参加2013互联网金融年度论坛</a>
          <span class="content text-small"></span>
        </p>
        <p class="fn-left field date color-darkgray-text">2014-01-22</p>
      </li>
      <li class="ui-list-item fn-clear ">
        <p class="fn-left field decoration"></p>
        <p class="fn-left field text color-silver-text fn-text-overflow">
          <a class="title text-big rrd-dimgray" href="/about/detail.action?news_id=news_299" target="_blank">多网公司斩获2013中关村十大评选两项大奖</a>
          <span class="content text-small"></span>
        </p>
        <p class="fn-left field date color-darkgray-text">2014-01-16</p>
      </li>
    </ul>
    <div class="fn-right mt10 ui-pagination simple-pagination" id="news-list-pagination">

    </div>
  </div>
    <input type="hidden" id="items" value="58" />
    <input type="hidden" id="itemsOnPage" value="10" />
    <input type="hidden" id="currentPage" value="1" />

        <form id="newForm" action="/about/about.action">
            <input name="flag" type="hidden" value="news" />
            <input name="pageIndex" type="hidden" value="" />
        </form>
      </div>
    </div>
  </div>
{%endblock%}

{%block after%}
    <script src="/static/js/lib/jquery/1.9.1/jquery.nocmd.js"></script>
    <script src="/static/js/lib/simplePagination/1.5.0/simplePagination.nocmd.js"></script>
    <script>
        /*  pagination　*/
        $(function() {
          $('.ui-pagination').pagination({
            items: $('#items').val(),
            itemsOnPage: $('#itemsOnPage').val(),
            currentPage: $('#currentPage').val(),
            cssStyle: '.ui-pagination',
            onPageClick: function (pageNumber, event) {
                var form = $('#newForm');
                if (form) {
                    form.find('input[name=pageIndex]').val(pageNumber);
                    form.submit();
                }
            }
          });
        });
    </script>
{%endblock%}