{%extends "parent.tpl"%}

{%block title%}
网站公告 - 关于我们 -
{%endblock%}

{%block script%}{%endblock%}

{%block link%}
 <link rel="stylesheet" href="/static/css/pages/about.css">
{%endblock%}

{%block content%}
    <div class="container_12 mt20">
        <div class="grid_2">
            

<div class="ui-side" id="sidebar">
  <ul class="ui-side-list">
    <li class="ui-side-item ">
      <a class="ui-side-item-link" href="/about/about.action?flag=intro" target="_self">公司简介</a>
    </li>
    <li class="ui-side-item ">
      <a class="ui-side-item-link" href="/about/about.action?flag=team" target="_self">管理团队</a>
    </li>
    <li class="ui-side-item ">
      <a class="ui-side-item-link" href="/about/about.action?flag=expert" target="_self">专家顾问</a>
    </li>
    <li class="ui-side-item ">
      <a class="ui-side-item-link" href="/about/about.action?flag=performance" target="_self">业绩报告</a>
    </li>
    <li class="ui-side-item ">
      <a class="ui-side-item-link" href="/about/about.action?flag=supervise" target="_self">监管报告</a>
    </li>
    <li class="ui-side-item ">
      <a class="ui-side-item-link" href="/about/about.action?flag=responsibility" target="_self">社会责任</a>
    </li>
    <li class="ui-side-item ">
      <a class="ui-side-item-link" href="/about/about.action?flag=partner" target="_self">合作伙伴</a>
    </li>
    <li class="ui-side-item ">
      <a class="ui-side-item-link" href="/about/about.action?flag=report" target="_self">媒体报道</a>
    </li>
    <li class="ui-side-item ">
      <a class="ui-side-item-link" href="/about/about.action?flag=news" target="_self">最新动态</a>
    </li>
    <li class="ui-side-item active">
      <a class="ui-side-item-link" href="/about/about.action?flag=notices" target="_self">网站公告</a>
    </li>
    <li class="ui-side-item ">
      <a class="ui-side-item-link" href="/about/about.action?flag=invite" target="_self">招贤纳士</a>
    </li>
    <li class="ui-side-item last ">
      <a class="ui-side-item-link" href="/about/about.action?flag=contact" target="_self">联系我们</a>
    </li>
  </ul>
</div>
        </div>
        <div class="grid_10">
            
  <div class="p20bs color-white-bg fn-clear">
    <h1 class="rrdcolor-blue-text">网站公告</h1>
    <ul class="ui-list ui-list-m ui-list-news narrow mt10" id="news-list">
      <li class="ui-list-item fn-clear ">
        <p class="fn-left field decoration"></p>
        <p class="fn-left field text color-silver-text fn-text-overflow">
          <a class="title text-big rrd-dimgray" href="/about/detail.action?notices_id=notices_343" target="_blank">人人贷2014年7月28日系统维护公告</a>
          <span class="content text-small"></span>
        </p>
        <p class="fn-left field date color-darkgray-text">2014-07-25</p>
      </li>
      <li class="ui-list-item fn-clear ">
        <p class="fn-left field decoration"></p>
        <p class="fn-left field text color-silver-text fn-text-overflow">
          <a class="title text-big rrd-dimgray" href="/about/detail.action?notices_id=notices_342" target="_blank">关于互联网查询信用报告试点扩展至24个省的公告</a>
          <span class="content text-small"></span>
        </p>
        <p class="fn-left field date color-darkgray-text">2014-07-24</p>
      </li>
      <li class="ui-list-item fn-clear ">
        <p class="fn-left field decoration"></p>
        <p class="fn-left field text color-silver-text fn-text-overflow">
          <a class="title text-big rrd-dimgray" href="/about/detail.action?notices_id=notices_341" target="_blank">人人贷2014年半年度报告上线公告</a>
          <span class="content text-small"></span>
        </p>
        <p class="fn-left field date color-darkgray-text">2014-07-18</p>
      </li>
      <li class="ui-list-item fn-clear ">
        <p class="fn-left field decoration"></p>
        <p class="fn-left field text color-silver-text fn-text-overflow">
          <a class="title text-big rrd-dimgray" href="/about/detail.action?notices_id=notices_340" target="_blank">人人贷新版论坛上线公告</a>
          <span class="content text-small"></span>
        </p>
        <p class="fn-left field date color-darkgray-text">2014-07-15</p>
      </li>
      <li class="ui-list-item fn-clear ">
        <p class="fn-left field decoration"></p>
        <p class="fn-left field text color-silver-text fn-text-overflow">
          <a class="title text-big rrd-dimgray" href="/about/detail.action?notices_id=notices_338" target="_blank">人人贷论坛升级维护公告</a>
          <span class="content text-small"></span>
        </p>
        <p class="fn-left field date color-darkgray-text">2014-07-10</p>
      </li>
      <li class="ui-list-item fn-clear ">
        <p class="fn-left field decoration"></p>
        <p class="fn-left field text color-silver-text fn-text-overflow">
          <a class="title text-big rrd-dimgray" href="/about/detail.action?notices_id=notices_337" target="_blank">关于互联网查询信用报告试点扩展至21个省的公告</a>
          <span class="content text-small"></span>
        </p>
        <p class="fn-left field date color-darkgray-text">2014-06-26</p>
      </li>
      <li class="ui-list-item fn-clear ">
        <p class="fn-left field decoration"></p>
        <p class="fn-left field text color-silver-text fn-text-overflow">
          <a class="title text-big rrd-dimgray" href="/about/detail.action?notices_id=notices_336" target="_blank">关于人人贷理财手机客户端（for iOS）上线公告</a>
          <span class="content text-small"></span>
        </p>
        <p class="fn-left field date color-darkgray-text">2014-06-25</p>
      </li>
      <li class="ui-list-item fn-clear ">
        <p class="fn-left field decoration"></p>
        <p class="fn-left field text color-silver-text fn-text-overflow">
          <a class="title text-big rrd-dimgray" href="/about/detail.action?notices_id=notices_335" target="_blank">关于公安机房搬迁期间暂停身份信息核查服务的公告</a>
          <span class="content text-small"></span>
        </p>
        <p class="fn-left field date color-darkgray-text">2014-06-19</p>
      </li>
      <li class="ui-list-item fn-clear ">
        <p class="fn-left field decoration"></p>
        <p class="fn-left field text color-silver-text fn-text-overflow">
          <a class="title text-big rrd-dimgray" href="/about/detail.action?notices_id=notices_334" target="_blank">关于调整借款用户提额申请办法的说明</a>
          <span class="content text-small"></span>
        </p>
        <p class="fn-left field date color-darkgray-text">2014-06-17</p>
      </li>
      <li class="ui-list-item fn-clear ">
        <p class="fn-left field decoration"></p>
        <p class="fn-left field text color-silver-text fn-text-overflow">
          <a class="title text-big rrd-dimgray" href="/about/detail.action?notices_id=notices_333" target="_blank">关于调整借款期限的说明</a>
          <span class="content text-small"></span>
        </p>
        <p class="fn-left field date color-darkgray-text">2014-06-05</p>
      </li>
    </ul>
    <div class="fn-right mt10 ui-pagination simple-pagination" id="news-list-pagination">

    </div>
  </div>
    <input type="hidden" id="items" value="250" />
    <input type="hidden" id="itemsOnPage" value="10" />
    <input type="hidden" id="currentPage" value="1" />

            <form id="newForm" action="/about/about.action">
                <input name="flag" type="hidden" value="notices" />
                <input name="pageIndex" type="hidden" value="" />
            </form>
        </div>
    </div>
{%endblock%}


{%block after%}
  
    <script src="/static/js/lib/jquery/1.9.1/jquery.nocmd.js?rrdversion=20140414"></script>
    <script src="/static/js/lib/simplePagination/1.5.0/simplePagination.nocmd.js?rrdversion=20140414"></script>
    <script>
        /*  pagination　*/
        $(function() {
          $('.ui-pagination').pagination({
            items: $('#items').val(),
            itemsOnPage: $('#itemsOnPage').val(),
            currentPage: $('#currentPage').val(),
            cssStyle: '.ui-pagination',
            onPageClick: function (pageNumber, event) {
                var form = $('#newForm');
                if (form) {
                    form.find('input[name=pageIndex]').val(pageNumber);
                    form.submit();
                }
            }
          });
        });
    </script>
{%endblock%}