{%extends "parent.tpl"%}
{%block title%}
合作伙伴 - 关于我们 -
{%endblock%}
{%block script%}{%endblock%}
{%block link%}
<link rel="stylesheet" href="/static/css/pages/about.css">
{%endblock%}
{%block content%}
        <div id="aboutUs" class="mt20">
          <div class="container_12">
            <div class="sub grid_2">
              
              <div class="ui-side" id="sidebar">
                <ul class="ui-side-list">
                  <li class="ui-side-item ">
                    <a class="ui-side-item-link" href="/about/about.action?flag=intro" target="_self">公司简介</a>
                  </li>
                  <li class="ui-side-item ">
                    <a class="ui-side-item-link" href="/about/about.action?flag=team" target="_self">管理团队</a>
                  </li>
                  <li class="ui-side-item ">
                    <a class="ui-side-item-link" href="/about/about.action?flag=expert" target="_self">专家顾问</a>
                  </li>
                  <li class="ui-side-item ">
                    <a class="ui-side-item-link" href="/about/about.action?flag=performance" target="_self">业绩报告</a>
                  </li>
                  <li class="ui-side-item ">
                    <a class="ui-side-item-link" href="/about/about.action?flag=supervise" target="_self">监管报告</a>
                  </li>
                  <li class="ui-side-item ">
                    <a class="ui-side-item-link" href="/about/about.action?flag=responsibility" target="_self">社会责任</a>
                  </li>
                  <li class="ui-side-item active">
                    <a class="ui-side-item-link" href="/about/about.action?flag=partner" target="_self">合作伙伴</a>
                  </li>
                  <li class="ui-side-item ">
                    <a class="ui-side-item-link" href="/about/about.action?flag=report" target="_self">媒体报道</a>
                  </li>
                  <li class="ui-side-item ">
                    <a class="ui-side-item-link" href="/about/about.action?flag=news" target="_self">最新动态</a>
                  </li>
                  <li class="ui-side-item ">
                    <a class="ui-side-item-link" href="/about/about.action?flag=notices" target="_self">网站公告</a>
                  </li>
                  <li class="ui-side-item ">
                    <a class="ui-side-item-link" href="/about/about.action?flag=invite" target="_self">招贤纳士</a>
                  </li>
                  <li class="ui-side-item last ">
                    <a class="ui-side-item-link" href="/about/about.action?flag=contact" target="_self">联系我们</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="main grid_10" id="aboutContent">
              <div id="partner" class="partner right-container p20bs">
                <h1 class="rrdcolor-blue-text">合作伙伴</h1>
                <p class="line30">多网作为互联网金融P2P行业的领军企业，我们与国内外一流金融机构、法律机构建立了长期稳定的战略合作伙伴关系。</p>
                <ul class="clearfix go-blue">
                  <li class="team-item rrdcolor-thinblue-text fn-clear mb10">
                    <a class="team-logo-none top50" href="http://www.chinamfi.net/portal/PortalHome.asp" target="_blank"><img style="display:none;" alt="中国小额信贷联盟" src="http://www.duonet.cn/static/img/about/partners/p1_02.jpg?20140401a"></a>
                    <div class="record">
                      <h5 class="rrdcolor-blue-text">
                      <a href="http://www.chinamfi.net/portal/PortalHome.asp" target="_blank">
                        中国小额信贷联盟
                      </a>
                      <a class="ui-visit_go posi-abso" target="_blank" href=http://www.chinamfi.net/portal/PortalHome.asp></a>
                      </h5>
                      <p>业内最具影响力协会组织—中国小额信贷联盟（China Association of Microfiance,CAM）成立于2003年。截至2011年12月31日，联盟已拥有115家正式会员机构，覆盖全国30个省市。多网于2012年当选新一届小额信贷联盟理事会员。</p>
                    </div>
                  </li>
                  <li class="team-item rrdcolor-thinblue-text fn-clear mb10">
                    <a class="team-logo-none top50" href="http://www.longanlaw.com/" target="_blank"><img style="display:none;" alt="隆安律师事务所" src="http://www.duonet.cn/static/img/about/partners/p1_01.jpg?20140401a"></a>
                    <div class="record">
                      <h5 class="rrdcolor-blue-text">
                      <a href="http://www.longanlaw.com/" target="_blank">
                        隆安律师事务所
                      </a>
                      <a class="ui-visit_go posi-abso" target="_blank" href=http://www.longanlaw.com/></a>
                      </h5>
                      <p>隆安律师事务所成立于1992年。作为一所国际性的综合型律师事务所，隆安在全球设有多家办事机构，是中国最早的合伙制律师事务所之一。该律所曾多次被全国律师管理机构评为中国最优秀的律师事务所，也是中国国际贸易促进会和中国国际商会向海外推荐的最佳律师事务所之一。在亚洲法律杂志ALB评选出的2011年度中国律所二十强中位列第六。</p>
                    </div>
                  </li>
                  <li class="team-item rrdcolor-thinblue-text fn-clear mb10">
                    <a class="team-logo-none top50" href="http://www.zac.cn/" target="_blank"><img style="display:none;" alt="深圳市中安信业创业投资有限公司" src="http://www.duonet.cn/static/img/about/partners/p1_06.jpg?20140401a"></a>
                    <div class="record">
                      <h5 class="rrdcolor-blue-text">
                      <a href="http://www.zac.cn/" target="_blank">
                        深圳市中安信业创业投资有限公司
                      </a>
                      <a class="ui-visit_go posi-abso" target="_blank" href=http://www.zac.cn/></a>
                      </h5>
                      <p>深圳市中安信业创业投资有限公司（中安信业）成立于2003年，是国内无抵押、无担保的商业化小额贷款机构中，成立时间最早、信贷质量最好、运作最为规范的小额贷款机构之一。自成立至今，中安信业已累计发放贷款超过60亿元人民币（其中坏账比例持续控制在1%以内），并在全国16个省开设了超过50家网点。董事长保罗•希尔先生曾任摩根斯坦利亚洲投资银行私募基金董事长，中国平安保险公司董事及美国外交部驻华商务参赞。</p>
                    </div>
                  </li>
                  <li class="team-item rrdcolor-thinblue-text fn-clear mb10">
                    <a class="team-logo-none top50" href="http://www.zdcredit.com/" target="_blank"><img style="display:none;" alt="深圳市证大速贷小额贷款有限公司" src="http://www.duonet.cn/static/img/about/partners/p1_11.gif?20140401a"></a>
                    <div class="record">
                      <h5 class="rrdcolor-blue-text">
                      <a href="http://www.zdcredit.com/" target="_blank">
                        深圳市证大速贷小额贷款有限公司
                      </a>
                      <a class="ui-visit_go posi-abso" target="_blank" href=http://www.zdcredit.com/></a>
                      </h5>
                      <p>深圳市证大速贷小额贷款股份有限公司（证大速贷）成立于2010年，公司注册资本1亿元人民币。证大速贷主要致力于为小微企业，个体工商户和中低收入个人提供快速便捷、免抵押、免担保的小额信贷服务。公司自成立以来发展迅速，先后在深圳、北京、上海、广州等主要一二线城市开设近50家营业网点。此外，证大速贷与中国银行、国家开发银行、江苏银行、中国东方资产管理公司等金融机构建立长期战略合作伙伴关系，累计为四万名小微客户提供了微金融服务，资产质量始终位于同行前列。</p>
                    </div>
                  </li>
                  <li class="team-item rrdcolor-thinblue-text fn-clear mb10">
                    <a class="team-logo-none top50" href="http://www.ucredit.cn/" target="_blank"><img style="display:none;" alt="友众信业金融信息服务（上海）有限公司" src="http://www.duonet.cn/static/img/about/partners/p1_09.png?20140401a"></a>
                    <div class="record">
                      <h5 class="rrdcolor-blue-text">
                      <a href="http://www.ucredit.cn/" target="_blank">
                        友众信业金融信息服务（上海）有限公司
                      </a>
                      <a class="ui-visit_go posi-abso" target="_blank" href=http://www.ucredit.cn/></a>
                      </h5>
                      <p>友众信业金融信息服务（上海）有限公司是北京人人友信投资有限公司旗下的全资子公司及品牌。主要从事信用贷款金融服务平台业务，截至2013年8月，已在全国24个城市开设了52家营业部。目前，友众信业正处于高速发展阶段，在行业内的口碑、规模、影响力正在迅速崛起。</p>
                    </div>
                  </li>
                  <li class="team-item rrdcolor-thinblue-text fn-clear mb10">
                    <a class="team-logo-none top50" href="http://www.icycn.com/" target="_blank"><img style="display:none;" alt="创业中国" src="http://www.duonet.cn/static/img/about/partners/p1_03.jpg?20140401a"></a>
                    <div class="record">
                      <h5 class="rrdcolor-blue-text">
                      <a href="http://www.icycn.com/" target="_blank">
                        创业中国
                      </a>
                      <a class="ui-visit_go posi-abso" target="_blank" href=http://www.icycn.com/></a>
                      </h5>
                      <p>创业中国是在团中央指导下，由中青创投具体组织运作，面向各级团组织和广大青年的大型创业服务门户网站，致力于打造全方位引导全国青年创业的网络服务平台，形成集金融服务、创业服务、信息服务、培训服务、政策服务等系统化的青年创业指导服务体系。创业中国总部设于北京，其网络服务平台依托共青团基层组织已覆盖全国各省、市、县以及广大农村地区。</p>
                    </div>
                  </li>
                  <li class="team-item rrdcolor-thinblue-text fn-clear mb10">
                    <a class="team-logo-none top50" href="http://seller.dhgate.com/" target="_blank"><img style="display:none;" alt="敦煌网" src="http://www.duonet.cn/static/img/about/partners/p1_04.jpg?20140401a"></a>
                    <div class="record">
                      <h5 class="rrdcolor-blue-text">
                      <a href="http://seller.dhgate.com/" target="_blank">
                        敦煌网
                      </a>
                      <a class="ui-visit_go posi-abso" target="_blank" href=http://seller.dhgate.com/></a>
                      </h5>
                      <p>敦煌网成立于2004年，是国内首个为中小企业提供B2B网上交易平台的网站。它为国外众多的中小采购商提供有效的采购服务。据Paypal交易平台数据显示，敦煌网是在线外贸交易额中亚太排名第一、全球排名第六的电子商务网站，其在2011年的交易达到100亿元。</p>
                    </div>
                  </li>
                  <li class="team-item rrdcolor-thinblue-text fn-clear mb10">
                    <a class="team-logo-none top50" href="http://www.hc360.com/" target="_blank"><img style="display:none;" alt="慧聪网" src="http://www.duonet.cn/static/img/about/partners/p1_08.jpg?20140401a"></a>
                    <div class="record">
                      <h5 class="rrdcolor-blue-text">
                      <a href="http://www.hc360.com/" target="_blank">
                        慧聪网
                      </a>
                      <a class="ui-visit_go posi-abso" target="_blank" href=http://www.hc360.com/></a>
                      </h5>
                      <p>慧聪网成立于1992年，是国内领先的B2B电子商务服务提供商。经过不懈努力与发展，慧聪网的业务范围已拓展至全国上百城市，在13个城市拥有分公司，服务团队近3000人，注册会员量已达1200万。慧聪网成功举办了涉及约50个行业界别的十大企业评选活动，帮助众多中小企业树立品牌和促进业务交易。业内盛传“南阿里，北慧聪”的说法。</p>
                    </div>
                  </li>
                  <li class="team-item rrdcolor-thinblue-text fn-clear mb10">
                    <a class="team-logo-none top50" href="http://www.51credit.com/" target="_blank"><img style="display:none;" alt="我爱卡" src="http://www.duonet.cn/static/img/about/partners/p1_05.jpg?20140401a"></a>
                    <div class="record">
                      <h5 class="rrdcolor-blue-text">
                      <a href="http://www.51credit.com/" target="_blank">
                        我爱卡
                      </a>
                      <a class="ui-visit_go posi-abso" target="_blank" href=http://www.51credit.com/></a>
                      </h5>
                      <p>我爱卡网站成立于2005年，是中国互联网个人金融服务的第一支力量。我爱卡通过专业的信用评审和辅导、信用卡推荐和办理以及信用卡消费指南，帮助消费者了解信用知识，建立、管理并保护自己的个人信用。截至目前，共有161万人次在我爱卡申请信用卡，15万人次申请贷款，并与208家银行和金融机构授权合作，其中包括招商银行、广发银行、渣打银行、花旗银行、通用汽车金融等。</p>
                    </div>
                  </li>
                  <li class="team-item rrdcolor-thinblue-text fn-clear mb10">
                    <a class="team-logo-none top50" href="http://www.zonezu.com/" target="_blank"><img style="display:none;" alt="账族网" src="http://www.duonet.cn/static/img/about/partners/p1_07.jpg?20140401a"></a>
                    <div class="record">
                      <h5 class="rrdcolor-blue-text">
                      <a href="http://www.zonezu.com/" target="_blank">
                        账族网
                      </a>
                      <a class="ui-visit_go posi-abso" target="_blank" href=http://www.zonezu.com/></a>
                      </h5>
                      <p>账族网是国内领先的免费记账服务平台。其宗旨是为中国网民提供便捷的免费记账服务，推广账族网倡导的“理性消费”生活，帮助有理财需求的网民从记账开始走上理财的第一步。</p>
                    </div>
                  </li>
                  <li class="team-item rrdcolor-thinblue-text fn-clear mb10">
                    <a class="team-logo-none top50" href="http://china.makepolo.com/" target="_blank"><img style="display:none;" alt="马可波罗" src="http://www.duonet.cn/static/img/about/partners/p1_10.png?20140401a"></a>
                    <div class="record">
                      <h5 class="rrdcolor-blue-text">
                      <a href="http://china.makepolo.com/" target="_blank">
                        马可波罗
                      </a>
                      <a class="ui-visit_go posi-abso" target="_blank" href=http://china.makepolo.com/></a>
                      </h5>
                      <p>马可波罗采购搜索创立于2006年，是全球领先的精准采购搜索引擎，中国最大的采购商聚集平台。马可波罗现拥有200多名自主研发人员，并与百度、谷歌等通用搜索巨头合作，坚持丰富多样化的产品线，向4000多万中小企业主提供包括订单通、行业通等在内的多款企业推广服务。业务覆盖近40多个贸易领域，涉及7000余家行业网站。现已成为B2B电子商务采购搜索流量第一的专业搜索引擎。</p>
                    </div>
                  </li>
                  <li class="team-item rrdcolor-thinblue-text fn-clear mb10">
                    <a class="team-logo-none top50" href="http://www.tradetang.com/" target="_blank"><img style="display:none;" alt="易唐网" src="http://www.duonet.cn/static/img/about/partners/p1_12.jpg?20140401a"></a>
                    <div class="record">
                      <h5 class="rrdcolor-blue-text">
                      <a href="http://www.tradetang.com/" target="_blank">
                        易唐网
                      </a>
                      <a class="ui-visit_go posi-abso" target="_blank" href=http://www.tradetang.com/></a>
                      </h5>
                      <p>易唐网成立于2007年，是一个综合性快捷高效的B2B网上交易平台。网站采用先进的互联网技术整合销售渠道，为开展国际贸易的中小企业提供专业有效的信息流，安全可靠的资金流，快捷简便的物流等服务，满足国外的中小企业买家及消费者的需求。</p>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
{%endblock%}

{%block after%}
    <script src="/static/js/lib/jquery/1.9.1/jquery.nocmd.js"></script>
    <script>
    /*  pagination　*/
    $(function() {
    $('#partner li').each(function(index){
    
    $(this).css('height',$.trim($(this).height()));
    var doma = $(this).find('.team-logo-none');
    
    var imgheight = doma.find('img').height();
    var liheight=$(this).height();
    
    if(imgheight >= liheight){//判断图片高度是否超过文字段落的高度，超过就不居中
    doma.find('img').css('height',liheight-10);
    doma.find('img').css('display','block');
    }else{//如果高度不超过就居中
    doma.css('top',($(this).height() - doma.height()) /2);
    doma.attr('class','team-logo');
    doma.find('img').css('display','block');
    }
    
    });
    });
    </script>
{%endblock%}