{%extends "parent.tpl"%}
{%block title%}
业绩报告 - 关于我们 -
{%endblock%}
{%block script%}{%endblock%}
{%block link%}
<link rel="stylesheet" href="/static/css/pages/about.css">
{%endblock%}
{%block content%}
    <div id="aboutUs" class="mt20">
        <div class="container_12">
            <div class="sub grid_2">
                

<div class="ui-side" id="sidebar">
  <ul class="ui-side-list">
    <li class="ui-side-item ">
      <a class="ui-side-item-link" href="/about/about.action?flag=intro" target="_self">公司简介</a>
    </li>
    <li class="ui-side-item ">
      <a class="ui-side-item-link" href="/about/about.action?flag=team" target="_self">管理团队</a>
    </li>
    <li class="ui-side-item ">
      <a class="ui-side-item-link" href="/about/about.action?flag=expert" target="_self">专家顾问</a>
    </li>
    <li class="ui-side-item active">
      <a class="ui-side-item-link" href="/about/about.action?flag=performance" target="_self">业绩报告</a>
    </li>
    <li class="ui-side-item ">
      <a class="ui-side-item-link" href="/about/about.action?flag=supervise" target="_self">监管报告</a>
    </li>
    <li class="ui-side-item ">
      <a class="ui-side-item-link" href="/about/about.action?flag=responsibility" target="_self">社会责任</a>
    </li>
    <li class="ui-side-item ">
      <a class="ui-side-item-link" href="/about/about.action?flag=partner" target="_self">合作伙伴</a>
    </li>
    <li class="ui-side-item ">
      <a class="ui-side-item-link" href="/about/about.action?flag=report" target="_self">媒体报道</a>
    </li>
    <li class="ui-side-item ">
      <a class="ui-side-item-link" href="/about/about.action?flag=news" target="_self">最新动态</a>
    </li>
    <li class="ui-side-item ">
      <a class="ui-side-item-link" href="/about/about.action?flag=notices" target="_self">网站公告</a>
    </li>
    <li class="ui-side-item ">
      <a class="ui-side-item-link" href="/about/about.action?flag=invite" target="_self">招贤纳士</a>
    </li>
    <li class="ui-side-item last ">
      <a class="ui-side-item-link" href="/about/about.action?flag=contact" target="_self">联系我们</a>
    </li>
  </ul>
</div>
            </div>
            <div class="main grid_10" id="aboutContent">
                <div id="performance" class="performance right-container p20bs">
<h1 class="rrdcolor-blue-text">业绩报告</h1>
<p class="pinfo">多网以公平、互助、透明、分享的态度，从2012年开始，在每个季度结束后都为投资人、借款人、以及关心我们平台的普通用户，提供多网最真实、有效的业绩数据分析报告。</p>

 

<div>
    <ul class="perform-ui">
        <li class="team-item rrdcolor-thinblue-text fn-clear mb10 flwid"><img
            width="100" height="140" align="middle"
            src="http://www.duonet.com/upload/cms/article/07b47602-5a05-4a3b-99a4-ab9354005054.jpg?20140401a" alt="多网2014年半年度报告">
            <div class="record wauto">
                <h5 class="rrdcolor-blue-text brnone font14">
                <a href="http://www.duonet.com/event/jibao/20140716/index.html" target="_blank">
                多网2014年半年度报告
                 </a>
                </h5>
                <div>
                    <dl>
                        <dd class="text-gray-color mtf10">发布时间: 2014-07-18</dd>
                    </dl>
                </div>
                <a class="ui-visit_go"
                    href="http://www.duonet.com/event/jibao/20140716/index.html" target="_blank"> </a>
            </div></li>
        <li class="team-item rrdcolor-thinblue-text fn-clear mb10 flwid"><img
            width="100" height="140" align="middle"
            src="http://www.duonet.com/upload/cms/article/46204ab9-607e-47b8-9187-c59b9db32a3d.jpg?20140401a" alt="多网2014年第一季度季报">
            <div class="record wauto">
                <h5 class="rrdcolor-blue-text brnone font14">
                <a href="http://www.duonet.com/event/jibao/20140414/index.html" target="_blank">
                多网2014年第一季度季报
                 </a>
                </h5>
                <div>
                    <dl>
                        <dd class="text-gray-color mtf10">发布时间: 2014-04-15</dd>
                    </dl>
                </div>
                <a class="ui-visit_go"
                    href="http://www.duonet.com/event/jibao/20140414/index.html" target="_blank"> </a>
            </div></li>
    </ul>
</div>

<div class="performance-list">
    <ul class="ui-list ui-list-m ui-list-news narrow mt10">
        <li class="ui-list-item fn-clear">
            <p class="fn-left field decoration"></p>
            <p class="fn-left field text color-silver-text fn-text-overflow">
                <a class="title text-big rrd-dimgray"
                    href="http://www.duonet.com/event/jibao/20140114/index.html" target="_blank">
                多网2013年年度报告
                </a>
            </p>
            <p class="fn-left field date color-darkgray-text">2014-01-14</p>
        </li>
        <li class="ui-list-item fn-clear">
            <p class="fn-left field decoration"></p>
            <p class="fn-left field text color-silver-text fn-text-overflow">
                <a class="title text-big rrd-dimgray"
                    href="http://www.duonet.com/event/jibao/20131024/index.html" target="_blank">
                多网2013年第三季度季报
                </a>
            </p>
            <p class="fn-left field date color-darkgray-text">2013-10-24</p>
        </li>
        <li class="ui-list-item fn-clear">
            <p class="fn-left field decoration"></p>
            <p class="fn-left field text color-silver-text fn-text-overflow">
                <a class="title text-big rrd-dimgray"
                    href="http://www.duonet.com/event/jibao/20130712/index.html" target="_blank">
                多网2013年半年度报告
                </a>
            </p>
            <p class="fn-left field date color-darkgray-text">2013-07-12</p>
        </li>
        <li class="ui-list-item fn-clear">
            <p class="fn-left field decoration"></p>
            <p class="fn-left field text color-silver-text fn-text-overflow">
                <a class="title text-big rrd-dimgray"
                    href="http://www.duonet.com/event/jibao/20130416/index.html" target="_blank">
                多网2013年第一季度季报
                </a>
            </p>
            <p class="fn-left field date color-darkgray-text">2013-04-16</p>
        </li>
        <li class="ui-list-item fn-clear">
            <p class="fn-left field decoration"></p>
            <p class="fn-left field text color-silver-text fn-text-overflow">
                <a class="title text-big rrd-dimgray"
                    href="http://www.duonet.com/event/jibao/20130118/index.html" target="_blank">
                多网2012年年度报告
                </a>
            </p>
            <p class="fn-left field date color-darkgray-text">2013-01-18</p>
        </li>
        <li class="ui-list-item fn-clear">
            <p class="fn-left field decoration"></p>
            <p class="fn-left field text color-silver-text fn-text-overflow">
                <a class="title text-big rrd-dimgray"
                    href="http://www.duonet.com/event/jibao/20121022/index.html" target="_blank">
                多网2012年第三季度季报
                </a>
            </p>
            <p class="fn-left field date color-darkgray-text">2012-10-22</p>
        </li>
        <li class="ui-list-item fn-clear">
            <p class="fn-left field decoration"></p>
            <p class="fn-left field text color-silver-text fn-text-overflow">
                <a class="title text-big rrd-dimgray"
                    href="http://www.duonet.com/event/jibao/20120718/index.html" target="_blank">
                多网2012年半年度报告
                </a>
            </p>
            <p class="fn-left field date color-darkgray-text">2012-07-18</p>
        </li>
        <li class="ui-list-item fn-clear">
            <p class="fn-left field decoration"></p>
            <p class="fn-left field text color-silver-text fn-text-overflow">
                <a class="title text-big rrd-dimgray"
                    href="http://www.duonet.com/event/jibao/20120316/index.html" target="_blank">
                多网2012年第一季度季报
                </a>
            </p>
            <p class="fn-left field date color-darkgray-text">2012-03-16</p>
        </li>
    </ul>
</div>
 <div class="mt10 ui-pagination simple-pagination right-ul-page" id="news-list-pagination">

    </div>

    <input type="hidden" id="items" value="10" />
    <input type="hidden" id="itemsOnPage" value="10" />
    <input type="hidden" id="currentPage" value="1" />
</div>
                <form id="newForm" action="/about/about.action">
                    <input name="flag" type="hidden" value="performance" />
                    <input name="pageIndex" type="hidden" value="" />
                </form>
            </div>
        </div>
    </div>

{%endblock%}

{%block after%}
  
    <script src="/static/js/lib/jquery/1.9.1/jquery.nocmd.js"></script>
    <script src="/static/js/lib/simplePagination/1.5.0/simplePagination.nocmd.js"></script>
    <script>
        /*  pagination　*/
        $(function() {
          $('.ui-pagination').pagination({
            items: $('#items').val(),
            itemsOnPage: $('#itemsOnPage').val(),
            currentPage: $('#currentPage').val(),
            cssStyle: '.ui-pagination',
            onPageClick: function (pageNumber, event) {
                var form = $('#newForm');
                if (form) {
                    form.find('input[name=pageIndex]').val(pageNumber);
                    form.submit();
                }
            }
          });
        });
    </script>
{%endblock%}