{%extends "parent.tpl"%}
{%block title%}
媒体报道 - 关于我们 -
{%endblock%}
{%block script%}{%endblock%}
{%block link%}
<link rel="stylesheet" href="/static/css/pages/about.css">
{%endblock%}
{%block content%}
    <div id="aboutUs" class="mt20">
        <div class="container_12">
            <div class="sub grid_2">
                

<div class="ui-side" id="sidebar">
  <ul class="ui-side-list">
    <li class="ui-side-item ">
      <a class="ui-side-item-link" href="/about/about.action?flag=intro" target="_self">公司简介</a>
    </li>
    <li class="ui-side-item ">
      <a class="ui-side-item-link" href="/about/about.action?flag=team" target="_self">管理团队</a>
    </li>
    <li class="ui-side-item ">
      <a class="ui-side-item-link" href="/about/about.action?flag=expert" target="_self">专家顾问</a>
    </li>
    <li class="ui-side-item ">
      <a class="ui-side-item-link" href="/about/about.action?flag=performance" target="_self">业绩报告</a>
    </li>
    <li class="ui-side-item ">
      <a class="ui-side-item-link" href="/about/about.action?flag=supervise" target="_self">监管报告</a>
    </li>
    <li class="ui-side-item ">
      <a class="ui-side-item-link" href="/about/about.action?flag=responsibility" target="_self">社会责任</a>
    </li>
    <li class="ui-side-item ">
      <a class="ui-side-item-link" href="/about/about.action?flag=partner" target="_self">合作伙伴</a>
    </li>
    <li class="ui-side-item active">
      <a class="ui-side-item-link" href="/about/about.action?flag=report" target="_self">媒体报道</a>
    </li>
    <li class="ui-side-item ">
      <a class="ui-side-item-link" href="/about/about.action?flag=news" target="_self">最新动态</a>
    </li>
    <li class="ui-side-item ">
      <a class="ui-side-item-link" href="/about/about.action?flag=notices" target="_self">网站公告</a>
    </li>
    <li class="ui-side-item ">
      <a class="ui-side-item-link" href="/about/about.action?flag=invite" target="_self">招贤纳士</a>
    </li>
    <li class="ui-side-item last ">
      <a class="ui-side-item-link" href="/about/about.action?flag=contact" target="_self">联系我们</a>
    </li>
  </ul>
</div>
            </div>
            <div class="main grid_10" id="aboutContent">
                <div id="report" class="report right-container p20bs">
<h1 class="dwcolor-blue-text">媒体报道</h1>
<p class="line30">多网的快速成长和迅猛发展，吸引到了各界人士的关注，透过媒体朋友们的报道则使更多人加深了对我们的了解。</p>
<ul class="go-blue">
    <!--具体内容-start-->
    <li class="team-item dwcolor-thinblue-text fn-clear mb10">
        <a href="/about/detail.action?report_id=report_51" target="_blank"><img width="300" height="200" align="middle" src="http://www.duonet.cn/upload/cms/article/5c649dbd-5a9c-4f3e-87cc-f66082aea43a.jpg" alt="谁会笑到最后？"></a>
        <div class="record">
            <h5 class="dwcolor-blue-text">
                <a href="/about/detail.action?report_id=report_51" target="_blank">
                谁会笑到最后？
                </a>
                <a class="ui-visit_go posi-abso" href="/about/detail.action?report_id=report_51" target="_blank"></a>
            </h5>
            <dl>
                <dd class="fn-clear mb10">
                    <span class="fn-left text-gray-color">
                        《互联网金融》杂志
                    </span>
                    <span class="fn-right text-gray-color">
                        2014年06月30日
                    </span>
                </dd>
                <dd>
                目前，整个P2P借贷行业已呈“冰火两重天”之状：一边是P2P企业接连不断的跑路事件，一边是创业者们前赴后继地涌入。这就给我们带来一些疑惑，这个行业如何健康地活下去？促使投资者和创业者们争相进入的诱因何在？杨一夫和多网或许能给我们一些启发。
                </dd>
            </dl>
            
        </div>
    </li>
    <!--具体内容-end-->
    <!--具体内容-start-->
    <li class="team-item dwcolor-thinblue-text fn-clear mb10">
        <a href="/about/detail.action?report_id=report_50" target="_blank"><img width="300" height="200" align="middle" src="http://www.duonet.cn/upload/cms/article/report/67c8fe7e-2f73-4841-9e3d-83a84774e67f.jpg" alt="杨一夫：型男“不安分”"></a>
        <div class="record">
            <h5 class="dwcolor-blue-text">
                <a href="/about/detail.action?report_id=report_50" target="_blank">
                杨一夫：型男“不安分”
                </a>
                <a class="ui-visit_go posi-abso" href="/about/detail.action?report_id=report_50" target="_blank"></a>
            </h5>
            <dl>
                <dd class="fn-clear mb10">
                    <span class="fn-left text-gray-color">
                        《互联网金融》杂志
                    </span>
                    <span class="fn-right text-gray-color">
                        2014年06月30日
                    </span>
                </dd>
                <dd>
                2014年互联网金融市场风生水起，P2P行业的竞争也愈演愈烈。多网在众多P2P企业中何以异军突起？其与众不同之处何在？多网三位创始合伙人有何不为人知的创业故事？《互联网金融》杂志独家策划封面故事，带你了解更加真实的多网。
                </dd>
            </dl>
            
        </div>
    </li>
    <!--具体内容-end-->
    <!--具体内容-start-->
    <li class="team-item dwcolor-thinblue-text fn-clear mb10">
        <a href="http://finance.ifeng.com/news/special/p2p_yyf/ " target="_blank"><img width="300" height="200" align="middle" src="http://www.duonet.cn/upload/cms/article/fee532bf-7d60-4d89-9146-d74fc59d93b0.jpg" alt="P2P投资者要告别刚性兑付思维"></a>
        <div class="record">
            <h5 class="dwcolor-blue-text">
                <a href="http://finance.ifeng.com/news/special/p2p_yyf/ " target="_blank">
                P2P投资者要告别刚性兑付思维
                </a>
                <a class="ui-visit_go posi-abso" href="http://finance.ifeng.com/news/special/p2p_yyf/ " target="_blank"></a>
            </h5>
            <dl>
                <dd class="fn-clear mb10">
                    <span class="fn-left text-gray-color">
                        凤凰网
                    </span>
                    <span class="fn-right text-gray-color">
                        2014年06月11日
                    </span>
                </dd>
                <dd>
                虽然置身于行业前列，但P2P平台并不应该成为非理性投资者的逐利场，投资者应该告别认为金融机构都是刚性兑付的思维，认清其中蕴含的风险。而理性的投资者的培育不仅需要监管部门和行业一道进行投资者教育，更需要创建理性而透明的金融环境，这一点甚于投资者教育。
                </dd>
            </dl>
            
        </div>
    </li>
    <!--具体内容-end-->
    <!--具体内容-start-->
    <li class="team-item dwcolor-thinblue-text fn-clear mb10">
        <a href="/about/detail.action?report_id=report_48" target="_blank"><img width="300" height="200" align="middle" src="http://www.duonet.cn/upload/cms/article/ea2c1e00-d6c9-4c3f-a157-c6a969b703bc.jpg" alt="互联网信贷的大数据梦离现实还很遥远"></a>
        <div class="record">
            <h5 class="dwcolor-blue-text">
                <a href="/about/detail.action?report_id=report_48" target="_blank">
                互联网信贷的大数据梦离现实还很遥远
                </a>
                <a class="ui-visit_go posi-abso" href="/about/detail.action?report_id=report_48" target="_blank"></a>
            </h5>
            <dl>
                <dd class="fn-clear mb10">
                    <span class="fn-left text-gray-color">
                        36氪
                    </span>
                    <span class="fn-right text-gray-color">
                        2014年06月10日
                    </span>
                </dd>
                <dd>
                互联网信贷，最核心的还是结构化数据，大数据的作用十分有限。对于一些非结构化数据，比如社交大数据，因为其缺少明确定义、不规整的特性，只能去做一些主动性的挖掘和探索。非结构化数据对互联网信贷更多的只是起到辅助作用，这一点长期可能也不会改变。
                </dd>
            </dl>
            
        </div>
    </li>
    <!--具体内容-end-->
    <!--具体内容-start-->
    <li class="team-item dwcolor-thinblue-text fn-clear mb10">
        <a href="/about/detail.action?report_id=report_49" target="_blank"><img width="300" height="200" align="middle" src="http://www.duonet.cn/upload/cms/article/9284639b-5d0d-41b0-aeed-43805bca8232.jpg" alt="杨一夫：我们希望领跑全球P2P"></a>
        <div class="record">
            <h5 class="dwcolor-blue-text">
                <a href="/about/detail.action?report_id=report_49" target="_blank">
                杨一夫：我们希望领跑全球P2P
                </a>
                <a class="ui-visit_go posi-abso" href="/about/detail.action?report_id=report_49" target="_blank"></a>
            </h5>
            <dl>
                <dd class="fn-clear mb10">
                    <span class="fn-left text-gray-color">
                        《21世纪经济报道》
                    </span>
                    <span class="fn-right text-gray-color">
                        2014年06月06日
                    </span>
                </dd>
                <dd>
                相比大额交易量，多网更愿意追求健康的资产质量和商业模式。我们希望在能够覆盖风险的情况下，做一些加强用户体验的事。自身的技术与数据积累、风控模型的不断完善、外部数据开放程度的提高、中国整个征信体系的完善，这些都有机会让多网形成并巩固自己的优势。
                </dd>
            </dl>
            
        </div>
    </li>
    <!--具体内容-end-->
    <!--具体内容-start-->
    <li class="team-item dwcolor-thinblue-text fn-clear mb10">
        <a href="/about/detail.action?report_id=report_45" target="_blank"><img width="300" height="200" align="middle" src="http://www.duonet.cn/upload/cms/article/459000a5-4f7a-47b0-afda-b0506e1af8f5.jpg" alt="关于多网的模式选择"></a>
        <div class="record">
            <h5 class="dwcolor-blue-text">
                <a href="/about/detail.action?report_id=report_45" target="_blank">
                关于多网的模式选择
                </a>
                <a class="ui-visit_go posi-abso" href="/about/detail.action?report_id=report_45" target="_blank"></a>
            </h5>
            <dl>
                <dd class="fn-clear mb10">
                    <span class="fn-left text-gray-color">
                        36氪
                    </span>
                    <span class="fn-right text-gray-color">
                        2014年05月29日
                    </span>
                </dd>
                <dd>
                P2P 的瓶颈在于，虽然获客成本较低，但转化率不理想。尤其在贷款人一端。但互联网信贷比起银行的成本优势还是巨大的，这是未来趋势。目前我们线上 + 线下的模式设计，可以说是“性价比”“量”“趋势”的三者折中。
                </dd>
            </dl>
            
        </div>
    </li>
    <!--具体内容-end-->
    <!--具体内容-start-->
    <li class="team-item dwcolor-thinblue-text fn-clear mb10">
        <a href="http://tv.hexun.com/2014-05-20/164958820.html " target="_blank"><img width="300" height="200" align="middle" src="http://www.duonet.cn/upload/cms/article/3e0c64df-bb7d-421d-857a-a8566f75502f.jpg" alt="多网杨一夫：呼吁引入合格投资人"></a>
        <div class="record">
            <h5 class="dwcolor-blue-text">
                <a href="http://tv.hexun.com/2014-05-20/164958820.html " target="_blank">
                多网杨一夫：呼吁引入合格投资人
                </a>
                <a class="ui-visit_go posi-abso" href="http://tv.hexun.com/2014-05-20/164958820.html " target="_blank"></a>
            </h5>
            <dl>
                <dd class="fn-clear mb10">
                    <span class="fn-left text-gray-color">
                        和讯网
                    </span>
                    <span class="fn-right text-gray-color">
                        2014年05月23日
                    </span>
                </dd>
                <dd>
                中国目前的个人投资市场并不成熟，大众对于风险和收益之间的关系缺乏较为理智的判断，在未来的监管中应该引入所谓合格投资人的概念，教育市场以及投资人谨慎投资，规避风险。
                </dd>
            </dl>
            
        </div>
    </li>
    <!--具体内容-end-->
    <!--具体内容-start-->
    <li class="team-item dwcolor-thinblue-text fn-clear mb10">
        <a href="/about/detail.action?report_id=report_44" target="_blank"><img width="300" height="200" align="middle" src="http://www.duonet.cn/upload/cms/article/d2ae716a-14f5-452b-9fc9-582ec8290d14.jpg" alt="杨一夫：对金融要有敬畏心"></a>
        <div class="record">
            <h5 class="dwcolor-blue-text">
                <a href="/about/detail.action?report_id=report_44" target="_blank">
                杨一夫：对金融要有敬畏心
                </a>
                <a class="ui-visit_go posi-abso" href="/about/detail.action?report_id=report_44" target="_blank"></a>
            </h5>
            <dl>
                <dd class="fn-clear mb10">
                    <span class="fn-left text-gray-color">
                        《农村金融时报》
                    </span>
                    <span class="fn-right text-gray-color">
                        2014年05月12日
                    </span>
                </dd>
                <dd>
                所有的商业模式都应该围绕自己的优势打造，多网的优势在于从一开始就采取了集中审核和数据积累的模式，使多网能更多地依靠数据说话，并有较好的扩展性，即随着数据的积累和模型的更新，审核效率在不断提高。
                </dd>
            </dl>
            
        </div>
    </li>
    <!--具体内容-end-->
    <!--具体内容-start-->
    <li class="team-item dwcolor-thinblue-text fn-clear mb10">
        <a href="/about/detail.action?report_id=report_43" target="_blank"><img width="300" height="200" align="middle" src="http://www.duonet.cn/upload/cms/article/report/0f35ff09-d40b-488f-8084-203692d22f63.jpg" alt="杨一夫：以技术推动金融变革"></a>
        <div class="record">
            <h5 class="dwcolor-blue-text">
                <a href="/about/detail.action?report_id=report_43" target="_blank">
                杨一夫：以技术推动金融变革
                </a>
                <a class="ui-visit_go posi-abso" href="/about/detail.action?report_id=report_43" target="_blank"></a>
            </h5>
            <dl>
                <dd class="fn-clear mb10">
                    <span class="fn-left text-gray-color">
                        财新网
                    </span>
                    <span class="fn-right text-gray-color">
                        2014年05月06日
                    </span>
                </dd>
                <dd>
                目前互联网金融模式的创新并没有真正深入到金融的核心本质——风险管理与控制。未来随着互联网的进一步发展，我们能够直接做风险控制的创新。用技术推动金融变革，用模型、数据、流程去驱动金融服务变革，这是多网努力的方向，也是互联网金融未来的创新道路。
                </dd>
            </dl>
            
        </div>
    </li>
    <!--具体内容-end-->
    <!--具体内容-start-->
    <li class="team-item dwcolor-thinblue-text fn-clear mb10">
        <a href="/about/detail.action?report_id=report_31" target="_blank"><img width="300" height="200" align="middle" src="http://www.duonet.cn/upload/cms/article/report/11b6450d-3c02-4038-97b7-e393327c037f.jpg" alt="用金融界的游戏规则，终结银行垄断"></a>
        <div class="record">
            <h5 class="dwcolor-blue-text">
                <a href="/about/detail.action?report_id=report_31" target="_blank">
                用金融界的游戏规则，终结银行垄断
                </a>
                <a class="ui-visit_go posi-abso" href="/about/detail.action?report_id=report_31" target="_blank"></a>
            </h5>
            <dl>
                <dd class="fn-clear mb10">
                    <span class="fn-left text-gray-color">
                        福布斯中文网
                    </span>
                    <span class="fn-right text-gray-color">
                        2014年02月27日
                    </span>
                </dd>
                <dd>
                和众多互联网金融领域公司宣扬自己的互联网属性不同，多网认为自己更多是一家金融公司——作为一家金融机构，最重要的就是控制风险和不越红线。创业三年，随着P2P行业的蓬勃发展和企业的壮大，张适时、李欣贺、杨一夫三人的金融梦正变得越来越真实。
                </dd>
            </dl>
            
        </div>
    </li>
    <!--具体内容-end-->
</ul>
   <div class="mt10 ui-pagination simple-pagination right-ul-page" id="news-list-pagination">

    </div>
    <input type="hidden" id="items" value="22" />
    <input type="hidden" id="itemsOnPage" value="10" />
    <input type="hidden" id="currentPage" value="1" />
</div>
                <form id="newForm" action="/about/about.action">
                    <input name="flag" type="hidden" value="report" />
                    <input name="pageIndex" type="hidden" value="" />
                </form>
            </div>
        </div>
    </div>
{%endblock%}

{%block after%}
    <script src="/static/js/lib/jquery/1.9.1/jquery.nocmd.js"></script>
    <script src="/static/js/lib/simplePagination/1.5.0/simplePagination.nocmd.js"></script>
    <script>
        /*  pagination　*/
        $(function() {
          $('.ui-pagination').pagination({
            items: $('#items').val(),
            itemsOnPage: $('#itemsOnPage').val(),
            currentPage: $('#currentPage').val(),
            cssStyle: '.ui-pagination',
            onPageClick: function (pageNumber, event) {
                var form = $('#newForm');
                if (form) {
                    form.find('input[name=pageIndex]').val(pageNumber);
                    form.submit();
                }
            }
          });
        });
    </script>
{%endblock%}