{%extends "parent.tpl"%}
{%block title%}
社会责任 - 关于我们 -
{%endblock%}
{%block script%}{%endblock%}
{%block link%}
<link rel="stylesheet" href="/static/css/pages/about.css">
{%endblock%}
{%block content%}
    <div id="aboutUs" class="mt20">
        <div class="container_12">
            <div class="sub grid_2">
                

<div class="ui-side" id="sidebar">
  <ul class="ui-side-list">
    <li class="ui-side-item ">
      <a class="ui-side-item-link" href="/about/about.action?flag=intro" target="_self">公司简介</a>
    </li>
    <li class="ui-side-item ">
      <a class="ui-side-item-link" href="/about/about.action?flag=team" target="_self">管理团队</a>
    </li>
    <li class="ui-side-item ">
      <a class="ui-side-item-link" href="/about/about.action?flag=expert" target="_self">专家顾问</a>
    </li>
    <li class="ui-side-item ">
      <a class="ui-side-item-link" href="/about/about.action?flag=performance" target="_self">业绩报告</a>
    </li>
    <li class="ui-side-item ">
      <a class="ui-side-item-link" href="/about/about.action?flag=supervise" target="_self">监管报告</a>
    </li>
    <li class="ui-side-item active">
      <a class="ui-side-item-link" href="/about/about.action?flag=responsibility" target="_self">社会责任</a>
    </li>
    <li class="ui-side-item ">
      <a class="ui-side-item-link" href="/about/about.action?flag=partner" target="_self">合作伙伴</a>
    </li>
    <li class="ui-side-item ">
      <a class="ui-side-item-link" href="/about/about.action?flag=report" target="_self">媒体报道</a>
    </li>
    <li class="ui-side-item ">
      <a class="ui-side-item-link" href="/about/about.action?flag=news" target="_self">最新动态</a>
    </li>
    <li class="ui-side-item ">
      <a class="ui-side-item-link" href="/about/about.action?flag=notices" target="_self">网站公告</a>
    </li>
    <li class="ui-side-item ">
      <a class="ui-side-item-link" href="/about/about.action?flag=invite" target="_self">招贤纳士</a>
    </li>
    <li class="ui-side-item last ">
      <a class="ui-side-item-link" href="/about/about.action?flag=contact" target="_self">联系我们</a>
    </li>
  </ul>
</div>
            </div>
            <div class="main grid_10" id="aboutContent">
                <div id="responsibility" class="responsibility right-container p20bs">
<h1 class="rrdcolor-blue-text">社会责任</h1>
<p class="line30">人人贷在发展自身业务的同时，不忘回馈社会，利用平台特点及品牌影响，努力支持公益事业，努力用实际行动帮助和支持更多人改善生活、实现梦想。</p>
<ul class="go-blue">
    <li class="team-item rrdcolor-thinblue-text fn-clear mb10"><a
        href="http://www.renrendai.com/about/detail.action?news_id=news_276" target="_blank"> <img
            width="300" height="200" align="middle"
            src="http://www.renrendai.com/static/img/about/responsibility/media07.jpg?20140401a"
            alt="服务民生"></a>
        <div class="record">
            <h5 class="rrdcolor-blue-text pb10">
                <a href="http://www.renrendai.com/about/detail.action?news_id=news_276" target="_blank">
                服务民生
                </a>
                <a class="ui-visit_go posi-abso" href="http://www.renrendai.com/about/detail.action?news_id=news_276" target="_blank"></a>
            </h5>
            <p>
            国际志愿者日期间，为弘扬国际志愿者精神，2013 IVW（国际志愿者周）北京峰会在朝外文体中心举行。人人贷创始合伙人杨一夫、风险管理部总监范晓磊、战略合作部总监王坚出席了当天的活动，为现场几十家NGO、政府基层组织、媒体等上百人，带来人人贷的互联网金融创新理念和风险控制经验，并为他们提供了专业智力服务。
            </p>
            <p class="fr text-gray-color">活动时间：2013年12月</p>
            
                
        </div></li>
    <li class="team-item rrdcolor-thinblue-text fn-clear mb10"><a
        href="http://www.renrendai.com/event/xiaoyuanxing/index.html" target="_blank"> <img
            width="300" height="200" align="middle"
            src="http://www.renrendai.com/static/img/about/responsibility/media06.jpg?20140401a"
            alt="走进校园"></a>
        <div class="record">
            <h5 class="rrdcolor-blue-text pb10">
                <a href="http://www.renrendai.com/event/xiaoyuanxing/index.html" target="_blank">
                走进校园
                </a>
                <a class="ui-visit_go posi-abso" href="http://www.renrendai.com/event/xiaoyuanxing/index.html" target="_blank"></a>
            </h5>
            <p>
            人人贷创业团队重返校园，向学生们分享了创业的苦与乐、普及了互联网金融知识、并介绍了个人信用在当下生活工作中的重大意义。
            </p>
            <p class="fr text-gray-color">活动时间：2013年10月</p>
            
                
        </div></li>
    <li class="team-item rrdcolor-thinblue-text fn-clear mb10"><a
        href="http://www.renrendai.com/event/yangfan/index.jsp#area=5" target="_blank"> <img
            width="300" height="200" align="middle"
            src="http://www.renrendai.com/static/img/about/responsibility/media04.jpg?20140401a"
            alt="人人梦想"></a>
        <div class="record">
            <h5 class="rrdcolor-blue-text pb10">
                <a href="http://www.renrendai.com/event/yangfan/index.jsp#area=5" target="_blank">
                人人梦想
                </a>
                <a class="ui-visit_go posi-abso" href="http://www.renrendai.com/event/yangfan/index.jsp#area=5" target="_blank"></a>
            </h5>
            <p>
            人人贷作为中国金融创新的生力军，一直努力传递着积极向上、充满阳光的生活理念。我们在众多借款申请中发现了许多有创意的想法，并看到这些梦想可能创造的积极社会意义。2012年9月，杨帆成为人人梦想的第一个主角，从北京出发，驾驶国产挎斗摩托车横穿欧亚大陆，踏上了他的追梦之旅。
            </p>
            <p class="fr text-gray-color">活动时间：2012年09月</p>
            
                
        </div></li>
    <li class="team-item rrdcolor-thinblue-text fn-clear mb10"><a
        href="http://www.renrendai.com/lend/farmerloanlistpage.action" target="_blank"> <img
            width="300" height="200" align="middle"
            src="http://www.renrendai.com/static/img/about/responsibility/media03.jpg?20140401a"
            alt="爱心助农"></a>
        <div class="record">
            <h5 class="rrdcolor-blue-text pb10">
                <a href="http://www.renrendai.com/lend/farmerloanlistpage.action" target="_blank">
                爱心助农
                </a>
                <a class="ui-visit_go posi-abso" href="http://www.renrendai.com/lend/farmerloanlistpage.action" target="_blank"></a>
            </h5>
            <p>
            中国有超过2亿的贫困人口，他们大部分是诚实、勤劳的普通劳动者，渴望通过自己的双手摆脱贫困、改善生活，但却受限于生产资本的极度缺乏，这些身处信息不发达地区的人们，很难获得脱贫致富的启动资金。人人贷希望凝聚沉积在网络上的正能量，通过提供小额借款的形式帮助他们，用人人贷特有的方式关爱他人、尊重他人。
            </p>
            <p class="fr text-gray-color">活动时间：2011年06月</p>
            
                
        </div></li>
</ul>
</div>
            </div>
        </div>
    </div>
{%endblock%}
