{%extends "parent.tpl"%}
{%block title%}
监管报告 - 关于我们 -
{%endblock%}
{%block script%}{%endblock%}
{%block link%}
<link rel="stylesheet" href="/static/css/pages/about.css">
{%endblock%}
{%block content%}
    <div class="container_12 mt20">
        <div class="grid_2">
            

<div class="ui-side" id="sidebar">
  <ul class="ui-side-list">
    <li class="ui-side-item ">
      <a class="ui-side-item-link" href="/about/about.action?flag=intro" target="_self">公司简介</a>
    </li>
    <li class="ui-side-item ">
      <a class="ui-side-item-link" href="/about/about.action?flag=team" target="_self">管理团队</a>
    </li>
    <li class="ui-side-item ">
      <a class="ui-side-item-link" href="/about/about.action?flag=expert" target="_self">专家顾问</a>
    </li>
    <li class="ui-side-item ">
      <a class="ui-side-item-link" href="/about/about.action?flag=performance" target="_self">业绩报告</a>
    </li>
    <li class="ui-side-item active">
      <a class="ui-side-item-link" href="/about/about.action?flag=supervise" target="_self">监管报告</a>
    </li>
    <li class="ui-side-item ">
      <a class="ui-side-item-link" href="/about/about.action?flag=responsibility" target="_self">社会责任</a>
    </li>
    <li class="ui-side-item ">
      <a class="ui-side-item-link" href="/about/about.action?flag=partner" target="_self">合作伙伴</a>
    </li>
    <li class="ui-side-item ">
      <a class="ui-side-item-link" href="/about/about.action?flag=report" target="_self">媒体报道</a>
    </li>
    <li class="ui-side-item ">
      <a class="ui-side-item-link" href="/about/about.action?flag=news" target="_self">最新动态</a>
    </li>
    <li class="ui-side-item ">
      <a class="ui-side-item-link" href="/about/about.action?flag=notices" target="_self">网站公告</a>
    </li>
    <li class="ui-side-item ">
      <a class="ui-side-item-link" href="/about/about.action?flag=invite" target="_self">招贤纳士</a>
    </li>
    <li class="ui-side-item last ">
      <a class="ui-side-item-link" href="/about/about.action?flag=contact" target="_self">联系我们</a>
    </li>
  </ul>
</div>
        </div>
        <div class="grid_10">
              <div class="p20bs color-white-bg fn-clear">
    <h1 class="rrdcolor-blue-text">监管报告</h1>
    <p class="line30">为充分保障用户的利益，更好的进行自律监管，人人贷商务顾问（北京）有限公司（以下简称“人人贷”）与招商银行股份有限公司上海分行（以下简称“招行上海分行”）就人人贷风险备用金托管问题正式签署协议。招行上海分行会对人人贷的风险备用金专户资金进行认真、独立的托管，并针对风险备用金专户资金的实际进出情况每月出具托管报告。自2014年1月1日开始，人人贷将每月公布风险备用金的情况，供用户监督。</p>
    <ul class="ui-list ui-list-m ui-list-news narrow mt10" id="news-list">
      <li class="ui-list-item fn-clear ">
        <p class="fn-left field decoration"></p>
        <p class="fn-left field text color-silver-text fn-text-overflow">
          <a class="title text-big rrd-dimgray" href="/about/detail.action?supervise_id=supervise_9" target="_blank">人人贷风险备用金《资金托管报告》（2014年06月）</a>
          <span class="content text-small"></span>
        </p>
        <p class="fn-left field date color-darkgray-text">2014-07-04</p>
      </li>
      <li class="ui-list-item fn-clear ">
        <p class="fn-left field decoration"></p>
        <p class="fn-left field text color-silver-text fn-text-overflow">
          <a class="title text-big rrd-dimgray" href="/about/detail.action?supervise_id=supervise_8" target="_blank">人人贷风险备用金《资金托管报告》（2014年05月）</a>
          <span class="content text-small"></span>
        </p>
        <p class="fn-left field date color-darkgray-text">2014-06-06</p>
      </li>
      <li class="ui-list-item fn-clear ">
        <p class="fn-left field decoration"></p>
        <p class="fn-left field text color-silver-text fn-text-overflow">
          <a class="title text-big rrd-dimgray" href="/about/detail.action?supervise_id=supervise_6" target="_blank">人人贷风险备用金《资金托管报告》（2014年04月）</a>
          <span class="content text-small"></span>
        </p>
        <p class="fn-left field date color-darkgray-text">2014-05-05</p>
      </li>
      <li class="ui-list-item fn-clear ">
        <p class="fn-left field decoration"></p>
        <p class="fn-left field text color-silver-text fn-text-overflow">
          <a class="title text-big rrd-dimgray" href="/about/detail.action?supervise_id=supervise_5" target="_blank">人人贷风险备用金《资金托管报告》（2014年03月）</a>
          <span class="content text-small"></span>
        </p>
        <p class="fn-left field date color-darkgray-text">2014-04-02</p>
      </li>
      <li class="ui-list-item fn-clear ">
        <p class="fn-left field decoration"></p>
        <p class="fn-left field text color-silver-text fn-text-overflow">
          <a class="title text-big rrd-dimgray" href="/about/detail.action?supervise_id=supervise_3" target="_blank">人人贷风险备用金《资金托管报告》（2014年02月）</a>
          <span class="content text-small"></span>
        </p>
        <p class="fn-left field date color-darkgray-text">2014-03-05</p>
      </li>
      <li class="ui-list-item fn-clear ">
        <p class="fn-left field decoration"></p>
        <p class="fn-left field text color-silver-text fn-text-overflow">
          <a class="title text-big rrd-dimgray" href="/about/detail.action?supervise_id=supervise_4" target="_blank">人人贷风险备用金《资金托管报告》（2014年01月）</a>
          <span class="content text-small"></span>
        </p>
        <p class="fn-left field date color-darkgray-text">2014-02-13</p>
      </li>
      <li class="ui-list-item fn-clear ">
        <p class="fn-left field decoration"></p>
        <p class="fn-left field text color-silver-text fn-text-overflow">
          <a class="title text-big rrd-dimgray" href="/about/detail.action?supervise_id=supervise_1" target="_blank">人人贷风险备用金《资金托管报告》（2013年12月）</a>
          <span class="content text-small"></span>
        </p>
        <p class="fn-left field date color-darkgray-text">2014-01-31</p>
      </li>
    </ul>
    <div class="fn-right mt10 ui-pagination simple-pagination" id="news-list-pagination">

    </div>
  </div>
  <input type="hidden" id="items" value="7" />
  <input type="hidden" id="itemsOnPage" value="10" />
  <input type="hidden" id="currentPage" value="1" />

            <form id="newForm" action="/about/about.action">
                <input name="flag" type="hidden" value="supervise" />
                <input name="pageIndex" type="hidden" value="" />
            </form>
        </div>
    </div>
{%endblock%}

{%block after%}
    <script src="/static/js/lib/jquery/1.9.1/jquery.nocmd.js"></script>
    <script src="/static/js/lib/simplePagination/1.5.0/simplePagination.nocmd.js"></script>
    <script>
        /*  pagination　*/
        $(function() {
          $('.ui-pagination').pagination({
            items: $('#items').val(),
            itemsOnPage: $('#itemsOnPage').val(),
            currentPage: $('#currentPage').val(),
            cssStyle: '.ui-pagination',
            onPageClick: function (pageNumber, event) {
                var form = $('#newForm');
                if (form) {
                    form.find('input[name=pageIndex]').val(pageNumber);
                    form.submit();
                }
            }
          });
        });
    </script>
{%endblock%}