





<!DOCTYPE html>
<html>
<head>
<title>
  管理团队 - 关于我们 - 人人贷 - 中国最大最安全的P2P网络投资理财、网络贷款平台
</title>
<meta name="renderer" content="webkit">
<meta http-equiv="content-type" content="text/html" charset="utf-8">
<meta name="google-site-verification" content="oQXrGa_mTgxg7joO0himE0QuFeqOVmm-SDC1H2dzT4c">
<meta name="keywords" content="管理团队|关于我们|人人贷|网络理财|个人理财|投资理财|P2P理财|互联网金融|投资理财|债权转让|理财计划|优选计划|网络贷款|工薪贷|生意贷|网商贷|网贷|小额贷款" />
<meta name="description" content="人人贷(www.renrendai.com)是目前中国互联网金融中P2P信贷行业中最大、最安全的平台，为投资理财用户和贷款用户两端提供公平、透明、安全、高效的互联网金融服务。投资理财用户可以通过人人贷平台进行投标、加入优选理财计划、购买债权等方式进行投资获得高收益；贷款用户可以通过平台申请工薪贷、生意贷、网商贷等小额贷款。" />

<script src="/static/js/seajs/2.1.0/sea.js?rrdversion=20140414"></script>
<script src="/static/js/config.js?rrdversion=20140414"></script>


<link rel="shortcut icon" href="/favicon.ico?icoversion=1">
<link rel="stylesheet" href="/static/css/one.css?rrdversion=20140414">
<!--[if lt IE 9]>
<link rel="stylesheet" type="text/css" href="/static/css/ie8-and-lower.css?rrdversion=20140414" />
<![endif]-->
<!--[if lt IE 7]>
<link rel="stylesheet" type="text/css" href="/static/css/ie6-and-lower.css?rrdversion=20140414" />
<![endif]-->

    <link rel="stylesheet" type="text/css" href="/static/css/pages/about.css?rrdversion=20140414" />

</head>

<body>
  <div class="pg-container  ">
    


<div class="ui-header" id="header">
  <div class="ui-header-top ">
    <div class="container_12 fn-clear">
      <div class="grid_12 fn-clear">
        <div class="ui-nav fn-right">
          <a class="ui-nav-item fn-left" href="/">首页</a>
          <a class="ui-nav-item fn-left" href="/event/app.action" target="_blank"><i class="icon icon-app mr5"></i>移动客户端</a>
          <a class="ui-nav-item fn-left" href="/account/index.action">我的人人贷</a>
          
          <a class="ui-nav-item fn-left" href="/help/index.action" target="_blank">帮助</a>
          <a class="ui-nav-item fn-left" href="http://bbs.renrendai.com" target="_blank">论坛</a>
        </div>
      </div>
    </div>
  </div>
  <div class="ui-header-main">
    <div class="container_12 fn-clear">
      <div class="grid_2 ui-header-grid">
        <a class="ui-header-logo fn-left" href="/"></a>
      </div>
      <div class="grid_7 ui-header-grid">
        <div class="fn-hide no-nav-text"></div>
        <ul class="ui-nav ">
          <li class="ui-nav-item ui-nav-item-x">
            <a class="ui-nav-item-link rrd-dimgray" href="/lend/index.action">
              <span>我要理财</span>
              <span class="arrow-down"></span>
            </a>
            <ul class="ui-nav-dropdown ui-nav-dropdown-invest" style="display: none;">
              <li class="ui-nav-dropdown-angle"><span></span></li>
              
              <li class="ui-nav-dropdown-item"><a class="rrd-dimgray" href="/financeplan/listPlan.action">优选理财计划</a></li>
              <li class="ui-nav-dropdown-item"><a class="rrd-dimgray" href="/lend/loanList.action">散标投资列表</a></li>
              <li class="ui-nav-dropdown-item"><a class="rrd-dimgray" href="/transfer/transferList.action">债权转让列表</a></li>
            </ul>
          </li>
          <li class="ui-nav-item ui-nav-item-x">
            <a class="ui-nav-item-link rrd-dimgray" href="/borrow/index.action">
              <span>我要借款</span>
              <span class="arrow-down"></span>
            </a>
            <ul class="ui-nav-dropdown ui-nav-dropdown-borrow" style="display: none;">
              <li class="ui-nav-dropdown-angle"><span></span></li>
              <li class="ui-nav-dropdown-item"><a class="rrd-dimgray" href="/borrow/prodWork.action">工薪贷</a></li>
              <li class="ui-nav-dropdown-item"><a class="rrd-dimgray" href="/borrow/prodBiz.action">生意贷</a></li>
              <li class="ui-nav-dropdown-item"><a class="rrd-dimgray" href="/borrow/prodEcomm.action">网商贷</a></li>
            </ul>
          </li>
          <li class="ui-nav-item">
            <a class="ui-nav-item-link rrd-dimgray" href="/guide/invest.action">新手指引</a>
          </li>
          <li class="ui-nav-item ui-nav-item-x">
            <a class="ui-nav-item-link rrd-dimgray" href="/about/about.action?flag=intro">
              <span>关于我们</span>
              <span class="arrow-down"></span>
            </a>
            <ul class="ui-nav-dropdown ui-nav-dropdown-invest" style="display: none;">
              <li class="ui-nav-dropdown-angle"><span></span></li>
              <li class="ui-nav-dropdown-item"><a class="rrd-dimgray" href="/about/about.action?flag=team">管理团队</a></li>
              <li class="ui-nav-dropdown-item"><a class="rrd-dimgray" href="/about/about.action?flag=news">最新动态</a></li>
              <li class="ui-nav-dropdown-item"><a class="rrd-dimgray" href="/about/about.action?flag=invite">招贤纳士</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="grid_3 ui-header-grid">
        <ul class="ui-nav fn-right  ">
          
          
          <li class="ui-nav-item ">
            <a class="ui-nav-item-link reg-link" href="/regPage.action">注册</a>
          </li>
          <li class="ui-nav-item ">
            <a class="ui-nav-item-link gray login-link" href="/loginPage.action">登录</a>
          </li>
          
        </ul>
        <!--
        <ul class="ui-nav fn-right fn-hide">
          <li class="ui-nav-item">
            <a class="ui-nav-item-link login-link" href="/loginPage.action">登录</a>
          </li>
        </ul>
        <ul class="ui-nav fn-right fn-hide">
          <li class="ui-nav-item">
            <a class="ui-nav-item-link reg-link" href="/regPage.action">注册</a>
          </li>
        </ul>
        -->
      </div>
    </div>
  </div>
  
  

  <div id="header-helper" style="display: none;">
    <span id="header-helper-authenticated">
      
      false
    </span>
  </div>
</div>
<script>
seajs.use(['components/components'], function(Components) {
  new Components.Header().init();
});
</script>
    <div class="pg-container-content">
      
    <div id="pg-about-team">
        <div class="container_12 mt20">
            <div class="grid_2">
                

<div class="ui-side" id="sidebar">
  <ul class="ui-side-list">
    <li class="ui-side-item ">
      <a class="ui-side-item-link" href="/about/about.action?flag=intro" target="_self">公司简介</a>
    </li>
    <li class="ui-side-item active">
      <a class="ui-side-item-link" href="/about/about.action?flag=team" target="_self">管理团队</a>
    </li>
    <li class="ui-side-item ">
      <a class="ui-side-item-link" href="/about/about.action?flag=expert" target="_self">专家顾问</a>
    </li>
    <li class="ui-side-item ">
      <a class="ui-side-item-link" href="/about/about.action?flag=performance" target="_self">业绩报告</a>
    </li>
    <li class="ui-side-item ">
      <a class="ui-side-item-link" href="/about/about.action?flag=supervise" target="_self">监管报告</a>
    </li>
    <li class="ui-side-item ">
      <a class="ui-side-item-link" href="/about/about.action?flag=responsibility" target="_self">社会责任</a>
    </li>
    <li class="ui-side-item ">
      <a class="ui-side-item-link" href="/about/about.action?flag=partner" target="_self">合作伙伴</a>
    </li>
    <li class="ui-side-item ">
      <a class="ui-side-item-link" href="/about/about.action?flag=report" target="_self">媒体报道</a>
    </li>
    <li class="ui-side-item ">
      <a class="ui-side-item-link" href="/about/about.action?flag=news" target="_self">最新动态</a>
    </li>
    <li class="ui-side-item ">
      <a class="ui-side-item-link" href="/about/about.action?flag=notices" target="_self">网站公告</a>
    </li>
    <li class="ui-side-item ">
      <a class="ui-side-item-link" href="/about/about.action?flag=invite" target="_self">招贤纳士</a>
    </li>
    <li class="ui-side-item last ">
      <a class="ui-side-item-link" href="/about/about.action?flag=contact" target="_self">联系我们</a>
    </li>
  </ul>
</div>
            </div>
            <div class="grid_10">
                <div id="team" class="team right-container p20bs">
<h1 class="rrdcolor-blue-text">管理团队</h1>
<p>人人贷以普惠金融的梦想及互联网金融创新的基因凝聚了一批充满阳光、活力和进取精神的金融及技术精英，他们成为了伟大梦想脚踏实地的践行者。</p>
<ul class="fn-clear">
    <li class="team-item rrdcolor-thinblue-text fn-clear mb10">
        <img width="125px" height="143px" align="middle" src="http://www.renrendai.com/static/img/about/team/zhangshishi.jpg?20140401a" alt="张适时">
        <div class="record">
            <h5 class="rrdcolor-blue-text">
            张适时
            <span>
            创始合伙人
            </span></h5>
            <p>毕业于清华大学经济管理学院金融系。毕业后背包旅行8个多月，游历包括南极在内的30多个国家和地区。2008年就职于香港Temujin私募基金，后在家族企业富山矿业集团工作，往返新疆内蒙等地。<br />
2010年，与合伙人共同创建互联网信贷服务平台-人人贷。</p>
        </div>
    </li>
    <li class="team-item rrdcolor-thinblue-text fn-clear mb10">
        <img width="125px" height="143px" align="middle" src="http://www.renrendai.com/static/img/about/team/lixinhe.jpg?20140401a" alt="李欣贺">
        <div class="record">
            <h5 class="rrdcolor-blue-text">
            李欣贺
            <span>
            创始合伙人
            </span></h5>
            <p>毕业于北京大学数学与应用数学学院金融数学系。曾就职于德意志银行直接投资部，曾任中银国际直接投资部经理、渤海产业投资基金投资经理，在金融投资领域有丰富经验。<br />
2010年，与合伙人共同创建互联网信贷服务平台-人人贷。</p>
        </div>
    </li>
    <li class="team-item rrdcolor-thinblue-text fn-clear mb10">
        <img width="125px" height="143px" align="middle" src="http://www.renrendai.com/static/img/about/team/yangyifu.jpg?20140401a" alt="杨一夫">
        <div class="record">
            <h5 class="rrdcolor-blue-text">
            杨一夫
            <span>
            创始合伙人
            </span></h5>
            <p>毕业于北京大学数学与应用数学学院金融数学系。后赴荷兰学习金融学，并取得金融学硕士学位。归国后将国外先进的个人信用理念和审核技术引进中国，并致力于使用自己在个人信用审核方面的理论知识和实践经验推动中国诚信体系的建设。<br />
2010年，与合伙人共同创建互联网信贷服务平台-人人贷。</p>
        </div>
    </li>
    <li class="team-item rrdcolor-thinblue-text fn-clear mb10">
        <img width="125px" height="143px" align="middle" src="http://www.renrendai.com/static/img/about/team/guchonglun.jpg?20140401a" alt="顾崇伦">
        <div class="record">
            <h5 class="rrdcolor-blue-text">
            顾崇伦
            <span>
            副总裁
            </span></h5>
            <p>北京大学数学学院计算数学系本科、硕士。曾就职于中国国际金融有限公司（中金）风险管理部，泰达宏利基金管理有限公司产品创新与金融工程部。在风险管理、金融产品创新、量化投资领域均有丰富经验，尤其是海外衍生品和结构化产品的定价与风险控制。取得了"金融风险管理师（FRM）"和"特许金融分析师（CFA Chart Holder）"资格，同时拥有国内证券、基金、期货等从业资格。</p>
        </div>
    </li>
    <li class="team-item rrdcolor-thinblue-text fn-clear mb10">
        <img width="125px" height="143px" align="middle" src="http://www.renrendai.com/static/img/about/team/fanxiaolei.jpg?20140401a" alt="范晓磊">
        <div class="record">
            <h5 class="rrdcolor-blue-text">
            范晓磊
            <span>
            风险管理部总监
            </span></h5>
            <p>毕业于清华大学经济管理学院金融学专业。毕业后先后就职于法国外贸银行股份有限公司（NATIXIS）和中国进出口银行，任交易员，从事利率汇率交易业务，有丰富的市场风险管理经验。了解国内外债务市场，对信用风险评估和定价机制有深入研究，熟悉银行业务和产品体系。取得"特许金融分析师（CFA Chart Holder）"资格。</p>
        </div>
    </li>
    <li class="team-item rrdcolor-thinblue-text fn-clear mb10">
        <img width="125px" height="143px" align="middle" src="http://www.renrendai.com/static/img/about/team/lanyanxiang.jpg?20140401a" alt="蓝晏翔">
        <div class="record">
            <h5 class="rrdcolor-blue-text">
            蓝晏翔
            <span>
            技术总监
            </span></h5>
            <p>毕业于清华大学计算机系本科。毕业后进入“清华-微软”联合培养博士生项目获得博士学位。长期在微软亚洲研究院参与下一代图形图像系统、设备以及体感交互设备的研究和开发。对于计算理论、优化算法有深刻理解。</p>
        </div>
    </li>
    <li class="team-item rrdcolor-thinblue-text fn-clear mb10">
        <img width="125px" height="143px" align="middle" src="http://www.renrendai.com/static/img/about/team/bijian.jpg?20140401a" alt="毕建">
        <div class="record">
            <h5 class="rrdcolor-blue-text">
            毕建
            <span>
            市场总监
            </span></h5>
            <p>毕业于东北大学经贸系，后赴英国南安普顿大学学习国际金融专业，04年归国后加入宝洁中国，先后担任现代渠道区域总监和Olay品牌全国市场营销总监等职务，主要负责制定品牌发展战略、品牌传播策略和渠道营销策略等工作。在渠道整合、用户研究和品牌营销方面具有丰富经验。</p>
        </div>
    </li>
    <li class="team-item rrdcolor-thinblue-text fn-clear mb10">
        <img width="125px" height="143px" align="middle" src="http://www.renrendai.com/static/img/about/team/hanjiaming.jpg?20140401a" alt="韩家铭">
        <div class="record">
            <h5 class="rrdcolor-blue-text">
            韩家铭
            <span>
            财务总监
            </span></h5>
            <p>毕业于中国人民大学商学院会计系财务管理专业，毕业后加入德勤华永会计师事务所工作八年，担任审计经理，期间参与多家知名国有及民营企业上市及年度审计。后在卓展集团控股有限公司担任总会计师，对公司财务预算、分析、税务和资金管理均有深入的理解。拥有中国注册会计师资格，对中国会计准则和国际会计准则均有研究。</p>
        </div>
    </li>
    <li class="team-item rrdcolor-thinblue-text fn-clear mb10">
        <img width="125px" height="143px" align="middle" src="http://www.renrendai.com/static/img/about/team/wangjian.jpg?20140401a" alt="王坚">
        <div class="record">
            <h5 class="rrdcolor-blue-text">
            王坚
            <span>
            战略合作部总监
            </span></h5>
            <p>毕业于清华大学经济管理学院金融系，后赴纽约大学学习，并取得经济学硕士学位。在香港先后就职于高盛亚洲、中国国际金融有限公司，从事股票和股指期货交易，精通场外大宗交易、指数调整调仓交易、ETF及股指期货套利，熟悉亚洲主要资本市场，在商业分析和金融投资交易方面有丰富经验。</p>
        </div>
    </li>
</ul>
</div>
            </div>
        </div>
    </div>

    </div>
    

<div class="ui-footer" id="footer">
  <div class="container_12">
    <div class="grid_12">
        <div class="ui-footer-section ui-footer-narrow-hide fn-clear">
  <h4 class="color-gray-text text-big fn-left w85">友情链接</h4>
  <ul class="ui-footer-links fn-left w850">
    <li class="fn-left">
      <a class="gray" target="_blank" href="http://credit.hc360.com/dk_index/hc_dk.html">慧聪金融</a>
    </li>
    <li class="fn-left">
      <a class="gray" target="_blank" href="http://www.enfodesk.com/">易观智库</a>
    </li>
    <li class="fn-left">
      <a class="gray" target="_blank" href="http://www.haodai.com/">好贷网</a>
    </li>
    <li class="fn-left">
      <a class="gray" target="_blank" href="http://www.yinhang.com/">银率网</a>
    </li>
    <li class="fn-left">
      <a class="gray" target="_blank" href="http://bank.hexun.com/">和讯银行</a>
    </li>
    <li class="fn-left">
      <a class="gray" target="_blank" href="http://www.gome.com.cn/">国美在线</a>
    </li>
    <li class="fn-left">
      <a class="gray" target="_blank" href="http://www.cjdao.com/index.jsp">财经道</a>
    </li>
    <li class="fn-left">
      <a class="gray" target="_blank" href="http://www.siilu.com/">电商服务</a>
    </li>
    <li class="fn-left">
      <a class="gray" target="_blank" href="http://www.shopex.cn/">ShopEx</a>
    </li>
    <li class="fn-left">
      <a class="gray" target="_blank" href="http://bj.58.com/danbaobaoxiantouzi/">58投资担保</a>
    </li>
    <li class="fn-left">
      <a class="gray" target="_blank" href="http://www.wangdaizhijia.com/">网贷之家</a>
    </li>
    <li class="fn-left">
      <a class="gray" target="_blank" href="http://bbs.wacai.com">挖财社区</a>
    </li>
    <li class="fn-left">
      <a class="gray" target="_blank" href="http://www.feidee.com/money/">随手记</a>
    </li>
    <li class="fn-left">
      <a class="gray" target="_blank" href="http://www.rong360.com/licai/">融360理财</a>
    </li>
  </ul>
</div>

      <div class="ui-footer-section ui-footer-narrow-hide fn-clear">
        <div class="ui-footer-links grid_9 alpha">
                <ul class="fn-clear">
            <li class="fn-left">
              <a class="gray" target="_blank" href="/about/about.action?flag=intro">公司介绍</a>
            </li>
            <li class="fn-left">
              <a class="gray" target="_blank" href="/guide/investSecurity.action">安全保障</a>
            </li>
            <li class="fn-left">
              <a class="gray" target="_blank" href="/about/about.action?flag=report">媒体报道</a>
            </li>
            <li class="fn-left">
              <a class="gray" target="_blank" href="/about/about.action?flag=responsibility">社会责任</a>
            </li>
            <li class="fn-left">
              <a class="gray" target="_blank" href="/about/about.action?flag=invite">招贤纳士</a>
            </li>
            <li class="fn-left">
              <a class="gray" target="_blank" href="/sitemap.action">网站地图</a>
            </li>
            <li class="fn-left">
              <a class="gray" target="_blank" href="/help/index.action">帮助中心</a>
            </li>
            <li class="fn-left">
              <a class="gray" target="_blank" href="/about/about.action?flag=contact">联系我们</a>
            </li>
          </ul>
          <ul class="fn-clear icons">
            <li class="fn-left">
              <h4 class="color-gray-text text-big">客户服务</h4>
            </li>
            <li class="fn-left"><a class="ui-footer-img-link weibo" target="_blank" href="http://e.weibo.com/renrendai?ref=http%3A%2F%2Fwww.renrendai.com%2F">人人贷新浪微博</a></li>
            <li class="fn-left"><a class="ui-footer-img-link qq-weibo" target="_blank" href="http://t.qq.com/renrendai">人人贷腾讯微博</a></li>
            <li class="fn-left"><a class="ui-footer-img-link we-chat" tabindex="-1" href="#">人人贷微信</a></li>
            <li class="fn-left"><a class="ui-footer-img-link online-customer-service cursor-pointer" target="_blank" onclick="javascript:window.open('http://b.qq.com/webc.htm?new=0&sid=4000278080&eid=218808P8z8p8R8y8q8y8Q&o=www.renrendai.com&q=7&ref='+document.location, '_blank', 'height=544, width=644,toolbar=no,scrollbars=no,menubar=no,status=no');">人人贷在线客服</a></li>
          </ul>
        </div>
            <div class="grid_3 omega">
          <p class="color-gray-text text-right">客服电话</p>
          <h4 class="color-gray-text text-right ui-footer-phone-number">400-027-8080</h4>
          <p class="color-gray-text text-right">9:00 - 21:00</p>
        </div>
        </div>
      <div class="ui-footer-section last">
        <div class="ui-footer-copyright">
          <span class="ui-footer-contact-link color-gray-text">© 2014 人人贷 All rights reserved</span>
          <span class="ui-footer-contact-link color-gray-text has-separator">人人贷商务顾问(北京)有限公司</span>
          <span class="ui-footer-contact-link color-gray-text has-separator last"><a class="gray" target="_blank" href="/icp/icp.html">京ICP证 100953号</a></span>
        </div>
        <div class="ui-footer-verification ui-footer-narrow-hide fn-clear">
          <a class="ui-footer-verification-item fn-left credibility" title="人人贷荣获中国电子商务协会“诚信网站”认证殊荣" href="https://search.szfw.org/cert/l/CX20140315003612003651" target="_blank"></a>
          <a class="ui-footer-verification-item fn-left trust" title="人人贷已通过中网权威数据库对比，获得“可信网站”身份验证，您可放心使用。" href="https://ss.knet.cn/verifyseal.dll?sn=e13042311010040288j4wq000000&ct=df&a=1&pa=931969" target="_blank"></a>
          <a class="ui-footer-verification-item fn-left itrust" title="人人贷已经成为中国互联网信用评价中心网络诚信联盟成员，并且完成企业信用评级 " href="http://www.itrust.org.cn/yz/pjwx.asp?wm=2554879344" target="_blank"></a>
          <a class="ui-footer-verification-item fn-left norton" title="人人贷已引入VeriSign SSL加密技术，您的隐私及个人资料安全已受最高级别的保护。" href="https://trustsealinfo.verisign.com/splash?form_file=fdf/splash.fdf&dn=www.renrendai.com&lang=zh_cn" target="_blank"></a>
          <a class="ui-footer-verification-item fn-left police" title="人人贷已经完成在公安机关的信息备案，您可了解网站相关备案信息。" href="http://gawa.bjchy.gov.cn/websearch/" target="_blank"></a>
          <a class="ui-footer-verification-item fn-left gongshang" title="人人贷已经完成在北京市工商局网站备案，您可了解网站相关备案信息。" href="http://www.hd315.gov.cn/beian/view.asp?bianhao=010202013052900002" target="_blank"></a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="fn-hide">
  <div id="weixin-content" class="p20 text-center">
    <img src="/static/img/weixin_l.jpg?rrdversion=20140414" />
    <p>微信“发现”扫一扫，人人贷里动态全知道！</p>
  </div>
</div>
<script>
seajs.use(['components/components'], function(Components) {
  new Components.Footer().init();
});
</script>
    <div id="pg-server-message" data-status="" data-message="" style="display: none;"></div>
  </div>
  
<script id="dialog-message" type="text/x-handlebars-template">
<div class="ui-message-content">
  <div class="fn-clear">
    <div class="ui-message-icon fn-left">
      {{# if info }}
      <i class="iconfont fn-left info" title="提示">&#xF046;</i>
      {{/ if }}
      {{# if success }}
      <i class="iconfont fn-left success" title="成功">&#xF049;</i>
      {{/ if }}
      {{# if warning }}
      <i class="iconfont fn-left warning" title="警告">&#xF047;</i>
      {{/ if }}
      {{# if error }}
      <i class="iconfont fn-left error" title="错误">&#xF045;</i>
      {{/ if }}
    </div>
    <div class="ui-message-text fn-left">
      {{# if title }}
      <h3>{{ title }}</h3>
      {{/ if }}
      <p class="text-big">{{{ message }}}</p>
      {{# if link }}
      <p><a href="{{ link }}">{{ linkText }}</a></p>
      {{/ if }}
    </div>
  </div>
  <div class="ui-message-operation text-center mt20">
    <a class="ui-button ui-button-blue ui-button-mid ui-message-close-button" {{# if button }}href="{{ button.link }}"{{/ if }}>{{# if button }}{{ button.text }}{{ else }}关闭{{/ if }}</a>
  </div>
</div>
</script>
  <script>seajs.use(['page']);</script>
  
  


<textarea style="display:none" id="J_stat_js_1">


  var _agt=_agt||[];
      _agt.push(['_atscu','AG_148085_IKDD']);
      _agt.push(['_atsdomain','renrendai.com']);
  (function(){
    var ag=document.createElement('script'); 
        ag.type='text/javascript'; 
        ag.async = true;
        ag.src=(document.location.protocol=='https:'?'https':'http')+'://'+'t.agrantsem.com/js/ag.js';
    var s=document.getElementsByTagName('script')[0]; 
        s.parentNode.insertBefore(ag,s);})();
</textarea>

<script type='text/javascript'>
window.onload= function(){
    var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
    var bduidArr = ['71ce3105a964d0c3748e04584e5af0b9','efa929f55e0b175f5657fd1d1d809be6','2547238860b5ae69d69cae60a725236c','b7b6d41754885a6ae7f79431068d7b57'];
    
    for(i = 0; i<bduidArr.length; i++){
        var scriptbd = document.createElement("script"); 
        scriptbd.type = "text/javascript";
        scriptbd.async = true;
        scriptbd.src = _bdhmProtocol +"hm.baidu.com/h.js?"+bduidArr[i];
        document.body.appendChild(scriptbd);
    }
    
    for(i = 1; i<=1; i++){
           var sid = 'J_stat_js_'+i.toString();
           var element = document.getElementById(sid);
           var scrObj = document.createElement("script"); 
           scrObj.type = "text/javascript";
           scrObj.async = true;
           scrObj.text = element.innerHTML;
           document.body.appendChild(scrObj);
           element.parentNode.removeChild(element);
    }
};
</script>
</body>
</html>