{%extends "parent.tpl"%}
{%block title%}
管理团队 - 关于我们 -
{%endblock%}
{%block script%}{%endblock%}
{%block link%}
<link rel="stylesheet" href="/static/css/pages/about.css">
{%endblock%}
{%block content%}
      
    <div id="pg-about-team">
        <div class="container_12 mt20">
            <div class="grid_2">
                

<div class="ui-side" id="sidebar">
  <ul class="ui-side-list">
    <li class="ui-side-item ">
      <a class="ui-side-item-link" href="/about/about.action?flag=intro" target="_self">公司简介</a>
    </li>
    <li class="ui-side-item active">
      <a class="ui-side-item-link" href="/about/about.action?flag=team" target="_self">管理团队</a>
    </li>
    <li class="ui-side-item ">
      <a class="ui-side-item-link" href="/about/about.action?flag=expert" target="_self">专家顾问</a>
    </li>
    <li class="ui-side-item ">
      <a class="ui-side-item-link" href="/about/about.action?flag=performance" target="_self">业绩报告</a>
    </li>
    <li class="ui-side-item ">
      <a class="ui-side-item-link" href="/about/about.action?flag=supervise" target="_self">监管报告</a>
    </li>
    <li class="ui-side-item ">
      <a class="ui-side-item-link" href="/about/about.action?flag=responsibility" target="_self">社会责任</a>
    </li>
    <li class="ui-side-item ">
      <a class="ui-side-item-link" href="/about/about.action?flag=partner" target="_self">合作伙伴</a>
    </li>
    <li class="ui-side-item ">
      <a class="ui-side-item-link" href="/about/about.action?flag=report" target="_self">媒体报道</a>
    </li>
    <li class="ui-side-item ">
      <a class="ui-side-item-link" href="/about/about.action?flag=news" target="_self">最新动态</a>
    </li>
    <li class="ui-side-item ">
      <a class="ui-side-item-link" href="/about/about.action?flag=notices" target="_self">网站公告</a>
    </li>
    <li class="ui-side-item ">
      <a class="ui-side-item-link" href="/about/about.action?flag=invite" target="_self">招贤纳士</a>
    </li>
    <li class="ui-side-item last ">
      <a class="ui-side-item-link" href="/about/about.action?flag=contact" target="_self">联系我们</a>
    </li>
  </ul>
</div>
            </div>
            <div class="grid_10">
                <div id="team" class="team right-container p20bs">
<h1 class="rrdcolor-blue-text">管理团队</h1>
<p>多网以普惠金融的梦想及互联网金融创新的基因凝聚了一批充满阳光、活力和进取精神的金融及技术精英，他们成为了伟大梦想脚踏实地的践行者。</p>
<ul class="fn-clear">
    <li class="team-item rrdcolor-thinblue-text fn-clear mb10">
        <img width="125px" height="143px" align="middle" src="http://www.duonet.cn/static/img/about/team/zhangshishi.jpg?20140401a" alt="张适时">
        <div class="record">
            <h5 class="rrdcolor-blue-text">
            张适时
            <span>
            创始合伙人
            </span></h5>
            <p>毕业于清华大学经济管理学院金融系。毕业后背包旅行8个多月，游历包括南极在内的30多个国家和地区。2008年就职于香港Temujin私募基金，后在家族企业富山矿业集团工作，往返新疆内蒙等地。<br />
2010年，与合伙人共同创建互联网信贷服务平台-多网。</p>
        </div>
    </li>
    <li class="team-item rrdcolor-thinblue-text fn-clear mb10">
        <img width="125px" height="143px" align="middle" src="http://www.duonet.cn/static/img/about/team/lixinhe.jpg?20140401a" alt="李欣贺">
        <div class="record">
            <h5 class="rrdcolor-blue-text">
            李欣贺
            <span>
            创始合伙人
            </span></h5>
            <p>毕业于北京大学数学与应用数学学院金融数学系。曾就职于德意志银行直接投资部，曾任中银国际直接投资部经理、渤海产业投资基金投资经理，在金融投资领域有丰富经验。<br />
2010年，与合伙人共同创建互联网信贷服务平台-多网。</p>
        </div>
    </li>
    <li class="team-item rrdcolor-thinblue-text fn-clear mb10">
        <img width="125px" height="143px" align="middle" src="http://www.duonet.cn/static/img/about/team/yangyifu.jpg?20140401a" alt="杨一夫">
        <div class="record">
            <h5 class="rrdcolor-blue-text">
            杨一夫
            <span>
            创始合伙人
            </span></h5>
            <p>毕业于北京大学数学与应用数学学院金融数学系。后赴荷兰学习金融学，并取得金融学硕士学位。归国后将国外先进的个人信用理念和审核技术引进中国，并致力于使用自己在个人信用审核方面的理论知识和实践经验推动中国诚信体系的建设。<br />
2010年，与合伙人共同创建互联网信贷服务平台-多网。</p>
        </div>
    </li>
    <li class="team-item rrdcolor-thinblue-text fn-clear mb10">
        <img width="125px" height="143px" align="middle" src="http://www.duonet.cn/static/img/about/team/guchonglun.jpg?20140401a" alt="顾崇伦">
        <div class="record">
            <h5 class="rrdcolor-blue-text">
            顾崇伦
            <span>
            副总裁
            </span></h5>
            <p>北京大学数学学院计算数学系本科、硕士。曾就职于中国国际金融有限公司（中金）风险管理部，泰达宏利基金管理有限公司产品创新与金融工程部。在风险管理、金融产品创新、量化投资领域均有丰富经验，尤其是海外衍生品和结构化产品的定价与风险控制。取得了"金融风险管理师（FRM）"和"特许金融分析师（CFA Chart Holder）"资格，同时拥有国内证券、基金、期货等从业资格。</p>
        </div>
    </li>
    <li class="team-item rrdcolor-thinblue-text fn-clear mb10">
        <img width="125px" height="143px" align="middle" src="http://www.duonet.cn/static/img/about/team/fanxiaolei.jpg?20140401a" alt="范晓磊">
        <div class="record">
            <h5 class="rrdcolor-blue-text">
            范晓磊
            <span>
            风险管理部总监
            </span></h5>
            <p>毕业于清华大学经济管理学院金融学专业。毕业后先后就职于法国外贸银行股份有限公司（NATIXIS）和中国进出口银行，任交易员，从事利率汇率交易业务，有丰富的市场风险管理经验。了解国内外债务市场，对信用风险评估和定价机制有深入研究，熟悉银行业务和产品体系。取得"特许金融分析师（CFA Chart Holder）"资格。</p>
        </div>
    </li>
    <li class="team-item rrdcolor-thinblue-text fn-clear mb10">
        <img width="125px" height="143px" align="middle" src="http://www.duonet.cn/static/img/about/team/lanyanxiang.jpg?20140401a" alt="蓝晏翔">
        <div class="record">
            <h5 class="rrdcolor-blue-text">
            蓝晏翔
            <span>
            技术总监
            </span></h5>
            <p>毕业于清华大学计算机系本科。毕业后进入“清华-微软”联合培养博士生项目获得博士学位。长期在微软亚洲研究院参与下一代图形图像系统、设备以及体感交互设备的研究和开发。对于计算理论、优化算法有深刻理解。</p>
        </div>
    </li>
    <li class="team-item rrdcolor-thinblue-text fn-clear mb10">
        <img width="125px" height="143px" align="middle" src="http://www.duonet.cn/static/img/about/team/bijian.jpg?20140401a" alt="毕建">
        <div class="record">
            <h5 class="rrdcolor-blue-text">
            毕建
            <span>
            市场总监
            </span></h5>
            <p>毕业于东北大学经贸系，后赴英国南安普顿大学学习国际金融专业，04年归国后加入宝洁中国，先后担任现代渠道区域总监和Olay品牌全国市场营销总监等职务，主要负责制定品牌发展战略、品牌传播策略和渠道营销策略等工作。在渠道整合、用户研究和品牌营销方面具有丰富经验。</p>
        </div>
    </li>
    <li class="team-item rrdcolor-thinblue-text fn-clear mb10">
        <img width="125px" height="143px" align="middle" src="http://www.duonet.cn/static/img/about/team/hanjiaming.jpg?20140401a" alt="韩家铭">
        <div class="record">
            <h5 class="rrdcolor-blue-text">
            韩家铭
            <span>
            财务总监
            </span></h5>
            <p>毕业于中国人民大学商学院会计系财务管理专业，毕业后加入德勤华永会计师事务所工作八年，担任审计经理，期间参与多家知名国有及民营企业上市及年度审计。后在卓展集团控股有限公司担任总会计师，对公司财务预算、分析、税务和资金管理均有深入的理解。拥有中国注册会计师资格，对中国会计准则和国际会计准则均有研究。</p>
        </div>
    </li>
    <li class="team-item rrdcolor-thinblue-text fn-clear mb10">
        <img width="125px" height="143px" align="middle" src="http://www.duonet.cn/static/img/about/team/wangjian.jpg?20140401a" alt="王坚">
        <div class="record">
            <h5 class="rrdcolor-blue-text">
            王坚
            <span>
            战略合作部总监
            </span></h5>
            <p>毕业于清华大学经济管理学院金融系，后赴纽约大学学习，并取得经济学硕士学位。在香港先后就职于高盛亚洲、中国国际金融有限公司，从事股票和股指期货交易，精通场外大宗交易、指数调整调仓交易、ETF及股指期货套利，熟悉亚洲主要资本市场，在商业分析和金融投资交易方面有丰富经验。</p>
        </div>
    </li>
</ul>
</div>
            </div>
        </div>
    </div>
{%endblock%}