{%extends "parent.tpl"%}
{%block script%}
<script type="text/javascript">seajs.use(['pages/auth/reg']);</script>
{%endblock%}
{%block link%}
<link rel="stylesheet" href="/static/css/pages/auth/reg.css">
{%endblock%}
{%block content%}
<sec:authorize access="anonymous">
<div id="pg-reg">
  <div class="container_12">
    
    <div class="ui-tab ui-tab-transparent" id="reg-tab" style="margin-bottom:-31px; margin-top: 50px ">
      <ul class="fn-clear">
        <li class="ui-tab-item ui-tab-item-current" data-name="exist">
          <a class="ui-tab-item-link">没有多网账号</a>
        </li>
        <li class="ui-tab-item" data-name="without">
          <a class="ui-tab-item-link">已有多网账号</a>
        </li>
      </ul>
    </div>
    
    <div class="color-white-bg ui-box-white-bg regbox" id="reg-tab-content">
      
      <div class="top-border" style="display: none"></div>
      <div class="ui-tab-content ui-tab-content-current" data-name="exist">
        <div id="step1" class="step1">
          <p class="go-login">
          
          </p>
          <form data-name="register" data-showtip="true" class="ui-form left" method="post" action='/register' id="reg" onsubmit="return false;">
            <input id="inviteCode" type="hidden" name="inviteCode" value="" />
            <input id="utmSource" type="hidden" name="utmSource" value="" />
            <input id="inviteUser" type="hidden" name="inviteUser" value="" />
            <fieldset>
              <div class="ui-poptip custip" id="cusTip0">
                <div class="">
                  <div class="ui-poptip-container">
                    <div class="ui-poptip-arrow ui-poptip-arrow-7">
                      <em></em>
                      <span></span>
                    </div>
                    <div class="ui-poptip-content" data-role="content">
                      $!nickname 您好，请完善一下信息，以后你也可以用该手机号/密码登录多网啦！
                    </div>
                  </div>
                </div>
              </div>
              
              <div class="ui-form-item">
                <label class="ui-label"><span class="ui-form-required">*</span>昵称</label>
                <input class="ui-input input-icon input-bg-gray" type="text" name="nickname" data-is="isNickName isHasUnderlineFrontEnd isNickNameLength isHasYX">
                <span class="icon input-icon-head-gray"></span>
                <p class="placeholder">输入昵称</p>
              </div>
              <div class="ui-form-item">
                <label class="ui-label"><span class="ui-form-required">*</span>手机号码</label>
                <input class="ui-input input-icon input-bg-gray" type="text" name="userid" data-is="isMobile" id="phone" autocomplete="off">
                <span class="icon input-icon-phone-gray"></span>
                <p class="placeholder">输入手机号码</p>
              </div>
              <!--yanni4night@gmail.com BEGIN-->
              <div class="ui-form-item" style="height:55px;">
                <label class="ui-label"><span class="ui-form-required">*</span>验证码</label>
                <input class="ui-input code" type="text" name="mobileCode" id="mobileCode" data-is="mobileCode"/>
                <label id="code-label" for="mobileCode" class="error" style="display: none">验证码输入错误</label>
              </div>
              <div class="ui-form-item" style="height:40px;">
                <button class="ui-button-blue-new ui-button-blue-new-large" type="button" id="yn-getsms">获取验证码</button>
              </div>
              <!--yanni4night@gmail.com END-->
              <div class="ui-form-item">
                <label class="ui-label"><span class="ui-form-required">*</span>登录密码</label>
                <input id="password" class="ui-input input-icon input-bg-gray" type="password" name="password" data-is="isPassWord isPassNotAllNum isPassNotRepeat" autocomplete="off" onpaste="return false">
                <span class="icon input-icon-lock-gray"></span>
                <div class="psw-range"><div></div></div>
                <p class="placeholder">输入密码</p>
              </div>
              <div class="ui-form-item">
                <label class="ui-label"><span class="ui-form-required">*</span>重复密码</label>
                <input class="ui-input input-icon input-bg-gray" type="password" name="confirm_password" onpaste="return false">
                <span class="icon input-icon-lock-gray"></span>
                <p class="placeholder">再次输入密码</p>
              </div>
              <div class="ui-form-item">
                <label class="ui-label"><span class="ui-form-required">*</span>选择角色</label>
                <div class="fn-left">
                  <ul id="usertype" class="clearfix type">
                    <li class="mr20" id="J_test_wylc">我要理财<i></i></li>
                    <li id="J_test_wyjk">我要借款<i></i></li>
                  </ul>
                </div>
                <div class="typeinput fn-left pt10 pl5">
                  <input class="fn-hide" type="radio" name="usertype" value="0" id="c_lender">
                  <input class="fn-hide" type="radio" name="usertype" value="1" id="c_borrower">
                  <label for="usertype" class="error" style="display: none">请选择角色</label>
                </div>
              </div>
              <!--               <div class="ui-form-item code-item">
                <label class="ui-label"><span class="ui-form-required">*</span>验证码</label>
                <input class="ui-input input-icon code" type="text" name="randCode" id="randCode">
                <a href="javascript:void(0)" class="code-box"><img id="randImage" border="0" align="absmiddle" src="/captcha" name="randImage" alt="验证码" /></a>
                <a href="javascript:void(0)" class="refresh-box"><img id="refreshCode" border="0" align="absmiddle" src="/static/img/refresh.png" alt="刷新验证码" /></a>
                <label for="randCode" class="error fn-hide" id="code-error" style="display: none"></label>
                <i class="validCode fn-hide"></i>
                <p class="placeholder">验证码</p>
              </div> -->
              <div class="ui-form-item" style="height: 40px">
                <input id="agree" name="agree" checked="checked" type="checkbox"> 我已阅读并同意<a href="/agreement/rv_webservice.html" target="_blank">《多网网站服务协议》</a>
                <label id="label-agree" for="agree" class="error" style="display: none"></label>
              </div>
              <div class="ui-form-item">
                <div class="pl50">
                  <input type="submit" id="subbt" class="ui-button-dw-blue ui-button-dw-blue-large" value='立即注册'>
                </div>
              </div>
            </fieldset>
          </form>
        </div>
        <div id="step2" class="step2 fn-hide">
          <div class="dot"></div>
          <form data-name="mobileCodeForReg"  class="ui-form pt30 left" method="post" id="mobileCodeForRegForm" action='/oauth/autoRegister.action'>
            <div class="inputs">
              <div class="ui-poptip custip" id="cusTip1">
                <div class="">
                  <div class="ui-poptip-container">
                    <div class="ui-poptip-arrow ui-poptip-arrow-7">
                      <em></em>
                      <span></span>
                    </div>
                    <div class="ui-poptip-content" data-role="content">
                      短信已发送至您手机，请输入短信中的验证码，确保您的手机号真实有效。
                    </div>
                  </div>
                </div>
              </div>
              <div class="ui-form-item">
                <label class="ui-label"><span class="ui-form-required">*</span>手机号确认</label>
                <span id="userMobile" class="item-text dwcolor-red-text"></span>
              </div>
              <div class="ui-form-item" style="z-index:19;">
                <label class="ui-label"><span class="ui-form-required">*</span>验证码</label>
                <input class="ui-input code" type="text" name="mobileCode" id="mobileCode" />
                <label id="code-label" for="mobileCode" class="error" style="display: none">验证码输入错误</label>
              </div>
              <div id="hiddeninputs">
              </div>
              
              <input type="hidden" name="oAuthUserId" value="$oAuthUserId" />
              <input type="hidden" name="providerStr" value="$providerStr" />
              
              <div class="ui-form-item">
                <input id="J_test_yzsj" type="submit" class="ui-button-dw-blue ui-button-dw-blue-large" value="验 证">
              </div>
              <div class="ui-form-item voice">
                如果您在1分钟之内没有收到验证码，请 <a id="gostep1" href="">返回修改手机号</a> 或 <button class="getMobileCode no-style" id="getMobileCode">获取验证码</button>
              </div>
              <div class="ui-form-item">
                <button class="getVoiceCode ui-button-dw-blue ui-button-dw-blue-large" id="getVoiceCode">获取语音验证码</button> <span class="ml20">请注意接听 010-52429020 的来电。</span>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="ui-tab-content" data-name="without">
        
        
        <div class="go-login"></div>
        <form data-name="login" style="padding-top: 0" class="ui-form authform left" method="post" action='/oauth/loginAndBind.action' id="login">
          <fieldset>
            <div class="ui-poptip custip" id="cusTip2">
              <div class="">
                <div class="ui-poptip-container">
                  <div class="ui-poptip-arrow ui-poptip-arrow-7">
                    <em></em>
                    <span></span>
                  </div>
                  <div class="ui-poptip-content" data-role="content">
                    $!nickname 您好，请输入已在多网注册的账号及密码，与第三方账号关联！
                  </div>
                </div>
              </div>
            </div>
            
            <div class="ui-form-item" style="height:40px">
              <div class="top-msg">
                <label class="error" id="allError" style="background:none"></label>
              </div>
            </div>
            <div class="ui-form-item">
              <label class="ui-label">手机号/邮箱</label>
              <input class="ui-input input-icon input-bg-gray" type="text" name='userid' id="j_username" data-is="isMobileOrEmail" autocomplete="off">
              <span class="icon input-icon-head-gray"></span>
              <p class="placeholder">手机号/邮箱</p>
            </div>
            <div class="ui-form-item">
              <label class="ui-label">密码</label>
              <input class="ui-input input-icon input-bg-gray" type="password" name='password' data-is="isEmail" autocomplete="off">
              <span class="icon input-icon-lock-gray"></span>
              <p class="placeholder">输入密码</p>
            </div>
            
            <input type="hidden" name="oAuthUserId" value="$oAuthUserId" />
            <input type="hidden" name="providerStr" value="$providerStr" />
            
            <div class="ui-form-item">
              <p class="bottom-msg"><label></label></p>
              <div class="pl50">
                <input type="submit" class="ui-button-dw-blue ui-button-dw-blue-large" value='关联'>
              </div>
            </div>
          </fieldset>
        </form>
        <script id="email-suggest-template" type="text/x-handlebars-template">
        <ul>
          {{@if remove}}
          <li>{{inputs}}</li>
          {{/if}}
          {{@each lists}}
          <li>{{email}}</li>
          {{/each}}
        </ul>
        </script>
        <script>seajs.use('pages/auth/login.js')</script>
        
      </div>
    </div>
  </div>
</div>
<script>
seajs.use(['jquery'],function($){
$('.no-nav-text').html('合作账号登录').show();
$('.ui-nav').hide();
});
</script>
</sec:authorize>
{%endblock%}