
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html>
  <head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
    <link rel="stylesheet" href="/static/theme/default/pdfDownload/agreement.css" type="text/css" />
    <script type="text/javascript" src="/static/theme/default/js/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="/static/theme/default/pdfDownload/download.js"></script>
  </head>
  <body>
  <div class="xywarp">
    <div class="xyhead">
      <div class="banner">
        <img src="/static/theme/default/pdfDownload/jhxieyi.jpg" />
      </div>
    <div class="info clearfix">
      <div class="tit">尊敬的客户：</div>
        <p>多网商务顾问（北京）有限公司（以下称"多网"）"优选理财服务计划"（以下称"服务计划"）仅面向多网的新老注册用户。本次服务计划旨在为多网的新老注册用户提供效率更高、退出更加灵活的服务，以便更好地提高出借人的资金使用效率。
        <img style="margin-right:10px;margin-bottom:10px;cursor:pointer;" src="/static/theme/default/pdfDownload/xydownload.jpg" align="right" onclick="downloadPdf()"/>
        </p>
      </div>
    </div>
    <div class="xycon">
      <div style="padding: 5px 12px; font-size:12px" id="content">
        <br />
        <br />
                <p align="center"><strong>
          
            优选理财计划0063期协议书
          
          
        </strong></p>
        <p style="width=98%;text-align:right"> 协议编号：____________</p>
        
        <p>甲方：____________________________________</p>
        <p>身份证件号码：___________________________</p>
        <p>联系电话：________________________________</p>
        
        
        <br/>
        <div style="margin-bottom: 20px;" style="margin-left:0;">
          <p style="margin-left:0;margin-bottom: 10px;">乙方：多网商务顾问（北京）有限公司</p>
          <p style="margin-left:0;margin-bottom: 10px;">住所：北京市海淀区西直门内高粱桥斜街59号中坤大厦7层</p>
          <p style="margin-left:0;margin-bottom: 10px;">邮编：100044</p>
          <p style="margin-left:0;margin-bottom: 10px;">咨询电话：400-027-8080</p>
        </div>
        <p><strong>甲乙双方经友好协商，本着平等自愿、诚实信用的原则，达成如下协议：</strong></p>
        <br/>

        <div style="margin-bottom: 20px;">
          <p style="margin-left: 20px;margin-bottom: 6px;font-size: 14px;font-weight: bold;">1.  服务计划意向</p>
          <p style="margin-left: 30px;margin-bottom: 10px;">1.1  在P2P模式下，乙方推出"出借人优先自动投标及到开放期按相关规则退出"的服务计划（下称“优选理财计划”）。加入的出借人可以享受多网提供的更加贴切、便捷的服务。</p>
          <p style="margin-left: 30px;margin-bottom: 10px;">1.2  甲方同意加入本次服务计划，并自愿遵守多网网站（www.duonet.com）的相关协议及规则。</p>
        </div>

        <div style="margin-bottom: 20px;">
          <p style="margin-left: 20px;margin-bottom: 6px;font-size: 14px;font-weight: bold;">2.  服务计划金额</p>
          <p style="margin-left: 30px;margin-bottom: 10px;">2.1  甲方以下列自有合法资金加入本次服务计划：</p>
          <p style="margin-left: 30px;margin-bottom: 10px;">
            <table style="margin: 0px auto;border-collapse: collapse;border: 1px solid rgb(0, 0, 0);width: 60%;font-size: 12px;">
              <tr height="25px">
                <td style="padding: 4px 10px;border: 1px solid rgb(0, 0, 0);" width="50%">
                申请加入时间（年月日）
               </td>
               <td style="padding: 4px 10px;border: 1px solid rgb(0, 0, 0);">
                加入金额（单位:元）
                </td>
              </tr>
              
              <tr height="25px">
                <td style="padding: 4px 10px;border: 1px solid rgb(0, 0, 0);"></td>
                <td style="padding: 4px 10px;border: 1px solid rgb(0, 0, 0);"></td>
              </tr>
              <tr height="25px">
                <td style="padding: 4px 10px;border: 1px solid rgb(0, 0, 0);"></td>
                <td style="padding: 4px 10px;border: 1px solid rgb(0, 0, 0);"></td>
              </tr>
              
              
            </table>
          </p>
          <p style="margin-left: 30px;margin-bottom: 10px;">2.2  甲方加入本次服务计划后，乙方将对甲方加入的服务计划金额按首次加入计划的时间先后顺序，在多网网站平台安排根据本协议及多网网站相关协议、规则进行优先自动投标。</p>
        </div>

        <div style="margin-bottom: 20px;">
          <p style="margin-left: 20px;margin-bottom: 6px;font-size: 14px;font-weight: bold;">3.  服务计划具体内容和要求如下：</p>
          <p style="margin-left: 30px;margin-bottom: 10px;">3.1  名称：<u>优选理财计划0063期</u> （上下文均称"本次服务计划"）。</p>
          <p style="margin-left: 30px;margin-bottom: 10px;">3.2  描述：甲方可以通过在多网网站操作确认加入理财计划等方式签署本协议，同时在签署本协议时不可撤销地委托并授权乙方及多网网站代甲方根据网站有关规则并通过自动系统进行优先投标，根据多网网站的相关协议及规则以包括但不限于原始出借或受让债权等方式对加入本次服务计划的资金进行出借和理财；并且在此过程中不可撤销地委托并授权乙方及多网网站代甲方签署电子合同形式的相关协议并收付、划扣有关款项。甲方加入本次服务计划后，在锁定期内，加入服务计划的金额将被优先安排自动投标。锁定期结束，甲方可以自由选择继续参加或整体退出本次服务计划。</p>
          <p style="margin-left: 30px;margin-bottom: 10px;">3.3  加入金额要求：最低加入金额为人民币【10,000.00】元，并以人民币【10,000.00】元整数倍递增，最高不超过人民币【2,000,000.00】元。</p>
          <p style="margin-left: 30px;margin-bottom: 10px;">3.4  申请期：自【2014年06月16日 】至【
            2014年06月21日】。
          </p>
          <p style="margin-left: 30px;margin-bottom: 10px;">3.5  锁定期：自首次计划加入日期至【2015年06月21日】。锁定期内，甲方加入的服务计划金额不能转让或提现。</p>
          <p style="margin-left: 30px;margin-bottom: 10px;">3.6  开放期：自锁定期结束日中午12:00开始。</p>
          <p style="margin-left: 30px;margin-bottom: 10px;">3.7  退出情形：锁定期内甲方不可将本次服务计划金额提前退出。开放期内，甲方可以选择随时按相关规则将本次服务计划金额整体逐一退出；未选择退出的，可以继续加入服务计划。退出后，甲方的本次服务计划金额将不再被安排优先自动投标。</p>
          <p style="margin-left: 30px;margin-bottom: 10px;">3.8  退出方式：甲方选择退出本次服务计划的，如加入本次服务计划的相关金额尚处于出借状态未完全回款，则将以转让服务计划下相对应债权的方式实现，同时视为甲方委托并授权乙方及多网网站代甲方通过自动系统进行债权转让并签署有关协议和收付、划扣有关款项；如相关资金尚未出借或已根据相关协议收回本息，则根据甲方指示直接提取至甲方多网账户或其指定的银行账户；如相对应的债权处于逾期状态的，则暂不转让，需在相应债权清偿逾期欠款后转让或根据本金保障协议通过平台垫付后实现。</p>
          <p style="margin-left: 30px;margin-bottom: 10px;">3.9  债权转让的定价规则请具体参见多网网站债权转让有关页面的具体规定。</p>
          <p style="margin-left: 30px;margin-bottom: 10px;">3.10  甲方收益及支付：甲方的收益将按本次服务计划所投标的对应的《借款协议》分别确认。甲方的收益处理方式包括收益再投资、提取至甲方多网账户和提取至甲方指定的银行账户。若甲方选择收益处理方式为收益再投资或提取至甲方多网账户，则本次服务计划所投标的利息收入将按日进行结算并根据甲方选择进行收益再投资或提取至甲方的多网账户；若甲方选择收益处理方式为提取至指定的银行账户，则，本次服务计划所投标的利息收入将于每月【25】日自动提取至甲方指定的银行账户。选择退出计划后，转让本次计划项下所有债权后的收益，也将提取至相应指定账户。</p>
          <p style="margin-left: 30px;margin-bottom: 10px;">3.11  相应费用：甲方以服务计划金额的【0.0】%向乙方支付咨询费，乙方将另行收取，不在本次服务计划金额中扣除；甲方以本次计划所投标的利息收入的【0.0】%向乙方支付管理服务费，从甲方利息中扣除；甲方退出时，按退出服务计划金额【0.0】%向乙方支付退出费用。以上费用的收取和支付方式按多网网站有关规则执行。每月提取本次计划项下所投标的利息收入，如果选择提现方式至银行卡账户的，提现费用按照多网现有规则执行。</p>
        </div>

        <div style="margin-bottom: 20px;">
          <p style="margin-left: 20px;margin-bottom: 6px;font-size: 14px;font-weight: bold;">4.  服务计划保障</p>
          <p style="margin-left: 30px;margin-bottom: 10px;">4.1  为降低甲方因投资标的过于集中而所带来的信用违约风险，乙方将对甲方加入本次服务计划金额根据网站有关规则安排分散化的优先自动投标。</p>
          <p style="margin-left: 30px;margin-bottom: 10px;">4.2  为保证本次服务计划的及时性，在甲方加入本次服务计划时，即刻开始为甲方加入计划金额安排优先投标。</p>
          <p style="margin-left: 30px;margin-bottom: 10px;">4.3  为增加投标的优先性，乙方将为甲方加入的服务计划金额安排优先自动投标，保障甲方加入计划金额可以通过多网网站系统优先进行自动投标。</p>
        </div>

        <div style="margin-bottom: 20px;">
          <p style="margin-left: 20px;margin-bottom: 6px;font-size: 14px;font-weight: bold;">5.  意外事件</p>
          <p style="margin-left: 30px;margin-bottom: 10px;">5.1  如因司法机关或行政机关对甲方采取强制措施导致其本次服务计划金额对应的资金被全部或部分扣划，视为甲方提前退出本次服务计划并就全部本息进行了提前支取，本协议自动终止。本协议因此而自动终止的，甲方将不再享有相应收益。</p>
        </div>

        <div style="margin-bottom: 20px;">
          <p style="margin-left: 20px;margin-bottom: 6px;font-size: 14px;font-weight: bold;">6.  税费</p>
          <p style="margin-left: 30px;margin-bottom: 10px;">6.1  甲方承担本服务计划所获收益的应纳税额。</p>
        </div>

        <div style="margin-bottom: 20px;">
          <p style="margin-left: 20px;margin-bottom: 6px;font-size: 14px;font-weight: bold;">7.  甲方声明和保证</p>
          <p style="margin-left: 30px;margin-bottom: 10px;">7.1  在签署本协议书以前，乙方已就本协议书及有关交易文件的全部条款和内容向甲方进行了详细的说明和解释，甲方已认真阅读本协议有关条款，对有关条款不存在任何疑问或异议，并对协议双方的权利、义务、责任与风险有清楚和准确的理解。</p>
          <p style="margin-left: 30px;margin-bottom: 10px;">7.2  甲方保证所使用的资金为合法取得，且具有排他性的支配权。</p>
          <p style="margin-left: 30px;margin-bottom: 10px;">7.3  甲方保证为履行本协议而向乙方提供的全部资料均真实、有效。</p>
        </div>

        <div style="margin-bottom: 20px;">
          <p style="margin-left: 20px;margin-bottom: 6px;font-size: 14px;font-weight: bold;">8. 其他</p>
          <p style="margin-left: 30px;margin-bottom: 10px;">8.1  本次服务计划不提供纸质账单。甲方需要通过多网网站或客服人员、网站平台查询等方式了解相关信息。如未及时查询，或由于通讯故障、系统故障以及其他不可抗力等因素影响使甲方无法及时了解相关信息，由此产生的责任和风险由甲方自行承担。</p>
          <p style="margin-left: 30px;margin-bottom: 10px;">8.2  本次服务计划并非独立于甲方在注册、使用多网网站时需要遵守的相应规则和订立的相关协议。甲方必须遵守多网的相关规则和签署的相关协议，如违背的，将自行承担相应后果。</p>
          <p style="margin-left: 30px;margin-bottom: 10px;">8.3  由于地震、火灾、战争、电力中断、黑客攻击、计算机病毒、系统或网络故障等不可抗力导致的交易中断、延误的，甲乙双方互不追究责任。但应在条件允许的情况下，应采取一切必要的补救措施以减小不可抗力造成的损失。</p>
          <p style="margin-left: 30px;margin-bottom: 10px;">8.4  本次服务计划内，如甲方追加服务计划金额，则甲方与乙方之间的权利义务约定及甲方加入本次服务计划的总金额应以最后生成的协议书所约定的内容为准。</p>
          <p style="margin-left: 30px;margin-bottom: 10px;">8.5  本协议项下产生的纠纷，双方先行协商解决，协商不成的，任何一方可向乙方所在地法院提起诉讼。</p>
          <p style="margin-left: 30px;margin-bottom: 10px;">8.6  本协议自甲方在多网网站操作确认并成功加入本次服务计划时生效。本协议采用电子文本形式制成，可以有一份或者多份并且每一份具有同等法律效力，并永久保存在乙方为此设立的专用服务器上备查，对各方均具有法律约束力。</p>
        </div>

        <div style="width=98%;text-align:right">
          <p></p>
        </div>
      </div>
      <div class="clearfix" style="text-align:center;">
        <button onclick="window.close()">关闭</button>
        <form action="/account/downloadContract.action" method="POST" id="downloadForm">
          <input type="hidden" value="0063" name="loanId">
          <input type="hidden" value="" name="content" id="htmlContent"> 
        </form>
        <img style="margin-right:10px;margin-bottom:10px;cursor:pointer;" src="/static/theme/default/pdfDownload/xydownload.jpg" align="right" onclick="downloadPdf()"/>
      </div>
    </div>
    <div class="xyfooter"></div>
  </div>
</body>
</html>