
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html>
<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
    <style type="text/css">body {
        font-family: SimSun;
        font-size: 12px;
    }</style>
    <script type="text/javascript" src="/static/theme/default/js/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="/static/theme/default/pdfDownload/download.js"></script>
</head>
<body>
<div style="font-size:12px" >
    <img style="margin-right:10px;margin-bottom:10px;cursor:pointer;" src="/static/theme/default/pdfDownload/xydownload.jpg"
         align="right" onclick="downloadPdf()"/>
    <br/><br/><br/><br/>

    <div style="background-color: #FFFFFF; border-color: #dfe6ea; border-style: solid; border-width: 0 1px; padding: 5px 12px;"
         id="content">
        <h2 align="center">预定协议书</h2>

        <div style="width: 98%;text-align: right;">
            协议编号：<span></span>
        </div>

        <div>
            
                 <p style="text-align: left;font-weight: 600;">甲方：____________________________________</p>
                 <p>身份证件号码：___________________________</p>
                 <p>联系电话：________________________________</p>
            
            
         
        </div>
        <br/>
        <div>
            <p style="text-align: left;font-weight: 600;">乙方：多网商务顾问（北京）有限公司</p>

            <p>住所：北京市海淀区西直门内高粱桥斜街59号中坤大厦7层</p>

            <p>邮编：100044</p>

            <p>咨询电话：400-027-8080</p>
        </div>


        <br/>

        <p><strong>甲乙双方经友好协商，本着平等自愿、诚实信用的原则，达成如下协议：</strong></p>

        <p style="text-align: left;font-weight: 600;">1. 预定加入服务计划意向</p>

        <p>1.1 在P2P模式下，乙方推出"出借人优先自动投标及到开放期按相关规则退出"的服务计划（下称“优选理财计划”）。加入优选理财计划的出借人可以享受多网提供的更加贴切、便捷的服务。</p>

        <p>1.2 甲方同意以支付定金的形式预定加入本次服务计划，并自愿遵守多网网站（www.duonet.cn）的相关协议及规则。</p><br/>

        <p style="text-align: left;font-weight: 600;">2. 预定加入服务计划金额</p>

        <p>2.1 甲方预定以下列自有合法资金加入本次服务计划：</p>

        <table border="1" style="margin: 0px auto; border-collapse: collapse; border: 1px solid rgb(0, 0, 0); width: 100%; font-size: 12px ">
            <tr>
                <td width="20%" style="padding:10px">申请预定加入时间</td>
                <td width="20%" style="padding:10px">预定加入金额（单位:元）</td>
		<td width="20%" style="padding:10px">加入费用（单位：元）</td>
                <td width="20%" style="padding:10px">应支付定金金额（单位：元）</td>
                <td width="20%" style="padding:10px">剩余金额（单位：元）</td>
            </tr>
      	
      	
				
        
       

            <tr>
                <td style="padding:10px">合计</td>
                <td style="padding:10px">￥0.00</td>
                <td style="padding:10px">￥0.00</td>
                <td style="padding:10px">￥0.00</td>
                <td style="padding:10px">￥0.00</td>

            </tr>


        </table>

        <p>2.2 甲方支付定金后即成功预定加入本次服务计划。甲方支付剩余金额后即以预定加入金额成功加入本次服务计划。</p><br/>

        <p style="text-align: left;font-weight: 600;">3. 预定加入本次服务计划具体内容和要求如下：</p>

        <p>3.1 名称：（上下文均称"本次服务计划"）。</p>

        <p>3.2 描述：甲方通过在多网网站操作确认预定加入本次服务计划的方式签署本协议，同时委托并授权乙方及多网网站代甲方收付有关款项。</p>

        <p>3.3 预定加入金额要求：最低预定加入金额为人民币【￥】元，并以人民币【￥】元整数倍递增，最高不超过人民币【￥】元。</p>

       <p>3.4 加入费用：甲方以预定加入本次服务计划金额的【】%向乙方支付咨询费，乙方将另行收取，不在本次服务计划金额中扣除；</p>

       <p>3.5 应支付定金金额：预定加入金额╳【】%。</p>

        <p>3.6 剩余金额：剩余金额是指甲方成功预定加入本次服务计划时，预定加入金额与加入费用之和中刨除应支付定金金额后应支付的金额，剩余金额=预定加入金额+加入费用-应支付定金金额。</p>

        <p>3.7 预定加入申请期：自【】至【】。该阶段内甲方可预定加入本次服务计划的金额，并支付对应定金，同时多网网站会在甲方多网账户内冻结前述定金，不可转让或提现。</p>

        <p>3.8
            支付截止时间：甲方成功预定加入本次服务计划后，应在【】前完成剩余金额的支付。除本协议另有约定外，若甲方未能在支付截止时间前完成对剩余金额的支付，则视为甲方主动放弃加入本次服务计划，已支付定金将不予返还，归为乙方收入。若甲方在支付截止时间前完成对剩余金额的支付，则已支付定金将解除冻结并加入本次服务计划。</p>

        <p>3.9
            系统自动支付：为保障甲方权益，避免甲方因遗忘等原因未能在支付截止时间前完成对剩余金额的支付，从而造成定金不予返还，甲方在此不可撤销的同意并授权乙方在支付截止时间后至【】前对甲方的多网账户进行一次自动扫描，在账户余额足以支付剩余金额的情况下，乙方有权代甲方自动完成支付。此时视为甲方成功支付剩余金额。甲方通过系统自动支付加入本次服务计划时，收益处理方式初始默认选择为收益再投资。</p>

        <p>3.10 足额支付规则：甲方预定加入该计划成功后，剩余金额的支付须一次性足额完成。若甲方在预定加入申请期内追加预定加入金额，则若干次预定时产生的未支付剩余金额将合并为一笔，支付时须一次性足额完成。</p>

        <p>3.11 双倍返还定金：若甲方已成功支付定金以及剩余金额，因乙方原因造成甲方无法按照预定加入金额加入本次服务计划的，则乙方应双倍返还定金于甲方。</p><br/>

        <p style="text-align: left;font-weight: 600;">4. 甲方声明和保证</p>

        <p>4.1
            在签署本协议以前，乙方已就本协议及有关交易文件的全部条款和内容向甲方进行了详细的说明和解释，甲方已认真阅读本协议有关条款，对有关条款不存在任何疑问或异议，并对协议双方的权利、义务、责任与风险有清楚和准确的理解。</p>

        <p>4.2 甲方保证所使用的资金为合法取得，且具有排他性的支配权。</p>

        <p>4.3 甲方保证为履行本协议而向乙方提供的全部资料均真实、有效。</p><br/>


        <p style="text-align: left;font-weight: 600;">5. 其他</p>

        <p>5.1 本协议并非独立于甲方在注册、使用多网网站时需要遵守的相应规则和订立的相关协议。甲方必须遵守多网的相关规则和签署的相关协议，如违背的，将自行承担相应后果。</p>

        <p>5.2 由于地震、火灾、战争、电力中断、黑客攻击、计算机病毒或网络故障等不可抗力导致的交易中断、延误、失败的，甲乙双方互不追究责任。但应在条件允许的情况下，应采取一切必要的补救措施以减小不可抗力造成的损失。</p>

        <p>5.3 预定加入申请期内，如甲方追加预定加入金额:</p>

        <p>5.3.1 追加前未支付的剩余金额为零，会另行生成一份《预定协议书》，本协议继续有效；</p>

        <p>5.3.2 追加前未支付的剩余金额不为零，甲方与乙方之间的权利义务约定及甲方预定加入本次服务计划的总金额等应以最后生成的《期预定协议书》所约定的内容为准，本协议自动失效。</p>

        <p>5.4 本协议项下产生的纠纷，双方先行协商解决，协商不成的，任何一方可向乙方所在地法院提起诉讼。</p>

        <p>5.5 本协议自甲方在多网网站操作确认并成功支付定金时生效。本协议采用电子文本形式制成，可以有一份或者多份并且每一份具有同等法律效力，并永久保存在乙方为此设立的专用服务器上备查，对各方均具有法律约束力。</p>

        （以下无正文）
    </div>

</div>

    <div style="wdith:100%;margin-bottom: 2px ;border-bottom:1px solid black;"></div>


    <div style="text-align: center">
        <form action="/account/downloadContract.action" method="POST" id="downloadForm">
          <input type="hidden" value="" name="loanId">
            <input type="hidden" value="" name="content" id="htmlContent">
            <img style="margin-right:10px;margin-bottom:10px;cursor:pointer;"
                 src="/static/theme/default/pdfDownload/xydownload.jpg" align="right" onclick="downloadPdf()"/>
        </form>
        <input type="button" value="关 闭" align="center" onclick="javascript:window.close()">
    </div>

</body>
</html>