.pg-invest-list .shortcut {
line-height:24px
}

.pg-invest-list .ui-filter {
float:left;
height:130px;
width:600px;
padding-right:19px;
border-right:1px solid #f2f2f2
}

.pg-invest-list .guide-box {
padding-left:20px
}

.pg-invest-list .guide-question {
height:22px;
line-height:22px
}

.pg-invest-list .pagination-box {
float:right
}

.pg-invest-list .plan-performace {
padding:0 20px
}

.pg-invest-list .plan-performace li {
width:176px;
text-align:center
}
