






    <div id="system_info_type_content">
       
        <div id="notif">
            <ul>
                
                  <li id="6293648" >
                    <div class="clearfix">
                         <div class="photo"><img src="http://www.renrendai.com/static/img/notifi/MATERIAL_SUC.png" /></div>
                         <div class="title"><h3>材料通过</h3><p>2014-07-28 09:50:43</p></div>
                         <div class="detail"><p>
    &nbsp;</p>
<div>
    <p>
        尊敬的用户yanni4night：</p>
    <p>
        您好，您于2014年07月28日在人人贷提交的身份证绑定信息已经成功通过审核。</p>
    <p>
        您可以通过&ldquo;账户管理&rdquo;&mdash;&ldquo;认证信息&rdquo;查看相关信息。</p>
    <p>
        点击 <a href="/account/info!verification.action">这里</a> 查看您的信用状况。</p>
    <p>
        感谢您对我们的关注和支持！</p>
    <p>
        人人贷</p>
</div>
<p>
    &nbsp;</p>
</div>
                    </div>
                  </li>  
                
                  <li id="6293633" >
                    <div class="clearfix">
                         <div class="photo"><img src="/static/img/notifi/MATERIAL_SUC.png" /></div>
                         <div class="title"><h3>材料通过</h3><p>2014-07-28 09:50:26</p></div>
                         <div class="detail"><p>
    &nbsp;</p>
<div>
    <p>
        尊敬的用户yanni4night：</p>
    <p>
        您好，您于2014年07月28日在人人贷提交的手机绑定信息已经成功通过审核。</p>
    <p>
        您可以通过&ldquo;账户管理&rdquo;&mdash;&ldquo;认证信息&rdquo;查看相关信息。</p>
    <p>
        点击 <a href="/account/info!verification.action">这里</a> 查看您的信用状况。</p>
    <p>
        感谢您对我们的关注和支持！</p>
    <p>
        人人贷</p>
</div>
<p>
    &nbsp;</p>
</div>
                    </div>
                  </li>  
                
            </ul>
        </div>
        <div id="notifDetail-pagination" class="mt10 mb10 pagination-box ui-pagination simple-pagination fn-right"></div>
        
        
    </div>
    <script>
    $(function(){
        /* $.fn.jpagebar({ //content holder(Object || css Selector)
            renderTo: $("#systemTypePageList"),
            //总数
            totalNum: 2,
            //总页码
            totalpage: 1,
            //当前页码
            currentPage: 1,
            //分页条样式
            pagebarCssName: 'pagelist',
            //首页、上一页、下一页、尾页样式
            pageNameCssName: 'disabled',
            //当前选中页码样式
            currentPageNumberCssName: 'current',
            //点击页码action
            onClickPage: function(systemTypePageIndex){
                $.fn.setCurrentPage(this, systemTypePageIndex);
                showInnerMailsByType('MATERIAL_SUC',systemTypePageIndex);
            }
        }); */
        $('#notifDetail-pagination').pagination({
            pages: 1,
            currentPage:1,
            onPageClick: function(systemTypePageIndex){
                document.body.scrollTop = 0;
                showInnerMailsByType('MATERIAL_SUC',systemTypePageIndex);
            }
        });
    });
    </script>




                
<script type="text/javascript">
    function getSystemMailByType(innerMailType,p){
         $("#user_inbox_info").after("<li id='user_inbox_type_info'  class='ui-tab-item'><a class='ui-tab-item-link'>详细</a></li>");
         clearTab('user_inbox_type_info');
         $("#user_inbox_type_info").removeClass();
         $("#user_inbox_type_info").addClass("ui-tab-item ui-tab-item-current");
         showInnerMailsByType(innerMailType,p);
    }
    function showInnerMailsByType(innerMailType,p){
        $.ajax({
            url: "/account/comm.action?type=user_detail_system_mail_bytype&systemTypePageIndex="+p+"&innerMailType="+innerMailType,
            type: "POST",
            dataType: 'html',
            timeout: 100000,
            success: function(response){
                $("#loading").hide();
                $("#inbox_content").html(response);
            },
            beforeSend: function(){
                $("#loading").show();
            }
        });
    }

    function getInboxInnerMails(p){
        var queryContent = $('#searchDetailContent').val();
        $.ajax({
            url:"/account/comm.action?",
            type:"POST",
            data:"type=user_inbox_info&queryContent="+queryContent+"&inboxPageIndex="+p,
            timeout: 100000,
            success: function(data){
                $("#loading").hide();
                $("#inbox_content").html(data);
            },
            beforeSend: function(){
                $("#loading").show();
            }
        });
    }


    function getSenderMail(senderId,p,obj){
        
        $.ajax({
            url: "/account/comm.action?privateSender.userId="+senderId+"&type=user_detail_private_mail&userDetailMessagePageIndex="+p,
            type: "POST",
            dataType: 'html',
            timeout: 100000,
            success: function(response){
               // $("#sxconDetail").html(response).show();
               // $("#inbox_content").html(response);
               if(obj!=undefined&&obj!=null){
                   obj.innerHTML="未读0条";
               }
               $("#user_inbox_info_content").hide();
               $("#loadDataSXconDetail").html(response);
            },
            beforeSend: function(){
               // $("#inbox_content").html($("#loading").html());
            }
        });
    }

    function delPrivateMailBySender(obj,senderId,type){
        var self=$(obj);
        var r = window.confirm("此操作将删除本次对话，确认要提交吗?");
        if(r){
             $.ajax({
                 url:"/account/comm!delInnerMailForUser.action?senderId="+senderId+"&type="+type,
                 timeout: 100000,
                 error: function(){
                     alert('删除失败，请重试');
                 },
                 success: function(data){
                     if(data.result=="success"){
                         self.parent("li").remove();
                     }else{
                         alert("删除失败！");
                     }
                     //getInboxInnerMails(1);//不用再去服务器取数据
                    
                 }
             });
        }
    }

</script>