{%extends "parent.tpl"%}

{%block title%}
我的借款 - 借款管理 - 我的人人贷帐户中心 -
{%endblock%}

{%block script%}{%endblock%}

{%block link%}
 <link rel="stylesheet" href="/static/css/pages/account/account.css">
{%endblock%}

{%block content%}
  <div id="pg-account-repayments" class="pg-account">
    <div class="container_12 mt10">
      <ul class="ui-breadcrumb grid_12 fn-clear">
        <li class="fn-left ui-breadcrumb-item ui-breadcrumb-text ui-breadcrumb-text-first">
          <a href="/account/index.action">我的人人贷</a>
        </li>
        <li class="fn-left ui-breadcrumb-item ui-breadcrumb-separator"></li>
        <li class="fn-left ui-breadcrumb-item ui-breadcrumb-text">
          <a href="/account/borrow!toMyLoans.action">借款管理</a>
        </li>
        <li class="fn-left ui-breadcrumb-item ui-breadcrumb-separator"></li>
        <li class="fn-left ui-breadcrumb-item ui-breadcrumb-text ui-breadcrumb-text-current">
          <a>我的借款</a>
        </li>
      </ul>
    </div>
    <div class="container_12 mt10">
      <div class="grid_2">
        

<div class="ui-side ui-side-withicon" id="sidebar">
  <ul class="ui-side-list nav nav-list bs-docs-sidenav affix">
    <li class="ui-side-item ">
      <a class="ui-side-item-link" href="/account/index.action"><i class="fn-left ui-icon-mid index"></i>我的人人贷</a>
    </li>
    <li class="ui-side-item ">
      <a class="ui-side-item-link"><i class="fn-left ui-icon-mid capital"></i>资金管理</a>
      <ul class="ui-side-sub-list">
        <li class="ui-side-sub-item ">
          <a class="ui-side-sub-item-link" href="/account/capital.action">交易记录</a>
        </li>
        <li class="ui-side-sub-item ">
          <a class="ui-side-sub-item-link" href="/account/capital!recharge.action">充值</a>
        </li>
        <li class="ui-side-sub-item ">
          <a class="ui-side-sub-item-link last" href="/account/capital!withdraw.action">提现</a>
        </li>
      </ul>
    </li>
    <li class="ui-side-item ">
      <a class="ui-side-item-link"><i class="fn-left ui-icon-mid invest"></i>理财管理</a>
      <ul class="ui-side-sub-list">
        <li class="ui-side-sub-item ">
          <a class="ui-side-sub-item-link" href="/account/invest!loan.action">我的债权</a>
        </li>
        <li class="ui-side-sub-item ">
          <a class="ui-side-sub-item-link" href="/account/invest!plan.action">优选理财计划</a>
        </li>
        <li class="ui-side-sub-item ">
          <a class="ui-side-sub-item-link" href="/account/invest!transfer.action">债权转让</a>
        </li>
        <li class="ui-side-sub-item ">
          <a class="ui-side-sub-item-link" href="/account/invest!statistics.action">理财统计</a>
        </li>
        <li class="ui-side-sub-item ">
          <a class="ui-side-sub-item-link last" href="/account/invest!tool.action">自动投标工具</a>
        </li>
      </ul>
    </li>
    <li class="ui-side-item active">
      <a class="ui-side-item-link"><i class="fn-left ui-icon-mid borrow"></i>借款管理</a>
      <ul class="ui-side-sub-list">
        <li class="ui-side-sub-item active">
          <a class="ui-side-sub-item-link" href="/account/borrow!toMyLoans.action">我的借款</a>
        </li>
        <li class="ui-side-sub-item ">
          <a class="ui-side-sub-item-link" href="/account/borrow!applications.action">借款申请查询</a>
        </li>
        <li class="ui-side-sub-item ">
          <a class="ui-side-sub-item-link last" href="/account/borrow!statistics.action">借款统计</a>
        </li>
      </ul>
    </li>
    <li class="ui-side-item ">
      <a class="ui-side-item-link"><i class="fn-left ui-icon-mid account"></i>账户管理</a>
      <ul class="ui-side-sub-list">
        <li class="ui-side-sub-item ">
          <a class="ui-side-sub-item-link" href="/account/info!basicInfo.action">个人基础信息</a>
        </li>
        <li class="ui-side-sub-item ">
          <a class="ui-side-sub-item-link" href="/account/info!verification.action">认证信息</a>
        </li>
        <li class="ui-side-sub-item ">
          <a class="ui-side-sub-item-link" href="/account/info!security.action">安全信息</a>
        </li>
        <li class="ui-side-sub-item ">
          <a class="ui-side-sub-item-link last" href="/account/info!bank.action">银行卡信息</a>
        </li>
      </ul>
    </li>
    <li class="ui-side-item ">
      <a class="ui-side-item-link"><i class="fn-left ui-icon-mid comm"></i>互动管理</a>
      <ul class="ui-side-sub-list">
        <li class="ui-side-sub-item ">
          <a  class="ui-side-sub-item-link" href="/account/comm!mail.action">站内消息</a>
        </li>
        <li class="ui-side-sub-item ">
          <a  class="ui-side-sub-item-link last" href="/account/comm!settings.action">通知设置</a>
        </li>
      </ul>
    </li>
    <li class="ui-side-item last ">
          <a class="ui-side-item-link"><i class="fn-left ui-icon-mid coupons"></i>优惠券管理</a>
          <ul class="ui-side-sub-list">
              <li class="ui-side-sub-item ">
                  <a  class="ui-side-sub-item-link" href="/account/ucode.action">U-code兑换</a>
              </li>
          </ul>
     </li>
  </ul>
  <div class="ui-side-ad mt20">
        <a  style="display: block; width:140px;overflow:hidden;"><img style="width:140px;" src="http://www.renrendai.com/upload/cms/advertising/accountIndexRight/2960ccda-628c-42b4-addc-c4a391ba847d.jpg?20140401a" alt="微信扫描"></a>
</div>
</div>
<script>
seajs.use(['components/components'], function(Components) {
  new Components.Sidebar({
    name: 'account-sidebar'
  }).init();
});
</script>
      </div>
      <div class="grid_10">
        <div class="fn-clear p20bs color-orange-bg">
          <div class="fn-left box-summary-left">
            <h3 class="text-xl">借款总金额</h3>
            <p class="num color-orange-text"><em>0.00</em>元</p>
          </div>
          <div class="fn-left box-summary-right last">
            <div class="fn-clear color-dimgray-text">
              <div class="grid_2 alpha">
                <h5 class="text-big">逾期金额</h5>
                <p class="num-s"><em>0.00</em>元</p>
              </div>
              <div class="grid_2">
                <h5 class="text-big">待还金额</h5>
                <p class="num-s"><em>0.00</em>元</p>
              </div>
              <div class="grid_2 omega">
                <h5 class="text-big">近30天应还金额</h5>
                <p class="num-s"><em>0.00</em>元</p>
              </div>
            </div>
            <div class="mt10 fn-clear color-dimgray-text">
              <p class="em-box">您最近10天内有 <em>0</em>笔 借款须归还，总额 <em>0.00</em>元</p>
            </div>
          </div>
        </div>
        <div class="mt20">
          <div class="ui-tab ui-tab-transparent" id="repayments-tab">
            <ul class="ui-tab-items">
              <li class="ui-tab-item ui-tab-item-current" data-name="repaying">
                <a class="ui-tab-item-link">还款中借款</a>
              </li>
              <li class="ui-tab-item" data-name="repaid">
                <a class="ui-tab-item-link">已还清借款</a>
              </li>
            </ul>
          </div>
          <div class="p20bs color-white-bg">
            <div id="repayments-tab-content">
              <div class="ui-tab-content ui-tab-content-current fn-clear" data-name="repaying">
                <ul class="ui-list ui-list-s repaying" id="repaying-list"></ul>
                <div class="fn-right mt10" id="repaying-list-pagination"></div>
              </div>
              <div class="ui-tab-content fn-clear" data-name="repaid">
                <ul class="ui-list ui-list-s repaid" id="repaid-list"></ul>
                <div class="fn-right mt10" id="repaid-list-pagination"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{%endblock%}

{%block after%}
  <script id="repaying-list-template" type="text/x-handlebars-template">
  {{# each data }}
  <li class="ui-list-item {{ itemLast }}" data-name="repaying-item" data-loan-id="{{ loanId }}">
    <div class="p10">
      <div class="fn-clear">
        <h4 class="fn-left text-big">
          <a class="fn-left mr20" href="{{ loanLink }}" target="_blank">{{ title }}</a>
          <a class="text-small" href="javascript:void(0)" onclick="window.showModalDialog('/account/borrowContract.action?loanId={{ loanId }}','','dialogWidth=1024px;dialogHeight=768px,status=0,toolbar=no,menubar=no,location=no,scrollbars=yes,top=20,left=20,resizable=no')">查看合同</a>
        </h4>
        <a class="fn-right ui-button ui-button-small ui-button-green switch {{ repayAllDisabled }}" data-name="repay-all-switch" data-text="提前还清">提前还清</a>
        <a class="fn-right ui-button ui-button-small ui-button-blue mr10 switch" data-name="repay-switch" data-text="还款">还款</a></span>
      </div>
      <hr class="mt10">
      <div class="mt10 color-gray-text fn-clear">
        <span class="fn-left w100">借款金额</span>
        <span class="fn-left w120 num-s"><em>{{ amount }}</em>元</span>
        <span class="fn-left w100">年利率</span>
        <span class="fn-left w120 num-s"><em>{{ interest }}</em>%</span>
        <span class="fn-left w100">剩余期数</span>
        <span class="fn-left w120 num-s last"><em>{{ termsLeft }}/</em>{{ termsInTotal }}个月</span>
      </div>
      <div class="mt10 color-gray-text fn-clear">
        <span class="fn-left w100">下个还款日</span>
        <span class="fn-left w120">{{ nextDueDate }}</span>
        <span class="fn-left w100">还款金额</span>
        <span class="fn-left w120 num-s"><em>{{ toRepayAmount }}</em>元</span>
        <span class="fn-left w100">状态</span>
        <span class="fn-left w120 last">{{ status }}</span>
      </div>
    </div>
    <div class="ui-list-item-box fn-clear" data-name="repay-box" data-status="" style="display: none;">
      <div class="p10 fn-clear">
        <hr>
        <h5 class="text-big mt10 ph10">还款记录</h5>
        <ul class="ui-list ui-list-s repayment-records" data-name="repayment-records" id="repayment-records-{{ loanId }}"></ul>
        <ul class="ph10">
          <li class="fn-clear mt20">
            <span class="fn-left w100">已还总额</span>
            <span class="fn-left w120" data-name="repaid-summary"><em>-</em>元</span>
          </li>
          <li class="fn-clear">
            <span class="fn-left w100">待还总额</span>
            <span class="fn-left w120" data-name="to-repay-summary"><em>-</em>元</span>
          </li>
          <li class="fn-clear mt10">
            <span class="fn-left w100">本次还款金额</span>
            <span class="fn-left w120 num" data-name="repay-amount"><em>0.00</em>元</span>
          </li>
          <li class="fn-clear mt10">
            <span class="fn-left w100">我的可用余额</span>
            <span class="fn-left w120" data-name="repay-available-amount" data-amount="0.0"><em>0.00</em>元</span>
            <span class="fn-left"><a href="/account/capital!recharge.action">充值</a></span>
          </li>
          <li class="rrdcolor-red-text" data-name="repay-hint"></li>
        </ul>
        <form class="ph10 mt10" action="/my/refundAction.action" method="post" data-name="repay-form">
          <input type="hidden" data-name="repay-input-loan-id" name="loanId" value="{{ loanId }}" />
          <input type="hidden" data-name="repay-input-start" name="startNumber" value="" />
          <input type="hidden" data-name="repay-input-end" name="endNumber" value="" />
          <input type="hidden" data-name="repay-input-count" name="payNumberCount" value="" />
          <input type="hidden" data-name="repay-input-type" name="refundType" value="current" />
          <button class="ui-button ui-button-mid ui-button-blue disabled" data-name="repay-submit" type="submit">确认还款</button>
        </form>
        <div class="mt10"></div>
      </div>
    </div>
    <div class="ui-list-item-box fn-clear" data-name="repay-all-box" data-status="" style="display: none;">
      <div class="p10 fn-clear">
        <hr>
        <div class="ph10 mt10">
          <h4 class="text-big">提前还清借款</h4>
          <ul>
            <li class="fn-clear">
              <span class="fn-left w100">待还本金</span>
              <span class="fn-left w120"><em>{{ toRepayPrincipal }}</em>元</span>
            </li>
            <li class="fn-clear">
              <span class="fn-left w100">当期利息</span>
              <span class="fn-left w120"><em>{{ interestForTerm }}</em>元</span>
            </li>
            <li class="fn-clear">
              <span class="fn-left w100">当期借款管理费</span>
              <span class="fn-left w120"><em>{{ mgmtFee }}</em>元</span>
            </li>
            <li class="fn-clear">
              <span class="fn-left w100">违约金</span>
              <span class="fn-left w120"><em>{{ overdueFee }}</em>元</span>
            </li>
            <li><span class="text-small color-gray-text">违约金 = （总待还本金 - 当期待还本金） * {{ ratio }}%</span></li>
            <li class="fn-clear mt10">
              <span class="fn-left w100">总计还款金额</span>
              <span class="fn-left w120 num" data-name="repay-all-amount" data-amount="{{ toRepayInTotal }}"><em>{{ toRepayInTotal }}</em>元</span>
            </li>
            <li class="fn-clear mt10">
              <span class="fn-left w100">我的可用余额</span>
              <span class="fn-left w120" data-name="repay-all-available-amount" data-amount="0.0"><em>0.00</em>元</span>
              <span class="fn-left"><a href="/account/capital!recharge.action">充值</a></span>
            </li>
            <li class="rrdcolor-red-text" data-name="repay-all-hint"></li>
          </ul>
          <form class="mt10" action="/my/inrepayAction.action" method="post" data-name="repay-all-form">
            <input type="hidden" data-name="repay-input-loan-id" name="loanId" value="{{ loanId }}" />
            <button class="ui-button ui-button-mid ui-button-blue" data-name="repay-all-submit" type="submit">确认还款</button>
          </form>
          <div class="mt10"></div>
        </div>
      </div>
    </div>
  </li>
  {{ else }}
  <li class="ui-list-status">
    <p class="color-gray-text">{{# if _message }}{{ _message }}{{ else }}没有记录{{/ if }}</p>
  </li>
  {{/ each }}
  </script>
  <script id="repaid-list-template" type="text/x-handlebars-template">
  <li class="ui-list-header color-gray-text fn-clear">
    <span class="ui-list-title w160 ph10 fn-left title">借款标题</span>
    <span class="ui-list-title w110 fn-left amount">金额</span>
    <span class="ui-list-title w70 fn-left interest">年利率</span>
    <span class="ui-list-title w70 fn-left terms">期限</span>
    <span class="ui-list-title w110 fn-left repaid-amount">还款总额</span>
    <span class="ui-list-title w120 fn-left date">还清日期</span>
    <span class="ui-list-title w40 fn-left contract">合同</span>
  </li>
  {{# each data }}
  <li class="ui-list-item fn-clear {{ itemStyle }}">
    <span class="ui-list-field w160 ph10 fn-left fn-text-overflow"><a href="{{ loanLink }}" target="_blank">{{ title }}</a></span>
    <span class="ui-list-field num-s text-right w100 pr10 fn-left"><em>{{ amount }}</em></span>
    <span class="ui-list-field num-s text-right w60 pr10 fn-left"><em>{{ interest }}</em>%</span>
    <span class="ui-list-field num-s text-right w60 pr10 fn-left"><em>{{ termsInTotal }}</em>个月</span>
    <span class="ui-list-field num-s text-right w100 pr10 fn-left"><em>{{ repaidInTotal }}</em></span>
    <span class="ui-list-field text-center w120 fn-left">{{ endDate }}</span>
    <span class="ui-list-field text-center w40 fn-left last">
    <a class="text" href="javascript:void(0)" onclick="javascript:window.showModalDialog('/account/borrowContract.action?loanId={{ loanId }}','','dialogWidth=1024px;dialogHeight=768px,status=0,toolbar=no,menubar=no,location=no,scrollbars=yes,top=20,left=20,resizable=no')">合同</a>
  </span>
  </li>
  {{ else }}
  <li class="ui-list-status">
    <p class="color-gray-text">{{# if _message }}{{ _message }}{{ else }}没有记录{{/ if }}</p>
  </li>
  {{/ each }}
  </script>
  <script id="repayment-records-template" type="text/x-handlebars-template">
  <li class="ui-list-header text-small fn-clear">
    <span class="ui-list-title w40 fn-left"></span>
    <span class="ui-list-title w100 fn-left">还款日</span>
    <span class="ui-list-title w100 fn-left">应还金额</span>
    <span class="ui-list-title w100 fn-left">应还本金</span>
    <span class="ui-list-title w100 fn-left">应还利息</span>
    <span class="ui-list-title w90 fn-left">借款管理费</span>
    <span class="ui-list-title w90 fn-left">逾期费用</span>
    <span class="ui-list-title w90 fn-left last">状态</span>
  </li>
  {{# each data }}
  <li class="ui-list-item fn-clear {{ itemStyle }} {{ itemLast }} repayment-record">
    <span class="ui-list-field text-center w40 fn-left">{{# if shouldRepay }}<input type="checkbox" value="{{ termId }}" data-name="repay-term-checking" />{{/ if }}</span>
    <span class="ui-list-field text-center w100 fn-left">{{ repaymentDate }}</span>
    <span class="ui-list-field num-s text-right w90 pr10 fn-left to-repay-amount"><em>{{ toRepayAmount }}</em></span>
    <span class="ui-list-field num-s text-right w90 pr10 fn-left"><em>{{ toRepayPrincipal }}</em></span>
    <span class="ui-list-field num-s text-right w90 pr10 fn-left"><em>{{ toRepayInterest }}</em></span>
    <span class="ui-list-field num-s text-right w80 pr10 fn-left"><em>{{ mgmtFee }}</em></span>
    <span class="ui-list-field num-s text-right w80 pr10 fn-left"><em>{{ overdueFee }}</em></span>
    <span class="ui-list-field text-center w90 fn-left last">{{ status }}</span>
  </li>
  {{ else }}
  <li class="ui-list-status">
    <p class="color-gray-text">{{# if _message }}{{ _message }}{{ else }}没有记录{{/ if }}</p>
  </li>
  {{/ each }}
  </script>
  <script id="repaying-list-rsp" type="text/x-json">{"status":0,"data":{"data":[],"totalPage":0,"pageIndex":1}}</script>
  <script>seajs.use(['pages/account/borrow/repayments']);</script>
{%endblock%}