{%extends "parent.tpl"%}

{%block title%}
交易记录 - 资金管理 - 我的多网帐户中心 -
{%endblock%}

{%block script%}{%endblock%}

{%block link%}
 <link rel="stylesheet" href="/static/css/pages/account/account.css">
{%endblock%}

{%block content%}
  <div id="pg-account-transactions" class="pg-account">
    <div class="container_12 mt10">
      <ul class="fn-clear ui-breadcrumb grid_12">
        <li class="fn-left ui-breadcrumb-item ui-breadcrumb-text ui-breadcrumb-text-first">
          <a href="/account/index.action">我的多网</a>
        </li>
        <li class="fn-left ui-breadcrumb-item ui-breadcrumb-separator"></li>
        <li class="fn-left ui-breadcrumb-item ui-breadcrumb-text">
          <a href="/account/capital.action">资金管理</a>
        </li>
        <li class="fn-left ui-breadcrumb-item ui-breadcrumb-separator"></li>
        <li class="fn-left ui-breadcrumb-item ui-breadcrumb-text ui-breadcrumb-text-current">
          <a>交易记录</a>
        </li>
      </ul>
    </div>
    <div class="container_12 mt10 fn-clear">
      <div class="grid_2">
        

<div class="ui-side ui-side-withicon" id="sidebar">
  <ul class="ui-side-list nav nav-list bs-docs-sidenav affix">
    <li class="ui-side-item ">
      <a class="ui-side-item-link" href="/account/index.action"><i class="fn-left ui-icon-mid index"></i>我的多网</a>
    </li>
    <li class="ui-side-item active">
      <a class="ui-side-item-link"><i class="fn-left ui-icon-mid capital"></i>资金管理</a>
      <ul class="ui-side-sub-list">
        <li class="ui-side-sub-item active">
          <a class="ui-side-sub-item-link" href="/account/capital.action">交易记录</a>
        </li>
        <li class="ui-side-sub-item ">
          <a class="ui-side-sub-item-link" href="/account/capital/recharge.action">充值</a>
        </li>
        <li class="ui-side-sub-item ">
          <a class="ui-side-sub-item-link last" href="/account/capital/withdraw.action">提现</a>
        </li>
      </ul>
    </li>
    <li class="ui-side-item ">
      <a class="ui-side-item-link"><i class="fn-left ui-icon-mid invest"></i>理财管理</a>
      <ul class="ui-side-sub-list">
        <li class="ui-side-sub-item ">
          <a class="ui-side-sub-item-link" href="/account/invest/loan.action">我的债权</a>
        </li>
        <li class="ui-side-sub-item ">
          <a class="ui-side-sub-item-link" href="/account/invest/plan.action">优选理财计划</a>
        </li>
        <li class="ui-side-sub-item ">
          <a class="ui-side-sub-item-link" href="/account/invest/transfer.action">债权转让</a>
        </li>
        <li class="ui-side-sub-item ">
          <a class="ui-side-sub-item-link" href="/account/invest/statistics.action">理财统计</a>
        </li>
        <li class="ui-side-sub-item ">
          <a class="ui-side-sub-item-link last" href="/account/invest/tool.action">自动投标工具</a>
        </li>
      </ul>
    </li>
    <li class="ui-side-item ">
      <a class="ui-side-item-link"><i class="fn-left ui-icon-mid borrow"></i>借款管理</a>
      <ul class="ui-side-sub-list">
        <li class="ui-side-sub-item ">
          <a class="ui-side-sub-item-link" href="/account/borrow/toMyLoans.action">我的借款</a>
        </li>
        <li class="ui-side-sub-item ">
          <a class="ui-side-sub-item-link" href="/account/borrow/applications.action">借款申请查询</a>
        </li>
        <li class="ui-side-sub-item ">
          <a class="ui-side-sub-item-link last" href="/account/borrow/statistics.action">借款统计</a>
        </li>
      </ul>
    </li>
    <li class="ui-side-item ">
      <a class="ui-side-item-link"><i class="fn-left ui-icon-mid account"></i>账户管理</a>
      <ul class="ui-side-sub-list">
        <li class="ui-side-sub-item ">
          <a class="ui-side-sub-item-link" href="/account/info/basicInfo.action">个人基础信息</a>
        </li>
        <li class="ui-side-sub-item ">
          <a class="ui-side-sub-item-link" href="/account/info/verification.action">认证信息</a>
        </li>
        <li class="ui-side-sub-item ">
          <a class="ui-side-sub-item-link" href="/account/info/security.action">安全信息</a>
        </li>
        <li class="ui-side-sub-item ">
          <a class="ui-side-sub-item-link last" href="/account/info/bank.action">银行卡信息</a>
        </li>
      </ul>
    </li>
    <li class="ui-side-item ">
      <a class="ui-side-item-link"><i class="fn-left ui-icon-mid comm"></i>互动管理</a>
      <ul class="ui-side-sub-list">
        <li class="ui-side-sub-item ">
          <a  class="ui-side-sub-item-link" href="/account/comm/mail.action">站内消息</a>
        </li>
        <li class="ui-side-sub-item ">
          <a  class="ui-side-sub-item-link last" href="/account/comm/settings.action">通知设置</a>
        </li>
      </ul>
    </li>
    <li class="ui-side-item last ">
          <a class="ui-side-item-link"><i class="fn-left ui-icon-mid coupons"></i>优惠券管理</a>
          <ul class="ui-side-sub-list">
              <li class="ui-side-sub-item ">
                  <a  class="ui-side-sub-item-link" href="/account/ucode.action">U-code兑换</a>
              </li>
          </ul>
     </li>
  </ul>
  <div class="ui-side-ad mt20">
        <a  style="display: block; width:140px;overflow:hidden;"><img style="width:140px;" src="http://www.duonet.cn/upload/cms/advertising/accountIndexRight/2960ccda-628c-42b4-addc-c4a391ba847d.jpg?20140401a" alt="微信扫描"></a>
</div>
</div>
<script>
seajs.use(['components/components'], function(Components) {
  new Components.Sidebar({
    name: 'account-sidebar'
  }).init();
});
</script>
      </div>
      <div class="grid_10">
        <div class="fn-clear p20bs color-orange-bg">
          <div class="fn-left box-summary-left">
            <h3 class="text-xl">账户余额</h3>
            <p class="num color-orange-text"><em>0.00</em>元</p>
          </div>
          <div class="fn-left box-summary-right last">
            <div class="fn-clear color-dimgray-text">
              <div class="grid_2 alpha">
                <h5 class="text-big">可用资金</h5>
                <p class="num-s"><em>0.00</em>元</p>
              </div>
              <div class="grid_2">
                <h5 class="text-big">已充值总额</h5>
                <p class="num-s"><em>0.00</em>元</p>
              </div>
              <div class="grid_2 omega">
                <a class="summary-button ui-button ui-button-small ui-button-green" href="/account/capital/recharge.action">充值</a>
              </div>
            </div>
            <hr class="mt10">
            <div class="fn-clear color-dimgray-text mt10">
              <div class="grid_2 alpha">
                <h5 class="text-big">冻结资金</h5>
                <p class="num-s"><em>0.00</em>元</p>
              </div>
              <div class="grid_2">
                <h5 class="text-big">已提现总额</h5>
                <p class="num-s"><em>0.00</em>元</p>
              </div>
              <div class="grid_2 omega">
                <a class="summary-button ui-button ui-button-small ui-button-blue" href="/account/capital/withdraw.action">提现</a>
              </div>
            </div>
          </div>
        </div>
        <div class="mt20 p20bs color-white-bg">
          <div class="fn-clear" id="query-form">
            <div class="fn-left">
              <div class="fn-left pr10">查询类型</div>
              <select class="fn-left mr20" name="type" autocomplete="off">
                <option value="ALL">所有</option>
                <option value="RECHARGE">充值</option>
                <option value="CHECKOUT">投标成功</option>
                <option value="CHECKIN">招标成功</option>
                <option value="REPAY">偿还本息</option>
                <option value="REPAID">回收本息</option>
                <option value="IN_REPAY">提前还款</option>
                <option value="IN_REPAID">提前回收</option>
                <option value="CASH_DRAW">成功提现</option>
                <option value="ID_VALIDATE">身份验证手续费</option>
                <option value="CASH_DRAW_FEE">提现手续费</option>
                <option value="CHECKIN_MGMT_FEE">借款管理费</option>
                <option value="OVER_DUE_MGMT_FEE">逾期管理费</option>
                <option value="GUARANTEE_RECHARGE">担保费用</option>
                <option value="FIELDAUDIT_RECHARGE">实地审核费用</option>
                <option value="ENTURST_RECHARGE">委托待查费用</option>
                <option value="MANUAL_RECHARGE">人工充值</option>
                <option value="RETURN_FEE_FROM_duonet">返还服务费</option>
                <option value="REGISTER_FINANCE_PLAN">加入优选理财计划</option>
                <option value="FINANCEPLAN_CASHDRAW">优选理财计划提现</option>
                <option value="SALE_DEBT">出售债权</option>
                <option value="BUY_DEBT">购买债权</option>
                <option value="LOAN_TRANSFER_FEE">债权转让管理费</option>
              </select>
              <div class="fn-left pr10">查询时间</div>
              <div class="fn-left mr20" id="query-normal">
                <select name="time" autocomplete="off">
                  <option value="THREE_DAYS">三天以内</option>
                  <option value="ONE_WEEK">一周以内</option>
                  <option value="ONE_MONTH" selected="selected">一个月以内</option>
                  <option value="THREE_MONTH">三个月以内</option>
                  <option value="ONE_YEAR">一年以内</option>
                </select>
              </div>
              <div class="fn-left mr20" id="query-advanced" style="display: none;">
                <select name="year" autocomplete="off">
                  <option value="2014" selected="selected">2014</option>
                </select>
                <span class="text">年</span>
                <select name="startMonth" autocomplete="off"></select>
                <span class="text">月 到 </span>
                <select name="endMonth" autocomplete="off"></select>
                <span class="text">月</span>
              </div>
              <a class="fn-left ui-button ui-button-small ui-button-blue" id="query-submit">查询</a>
            </div>
            <div class="fn-right">
              <a id="query-switch" data-current="normal">切换到高级查询</a>
            </div>
          </div>
          <hr class="mt20">
          <div class="mt10 fn-clear">
            <p class="text-right"><a id="export" href="/account/capital/transactionExport.action" target="_blank">导出查询结果</a></p>
            <ul class="ui-list ui-list-s mt10" id="transactions"></ul>
            <div class="fn-right mt10 ui-pagination" id="transactions-pagination"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="pg-helper" style="display: none;">
    <span id="pg-helper-year">2014</span>
    <span id="pg-helper-month">7</span>
  </div>
{%endblock%}

{%block after%}
  <script id="transactions-template" type="text/x-handlebars-template">
  <li class="ui-list-header text fn-clear">
    <span class="ui-list-title w100 fn-left time">时间</span>
    <span class="ui-list-title w170 fn-left type">类型明细</span>
    <span class="ui-list-title w90 fn-left credit">收入</span>
    <span class="ui-list-title w90 fn-left debit">支出</span>
    <span class="ui-list-title w110 fn-left balance">结余</span>
    <span class="ui-list-title w180 fn-left note last">备注</span>
  </li>
  {{@ each pointLogs }}
  <li class="ui-list-item fn-clear {{ itemStyle }}">
    <span class="ui-list-field text-center w100 fn-left">{{ time }}</span>
    <span class="ui-list-field w160 ph5 fn-left fn-text-overflow">{{ type }}{{@ if loanId }}<em class="text-small">（<a href="{{ loanLink }}" target="_blank">{{ loanId }}</a>）</em>{{/ if }}</span>
    <span class="ui-list-field text-right num-s w80 pr10 fn-left">{{@ if credit }}<em class="value-small">{{ credit }}</em>{{/ if }}</span>
    <span class="ui-list-field text-right num-s w80 pr10 fn-left">{{@ if debit }}<em class="value-small">{{ debit }}</em>{{/ if }}</span>
    <span class="ui-list-field text-right num-s w100 pr10 fn-left"><em class="value-small">{{ balance }}</em></span>
    <span class="ui-list-field text-small w160 ph10 fn-left fn-text-overflow last" title="{{ note }}">{{ note }}</span>
  </li>
  {{ else }}
  <li class="ui-list-status">
    <p class="color-gray-text">{{@ if _message }}{{ _message }}{{ else }}没有记录{{/ if }}</p>
  </li>
  {{/ each }}
  </script>
  <script id="transactions-rsp" type="text/x-json">{"status":0,"data":{"totalPage":0,"pageIndex":1,"pointLogs":[]}}</script>
  <script>seajs.use(['pages/account/capital/transactions']);</script>
{%endblock%}