{%extends "parent.tpl"%}

{%block title%}
站内消息 - 互动管理 - 我的人人贷帐户中心 -
{%endblock%}

{%block script%}{%endblock%}

{%block link%}
 <link rel="stylesheet" href="/static/css/pages/account/account.css">
 <script src="/static/js/lib/jquery/1.9.1/jquery.nocmd.js"></script>
 <script src="/static/js/lib/simplePagination/1.5.0/simplePagination.nocmd.js"></script>
{%endblock%}

{%block content%}
  <div id="pg-account-mails" class="pg-account container_12 fn-clear">
    <div class="container_12 mt10">
      <ul class="ui-breadcrumb grid_12 fn-clear">
        <li class="fn-left ui-breadcrumb-item ui-breadcrumb-text ui-breadcrumb-text-first">
          <a href="/account/index.action">我的人人贷</a>
        </li>
        <li class="fn-left ui-breadcrumb-item ui-breadcrumb-separator"></li>
        <li class="fn-left ui-breadcrumb-item ui-breadcrumb-text">
          <a href="/account/comm!mail.action">互动管理</a>
        </li>
        <li class="fn-left ui-breadcrumb-item ui-breadcrumb-separator"></li>
        <li class="fn-left ui-breadcrumb-item ui-breadcrumb-text ui-breadcrumb-text-current">
          <a>站内消息</a>
        </li>
      </ul>
    </div>
    <div class="container_12 mt10">
        <div class="grid_2">
          

<div class="ui-side ui-side-withicon" id="sidebar">
  <ul class="ui-side-list nav nav-list bs-docs-sidenav affix">
    <li class="ui-side-item ">
      <a class="ui-side-item-link" href="/account/index.action"><i class="fn-left ui-icon-mid index"></i>我的人人贷</a>
    </li>
    <li class="ui-side-item ">
      <a class="ui-side-item-link"><i class="fn-left ui-icon-mid capital"></i>资金管理</a>
      <ul class="ui-side-sub-list">
        <li class="ui-side-sub-item ">
          <a class="ui-side-sub-item-link" href="/account/capital.action">交易记录</a>
        </li>
        <li class="ui-side-sub-item ">
          <a class="ui-side-sub-item-link" href="/account/capital!recharge.action">充值</a>
        </li>
        <li class="ui-side-sub-item ">
          <a class="ui-side-sub-item-link last" href="/account/capital!withdraw.action">提现</a>
        </li>
      </ul>
    </li>
    <li class="ui-side-item ">
      <a class="ui-side-item-link"><i class="fn-left ui-icon-mid invest"></i>理财管理</a>
      <ul class="ui-side-sub-list">
        <li class="ui-side-sub-item ">
          <a class="ui-side-sub-item-link" href="/account/invest!loan.action">我的债权</a>
        </li>
        <li class="ui-side-sub-item ">
          <a class="ui-side-sub-item-link" href="/account/invest!plan.action">优选理财计划</a>
        </li>
        <li class="ui-side-sub-item ">
          <a class="ui-side-sub-item-link" href="/account/invest!transfer.action">债权转让</a>
        </li>
        <li class="ui-side-sub-item ">
          <a class="ui-side-sub-item-link" href="/account/invest!statistics.action">理财统计</a>
        </li>
        <li class="ui-side-sub-item ">
          <a class="ui-side-sub-item-link last" href="/account/invest!tool.action">自动投标工具</a>
        </li>
      </ul>
    </li>
    <li class="ui-side-item ">
      <a class="ui-side-item-link"><i class="fn-left ui-icon-mid borrow"></i>借款管理</a>
      <ul class="ui-side-sub-list">
        <li class="ui-side-sub-item ">
          <a class="ui-side-sub-item-link" href="/account/borrow!toMyLoans.action">我的借款</a>
        </li>
        <li class="ui-side-sub-item ">
          <a class="ui-side-sub-item-link" href="/account/borrow!applications.action">借款申请查询</a>
        </li>
        <li class="ui-side-sub-item ">
          <a class="ui-side-sub-item-link last" href="/account/borrow!statistics.action">借款统计</a>
        </li>
      </ul>
    </li>
    <li class="ui-side-item ">
      <a class="ui-side-item-link"><i class="fn-left ui-icon-mid account"></i>账户管理</a>
      <ul class="ui-side-sub-list">
        <li class="ui-side-sub-item ">
          <a class="ui-side-sub-item-link" href="/account/info!basicInfo.action">个人基础信息</a>
        </li>
        <li class="ui-side-sub-item ">
          <a class="ui-side-sub-item-link" href="/account/info!verification.action">认证信息</a>
        </li>
        <li class="ui-side-sub-item ">
          <a class="ui-side-sub-item-link" href="/account/info!security.action">安全信息</a>
        </li>
        <li class="ui-side-sub-item ">
          <a class="ui-side-sub-item-link last" href="/account/info!bank.action">银行卡信息</a>
        </li>
      </ul>
    </li>
    <li class="ui-side-item active">
      <a class="ui-side-item-link"><i class="fn-left ui-icon-mid comm"></i>互动管理</a>
      <ul class="ui-side-sub-list">
        <li class="ui-side-sub-item active">
          <a  class="ui-side-sub-item-link" href="/account/comm!mail.action">站内消息</a>
        </li>
        <li class="ui-side-sub-item ">
          <a  class="ui-side-sub-item-link last" href="/account/comm!settings.action">通知设置</a>
        </li>
      </ul>
    </li>
    <li class="ui-side-item last ">
          <a class="ui-side-item-link"><i class="fn-left ui-icon-mid coupons"></i>优惠券管理</a>
          <ul class="ui-side-sub-list">
              <li class="ui-side-sub-item ">
                  <a  class="ui-side-sub-item-link" href="/account/ucode.action">U-code兑换</a>
              </li>
          </ul>
     </li>
  </ul>
  <div class="ui-side-ad mt20">
        <a  style="display: block; width:140px;overflow:hidden;"><img style="width:140px;" src="http://www.renrendai.com/upload/cms/advertising/accountIndexRight/2960ccda-628c-42b4-addc-c4a391ba847d.jpg?20140401a" alt="微信扫描"></a>
</div>
</div>
<script>
seajs.use(['components/components'], function(Components) {
  new Components.Sidebar({
    name: 'account-sidebar'
  }).init();
});
</script>
        </div>
        <div class="grid_10">
            <div class="account-mails-tab fn-clear">
                <div class="ui-tab ui-tab-transparent">
                    <ul class="ui-tab-items">
                        <li id="system_info" class="ui-tab-item ui-tab-item-current" onclick="getMails(this)"><a class="ui-tab-item-link">通知</a></li>
                        <li id="user_inbox_info" class="ui-tab-item" onclick="getMails(this)"><a class="ui-tab-item-link">私信</a></li>
                    </ul>
                </div>
                <div class="swicthRCon">
              <div id="swicthRCon0">
              <p><a href="/account/comm!settings.action">设置通知提醒</a> | <a onclick="document.getElementById('sendDigSX').style.display='block'">意见反馈</a></p>
            </div>
            <div id="swicthRCon1" class="fn-clear" style="display:none">
               <div class="sxSearchBox clearfix">
                <div id="sxSearch">
                    <input type="text" value="" id="searchDetailContent"><button id="sxSearchBt" onclick="getInboxInnerMails(1);"></button>
                </div>
                        <a id="sendNewSx" class="fn-left ml20">发私信</a>
               </div>
             </div>
           </div>
            </div>
            
            
            <div class="p20bs color-white-bg fn-clear">
            <!--
             <div class="clearfix" style="position:relative">
                 <div class="swicthRCon">
             <div id="swicthRCon0" style="padding-right:10px;">
             <p><a href="/account/comm!settings.action">设置通知提醒</a> | <a onclick="document.getElementById('sendDigSX').style.display='block'">意见反馈</a></p>
           </div>
           <div id="swicthRCon1" style="display:none">
             <div class="sxSearchBox clearfix">
                <div id="sxSearch"><input type="text" value="" id="searchDetailContent"><button id="sxSearchBt" onclick="getInboxInnerMails(1);"></button></div>
                    
                        <a id="sendNewSx"></a>
                        
               </div>
             </div>
              </div>
                    <ul>
                        <li id="system_info" onclick="getMails(this)" class="right_tab_select">
                            通知
                        </li>
                        <li id="user_inbox_info" onclick="getMails(this)" class="right_tab_unselect">
                            私信
                        </li>
                        
                    </ul>
                </div>
            -->
                <div class="loading" id="loading"><img src="/static/img/loading.gif?rrdversion=20140414" /></div>
                <input id="sendTo" type="hidden" value="" />
                <div id="inbox_content">
                </div>
                <div id="sendDigSX" class="sendDigSX fn-hide" style="display: none;top:205px;left:30%;">
                <div onclick="document.getElementById('sendDigSX').style.display='none'" class="closeBt">X</div>
                <form method="post" id="sendBoxForm" action="">
                    <div class="fn-clear item">
                        <div class="label">发送给：</div>
                        <div class="inputs">
                            <select name="receiver" onclick="getOther(this)" id="favourateReceiver">
                                <option value="人人贷客服" id="otherOption">人人贷客服</option>
                            </select>
                            <input disabled="disabled" value="人人贷客服" class="fn-hide" id="otherReceiver">
                        </div>
                    </div>

                    <div class="fn-clear item">
                        <div class="label">内容：</div>
                        <div class="inputs">
                            <textarea id="sendMail" name="comment"></textarea>
                        </div>

                        <div class="bts">
                            <input type="button" class="ui-button ui-button-small ui-button-green" value="发送站内信" onclick="sendZnxSubmit(this,'system')"><span id="send_tip"></span>
                        </div>
                    </div>
                </form>
            </div>
          </div>
        </div>
    </div>
  </div>
 <script>

    function toDefaultPage(){
        $.ajax({
            url: "/account/comm.action?type=system_info&sysPageIndex=1",
            dataType: 'html',
            timeout: 100000,
            error: function(){
                $("#inbox_content").html($("#loadingFail").html());
            },
            success: function(response){
                $("#loading").hide();
                $("#inbox_content").html(response);
            },
            beforeSend: function(){
                $("#loading").show();
            }
        });
    }
    
    function getMails(data) {
        var id = data.id;
        clearTab(id);
        $("#" + id).removeClass();
        $("#" + id).addClass("ui-tab-item ui-tab-item-current");
        if (id == 'system_info') {
            $("#swicthRCon0").show();
            $("#swicthRCon1").hide();
        } else if (id == 'user_inbox_info') {
            $("#swicthRCon0").hide();
            $("#swicthRCon1").show();
        }
        $("#user_inbox_type_info").remove();
        $.ajax({
            url : "/account/comm.action?type=" + id + "&sysPageIndex=1&inboxPageIndex=1&sendboxPageIndex=1",
            type : "POST",
            dataType : 'html',
            timeout : 100000,
            error : function() {
                $("#inbox_content").html($("#loadingFail").html());
            },
            success : function(response) {
                $("#loading").hide();
                $("#inbox_content").html(response);
            },
            beforeSend : function() {
                $("#loading").show();
            }
        });
    }
    
    function clearTab(id) {
        $("#" + id).parent().children().each(function(i) {
            $("#" + id).parent().children().removeClass();
            $("#" + id).parent().children().addClass("ui-tab-item");
            $("#" + $("#" + id).parent().children().get(i).id + "_content").hide();
        });
    }
    
    function txtAmount(textarea, msg, length) {
        var val = $("#" + textarea);
        var msg = $("#" + msg);
        var ishover = false;
        var t = null;
        val.hover(function() {
            ishover = true;
            if (!ishover) {
                return;
            }
            t = setInterval(function() {
                var v = val.val();
                var len = 0
                for ( var i = 0, l = v.length; i < l; i++) {
                    if ((v.charCodeAt(i) < 0) || (v.charCodeAt(i) > 255))
                        len += 2;
                    else
                        len += 1;
                }
                len = parseInt(len / 2);
                if (len <= length) {
                    var res = length - len;
                    msg.html("还可以输入" + res + "字");
                } else {
                    var res = len - length;
                    msg.html("已超出<span style='color:red'>" + res + "</span>字");
                }
            }, 500)
        }, function() {
            ishover = false;
            clearInterval(t);
        })
    }
    
    function getOther(obj) {
        var selValue = $(obj).val();
        if (selValue == null || selValue == "") {
            $("#otherReceiver").show();
        } else {
            $("#otherReceiver").hide();
        }
    }
    
    function sendZnxSubmit(o, from) {
        var from = from || "";
        var self = o || $(".saveSettingBnt")[0];
        var receiver = $("#favourateReceiver").val();
        var comment = $("#sendMail").val().toString();
        var len = 0;
        $("#sendTo").data("open","false");
        for ( var i = 0, l = comment.length; i < l; i++) {
            if ((comment.charCodeAt(i) < 0) || (comment.charCodeAt(i) > 255))
                len += 2;
            else
                len += 1;
        }
        len = parseInt(len / 2);
        if (len >= 301) {
            $("#send_tip").html("内容不能超过300个字！");
            return;
        }
        if (receiver == null || receiver == "") {
            $("#send_tip").html("收件人不能为空！");
        } else if (comment == null || comment == "") {
            $("#send_tip").html("邮件内容为空！");
        } else {
            $.ajax({
                data : $("#sendBoxForm").serialize(),
                type : "POST",
                url : "/account/comm!sendInnerMail.action",
                dataType : 'json',
                beforeSend : function() {
                    $("#send_tip").empty();
                    self.value = "正在发送中...";
                    self.disabled = "disabled";
                },
                error : function() {
                    $("#send").hide();
                    self.value = "发送站内信";
                    self.removeAttribute("disabled");
                    $("#send_tip").html("对不起，发送失败，请稍后再试！");
                },
                success : function(response) {
                    $("#send").hide();
                    self.value = "发送站内信";
                    self.removeAttribute("disabled");
                    $("#send_tip").html(response.result);
                    var resultStatus = response.resultStatus;
                    if (resultStatus || resultStatus == 'true') {
                        $("#sendMail").val("");
                        $("#sendDigSX").hide();
                        if (from == "users") {
                            setTimeout(function(){
                                $("#user_inbox_info").click();
                            }, 1500);

                        }
                    }
                }
            });
        }
    }

    $(function(){
        var reg = /\?userId=(\d+)/.exec(location.href);
        if(reg){
            getMails($("#user_inbox_info")[0]);
        }else{
            toDefaultPage();
        }
        
    })


</script>
{%endblock%}