{%extends "parent.tpl"%}

{%block title%}
我的多网帐户中心 -
{%endblock%}

{%block script%}{%endblock%}

{%block link%}
 <link rel="stylesheet" href="/static/css/pages/account/account.css">
{%endblock%}

{%block content%}
  <div id="pg-account-index" class="pg-account">
    <div class="container_12 mt10">
      <ul class="ui-breadcrumb grid_12 fn-clear">
        <li class="fn-left ui-breadcrumb-item ui-breadcrumb-text ui-breadcrumb-text-first">
          <a href="/">首页</a>
        </li>
        <li class="fn-left ui-breadcrumb-item ui-breadcrumb-separator"></li>
        <li class="fn-left ui-breadcrumb-item ui-breadcrumb-text ui-breadcrumb-text-current">
          <a href="/account/index.action">我的多网</a>
        </li>
      </ul>
    </div>
    <div class="container_12 mt10 fn-clear">
      <div class="grid_2">
        

<div class="ui-side ui-side-withicon" id="sidebar">
  <ul class="ui-side-list nav nav-list bs-docs-sidenav affix">
    <li class="ui-side-item active">
      <a class="ui-side-item-link" href="/account/index.action"><i class="fn-left ui-icon-mid index"></i>我的多网</a>
    </li>
    <li class="ui-side-item ">
      <a class="ui-side-item-link"><i class="fn-left ui-icon-mid capital"></i>资金管理</a>
      <ul class="ui-side-sub-list">
        <li class="ui-side-sub-item ">
          <a class="ui-side-sub-item-link" href="/account/capital.action">交易记录</a>
        </li>
        <li class="ui-side-sub-item ">
          <a class="ui-side-sub-item-link" href="/account/capital!recharge.action">充值</a>
        </li>
        <li class="ui-side-sub-item ">
          <a class="ui-side-sub-item-link last" href="/account/capital!withdraw.action">提现</a>
        </li>
      </ul>
    </li>
    <li class="ui-side-item ">
      <a class="ui-side-item-link"><i class="fn-left ui-icon-mid invest"></i>理财管理</a>
      <ul class="ui-side-sub-list">
        <li class="ui-side-sub-item ">
          <a class="ui-side-sub-item-link" href="/account/invest!loan.action">我的债权</a>
        </li>
        <li class="ui-side-sub-item ">
          <a class="ui-side-sub-item-link" href="/account/invest!plan.action">优选理财计划</a>
        </li>
        <li class="ui-side-sub-item ">
          <a class="ui-side-sub-item-link" href="/account/invest!transfer.action">债权转让</a>
        </li>
        <li class="ui-side-sub-item ">
          <a class="ui-side-sub-item-link" href="/account/invest!statistics.action">理财统计</a>
        </li>
        <li class="ui-side-sub-item ">
          <a class="ui-side-sub-item-link last" href="/account/invest!tool.action">自动投标工具</a>
        </li>
      </ul>
    </li>
    <li class="ui-side-item ">
      <a class="ui-side-item-link"><i class="fn-left ui-icon-mid borrow"></i>借款管理</a>
      <ul class="ui-side-sub-list">
        <li class="ui-side-sub-item ">
          <a class="ui-side-sub-item-link" href="/account/borrow!toMyLoans.action">我的借款</a>
        </li>
        <li class="ui-side-sub-item ">
          <a class="ui-side-sub-item-link" href="/account/borrow!applications.action">借款申请查询</a>
        </li>
        <li class="ui-side-sub-item ">
          <a class="ui-side-sub-item-link last" href="/account/borrow!statistics.action">借款统计</a>
        </li>
      </ul>
    </li>
    <li class="ui-side-item ">
      <a class="ui-side-item-link"><i class="fn-left ui-icon-mid account"></i>账户管理</a>
      <ul class="ui-side-sub-list">
        <li class="ui-side-sub-item ">
          <a class="ui-side-sub-item-link" href="/account/info!basicInfo.action">个人基础信息</a>
        </li>
        <li class="ui-side-sub-item ">
          <a class="ui-side-sub-item-link" href="/account/info!verification.action">认证信息</a>
        </li>
        <li class="ui-side-sub-item ">
          <a class="ui-side-sub-item-link" href="/account/info!security.action">安全信息</a>
        </li>
        <li class="ui-side-sub-item ">
          <a class="ui-side-sub-item-link last" href="/account/info!bank.action">银行卡信息</a>
        </li>
      </ul>
    </li>
    <li class="ui-side-item ">
      <a class="ui-side-item-link"><i class="fn-left ui-icon-mid comm"></i>互动管理</a>
      <ul class="ui-side-sub-list">
        <li class="ui-side-sub-item ">
          <a  class="ui-side-sub-item-link" href="/account/comm!mail.action">站内消息</a>
        </li>
        <li class="ui-side-sub-item ">
          <a  class="ui-side-sub-item-link last" href="/account/comm!settings.action">通知设置</a>
        </li>
      </ul>
    </li>
    <li class="ui-side-item last ">
          <a class="ui-side-item-link"><i class="fn-left ui-icon-mid coupons"></i>优惠券管理</a>
          <ul class="ui-side-sub-list">
              <li class="ui-side-sub-item ">
                  <a  class="ui-side-sub-item-link" href="/account/ucode.action">U-code兑换</a>
              </li>
          </ul>
     </li>
  </ul>
  <div class="ui-side-ad mt20">
        <a style="display: block; width:140px;overflow:hidden;"><img style="width:140px;" src="http://www.duonet.cn/upload/cms/advertising/accountIndexRight/2960ccda-628c-42b4-addc-c4a391ba847d.jpg?20140401a" alt="微信扫描"></a>
</div>
</div>
<script>
seajs.use(['components/components'], function(Components) {
  new Components.Sidebar({
    name: 'account-sidebar'
  }).init();
});
</script>
      </div>

      <div class="grid_10">
        <div class="ui-poptip ui-poptip-orange fn-hide" id="tipCon_3">
            <div class="">
                <div class="ui-poptip-container">
                    <div class="ui-poptip-arrow ui-poptip-arrow-7">
                    <em></em>
                    <span></span>
                </div>
                <div class="ui-poptip-content" data-role="content">

                </div>
            </div>
        </div>
      </div>

        <div class="ad-section"><img src="/static/img/account/default-banner.png"></div>

        <div class="box box-user-info">
          <div class="user-avatar-container">
            
            <a href="/account/info!basicInfo.action"><img width="96" height="96" src="/static/img/account/default-avatar-96.png" /></a>
            
            
          </div>
          <div class="user-info-container">
            <h3 title="yanni4night">yanni4night</h3>
            <div class="fn-clear">
              <div class="fn-left user-security-container mr10" id="info-box">
                <div class="safe fn-clear">
                  <span class="fn-left color-gray-text">安全等级</span>
                  <div id="safe-progressbar" class="safe-progressbar fn-left"><div class="bar"></div></div>
                </div>
                <div class="icons fn-clear mt5">
                  <div class="fn-left icon-box light">
                    <a data-txt="为了您的账户更安全，请您绑定手机号。||立即绑定" title="绑定手机，已绑定" href="/account/info!security.action" class="fn-left safe-rank cellphone light"></a>
                  </div>
                  <div class="fn-left icon-box light">
                    <a data-txt="进行实名认证后，您才可以进行投资、借款。||立即认证" title="实名认证，已设置" href="/account/info!security.action" class="fn-left safe-rank man light"></a>
                  </div>
                  <div class="fn-left icon-box ">
                    <a data-txt="为了您的资金更加安全，请您设置提现密码。||立即设置" title="提现密码，未设置" href="/account/info!security.action" class="fn-left safe-rank lock "></a>
                  </div>
                  <div class="fn-left icon-box ">
                    <a data-txt="为了使您的账户有更多的安全保障，请您绑定邮箱。||立即绑定" title="绑定邮箱，未绑定" href="/account/info!security.action" class="fn-left safe-rank mail "></a>
                  </div>
                </div>
              </div>
              <div class="fn-left last">
                <div class="surplus fn-clear">
                  <span class="fn-left text-l mr10">账户余额</span>
                  <span class="fn-left num-xl color-orange-text">
                    <em>0.00</em>元
                  </span>
                  <a class="fn-left ui-button ui-button-green ui-button-mid mr4" href="/account/capital!recharge.action">充值</a>
                  <a class="fn-left ui-button ui-button-blue ui-button-mid last" href="/account/capital!withdraw.action">提现</a>
                </div>
                <div class="surplus-detail fn-clear">
                  <div class="fn-left mr40">
                    <span class="fn-left text mr10">冻结金额</span>
                    <span class="fn-left num last">
                      <em>0.00</em>元
                    </span>
                  </div>
                  <div class="fn-left last">
                    <span class="fn-left text mr10">可用金额</span>
                    <span class="fn-left num last">
                      <em>0.00</em>元
                    </span>
                  </div>
                </div>
                
              </div>
            </div>
          </div>
        </div>

        <!-- ad start -->
        
        <!-- ad end -->

        <div class="box mt20 p20">
          <div class="fn-clear equation">
            <div class="fn-left text-center">
              <h5>账户净资产</h5>
              <p class="num-l">
                <em>0.00</em>元
              </p>
            </div>
            <div class="fn-left symbol">=</div>
            <div class="fn-left text-center">
              <h5>理财资产<i id="tips_1" class="iconfont tips">&#xF046;</i></h5>
              <p class="num-l">
                <em>0.00</em>元
              </p>
            </div>
            <div class="fn-left symbol">+</div>
            <div class="fn-left text-center">
              <h5>借款负债</h5>
              <p class="num-l rrdcolor-red-text">
                <em>-0.00</em>元
              </p>
            </div>
            <div class="fn-left symbol">+</div>
            <div class="fn-left text-center">
              <h5>账户余额</h5>
              <p class="num-l">
                <em>0.00</em>元
              </p>
            </div>
          </div>
          <div>
            <div class="fn-clear summary">
              <a class="fn-left text mr30" href="/account/invest!loan.action">理财账户</a>
              <p class="fn-left text mr10">已赚总金额</p>
              <p class="fn-left num"><em>0.00</em>元</p>
              <a class="fn-right text mr30" href="/account/invest!backAccount.action">回账查询</a>
            </div>
            <ul class="ui-list ui-list-s">
              <li class="ui-list-header fn-clear">
                <span class="ui-list-title fn-left color-gray-text w120">理财方式</span>
                <span class="ui-list-title fn-left color-gray-text w160">账户资产</span>
                <span class="ui-list-title fn-left color-gray-text w160">已赚金额<i id="tips_2" class="iconfont tips">&#xF046;</i></span>
                <span class="ui-list-title fn-left color-gray-text w120">加权平均收益率</span>
                <span class="ui-list-title fn-left color-gray-text w80">持有数量</span>
                <span class="ui-list-title fn-left color-gray-text w80"></span>
              </li>
              <li class="ui-list-item fn-clear">
                <span class="ui-list-field fn-left w100 ph10">债权投资</span>
                <span class="ui-list-field fn-left num-s text-right w140 pr20"><em>0.00</em>元</span>
                <span class="ui-list-field fn-left num-s text-right w140 pr20"><em>0.00</em>元</span>
                <span class="ui-list-field fn-left num-s text-right w90 pr30"><em>0.0</em>%</span>
                <span class="ui-list-field fn-left text-center w80"><em>0</em></span>
                <span class="ui-list-field fn-left text-center w80 last"><a href="/account/invest!loan.action">查看</a></span>
              </li>
              <li class="ui-list-item fn-clear last">
                <span class="ui-list-field fn-left w100 ph10">优选理财计划</span>
                <span class="ui-list-field fn-left num-s text-right w140 pr20"><em>0.00</em>元</span>
                <span class="ui-list-field fn-left num-s text-right w140 pr20"><em>0.00</em>元</span>
                <span class="ui-list-field fn-left num-s text-right w90 pr30"><em>0.0</em>%</span>
                <span class="ui-list-field fn-left text-center w80"><em>0</em></span>
                <span class="ui-list-field fn-left text-center w80 last"><a href="/account/invest!plan.action">查看</a></span>
              </li>
            </ul>
          </div>
          <div class="mt20 mb20">
            <div class="fn-clear summary">
              <a class="fn-left text mr30" href="/account/borrow!toMyLoans.action">借款账户</a>
              <p class="fn-left text mr10">待还总金额</p>
              <p class="fn-left num"><em>0.00</em>元</p>
              <a class="fn-right text mr30" href="/account/borrow!applications.action">申请查询</a>
            </div>
            <ul class="ui-list ui-list-s" id="borrowing"></ul>
          </div>
        </div>
        <div class="box mt20 p20">
          <h3>理财推荐</h3>
          
          <div class="plan mt10 ph10 fn-clear">
            <div class="fn-left w230 mr20">
              <h4 class="plan-title w250 fn-text-overflow">
                <a href="/financeplan/listPlan!detailPlan.action?financePlanId=68" target="_blank">优选理财计划0068期</a>
              </h4>
              <p class="fn-clear">
                <span class="fn-left mr10">加入条件</span>
                <span class="fn-left num-s last"><em>10,000</em>元</span>
              </p>
            </div>
            <div class="fn-left plan-conditions mr20">
              <p class="fn-clear">
                <span class="fn-left mr10">总体额度</span>
                <span class="fn-left num-s last"><em>30,000,000</em>元</span>
              </p>
              <p class="fn-clear">
                <span class="fn-left mr10">预期收益</span>
                <span class="fn-left num-s last"><em>12%~14%</em>每年</span>
              </p>
            </div>
            <div class="fn-left plan-conditions mr20">
              <p class="fn-clear">
                <span class="fn-left mr10">剩余额度</span>

                <span class="fn-left num-s last"><em>0</em>元</span>
              </p>
              <p class="fn-clear">
                <span class="fn-left mr10">申请进度</span>
                <span class="fn-left num-s last"><em>100</em>%</span>
              </p>
            </div>
            
            <a class="ui-button ui-button-mid ui-button-disabled fn-right last" target="_blank">已满额</a>
            
            
          </div>
          
          <ul class="ui-list ui-list-invest loan-s mt20 mb20" id="loan-list"></ul>
        </div>
      </div>
    </div>
  </div>

  <div class="ui-poptip fn-hide" id="tipCon_1">
      <div class="ui-poptip-shadow">
      <div class="ui-poptip-container">
          <div class="ui-poptip-arrow ui-poptip-arrow-10">
              <em></em>
              <span></span>
          </div>
          <div class="ui-poptip-content" data-role="content">
              理财账户内的资产，包括债权投资账户资产和优选理财计划账户资产，<br>其中债权投资账户资产等于持有债权的待回收本金。
          </div>
      </div>
      </div>
  </div>
  <div class="ui-poptip fn-hide" id="tipCon_2">
      <div class="ui-poptip-shadow">
      <div class="ui-poptip-container">
          <div class="ui-poptip-arrow ui-poptip-arrow-10">
              <em></em>
              <span></span>
          </div>
          <div class="ui-poptip-content" data-role="content">
            已赚金额 = 已赚利息罚息及违约金 + 债权转让盈亏 - 债权转让应计利息支出<br>（由于购买转让的债权时可能需要先支付应计利息，所以此数值可能为负）
          </div>
      </div>
      </div>
  </div>
{%endblock%}
{%block after%

  <script id="loan-list-rsp" type="text/x-json">{"status":0,"message":"okey","data":{"loans":[]}}</script>
  <script id="borrowing-rsp" type="text/x-json">{"status":0,"message":"okey","data":{"loans":[]}}</script>
  <script id="loan-list-template" type="text/x-handlebars-template">
  {{@ if _hasHeader }}
  <li class="ui-list-header fn-clear">
    <span class="ui-list-title fn-left color-gray-text w260">借款标题</span>
    <span class="ui-list-title fn-left color-gray-text w60">信用等级</span>
    <span class="ui-list-title fn-left color-gray-text w90">年利率</span>
    <span class="ui-list-title fn-left color-gray-text w120">金额</span>
    <span class="ui-list-title fn-left color-gray-text w80">期限</span>
    <span class="ui-list-title fn-left color-gray-text w50">进度</span>
    <span class="ui-list-title fn-left color-gray-text w75 last"></span>
  </li>
  {{/ if }}
  {{@ each loans }}
  <li class="ui-list-item fn-clear">
    <span class="ui-list-field fn-left w260">
      <em class="ui-loantype {{ loanType }}" title="{{ loanTypeText }}"></em><a class="fn-left w210 rrd-dimgray fn-text-overflow" href="{{ link }}">{{ title }}</a>
    </span>
    <span class="ui-list-field fn-left w60"><a class="ui-creditlevel {{ creditLevel }} snow">{{ creditLevel }}</a></span>
    <span class="ui-list-field fn-left num-s text-right w70 pr20"><em>{{ interest }}</em>%</span>
    <span class="ui-list-field fn-left num-s text-right w110 pr10"><em>{{ amount }}</em>元</span>
    <span class="ui-list-field fn-left num-s text-right w60 pr20"><em>{{ term }}</em>个月</span>
    <span class="ui-list-field fn-left num text-right w40 pr10"><em>{{ progress }}</em>%</span>
    <span class="ui-list-field fn-left w75 last"><a class="ui-button ui-button-small ui-button-blue" href="{{ link }}">投标</a></span>
  </li>
  {{ else }}
  <li class="ui-list-status">
    <p class="color-gray-text">{{@ if _message }}{{ _message }}{{ else }}暂时没有可推荐的理财产品{{/ if }}</p>
  </li>
  {{/ each }}
  </script>
  <script id="borrowing-template" type="text/x-handlebars-template">
  <li class="ui-list-header fn-clear">
    <span class="ui-list-title fn-left color-gray-text w200">借款标题</span>
    <span class="ui-list-title fn-left color-gray-text w160">待还本金</span>
    <span class="ui-list-title fn-left color-gray-text w160">待还利息/管理费</span>
    <span class="ui-list-title fn-left color-gray-text w100">逾期费用</span>
    <span class="ui-list-title fn-left color-gray-text w110 last"></span>
  </li>
  {{@ each loans }}
  <li class="ui-list-item fn-clear">
    <span class="ui-list-field fn-left w180 ph10 fn-text-overflow">{{ title }}</span>
    <span class="ui-list-field fn-left num-s text-right w140 pr20"><em>{{ notPayPrincipal }}</em>元</span>
    <span class="ui-list-field fn-left num-s text-right w120 pr40"><em>{{ notPayInterestAndMgmtFee }}</em>元</span>
    <span class="ui-list-field fn-left num-s text-right w80 pr20"><em>{{ overdueAmount }}</em>元</span>
    <span class="ui-list-field fn-left text-center w110 last"><a href="/account/borrow!toMyLoans.action">去还款</a></span>
  {{ else }}
  <li class="ui-list-status">
    <p class="color-gray-text">{{@ if _message }}{{ _message }}{{ else }}没有借款记录{{/ if }}</p>
  </li>
  {{/ each }}
  </script>
  <script>seajs.use(['pages/account/index']);</script>}
{%endblock%}