{%extends "parent.tpl"%}

{%block title%}
银行卡信息 - 账户管理 - 我的人人贷帐户中心 -
{%endblock%}

{%block script%}{%endblock%}

{%block link%}
 <link rel="stylesheet" href="/static/css/pages/account/account.css">
{%endblock%}

{%block content%}
  <div id="pg-account-bank" class="pg-account container_12 fn-clear">
    <div class="container_12 mt10">
      <ul class="ui-breadcrumb grid_12 fn-clear">
        <li class="fn-left ui-breadcrumb-item ui-breadcrumb-text ui-breadcrumb-text-first">
          <a href="/account/index.action">我的人人贷</a>
        </li>
        <li class="fn-left ui-breadcrumb-item ui-breadcrumb-separator"></li>
        <li class="fn-left ui-breadcrumb-item ui-breadcrumb-text">
          <a href="/account/info!basicInfo.action">账户管理</a>
        </li>
        <li class="fn-left ui-breadcrumb-item ui-breadcrumb-separator"></li>
        <li class="fn-left ui-breadcrumb-item ui-breadcrumb-text ui-breadcrumb-text-current">
          <a>银行卡信息</a>
        </li>
      </ul>
    </div>
    <div class="container_12 mt10">
        <div class="grid_2">
          

<div class="ui-side ui-side-withicon" id="sidebar">
  <ul class="ui-side-list nav nav-list bs-docs-sidenav affix">
    <li class="ui-side-item ">
      <a class="ui-side-item-link" href="/account/index.action"><i class="fn-left ui-icon-mid index"></i>我的人人贷</a>
    </li>
    <li class="ui-side-item ">
      <a class="ui-side-item-link"><i class="fn-left ui-icon-mid capital"></i>资金管理</a>
      <ul class="ui-side-sub-list">
        <li class="ui-side-sub-item ">
          <a class="ui-side-sub-item-link" href="/account/capital.action">交易记录</a>
        </li>
        <li class="ui-side-sub-item ">
          <a class="ui-side-sub-item-link" href="/account/capital!recharge.action">充值</a>
        </li>
        <li class="ui-side-sub-item ">
          <a class="ui-side-sub-item-link last" href="/account/capital!withdraw.action">提现</a>
        </li>
      </ul>
    </li>
    <li class="ui-side-item ">
      <a class="ui-side-item-link"><i class="fn-left ui-icon-mid invest"></i>理财管理</a>
      <ul class="ui-side-sub-list">
        <li class="ui-side-sub-item ">
          <a class="ui-side-sub-item-link" href="/account/invest!loan.action">我的债权</a>
        </li>
        <li class="ui-side-sub-item ">
          <a class="ui-side-sub-item-link" href="/account/invest!plan.action">优选理财计划</a>
        </li>
        <li class="ui-side-sub-item ">
          <a class="ui-side-sub-item-link" href="/account/invest!transfer.action">债权转让</a>
        </li>
        <li class="ui-side-sub-item ">
          <a class="ui-side-sub-item-link" href="/account/invest!statistics.action">理财统计</a>
        </li>
        <li class="ui-side-sub-item ">
          <a class="ui-side-sub-item-link last" href="/account/invest!tool.action">自动投标工具</a>
        </li>
      </ul>
    </li>
    <li class="ui-side-item ">
      <a class="ui-side-item-link"><i class="fn-left ui-icon-mid borrow"></i>借款管理</a>
      <ul class="ui-side-sub-list">
        <li class="ui-side-sub-item ">
          <a class="ui-side-sub-item-link" href="/account/borrow!toMyLoans.action">我的借款</a>
        </li>
        <li class="ui-side-sub-item ">
          <a class="ui-side-sub-item-link" href="/account/borrow!applications.action">借款申请查询</a>
        </li>
        <li class="ui-side-sub-item ">
          <a class="ui-side-sub-item-link last" href="/account/borrow!statistics.action">借款统计</a>
        </li>
      </ul>
    </li>
    <li class="ui-side-item active">
      <a class="ui-side-item-link"><i class="fn-left ui-icon-mid account"></i>账户管理</a>
      <ul class="ui-side-sub-list">
        <li class="ui-side-sub-item ">
          <a class="ui-side-sub-item-link" href="/account/info!basicInfo.action">个人基础信息</a>
        </li>
        <li class="ui-side-sub-item ">
          <a class="ui-side-sub-item-link" href="/account/info!verification.action">认证信息</a>
        </li>
        <li class="ui-side-sub-item ">
          <a class="ui-side-sub-item-link" href="/account/info!security.action">安全信息</a>
        </li>
        <li class="ui-side-sub-item active">
          <a class="ui-side-sub-item-link last" href="/account/info!bank.action">银行卡信息</a>
        </li>
      </ul>
    </li>
    <li class="ui-side-item ">
      <a class="ui-side-item-link"><i class="fn-left ui-icon-mid comm"></i>互动管理</a>
      <ul class="ui-side-sub-list">
        <li class="ui-side-sub-item ">
          <a  class="ui-side-sub-item-link" href="/account/comm!mail.action">站内消息</a>
        </li>
        <li class="ui-side-sub-item ">
          <a  class="ui-side-sub-item-link last" href="/account/comm!settings.action">通知设置</a>
        </li>
      </ul>
    </li>
    <li class="ui-side-item last ">
          <a class="ui-side-item-link"><i class="fn-left ui-icon-mid coupons"></i>优惠券管理</a>
          <ul class="ui-side-sub-list">
              <li class="ui-side-sub-item ">
                  <a  class="ui-side-sub-item-link" href="/account/ucode.action">U-code兑换</a>
              </li>
          </ul>
     </li>
  </ul>
  <div class="ui-side-ad mt20">
        <a  style="display: block; width:140px;overflow:hidden;"><img style="width:140px;" src="http://www.renrendai.com/upload/cms/advertising/accountIndexRight/2960ccda-628c-42b4-addc-c4a391ba847d.jpg?20140401a" alt="微信扫描"></a>
</div>
</div>
<script>
seajs.use(['components/components'], function(Components) {
  new Components.Sidebar({
    name: 'account-sidebar'
  }).init();
});
</script>
        </div>
        <div class="grid_10">
          <div class="p20bs color-white-bg fn-clear">
             <div id="bankList" class="bankList">
                  <div class="title">已添加银行卡</div>
                  <div id="banklis" class="mt20"></div>
                  
            </div>
          </div>
        </div>
    </div>
  </div>
<script id="bank-list-template" type="text/x-handlebars-template">
<ul class="fn-clear">
{{#each userBanks}}
<li data-bank="{{userBankId}}">
<img  alt="{{bankType}}" title="{{bankType}}" src="/static/img/banks/code_{{bankCode}}.jpg?rrdversion=20140414"/>
<div>{{dealCardId}}</div> 
<div class="card"><a href="/account/userBank!toModify.action?userBankId={{userBankId}}" class="link mod openLink">修改</a><a href="/account/userBank!del.action?userBankId={{userBankId}}" class="link del">删除</a></div>
</li>
{{/each}}
<li><a href="/account/userBank!toAdd.action" class="openLink"><img src="/static/img/banks/add.jpg?rrdversion=20140414"/></a><div class="card"><a href="/account/userBank!toAdd.action" class="openLink addBank" id="addBank">新增银行卡</a></div></li>
</ul>
</script> 
 <script id="bank-list-rsp" type="text/x-json">
 {"status":0,"data":{"userBanks":[]}}
 </script>
  
 <script>
seajs.use(['jquery','widgets/widgets','dialog','handlebars','tip','common'],function($,Widgets,Dialog,Handlebars,Tip,Common){
  $(function(){ 
    var form = Widgets.Form;
      var data = $("#bank-list-rsp").html();
      data=$.parseJSON(data);

      var source = $("#bank-list-template").html();
      var template = Handlebars.compile(source);
      var html = template(data.data);
      $("#banklis").html(html);
      
      new Dialog({
          trigger: '.openLink',
          width:'650px'
        }).before('show',function() {

          this.set('content', this.activeTrigger.attr('href'));
        }).after('hide',function(){

        });
      
        $(".del").click(function(e){
            if(confirm("确定要删除该银行卡吗？")){
               $.ajax({
                   url:$(this).attr("href"),
                   success:function(data){
                       Common.showMessage(data.message,function(){
                           if(data.status === 0){
                   location.reload();
                 }
                       });             
                   }
               });    
            }
            e.stopPropagation();
            return false;
            
        });
  });
});

</script>
{%endblock%}