{%extends "parent.tpl"%}

{%block title%}
理财统计 - 理财管理 - 我的多网帐户中心 -
{%endblock%}

{%block script%}{%endblock%}

{%block link%}
 <link rel="stylesheet" href="/static/css/pages/account/account.css">
{%endblock%}

{%block content%}
        <div id="pg-account-stat" class="pg-account">
            <div class="container_12 mt10">
          <ul class="ui-breadcrumb grid_12 fn-clear">
            <li class="fn-left ui-breadcrumb-item ui-breadcrumb-text ui-breadcrumb-text-first">
              <a href="/account/index.action">我的多网</a>
            </li>
            <li class="fn-left ui-breadcrumb-item ui-breadcrumb-separator"></li>
            <li class="fn-left ui-breadcrumb-item ui-breadcrumb-text">
              <a href="/account/invest!loan.action">理财管理</a>
            </li>
            <li class="fn-left ui-breadcrumb-item ui-breadcrumb-separator"></li>
            <li class="fn-left ui-breadcrumb-item ui-breadcrumb-text ui-breadcrumb-text-current">
              <a>理财统计</a>
            </li>
          </ul>
        </div>
        <div class="container_12 mt10">
                <div class="grid_2">
                    

<div class="ui-side ui-side-withicon" id="sidebar">
  <ul class="ui-side-list nav nav-list bs-docs-sidenav affix">
    <li class="ui-side-item ">
      <a class="ui-side-item-link" href="/account/index.action"><i class="fn-left ui-icon-mid index"></i>我的多网</a>
    </li>
    <li class="ui-side-item ">
      <a class="ui-side-item-link"><i class="fn-left ui-icon-mid capital"></i>资金管理</a>
      <ul class="ui-side-sub-list">
        <li class="ui-side-sub-item ">
          <a class="ui-side-sub-item-link" href="/account/capital.action">交易记录</a>
        </li>
        <li class="ui-side-sub-item ">
          <a class="ui-side-sub-item-link" href="/account/capital!recharge.action">充值</a>
        </li>
        <li class="ui-side-sub-item ">
          <a class="ui-side-sub-item-link last" href="/account/capital!withdraw.action">提现</a>
        </li>
      </ul>
    </li>
    <li class="ui-side-item active">
      <a class="ui-side-item-link"><i class="fn-left ui-icon-mid invest"></i>理财管理</a>
      <ul class="ui-side-sub-list">
        <li class="ui-side-sub-item ">
          <a class="ui-side-sub-item-link" href="/account/invest!loan.action">我的债权</a>
        </li>
        <li class="ui-side-sub-item ">
          <a class="ui-side-sub-item-link" href="/account/invest!plan.action">优选理财计划</a>
        </li>
        <li class="ui-side-sub-item ">
          <a class="ui-side-sub-item-link" href="/account/invest!transfer.action">债权转让</a>
        </li>
        <li class="ui-side-sub-item active">
          <a class="ui-side-sub-item-link" href="/account/invest!statistics.action">理财统计</a>
        </li>
        <li class="ui-side-sub-item ">
          <a class="ui-side-sub-item-link last" href="/account/invest!tool.action">自动投标工具</a>
        </li>
      </ul>
    </li>
    <li class="ui-side-item ">
      <a class="ui-side-item-link"><i class="fn-left ui-icon-mid borrow"></i>借款管理</a>
      <ul class="ui-side-sub-list">
        <li class="ui-side-sub-item ">
          <a class="ui-side-sub-item-link" href="/account/borrow!toMyLoans.action">我的借款</a>
        </li>
        <li class="ui-side-sub-item ">
          <a class="ui-side-sub-item-link" href="/account/borrow!applications.action">借款申请查询</a>
        </li>
        <li class="ui-side-sub-item ">
          <a class="ui-side-sub-item-link last" href="/account/borrow!statistics.action">借款统计</a>
        </li>
      </ul>
    </li>
    <li class="ui-side-item ">
      <a class="ui-side-item-link"><i class="fn-left ui-icon-mid account"></i>账户管理</a>
      <ul class="ui-side-sub-list">
        <li class="ui-side-sub-item ">
          <a class="ui-side-sub-item-link" href="/account/info!basicInfo.action">个人基础信息</a>
        </li>
        <li class="ui-side-sub-item ">
          <a class="ui-side-sub-item-link" href="/account/info!verification.action">认证信息</a>
        </li>
        <li class="ui-side-sub-item ">
          <a class="ui-side-sub-item-link" href="/account/info!security.action">安全信息</a>
        </li>
        <li class="ui-side-sub-item ">
          <a class="ui-side-sub-item-link last" href="/account/info!bank.action">银行卡信息</a>
        </li>
      </ul>
    </li>
    <li class="ui-side-item ">
      <a class="ui-side-item-link"><i class="fn-left ui-icon-mid comm"></i>互动管理</a>
      <ul class="ui-side-sub-list">
        <li class="ui-side-sub-item ">
          <a  class="ui-side-sub-item-link" href="/account/comm!mail.action">站内消息</a>
        </li>
        <li class="ui-side-sub-item ">
          <a  class="ui-side-sub-item-link last" href="/account/comm!settings.action">通知设置</a>
        </li>
      </ul>
    </li>
    <li class="ui-side-item last ">
          <a class="ui-side-item-link"><i class="fn-left ui-icon-mid coupons"></i>优惠券管理</a>
          <ul class="ui-side-sub-list">
              <li class="ui-side-sub-item ">
                  <a  class="ui-side-sub-item-link" href="/account/ucode.action">U-code兑换</a>
              </li>
          </ul>
     </li>
  </ul>
  <div class="ui-side-ad mt20">
        <a  style="display: block; width:140px;overflow:hidden;"><img style="width:140px;" src="http://www.duonet.com/upload/cms/advertising/accountIndexRight/2960ccda-628c-42b4-addc-c4a391ba847d.jpg?20140401a" alt="微信扫描"></a>
</div>
</div>
<script>
seajs.use(['components/components'], function(Components) {
  new Components.Sidebar({
    name: 'account-sidebar'
  }).init();
});
</script>
                </div>
                <div class="grid_10">
                    <div class="p20bs color-white-bg">
                        <h3 class="text-xl">理财账户统计</h3>
                        
            <div class="mt10">
                            <h4 class="rrdcolor-paleblue-bg color-white-text p10 ph20">您通过多网平台已赚取<em class="ph10">0.00</em>元</h4>
                            <div class="fn-clear mt10">
                                <ul class="fn-left stat" id="gained-data">
                                    <li class="fn-clear rrdcolor-paleblue3-bg" data-name="category" data-category="优选理财计划收益" data-value="0.00">
                                        <span class="fn-left w160 pl20">优选理财计划收益</span>
                                        <span class="fn-left w125 text-right last">0.00</span>
                                    </li>
                                    <li class="fn-clear rrdcolor-paleblue2-bg">
                    <div class="fn-left w70 pl20 wide">
                      <span>债权收益</span>
                    </div>
                    <div class="fn-left last">
                      <ul>
                        <li class="fn-clear bottom-border" data-name="category" data-category="已赚利息" data-value="0.00">
                          <span class="fn-left w90">已赚利息</span>
                          <span class="fn-left w125 text-right last">0.00</span>
                        </li>
                        <li class="fn-clear bottom-border" data-name="category" data-category="已赚罚息" data-value="0.00">
                          <span class="fn-left w90">已赚罚息</span>
                          <span class="fn-left w125 text-right last">0.00</span>
                        </li>
                        <li class="fn-clear bottom-border" data-name="category" data-category="已赚违约金" data-value="0.00">
                          <span class="fn-left w90">已赚违约金</span>
                          <span class="fn-left w125 text-right last">0.00</span>
                        </li>
                        <li class="fn-clear" data-name="category" data-category="债权转让盈亏" data-value="0.00">
                          <span class="fn-left w90">债权转让盈亏</span>
                          <span class="fn-left w125 text-right last">0.00</span>
                        </li>
                      </ul>
                    </div>
                                    </li>
                                    <li class="fn-clear rrdcolor-paleblue3-bg">
                                        <span class="fn-left w160 pl20">总计</span>
                                        <span class="fn-left w125 text-right last">0.00</span>
                                    </li>
                                </ul>
                                <div class="fn-left chart" id="gained-chart"></div>
                            </div>
                        </div>

                        <div class="mt20">
                            <h4 class="rrdcolor-paleblue-bg color-white-text p10 ph20">您通过多网平台累计投资<em class="ph10">0.00</em>元</h4>
              <div class="fn-clear mt10">
                            <ul class="fn-left stat" id="total-invest-data">
                                <li class="fn-clear rrdcolor-paleblue3-bg" data-name="category" data-category="优选理财计划" data-value="0.00">
                                    <span class="fn-left w160 pl20">优选理财计划</span>
                                    <span class="fn-left w125 text-right">0.00</span>
                                </li>
                                <li class="fn-clear rrdcolor-paleblue2-bg" data-name="category" data-category="债权" data-deep="yes" data-value="sub-category">
                                    <div class="fn-left w70 pl20 wide">
                      <span>债权</span>
                    </div>
                                    <div class="fn-left last">
                      <ul>
                                            <li class="fn-clear bottom-border" data-name="sub-category" data-sub-category="信用认证标" data-value="0.00">
                                                <span class="fn-left w90">信用认证标</span>
                                                <span class="fn-left w125 text-right">0.00</span>
                                            </li>
                                            <li class="fn-clear bottom-border" data-name="sub-category" data-sub-category="机构担保标" data-value="0.00">
                                                <span class="fn-left w90">机构担保标</span>
                                                <span class="fn-left w125 text-right">0.00</span>
                                            </li>
                                            <li class="fn-clear bottom-border" data-name="sub-category" data-sub-category="实地认证标" data-value="0.00">
                                                <span class="fn-left w90">实地认证标</span>
                                                <span class="fn-left w125 text-right">0.00</span>
                                            </li>
                                            <li class="fn-clear" data-name="sub-category" data-sub-category="智能理财标" data-value="0.00">
                                                <span class="fn-left w90">智能理财标</span>
                                                <span class="fn-left w125 text-right">0.00</span>
                                            </li>
                                        </ul>
                    </div>
                                </li>
                                <li class="fn-clear rrdcolor-paleblue3-bg">
                                    <span class="fn-left w160 pl20">总计</span>
                                    <span class="fn-left w125 text-right">0.00</span>
                                </li>
                            </ul>
                <div class="fn-left chart" id="total-invest-chart" data-empty="您在多网没有投资"></div>
              </div>
                        </div>

                        <div class="mt20">
                            <h4 class="rrdcolor-paleblue-bg color-white-text p10 ph20">您当前在多网的理财账户资产为<em class="ph10">0.00</em>元</h4>
              <div class="fn-clear mt10">
                            <ul class="fn-left stat" id="current-invest-data">
                                <li class="fn-clear rrdcolor-paleblue3-bg" data-name="category" data-category="优选理财计划" data-value="0.00">
                                    <span class="fn-left w160 pl20">优选理财计划</span>
                                    <span class="fn-left w125 text-right">0.00</span>
                                </li>
                                <li class="fn-clear rrdcolor-paleblue2-bg" data-name="category" data-category="债权" data-deep="yes" data-value="sub-category">
                                    <div class="fn-left w70 pl20 wide">
                      <span>债权</span>
                    </div>
                    <div class="fn-left last">
                      <ul>
                                            <li class="fn-clear bottom-border" data-name="sub-category" data-sub-category="信用认证标" data-value="0.00">
                                                <span class="fn-left w90">信用认证标</span>
                                                <span class="fn-left w125 text-right">0.00</span>
                                            </li>
                                            <li class="fn-clear bottom-border" data-name="sub-category" data-sub-category="机构担保标" data-value="0.00">
                                                <span class="fn-left w90">机构担保标</span>
                                                <span class="fn-left w125 text-right">0.00</span>
                                            </li>
                                            <li class="fn-clear bottom-border" data-name="sub-category" data-sub-category="实地认证标" data-value="0.00">
                                                <span class="fn-left w90">实地认证标</span>
                                                <span class="fn-left w125 text-right">0.00</span>
                                            </li>
                                            <li class="fn-clear" data-name="sub-category" data-sub-category="智能理财标" data-value="0.00">
                                                <span class="fn-left w90">智能理财标</span>
                                                <span class="fn-left w125 text-right">0.00</span>
                                            </li>
                                        </ul>
                    </div>
                                </li>
                                <li class="fn-clear rrdcolor-paleblue3-bg">
                                    <span class="fn-left w160 pl20">总计</span>
                                    <span class="fn-left w125 text-right">0.00</span>
                                </li>
                            </ul>
                            <div class="fn-left chart" id="current-invest-chart" data-empty="您当前在多网没有投资"></div>
              </div>
                        </div>

                        <div class="mt20">
                            <h4 class="rrdcolor-paleblue-bg color-white-text p10 ph20">您当前在多网投资的债权待收收益为<em class="ph10">0.00</em>元</h4>
              <div class="fn-clear mt10">
                            <ul class="fn-left stat" id="to-gain-data">
                                <li class="fn-clear rrdcolor-paleblue3-bg" data-name="category" data-category="信用认证标" data-value="0.00">
                                    <span class="fn-left w160 pl20">信用认证标</span>
                                    <span class="fn-left w125 text-right">0.00</span>
                                </li>
                                <li class="fn-clear rrdcolor-paleblue2-bg" data-name="category" data-category="机构担保标" data-value="0.00">
                                    <span class="fn-left w160 pl20">机构担保标</span>
                                    <span class="fn-left w125 text-right">0.00</span>
                                </li>
                                <li class="fn-clear rrdcolor-paleblue3-bg" data-name="category" data-category="实地认证标" data-value="0.00">
                                    <span class="fn-left w160 pl20">实地认证标</span>
                                    <span class="fn-left w125 text-right">0.00</span>
                                </li>
                                <li class="fn-clear rrdcolor-paleblue2-bg" data-name="category" data-category="智能理财标" data-value="0.00">
                                    <span class="fn-left w160 pl20">智能理财标</span>
                                    <span class="fn-left w125 text-right">0.00</span>
                                </li>
                                <li class="fn-clear rrdcolor-paleblue3-bg">
                                    <span class="fn-left w160 pl20">总计</span>
                                    <span class="fn-left w125 text-right">0.00</span>
                                </li>
                            </ul>
                <div class="fn-left chart" id="to-gain-chart" data-empty="您在多网没有债权待收收益"></div>
              </div>
                        </div>

                    </div>
                </div>
        </div>
      </div>
{%endblock%}

{%block after%}
  <script>seajs.use(['pages/account/invest/statistics']);</script>
{%endblock%}
