<!DOCTYPE html>
<html>
<head>
<title>
  我的债权 - 理财管理 - 我的人人贷帐户中心 - 人人贷 - 中国最大最安全的P2P网络投资理财、网络贷款平台
</title>
<meta name="renderer" content="webkit">
<meta http-equiv="content-type" content="text/html" charset="utf-8">
<meta name="google-site-verification" content="oQXrGa_mTgxg7joO0himE0QuFeqOVmm-SDC1H2dzT4c">
<meta name="keywords" content="人人贷|网络理财|个人理财|投资理财|P2P理财|互联网金融|投资理财|债权转让|理财计划|优选计划|网络贷款|工薪贷|生意贷|网商贷|网贷|小额贷款" />
<meta name="description" content="人人贷(www.renrendai.com)是目前中国互联网金融中P2P信贷行业中最大、最安全的平台，为投资理财用户和贷款用户两端提供公平、透明、安全、高效的互联网金融服务。投资理财用户可以通过人人贷平台进行投标、加入优选理财计划、购买债权等方式进行投资获得高收益；贷款用户可以通过平台申请工薪贷、生意贷、网商贷等小额贷款。" />

<script src="/static/js/seajs/2.1.0/sea.js?rrdversion=20140414"></script>
<script src="/static/js/config.js?rrdversion=20140414"></script>


<link rel="shortcut icon" href="/favicon.ico?icoversion=1">
<link rel="stylesheet" href="/static/css/one.css?rrdversion=20140414">
<!--[if lt IE 9]>
<link rel="stylesheet" type="text/css" href="/static/css/ie8-and-lower.css?rrdversion=20140414" />
<![endif]-->
<!--[if lt IE 7]>
<link rel="stylesheet" type="text/css" href="/static/css/ie6-and-lower.css?rrdversion=20140414" />
<![endif]-->

    <link rel="stylesheet" href="/static/css/pages/account/account.css?rrdversion=20140414">
  
</head>

<body>
  <div class="pg-container  ">
    


<div class="ui-header" id="header">
  <div class="ui-header-top ">
    <div class="container_12 fn-clear">
      <div class="grid_12 fn-clear">
        <div class="ui-nav fn-right">
          <a class="ui-nav-item fn-left" href="/">首页</a>
          <a class="ui-nav-item fn-left" href="/event/app.action" target="_blank"><i class="icon icon-app mr5"></i>移动客户端</a>
          <a class="ui-nav-item fn-left" href="/account/index.action">我的人人贷</a>
          
          <a class="ui-nav-item fn-left " id="header-msg" href="/account/comm!mail.action" target="_blank">
            <span class="fn-left">消息</span>
            <span class="ui-nav-msgcount ui-nav-msgcount-nomsg rrdcolor-lightblue-bg" id="header-msgcount">0</span>
          </a>
          
          <a class="ui-nav-item fn-left" href="/help/index.action" target="_blank">帮助</a>
          <a class="ui-nav-item fn-left" href="http://bbs.renrendai.com" target="_blank">论坛</a>
        </div>
      </div>
    </div>
  </div>
  <div class="ui-header-main">
    <div class="container_12 fn-clear">
      <div class="grid_2 ui-header-grid">
        <a class="ui-header-logo fn-left" href="/"></a>
      </div>
      <div class="grid_7 ui-header-grid">
        <div class="fn-hide no-nav-text"></div>
        <ul class="ui-nav ">
          <li class="ui-nav-item ui-nav-item-x">
            <a class="ui-nav-item-link rrd-dimgray" href="/lend/index.action">
              <span>我要理财</span>
              <span class="arrow-down"></span>
            </a>
            <ul class="ui-nav-dropdown ui-nav-dropdown-invest" style="display: none;">
              <li class="ui-nav-dropdown-angle"><span></span></li>
              
              <li class="ui-nav-dropdown-item"><a class="rrd-dimgray" href="/financeplan/listPlan.action">优选理财计划</a></li>
              <li class="ui-nav-dropdown-item"><a class="rrd-dimgray" href="/lend/loanList.action">散标投资列表</a></li>
              <li class="ui-nav-dropdown-item"><a class="rrd-dimgray" href="/transfer/transferList.action">债权转让列表</a></li>
            </ul>
          </li>
          <li class="ui-nav-item ui-nav-item-x">
            <a class="ui-nav-item-link rrd-dimgray" href="/borrow/index.action">
              <span>我要借款</span>
              <span class="arrow-down"></span>
            </a>
            <ul class="ui-nav-dropdown ui-nav-dropdown-borrow" style="display: none;">
              <li class="ui-nav-dropdown-angle"><span></span></li>
              <li class="ui-nav-dropdown-item"><a class="rrd-dimgray" href="/borrow/prodWork.action">工薪贷</a></li>
              <li class="ui-nav-dropdown-item"><a class="rrd-dimgray" href="/borrow/prodBiz.action">生意贷</a></li>
              <li class="ui-nav-dropdown-item"><a class="rrd-dimgray" href="/borrow/prodEcomm.action">网商贷</a></li>
            </ul>
          </li>
          <li class="ui-nav-item">
            <a class="ui-nav-item-link rrd-dimgray" href="/guide/invest.action">新手指引</a>
          </li>
          <li class="ui-nav-item ui-nav-item-x">
            <a class="ui-nav-item-link rrd-dimgray" href="/about/about.action?flag=intro">
              <span>关于我们</span>
              <span class="arrow-down"></span>
            </a>
            <ul class="ui-nav-dropdown ui-nav-dropdown-invest" style="display: none;">
              <li class="ui-nav-dropdown-angle"><span></span></li>
              <li class="ui-nav-dropdown-item"><a class="rrd-dimgray" href="/about/about.action?flag=team">管理团队</a></li>
              <li class="ui-nav-dropdown-item"><a class="rrd-dimgray" href="/about/about.action?flag=news">最新动态</a></li>
              <li class="ui-nav-dropdown-item"><a class="rrd-dimgray" href="/about/about.action?flag=invite">招贤纳士</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="grid_3 ui-header-grid">
        <ul class="ui-nav fn-right  ">
          
          <li class="ui-nav-item ui-nav-item-x">
            <a class="ui-nav-item-link rrd-dimgray ui-nav-username fn-text-overflow" href="/account/index.action">
              <span>您好，yanni4night</span>
              <span class="arrow-down"></span>
            </a>
            <ul class="ui-nav-dropdown ui-nav-dropdown-account" style="display: none;">
              <li class="ui-nav-dropdown-angle"><span></span></li>
              <li class="ui-nav-dropdown-item"><a class="rrd-dimgray" href="/account/capital!recharge.action">充值</a></li>
              <li class="ui-nav-dropdown-item"><a class="rrd-dimgray" href="/account/capital!withdraw.action">提现</a></li>
              <li class="ui-nav-dropdown-separator"></li>
              <li class="ui-nav-dropdown-item"><a class="rrd-dimgray" href="/account/capital.action">资金管理</a></li>
              <li class="ui-nav-dropdown-item"><a class="rrd-dimgray" href="/account/invest!loan.action">理财管理</a></li>
              <li class="ui-nav-dropdown-item"><a class="rrd-dimgray" href="/account/borrow!toMyLoans.action">借款管理</a></li>
              <li class="ui-nav-dropdown-separator"></li>
              <li class="ui-nav-dropdown-item"><a class="rrd-dimgray" href="/j_spring_security_logout">退出</a></li>
            </ul>
          </li>
          
          
        </ul>
        <!--
        <ul class="ui-nav fn-right fn-hide">
          <li class="ui-nav-item">
            <a class="ui-nav-item-link login-link" href="/loginPage.action">登录</a>
          </li>
        </ul>
        <ul class="ui-nav fn-right fn-hide">
          <li class="ui-nav-item">
            <a class="ui-nav-item-link reg-link" href="/regPage.action">注册</a>
          </li>
        </ul>
        -->
      </div>
    </div>
  </div>
  
  

  <div id="header-helper" style="display: none;">
    <span id="header-helper-authenticated">
      true
      
    </span>
  </div>
</div>
<script>
seajs.use(['components/components'], function(Components) {
  new Components.Header().init();
});
</script>
    <div class="pg-container-content">
      
  <div id="pg-account-loans" class="pg-account">
    <div class="container_12 mt10">
      <ul class="ui-breadcrumb grid_12 fn-clear">
        <li class="fn-left ui-breadcrumb-item ui-breadcrumb-text ui-breadcrumb-text-first">
          <a href="/account/index.action">我的人人贷</a>
        </li>
        <li class="fn-left ui-breadcrumb-item ui-breadcrumb-separator"></li>
        <li class="fn-left ui-breadcrumb-item ui-breadcrumb-text">
          <a href="/account/invest!loan.action">理财管理</a>
        </li>
        <li class="fn-left ui-breadcrumb-item ui-breadcrumb-separator"></li>
        <li class="fn-left ui-breadcrumb-item ui-breadcrumb-text ui-breadcrumb-text-current">
          <a>我的债权</a>
        </li>
      </ul>
    </div>
    <div class="container_12 mt10">
      <div class="grid_2">
        

<div class="ui-side ui-side-withicon" id="sidebar">
  <ul class="ui-side-list nav nav-list bs-docs-sidenav affix">
    <li class="ui-side-item ">
      <a class="ui-side-item-link" href="/account/index.action"><i class="fn-left ui-icon-mid index"></i>我的人人贷</a>
    </li>
    <li class="ui-side-item ">
      <a class="ui-side-item-link"><i class="fn-left ui-icon-mid capital"></i>资金管理</a>
      <ul class="ui-side-sub-list">
        <li class="ui-side-sub-item ">
          <a class="ui-side-sub-item-link" href="/account/capital.action">交易记录</a>
        </li>
        <li class="ui-side-sub-item ">
          <a class="ui-side-sub-item-link" href="/account/capital!recharge.action">充值</a>
        </li>
        <li class="ui-side-sub-item ">
          <a class="ui-side-sub-item-link last" href="/account/capital!withdraw.action">提现</a>
        </li>
      </ul>
    </li>
    <li class="ui-side-item active">
      <a class="ui-side-item-link"><i class="fn-left ui-icon-mid invest"></i>理财管理</a>
      <ul class="ui-side-sub-list">
        <li class="ui-side-sub-item active">
          <a class="ui-side-sub-item-link" href="/account/invest!loan.action">我的债权</a>
        </li>
        <li class="ui-side-sub-item ">
          <a class="ui-side-sub-item-link" href="/account/invest!plan.action">优选理财计划</a>
        </li>
        <li class="ui-side-sub-item ">
          <a class="ui-side-sub-item-link" href="/account/invest!transfer.action">债权转让</a>
        </li>
        <li class="ui-side-sub-item ">
          <a class="ui-side-sub-item-link" href="/account/invest!statistics.action">理财统计</a>
        </li>
        <li class="ui-side-sub-item ">
          <a class="ui-side-sub-item-link last" href="/account/invest!tool.action">自动投标工具</a>
        </li>
      </ul>
    </li>
    <li class="ui-side-item ">
      <a class="ui-side-item-link"><i class="fn-left ui-icon-mid borrow"></i>借款管理</a>
      <ul class="ui-side-sub-list">
        <li class="ui-side-sub-item ">
          <a class="ui-side-sub-item-link" href="/account/borrow!toMyLoans.action">我的借款</a>
        </li>
        <li class="ui-side-sub-item ">
          <a class="ui-side-sub-item-link" href="/account/borrow!applications.action">借款申请查询</a>
        </li>
        <li class="ui-side-sub-item ">
          <a class="ui-side-sub-item-link last" href="/account/borrow!statistics.action">借款统计</a>
        </li>
      </ul>
    </li>
    <li class="ui-side-item ">
      <a class="ui-side-item-link"><i class="fn-left ui-icon-mid account"></i>账户管理</a>
      <ul class="ui-side-sub-list">
        <li class="ui-side-sub-item ">
          <a class="ui-side-sub-item-link" href="/account/info!basicInfo.action">个人基础信息</a>
        </li>
        <li class="ui-side-sub-item ">
          <a class="ui-side-sub-item-link" href="/account/info!verification.action">认证信息</a>
        </li>
        <li class="ui-side-sub-item ">
          <a class="ui-side-sub-item-link" href="/account/info!security.action">安全信息</a>
        </li>
        <li class="ui-side-sub-item ">
          <a class="ui-side-sub-item-link last" href="/account/info!bank.action">银行卡信息</a>
        </li>
      </ul>
    </li>
    <li class="ui-side-item ">
      <a class="ui-side-item-link"><i class="fn-left ui-icon-mid comm"></i>互动管理</a>
      <ul class="ui-side-sub-list">
        <li class="ui-side-sub-item ">
          <a  class="ui-side-sub-item-link" href="/account/comm!mail.action">站内消息</a>
        </li>
        <li class="ui-side-sub-item ">
          <a  class="ui-side-sub-item-link last" href="/account/comm!settings.action">通知设置</a>
        </li>
      </ul>
    </li>
    <li class="ui-side-item last ">
          <a class="ui-side-item-link"><i class="fn-left ui-icon-mid coupons"></i>优惠券管理</a>
          <ul class="ui-side-sub-list">
              <li class="ui-side-sub-item ">
                  <a  class="ui-side-sub-item-link" href="/account/ucode.action">U-code兑换</a>
              </li>
          </ul>
     </li>
  </ul>
  <div class="ui-side-ad mt20">
        <a  style="display: block; width:140px;overflow:hidden;"><img style="width:140px;" src="http://www.renrendai.com/upload/cms/advertising/accountIndexRight/2960ccda-628c-42b4-addc-c4a391ba847d.jpg?20140401a" alt="微信扫描"></a>
</div>
</div>
<script>
seajs.use(['components/components'], function(Components) {
  new Components.Sidebar({
    name: 'account-sidebar'
  }).init();
});
</script>
      </div>
      <div class="grid_10">
        <div class="fn-clear p20bs color-orange-bg">
          <div class="fn-left box-summary-left">
              <h3 class="text-xl">债权已赚金额<i id="tips_1" class="iconfont tips">&#xF046;</i></h3>
              <p class="num color-orange-text"><em>0.00</em>元</p>
              <p class="text-small">
                <span class="pr5">利息收益<i id="tips_2" class="iconfont tips">&#xF046;</i></span>
                <span class="num-s"><em>0.00</em>元</span>
              </p>
              <p class="text-small">
                <span class="pr5">债权转让盈亏</span>
                <span class="num-s"><em>0.00</em>元</span>
              </p>
          </div>
          <div class="fn-left box-summary-right h100 last">
            <div class="fn-clear color-dimgray-text">
              <div class="grid_2 alpha">
                <h5 class="text-big">债权账户资产</h5>
                <p class="num-s"><em>0.00</em>元</p>
              </div>
              <div class="grid_2 omega">
                <h5 class="text-big">回收中的债权数量</h5>
                <p class="num-s"><em>0</em>个</p>
              </div>
            </div>
            <div class="mt10 fn-clear">
              <span>没时间亲自投标？试试人人贷自动投标功能吧。</span>
              <a class="ui-button ui-button-small ui-button-blue" href="/account/invest!tool.action">自动投标</a>
            </div>
          </div>
        </div>
        
        <div class="mt20">
          <a class="loans-return-link" href="/account/invest!backAccount.action">回帐查询</a>
          <div class="ui-tab ui-tab-transparent" id="loans-tab">
            <ul class="ui-tab-items">
              <li class="ui-tab-item ui-tab-item-current" data-name="repaying">
                <a class="ui-tab-item-link">回收中的债权</a>
              </li>
              <li class="ui-tab-item" data-name="repaid">
                <a class="ui-tab-item-link">已结清的债权</a>
              </li>
              <li class="ui-tab-item" data-name="investing">
                <a class="ui-tab-item-link">投标中的债权</a>
              </li>
              <li class="ui-tab-item" data-name="transferred-out">
                <a class="ui-tab-item-link">已转出的债权</a>
              </li>
            </ul>
          </div>
          <div class="p20bs color-white-bg">
            <div id="loans-tab-content">
              <div class="ui-tab-content ui-tab-content-current fn-clear" data-name="repaying">
                <ul class="ui-list ui-list-s transferring" id="repaying-list"></ul>
                <div class="fn-right mt10" id="repaying-list-pagination"></div>
              </div>
              <div class="ui-tab-content fn-clear" data-name="repaid">
                <ul class="ui-list ui-list-s transferable" id="repaid-list"></ul>
                <div class="fn-right mt10" id="repaid-list-pagination"></div>
              </div>
              <div class="ui-tab-content fn-clear" data-name="investing">
                <ul class="ui-list ui-list-s transferred-out" id="investing-list"></ul>
                <div class="fn-right mt10" id="investing-list-pagination"></div>
              </div>
              <div class="ui-tab-content fn-clear" data-name="transferred-out">
                <ul class="ui-list ui-list-s transferred-out" id="transferred-out-list"></ul>
                <div class="fn-right mt10" id="transferred-out-list-pagination"></div>
              </div>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
  
  <div class="ui-poptip fn-hide" id="tipCon_1">
      <div class="ui-poptip-shadow">
      <div class="ui-poptip-container">
          <div class="ui-poptip-arrow ui-poptip-arrow-10">
              <em></em>
              <span></span>
          </div>
          <div class="ui-poptip-content" data-role="content">
             债权已赚金额 = 债权已赚利息罚息及违约金 + 债权转让盈亏 - 债权转让应计利息支出<br>（由于购买转让的债权时可能需要先支付应计利息，所以此数值可能为负）
          </div>
      </div>
      </div>
  </div>
  <div class="ui-poptip fn-hide" id="tipCon_2">
      <div class="ui-poptip-shadow">
      <div class="ui-poptip-container">
          <div class="ui-poptip-arrow ui-poptip-arrow-10">
              <em></em>
              <span></span>
          </div>
          <div class="ui-poptip-content" data-role="content">
            利息收益 = 债权已赚利息罚息及违约金 - 债权转让应计利息支出<br>（由于购买转让的债权时可能需要先支付应计利息，所以此数值可能为负）
          </div>
      </div>
      </div>
  </div>
  
    </div>
    

<div class="ui-footer" id="footer">
  <div class="container_12">
    <div class="grid_12">
        <div class="ui-footer-section ui-footer-narrow-hide fn-clear">
  <h4 class="color-gray-text text-big fn-left w85">友情链接</h4>
  <ul class="ui-footer-links fn-left w850">
    <li class="fn-left">
      <a class="gray" target="_blank" href="http://credit.hc360.com/dk_index/hc_dk.html">慧聪金融</a>
    </li>
    <li class="fn-left">
      <a class="gray" target="_blank" href="http://www.enfodesk.com/">易观智库</a>
    </li>
    <li class="fn-left">
      <a class="gray" target="_blank" href="http://www.haodai.com/">好贷网</a>
    </li>
    <li class="fn-left">
      <a class="gray" target="_blank" href="http://www.yinhang.com/">银率网</a>
    </li>
    <li class="fn-left">
      <a class="gray" target="_blank" href="http://bank.hexun.com/">和讯银行</a>
    </li>
    <li class="fn-left">
      <a class="gray" target="_blank" href="http://www.gome.com.cn/">国美在线</a>
    </li>
    <li class="fn-left">
      <a class="gray" target="_blank" href="http://www.cjdao.com/index.jsp">财经道</a>
    </li>
    <li class="fn-left">
      <a class="gray" target="_blank" href="http://www.siilu.com/">电商服务</a>
    </li>
    <li class="fn-left">
      <a class="gray" target="_blank" href="http://www.shopex.cn/">ShopEx</a>
    </li>
    <li class="fn-left">
      <a class="gray" target="_blank" href="http://bj.58.com/danbaobaoxiantouzi/">58投资担保</a>
    </li>
    <li class="fn-left">
      <a class="gray" target="_blank" href="http://www.wangdaizhijia.com/">网贷之家</a>
    </li>
    <li class="fn-left">
      <a class="gray" target="_blank" href="http://bbs.wacai.com">挖财社区</a>
    </li>
    <li class="fn-left">
      <a class="gray" target="_blank" href="http://www.feidee.com/money/">随手记</a>
    </li>
    <li class="fn-left">
      <a class="gray" target="_blank" href="http://www.rong360.com/licai/">融360理财</a>
    </li>
  </ul>
</div>

      <div class="ui-footer-section ui-footer-narrow-hide fn-clear">
        <div class="ui-footer-links grid_9 alpha">
                <ul class="fn-clear">
            <li class="fn-left">
              <a class="gray" target="_blank" href="/about/about.action?flag=intro">公司介绍</a>
            </li>
            <li class="fn-left">
              <a class="gray" target="_blank" href="/guide/investSecurity.action">安全保障</a>
            </li>
            <li class="fn-left">
              <a class="gray" target="_blank" href="/about/about.action?flag=report">媒体报道</a>
            </li>
            <li class="fn-left">
              <a class="gray" target="_blank" href="/about/about.action?flag=responsibility">社会责任</a>
            </li>
            <li class="fn-left">
              <a class="gray" target="_blank" href="/about/about.action?flag=invite">招贤纳士</a>
            </li>
            <li class="fn-left">
              <a class="gray" target="_blank" href="/sitemap.action">网站地图</a>
            </li>
            <li class="fn-left">
              <a class="gray" target="_blank" href="/help/index.action">帮助中心</a>
            </li>
            <li class="fn-left">
              <a class="gray" target="_blank" href="/about/about.action?flag=contact">联系我们</a>
            </li>
          </ul>
          <ul class="fn-clear icons">
            <li class="fn-left">
              <h4 class="color-gray-text text-big">客户服务</h4>
            </li>
            <li class="fn-left"><a class="ui-footer-img-link weibo" target="_blank" href="http://e.weibo.com/renrendai?ref=http%3A%2F%2Fwww.renrendai.com%2F">人人贷新浪微博</a></li>
            <li class="fn-left"><a class="ui-footer-img-link qq-weibo" target="_blank" href="http://t.qq.com/renrendai">人人贷腾讯微博</a></li>
            <li class="fn-left"><a class="ui-footer-img-link we-chat" tabindex="-1" href="#">人人贷微信</a></li>
            <li class="fn-left"><a class="ui-footer-img-link online-customer-service cursor-pointer" target="_blank" onclick="javascript:window.open('http://b.qq.com/webc.htm?new=0&sid=4000278080&eid=218808P8z8p8R8y8q8y8Q&o=www.renrendai.com&q=7&ref='+document.location, '_blank', 'height=544, width=644,toolbar=no,scrollbars=no,menubar=no,status=no');">人人贷在线客服</a></li>
          </ul>
        </div>
            <div class="grid_3 omega">
          <p class="color-gray-text text-right">客服电话</p>
          <h4 class="color-gray-text text-right ui-footer-phone-number">400-027-8080</h4>
          <p class="color-gray-text text-right">9:00 - 21:00</p>
        </div>
        </div>
      <div class="ui-footer-section last">
        <div class="ui-footer-copyright">
          <span class="ui-footer-contact-link color-gray-text">© 2014 人人贷 All rights reserved</span>
          <span class="ui-footer-contact-link color-gray-text has-separator">人人贷商务顾问(北京)有限公司</span>
          <span class="ui-footer-contact-link color-gray-text has-separator last"><a class="gray" target="_blank" href="/icp/icp.html">京ICP证 100953号</a></span>
        </div>
        <div class="ui-footer-verification ui-footer-narrow-hide fn-clear">
          <a class="ui-footer-verification-item fn-left credibility" title="人人贷荣获中国电子商务协会“诚信网站”认证殊荣" href="https://search.szfw.org/cert/l/CX20140315003612003651" target="_blank"></a>
          <a class="ui-footer-verification-item fn-left trust" title="人人贷已通过中网权威数据库对比，获得“可信网站”身份验证，您可放心使用。" href="https://ss.knet.cn/verifyseal.dll?sn=e13042311010040288j4wq000000&ct=df&a=1&pa=931969" target="_blank"></a>
          <a class="ui-footer-verification-item fn-left itrust" title="人人贷已经成为中国互联网信用评价中心网络诚信联盟成员，并且完成企业信用评级 " href="http://www.itrust.org.cn/yz/pjwx.asp?wm=2554879344" target="_blank"></a>
          <a class="ui-footer-verification-item fn-left norton" title="人人贷已引入VeriSign SSL加密技术，您的隐私及个人资料安全已受最高级别的保护。" href="https://trustsealinfo.verisign.com/splash?form_file=fdf/splash.fdf&dn=www.renrendai.com&lang=zh_cn" target="_blank"></a>
          <a class="ui-footer-verification-item fn-left police" title="人人贷已经完成在公安机关的信息备案，您可了解网站相关备案信息。" href="http://gawa.bjchy.gov.cn/websearch/" target="_blank"></a>
          <a class="ui-footer-verification-item fn-left gongshang" title="人人贷已经完成在北京市工商局网站备案，您可了解网站相关备案信息。" href="http://www.hd315.gov.cn/beian/view.asp?bianhao=010202013052900002" target="_blank"></a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="fn-hide">
  <div id="weixin-content" class="p20 text-center">
    <img src="/static/img/weixin_l.jpg?rrdversion=20140414" />
    <p>微信“发现”扫一扫，人人贷里动态全知道！</p>
  </div>
</div>
<script>
seajs.use(['components/components'], function(Components) {
  new Components.Footer().init();
});
</script>
    <div id="pg-server-message" data-status="" data-message="" style="display: none;"></div>
  </div>
  
<script id="dialog-message" type="text/x-handlebars-template">
<div class="ui-message-content">
  <div class="fn-clear">
    <div class="ui-message-icon fn-left">
      {{# if info }}
      <i class="iconfont fn-left info" title="提示">&#xF046;</i>
      {{/ if }}
      {{# if success }}
      <i class="iconfont fn-left success" title="成功">&#xF049;</i>
      {{/ if }}
      {{# if warning }}
      <i class="iconfont fn-left warning" title="警告">&#xF047;</i>
      {{/ if }}
      {{# if error }}
      <i class="iconfont fn-left error" title="错误">&#xF045;</i>
      {{/ if }}
    </div>
    <div class="ui-message-text fn-left">
      {{# if title }}
      <h3>{{ title }}</h3>
      {{/ if }}
      <p class="text-big">{{{ message }}}</p>
      {{# if link }}
      <p><a href="{{ link }}">{{ linkText }}</a></p>
      {{/ if }}
    </div>
  </div>
  <div class="ui-message-operation text-center mt20">
    <a class="ui-button ui-button-blue ui-button-mid ui-message-close-button" {{# if button }}href="{{ button.link }}"{{/ if }}>{{# if button }}{{ button.text }}{{ else }}关闭{{/ if }}</a>
  </div>
</div>
</script>
  <script>seajs.use(['page']);</script>
  
  
<script id="confirm-transfer-out-template" type="text/x-handlebars-template">
<div class="ui-confirm" id="confirm-transfer-out">
  <h3 class="ui-confirm-title">债权转出 <span class="text">ID {{ loanId }}</span></h3>
  <div class="ui-confirm-content">
    <form class="ui-confirm-form" action="/account/loanTransfer.action" method="post" data-name="cfm-form">
      <ul>
        <li class="fn-clear">
          <span class="fn-left ui-confirm-label">原始投资额</span>
          <span class="fn-left ui-confirm-value num-s last"><em>{{ investAmount }}</em>元（{{ investShares }}份）</span>
        </li>
        <li class="fn-clear">
          <span class="fn-left ui-confirm-label">已收利息</span>
          <span class="fn-left ui-confirm-value two-column num-s"><em>{{ interestGained }}</em>元</span>
          <span class="fn-left ui-confirm-label">利率</span>
          <span class="fn-left ui-confirm-value two-column num-s last"><em>{{ interest }}</em>%</span>
        </li>
        <li class="fn-clear">
          <span class="fn-left ui-confirm-label">可转让份数</span>
          <span class="fn-left ui-confirm-value two-column num-s"><em data-name="cfm-available-shares">{{ availableShares }}</em>份</span>
          <span class="fn-left ui-confirm-label">剩余期数</span>
          <span class="fn-left ui-confirm-value two-column num-s last"><em>{{ termsLeft }}</em>个月</span>
        </li>
        <li class="fn-clear">
          <span class="fn-left ui-confirm-label">转让份数</span>
          <span class="fn-left ui-confirm-value ui-form-item ui-form-item-nolabel last">
            <input class="ui-input" id="J_zrff"  type="text" name="share" value="{{ availableShares }}" data-name="cfm-shares-to-transfer" />
            <em id="J_error_hint" class="hint rrdcolor-red-text" data-name="cfm-hint" style="display: none;"></em>
          </span>
        </li>
        <li class="fn-clear">
          <span class="fn-left ui-confirm-label">当前债权价值</span>
          <span class="fn-left ui-confirm-value two-column num-s"><em data-name="cfm-value-per-share">{{ valuePerShare }}</em>元/份</span>
          <span class="fn-left ui-confirm-label">当前待收本息</span>
          <span class="fn-left ui-confirm-value two-column num-s last"><em>{{ repaymentsPerShare }}</em>元/份</span>
        </li>
        <li class="ui-confirm-item-note text-small color-gray-text">
          一般为转让时的待回收本金与应计利息之和。
          <a href="/help/invest/invest!transfer.action#transferValue" target="_blank">查看详细</a>
        </li>
        <li class="fn-clear">
          <span class="fn-left ui-confirm-label">转让系数</span>
          <span class="fn-left ui-confirm-value last">
            <select name="disCount" data-name="cfm-discount">
              <option value="1.0" >100.0%</option>
              <option value="0.995">99.5%</option>
              <option value="0.99" >99.0%</option>
              <option value="0.985">98.5%</option>
              <option value="0.98" >98.0%</option>
              <option value="0.975">97.5%</option>
              <option value="0.97" >97.0%</option>
              <option value="0.965">96.5%</option>
              <option value="0.96" >96.0%</option>
              <option value="0.955">95.5%</option>
              <option value="0.95" >95.0%</option>
              <option value="0.945">94.5%</option>
              <option value="0.94" >94.0%</option>
              <option value="0.935">93.5%</option>
              <option value="0.93" >93.0%</option>
              <option value="0.925">92.5%</option>
              <option value="0.92" >92.0%</option>
              <option value="0.915">91.5%</option>
              <option value="0.91" >91.0%</option>
              <option value="0.905">90.5%</option>
              <option value="0.90" >90.0%</option>
            </select>
          </span>
        </li>
        <li class="ui-confirm-item-note text-small color-gray-text">
          此转让系数仅作用于债权待收本金部分
        </li>
        <li class="fn-clear">
          <span class="fn-left ui-confirm-label">转让价格</span>
          <span class="fn-left ui-confirm-value num-s last"><em data-name="cfm-price-per-share" data-interest="{{ interestPerShare }}" data-principal="{{ principalPerShare }}">{{ valuePerShare }}</em>元/每份</span>
        </li>
        <li class="fn-clear">
          <span class="fn-left ui-confirm-label">转让总价格</span>
          <span class="fn-left ui-confirm-value num-s last"><em data-name="cfm-price-in-total">{{ value }}</em>元</span>
        </li>
        <li class="fn-clear">
          <span class="fn-left ui-confirm-label">转让费用</span>
          <span class="fn-left ui-confirm-value num-s last">
            <em data-name="cfm-fee" data-value="{{ fee }}">0</em>元
          </span>
        </li>
        <li class="fn-clear">
          <span class="fn-left ui-confirm-label">预计收入金额</span>
          <span class="fn-left ui-confirm-value num last"><em data-name="cfm-income-summary">{{ summary }}</em>元</span>
        </li>
        <li class="ui-confirm-item-note text-small color-gray-text">
          由于债权价值会发生变动，最终收入金额可能发生变动。
          <a href="/help/invest/invest!transfer.action#loan-value-changed" target="_blank">查看详细</a>
        </li>
        <li class="fn-clear">
          <span class="fn-left ui-confirm-label">提现密码</span>
          <span class="fn-left ui-confirm-value last" id="captcha">
            <input id="captcha-input" type="password" name="cashPassword" value="" />
            <!--<img class="cursor-pointer" id="captcha-img" src="/image_https.jsp" />-->
            <a id="findPsw" class="fin</img href="/account/info!security.action">忘记密码</a>
          </span>
          <p class='color-red hide J_error_msg_p'>请输入提现密码</p>
        </li>
      </ul>
      <div class="mt10 text-small">
        <p><input type="checkbox" name="agreement" value="agreed" checked="checked" data-name="cfm-agreement" /> 我已阅读并同意签署 <a class="text" href="javascript:void(0)" onclick="javascript:window.showModalDialog('../account/emptyContract.action?templateId=31','','dialogWidth=1024px;dialogHeight=768px,status=0,toolbar=no,menubar=no,location=no,scrollbars=yes,top=20,left=20,resizable=no')">《债权转让及受让协议》</a></p>
        <p class="ui-confirm-hint rrdcolor-red-text text-small" style="display: none;"></p>
      </div>
      <div class="mt10 text-center">
        <input type="hidden" name="lenderId" value="{{ lenderId }}" />
        <div class="fn-clear w170 ui-confirm-submit-box">
          <button class="fn-left ui-button ui-button-mid ui-button-blue" type="submit" data-name="cfm-submit">转让</button>
          <a class="fn-left last ui-confirm-cancel-link">取消</a>
        </div>
      </div>
    </form>
  </div>
</div>
</script>
<script id="confirm-batch-transfer-out-template" type="text/x-handlebars-template">
<div class="ui-confirm" id="confirm-batch-transfer-out">
  <h3 class="ui-confirm-title">批量债权转出</h3>
  <div class="ui-confirm-content">
    <p class="text-small color-gray-text">提示：批量转让债权时，不可修改转出份额，所有债权将使用统一的转让系数全部转出。</p>
    <form class="ui-confirm-form" action="/account/loanTransfer.action" method="post" data-name="cfm-form">
      <ul>
        <li class="fn-clear">
          <span class="fn-left ui-confirm-label">共转让债权</span>
          <span class="fn-left ui-confirm-value num-s last"><em>{{ count }}</em>笔</span>
        </li>
        <li class="fn-clear">
          <span class="fn-left ui-confirm-label">总价值</span>
          <span class="fn-left ui-confirm-value num-s last"><em data-name="cfm-value-in-total">{{ value }}</em>元</span>
        </li>
        <li class="fn-clear">
          <span class="fn-left ui-confirm-label">转让系数</span>
          <span class="fn-left ui-confirm-value last">
            <select name="disCount" data-name="cfm-discount">
              <option value="1.0" >100.0%</option>
              <option value="0.995">99.5%</option>
              <option value="0.99" >99.0%</option>
              <option value="0.985">98.5%</option>
              <option value="0.98" >98.0%</option>
              <option value="0.975">97.5%</option>
              <option value="0.97" >97.0%</option>
              <option value="0.965">96.5%</option>
              <option value="0.96" >96.0%</option>
              <option value="0.955">95.5%</option>
              <option value="0.95" >95.0%</option>
              <option value="0.945">94.5%</option>
              <option value="0.94" >94.0%</option>
              <option value="0.935">93.5%</option>
              <option value="0.93" >93.0%</option>
              <option value="0.925">92.5%</option>
              <option value="0.92" >92.0%</option>
              <option value="0.915">91.5%</option>
              <option value="0.91" >91.0%</option>
              <option value="0.905">90.5%</option>
              <option value="0.90" >90.0%</option>
            </select>
          </span>
        </li>
        <li class="fn-clear">
          <span class="fn-left ui-confirm-label">总价格</span>
          <span class="fn-left ui-confirm-value num-s last"><em data-name="cfm-price-in-total">{{ value }}</em>元</span>
        </li>
        <li class="fn-clear">
          <span class="fn-left ui-confirm-label">转让费用</span>
          <span class="fn-left ui-confirm-value num-s last"><em data-name="cfm-fee" data-value="{{ fee }}">0</em>元</span>
        </li>
        <li class="fn-clear">
          <span class="fn-left ui-confirm-label">预计收入总金额</span>
          <span class="fn-left ui-confirm-value num last"><em data-name="cfm-income-summary">{{ summary }}</em>元</span>
        </li>
        <li class="fn-clear">
          <span class="fn-left ui-confirm-label">提现密码</span>
          <span class="fn-left ui-confirm-value last" id="captcha">
              <input id="captcha-input" type="password" name="cashPassword" value="" />
            <!--<img class="cursor-pointer" id="captcha-img" src="/image_https.jsp" />-->
            <a id="findPsw" class="findPsw" href="/account/info!security.action">忘记密码</a>
          </span>
       <p class='color-red hide J_error_msg_p'>请输入提现密码</p>
        </li>
      </ul>
      <div class="mt10 text-small">
        <p><input type="checkbox" name="agreement" value="agreed" checked="checked" data-name="cfm-agreement" /> 我已阅读并同意签署 <a class="text" href="javascript:void(0)" onclick="javascript:window.showModalDialog('../account/emptyContract.action?templateId=31','','dialogWidth=1024px;dialogHeight=768px,status=0,toolbar=no,menubar=no,location=no,scrollbars=yes,top=20,left=20,resizable=no')">《债权转让及受让协议》</a></p>
        <p class="ui-confirm-hint rrdcolor-red-text text-small" style="display: none;"></p>
      </div>
      <div class="mt10 text-center">
        <input type="hidden" name="lenderId" value="{{ lenderIds }}" />
        <input type="hidden" name="share" value="{{ shares }}" />
        <div class="fn-clear w170 ui-confirm-submit-box">
          <button class="fn-left ui-button ui-button-mid ui-button-blue" type="submit">转让</button>
          <a class="fn-left last ui-confirm-cancel-link">取消</a>
        </div>
      </div>
    </form>
  </div>
</div>
</script>
<script id="confirm-transfer-cancel-template" type="text/x-handlebars-template">
<div class="ui-confirm" id="confirm-transfer-cancel">
  <h3 class="ui-confirm-title">撤销债权转让 <span class="text">ID {{ transferId }}</span></h3>
  <div class="ui-confirm-content">
    <form class="ui-confirm-form" action="/account/invest!cancelTranfsfer.action" method="post">
      <ul>
        <li class="fn-clear">
          <span class="fn-left ui-confirm-label">已转出份数</span>
          <span class="fn-left ui-confirm-value num-s last"><em>{{ sharesTransferred }}</em>份</span>
        </li>
        <li class="fn-clear">
          <span class="fn-left ui-confirm-label">剩余份数</span>
          <span class="fn-left ui-confirm-value num-s last"><em>{{ sharesLeft }}</em>份</span>
        </li>
        <li class="fn-clear">
          <span class="fn-left ui-confirm-label">转让收入</span>
          <span class="fn-left ui-confirm-value num-s last"><em>{{ income }}</em>元</span>
        </li>
        <li class="fn-clear">
          <span class="fn-left ui-confirm-label">转让费用</span>
          <span class="fn-left ui-confirm-value num-s last"><em>{{ fee }}</em>元</span>
        </li>
        <li class="fn-clear">
          <span class="fn-left ui-confirm-label">收入金额</span>
          <span class="fn-left ui-confirm-value num-s last"><em>{{ summary }}</em>元</span>
        </li>
        <li class="fn-clear">
          <span class="fn-left ui-confirm-label">验证码</span>
          <span class="fn-left ui-confirm-value last" id="captcha">
            <input id="captcha-input" type="text" name="randCode" value="" />
            <img class="cursor-pointer" id="captcha-img" src="/image_https.jsp" />
          </span>
        </li>
      </ul>
      <div class="mt10 text-center">
        <input type="hidden" name="tranfsferId" value="{{ transferId }}" />
        <div class="fn-clear w170 ui-confirm-submit-box">
          <button class="fn-left ui-button ui-button-mid ui-button-blue" type="submit">撤销</button>
          <a class="fn-left last ui-confirm-cancel-link">取消</a>
        </div>
      </div>
    </form>
  </div>
</div>
</script>
  
<script id="transferred-out-list-template" type="text/x-handlebars-template">
<li class="ui-list-header color-gray-text fn-clear">
  <span class="ui-list-title w90 fn-left">债权ID</span>
  <span class="ui-list-title w70 fn-left">成交份数</span>
  <span class="ui-list-title w130 fn-left">转出时债权总价值</span>
  <span class="ui-list-title w130 fn-left">转出时总成交金额</span>
  <span class="ui-list-title w110 fn-left">实际收入</span>
  <span class="ui-list-title w60 fn-left">交易费用</span>
  <span class="ui-list-title w70 fn-left">转让盈亏</span>
  <span class="ui-list-title w80 fn-left last"></span>
</li>
{{# each transferList }}
<li class="ui-list-item fn-clear {{ itemStyle }}" data-name="transferred-out-item" data-loan-id="{{ loanId }}" data-transfer-id="{{ transferId }}">
  <div class="ui-list-item-row">
    <span class="ui-list-field w80 ph5 fn-left"><em class="ui-loantype-s {{ loanType }}" title="{{ loanTypeName }}"></em><a href="{{ loanLink }}" target="_blank">{{ loanId }}</a></span>
    <span class="ui-list-field num-s text-right w60 pr10 fn-left"><em>{{ shares }}</em>份</span>
    <span class="ui-list-field num-s text-right w120 pr10 fn-left"><em>{{ value }}</em></span>
    <span class="ui-list-field num-s text-right w120 pr10 fn-left"><em>{{ price }}</em></span>
    <span class="ui-list-field num-s text-right w100 pr10 fn-left"><em>{{ income }}</em></span>
    <span class="ui-list-field num-s text-right w55 pr5 fn-left"><em>{{ fee }}</em></span>
    <span class="ui-list-field num-s text-right w65 pr5 fn-left"><em>{{ pnl }}</em></span>
    <span class="ui-list-field text-center w80 fn-left last"><a class="cursor-pointer" data-name="details">明细</a></span>
  </div>
  <div class="ui-list-item-box" data-name="details-box" data-status="" style="display: none;">
    <h5><span>债权转让明细</span></h5>
    <ul class="ui-list" id="transferred-out-details-{{ loanId }}"></ul>
    <div class="ui-pagination" id="transferred-out-details-{{ loanId }}-pagination"></div>
  </div>
</li>
{{ else }}
<li class="ui-list-status">
  <p class="color-gray-text">{{# if _message }}{{ _message }}{{ else }}没有已转出的债权{{/ if }}</p>
</li>
{{/ each }}
</script>
<script id="transferred-out-details-template" type="text/x-handlebars-template">
<li class="ui-list-header color-gray-text text-small fn-clear">
  <span class="ui-list-title w100 fn-left">购买人</span>
  <span class="ui-list-title w80 two-line fn-left">转出时<br>债权价值</span>
  <span class="ui-list-title w80 fn-left">转让价格</span>
  <span class="ui-list-title w70 fn-left">成交份数</span>
  <span class="ui-list-title w70 fn-left">交易费用</span>
  <span class="ui-list-title w110 fn-left">实际收入</span>
  <span class="ui-list-title w80 fn-left">盈亏</span>
  <span class="ui-list-title w100 fn-left">成交时间</span>
  <span class="ui-list-title w40 fn-left last"></span>
</li>
{{# each transferLogList }}
<li class="ui-list-item dark fn-clear">
  <span class="ui-list-field w90 ph5 fn-left fn-text-overflow" title="{{ user }}{{# if isPlan }}（理{{ planId }}）{{/ if }}">
    <a href="{{ userLink }}" target="_blank">{{ user }}</a>
    {{# if isPlan }}（<a href="{{ planLink }}">理{{ planId }}</a>）{{/ if }}
  </span>
  <span class="ui-list-field num-s text-right w75 pr5 fn-left"><em>{{ value }}</em>/份</span>
  <span class="ui-list-field num-s text-right w75 pr5 fn-left"><em>{{ price }}</em>/份</span>
  <span class="ui-list-field num-s text-right w60 pr10 fn-left"><em>{{ shares }}</em>份</span>
  <span class="ui-list-field num-s text-right w65 pr5 fn-left"><em>{{ fee }}</em></span>
  <span class="ui-list-field num-s text-right w100 pr10 fn-left"><em>{{ income }}</em></span>
  <span class="ui-list-field num-s text-right w75 pr5 fn-left"><em>{{ pnl }}</em></span>
  <span class="ui-list-field text-center w100 fn-left">{{ date }}</span>
  <span class="ui-list-field text-center w40 fn-left last">
      <a class="text" href="javascript:void(0)" onclick="javascript:window.showModalDialog('..//account/loanTransferContract.action?transferId={{transferId}}','','dialogWidth=1024px;dialogHeight=768px,status=0,toolbar=no,menubar=no,location=no,scrollbars=yes,top=20,left=20,resizable=no')">合同</a>
  </span>
</li>
{{ else }}
<li class="ui-list-status">
  <p class="color-gray-text">{{# if _message }}{{ _message }}{{ else }}没有债权转出记录{{/ if }}</p>
</li>
{{/ each }}
</script>
  <script id="repaying-list-template" type="text/x-handlebars-template">
  <li class="ui-list-header color-gray-text fn-clear">
    <span class="ui-list-title w90 fn-left">债权ID</span>
    <span class="ui-list-title w140 fn-left">原始投资金额</span>
    <span class="ui-list-title w60 fn-left">年利率</span>
    <span class="ui-list-title w90 fn-left">待收本息</span>
    <span class="ui-list-title w90 fn-left">月收本息</span>
    <span class="ui-list-title w70 fn-left">期数</span>
    <span class="ui-list-title w90 fn-left">下个还款日</span>
    <span class="ui-list-title w60 fn-left">状态</span>
    <span class="ui-list-title w40 fn-left last"></span>
  </li>
  {{# each loanList }}
  <li class="ui-list-item clickable {{ itemStyle }}"
    data-loan-id="{{ loanId }}"
    data-lender-id="{{ lenderId }}"
    data-invest-amount="{{ amount }}"
    data-invest-shares="{{ shares }}"
    data-terms-left="{{ termsLeft }}"
    data-terms-in-total="{{ termsInTotal }}"
    data-interest="{{ interest }}"
    data-interest-gained="{{ repaidInterest }}"
    data-available-shares="{{ availableShares }}"
    data-value-per-share="{{ valuePerShare }}"
    data-interest-per-share="{{ interestPerShare }}"
    data-principal-per-share="{{ principalPerShare }}"
    data-repayments-per-share="{{ repaymentsPerShare }}"
    data-fee="{{ fee }}">
    <div class="ui-list-item-row fn-clear">
      <span class="ui-list-field w80 ph5 fn-left"><em class="ui-loantype-s {{ loanType }}" title="{{ loanTypeName }}"></em><a data-name="details" href="{{ loanLink }}" target="_blank">{{ loanId }}</a></span>
      <span class="ui-list-field text-right num-s w130 pr10 fn-left"><em>{{ amount }}</em>（{{ shares }}份）</span>
      <span class="ui-list-field text-right num-s w55 pr5 fn-left"><em>{{ interest }}</em>%</span>
      <span class="ui-list-field text-right num-s w85 pr5 fn-left"><em>{{ toRepay }}</em></span>
      <span class="ui-list-field text-right num-s w85 pr5 fn-left"><em>{{ monthlyRepay }}</em></span>
      <span class="ui-list-field text-right num-s w50 pr20 fn-left"><em>{{ termsLeft }}</em>/{{ termsInTotal }}</span>
      <span class="ui-list-field text-center w90 fn-left {{ statusStyle }}">{{ nextDueDate }}</span>
      <span class="ui-list-field text-center w60 fn-left {{ statusStyle }}">{{ status }}</span>
      <span class="ui-list-field text-center w40 fn-left last">
        <a data-name="operation" data-operation="{{ operationType }}" class="transfer-op {{ operationType }}">转让</a>
      </span>
    </div>
    <div class="ui-list-item-box" style="display: none;">
      <hr>
      <div class="fn-clear p10 ph20">
        <div class="fn-left mr20">
          <span>待收本金</span>
          <span>{{ toRepayPrincipal }}</span>
        </div>
        <div class="fn-left mr20">
          <span>待收利息</span>
          <span>{{ toRepayInterest }}</span>
        </div>
        <div class="fn-left mr20">
          <a class="text" href="javascript:void(0)" onclick="javascript:window.showModalDialog('../account/borrowContract.action?loanId={{ loanId }}','','dialogWidth=1024px;dialogHeight=768px,status=0,toolbar=no,menubar=no,location=no,scrollbars=yes,top=20,left=20,resizable=no')">合同</a>
        </div>
      </div>
    </div>
  </li>
  {{ else }}
  <li class="ui-list-status">
    <p class="color-gray-text">{{# if _message }}{{ _message }}{{ else }}没有回收中的债权{{/ if }}</p>
  </li>
  {{/ each }}
  </script>
  <script id="repaid-list-template" type="text/x-handlebars-template">
  <li class="ui-list-header color-gray-text fn-clear">
    <span class="ui-list-title w90 fn-left">债权ID</span>
    <span class="ui-list-title w150 fn-left">投资金额</span>
    <span class="ui-list-title w60 fn-left">年利率</span>
    <span class="ui-list-title w90 fn-left">回收金额</span>
    <span class="ui-list-title w90 fn-left">已赚金额</span>
    <span class="ui-list-title w100 fn-left">结清日期</span>
    <span class="ui-list-title w100 fn-left">结清方式</span>
    <span class="ui-list-title w60 fn-left last"></span>
  </li>
  {{# each loanList }}
  <li class="ui-list-item fn-clear {{ itemStyle }}" data-loan-id="{{ loanId }}">
    <span class="ui-list-field w80 ph5 fn-left"><em class="ui-loantype-s {{ loanType }}" title="{{ loanTypeName }}"></em><a href="{{ loanLink }}" target="_blank">{{ loanId }}</a></span>
    <span class="ui-list-field text-right num-s w140 pr10 fn-left"><em>{{ amount }}</em></span>
    <span class="ui-list-field text-right num-s w55 pr5 fn-left"><em>{{ interest }}</em>%</span>
    <span class="ui-list-field text-right num-s w85 pr5 fn-left"><em>{{ repaid }}</em></span>
    <span class="ui-list-field text-right num-s w85 pr5 fn-left"><em>{{ profit }}</em></span>
    <span class="ui-list-field text-center w100 fn-left">{{ clearDate }}</span>
    <span class="ui-list-field text-center w100 fn-left">{{ clearType }}</span>
    <span class="ui-list-field text-center w60 fn-left last">
        <a class="text" href="javascript:void(0)" onclick="javascript:window.showModalDialog('../account/borrowContract.action?loanId={{ loanId }}','','dialogWidth=1024px;dialogHeight=768px,status=0,toolbar=no,menubar=no,location=no,scrollbars=yes,top=20,left=20,resizable=no')">合同</a>
    </span>  
  </li>
  {{ else }}
  <li class="ui-list-status">
    <p class="color-gray-text">{{# if _message }}{{ _message }}{{ else }}没有已结清的债权{{/ if }}</p>
  </li>
  {{/ each }}
  </script>
  <script id="investing-list-template" type="text/x-handlebars-template">
  <li class="ui-list-header color-gray-text fn-clear">
    <span class="ui-list-title w90 fn-left">债权ID</span>
    <span class="ui-list-title w190 fn-left">原始投资金额</span>
    <span class="ui-list-title w80 fn-left">年利率</span>
    <span class="ui-list-title w80 fn-left">期限</span>
    <span class="ui-list-title w70 fn-left">信用等级</span>
    <span class="ui-list-title w150 fn-left">剩余时间</span>
    <span class="ui-list-title w70 fn-left last">投标进度</span>
  </li>
  {{# each loanList }}
  <li class="ui-list-item fn-clear {{ itemStyle }}" data-loan-id="{{ loanId }}">
    <span class="ui-list-field w80 ph5 fn-left"><em class="ui-loantype-s {{ loanType }}" title="{{ loanTypeName }}"></em><a href="{{ loanLink }}" target="_blank">{{ loanId }}</a></span>
    <span class="ui-list-field text-right num-s w170 pr20 fn-left"><em>{{ amount }}</em>（{{ shares }}份）</span>
    <span class="ui-list-field text-right num-s w65 pr15 fn-left"><em>{{ interest }}</em>%</span>
    <span class="ui-list-field text-right num-s w60 pr20 fn-left"><em>{{ terms }}</em>个月</span>
    <span class="ui-list-field text-center w70 fn-left">{{ creditLevel }}</span>
    <span class="ui-list-field text-center w150 fn-left">{{ timeLeft }}</span>
    <span class="ui-list-field text-center w70 fn-left last">{{ progress }}%</span>
  </li>
  {{ else }}
  <li class="ui-list-status">
    <p class="color-gray-text">{{# if _message }}{{ _message }}{{ else }}没有投标中的债权{{/ if }}</p>
  </li>
  {{/ each }}
  </script>
  <script id="repaying-list-rsp" type="text/x-json">{"status":0,"message":"okay","data":{"loanList":[],"totalPage":0,"pageIndex":1}}</script>
  <script>seajs.use(['pages/account/invest/loans']);</script>
  
  


<textarea style="display:none" id="J_stat_js_1">


  var _agt=_agt||[];
      _agt.push(['_atscu','AG_148085_IKDD']);
      _agt.push(['_atsdomain','renrendai.com']);
  (function(){
    var ag=document.createElement('script'); 
        ag.type='text/javascript'; 
        ag.async = true;
        ag.src=(document.location.protocol=='https:'?'https':'http')+'://'+'t.agrantsem.com/js/ag.js';
    var s=document.getElementsByTagName('script')[0]; 
        s.parentNode.insertBefore(ag,s);})();
</textarea>

<script type='text/javascript'>
window.onload= function(){
    var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
    var bduidArr = ['71ce3105a964d0c3748e04584e5af0b9','efa929f55e0b175f5657fd1d1d809be6','2547238860b5ae69d69cae60a725236c','b7b6d41754885a6ae7f79431068d7b57'];
    
    for(i = 0; i<bduidArr.length; i++){
        var scriptbd = document.createElement("script"); 
        scriptbd.type = "text/javascript";
        scriptbd.async = true;
        scriptbd.src = _bdhmProtocol +"hm.baidu.com/h.js?"+bduidArr[i];
        document.body.appendChild(scriptbd);
    }
    
    for(i = 1; i<=1; i++){
           var sid = 'J_stat_js_'+i.toString();
           var element = document.getElementById(sid);
           var scrObj = document.createElement("script"); 
           scrObj.type = "text/javascript";
           scrObj.async = true;
           scrObj.text = element.innerHTML;
           document.body.appendChild(scrObj);
           element.parentNode.removeChild(element);
    }
};
</script>
</body>
</html>