{%extends "parent.tpl"%}

{%block title%}
自动投标工具 - 理财管理 - 我的多网帐户中心 -
{%endblock%}

{%block script%}{%endblock%}

{%block link%}
 <link rel="stylesheet" href="/static/css/pages/account/account.css">
{%endblock%}

{%block content%}
  <div id="pg-account-auto" class="pg-account container_12 fn-clear">
    <div class="container_12 mt10">
      <ul class="ui-breadcrumb grid_12 fn-clear">
        <li class="fn-left ui-breadcrumb-item ui-breadcrumb-text ui-breadcrumb-text-first">
          <a href="/account/index.action">我的多网</a>
        </li>
        <li class="fn-left ui-breadcrumb-item ui-breadcrumb-separator"></li>
        <li class="fn-left ui-breadcrumb-item ui-breadcrumb-text">
          <a href="/account/invest!loan.action">理财管理</a>
        </li>
        <li class="fn-left ui-breadcrumb-item ui-breadcrumb-separator"></li>
        <li class="fn-left ui-breadcrumb-item ui-breadcrumb-text ui-breadcrumb-text-current">
          <a>自动投标工具</a>
        </li>
      </ul>
    </div>
    
    <div class="container_12 mt10">
        <div class="grid_2">
          

<div class="ui-side ui-side-withicon" id="sidebar">
  <ul class="ui-side-list nav nav-list bs-docs-sidenav affix">
    <li class="ui-side-item ">
      <a class="ui-side-item-link" href="/account/index.action"><i class="fn-left ui-icon-mid index"></i>我的多网</a>
    </li>
    <li class="ui-side-item ">
      <a class="ui-side-item-link"><i class="fn-left ui-icon-mid capital"></i>资金管理</a>
      <ul class="ui-side-sub-list">
        <li class="ui-side-sub-item ">
          <a class="ui-side-sub-item-link" href="/account/capital.action">交易记录</a>
        </li>
        <li class="ui-side-sub-item ">
          <a class="ui-side-sub-item-link" href="/account/capital!recharge.action">充值</a>
        </li>
        <li class="ui-side-sub-item ">
          <a class="ui-side-sub-item-link last" href="/account/capital!withdraw.action">提现</a>
        </li>
      </ul>
    </li>
    <li class="ui-side-item active">
      <a class="ui-side-item-link"><i class="fn-left ui-icon-mid invest"></i>理财管理</a>
      <ul class="ui-side-sub-list">
        <li class="ui-side-sub-item ">
          <a class="ui-side-sub-item-link" href="/account/invest!loan.action">我的债权</a>
        </li>
        <li class="ui-side-sub-item ">
          <a class="ui-side-sub-item-link" href="/account/invest!plan.action">优选理财计划</a>
        </li>
        <li class="ui-side-sub-item ">
          <a class="ui-side-sub-item-link" href="/account/invest!transfer.action">债权转让</a>
        </li>
        <li class="ui-side-sub-item ">
          <a class="ui-side-sub-item-link" href="/account/invest!statistics.action">理财统计</a>
        </li>
        <li class="ui-side-sub-item active">
          <a class="ui-side-sub-item-link last" href="/account/invest!tool.action">自动投标工具</a>
        </li>
      </ul>
    </li>
    <li class="ui-side-item ">
      <a class="ui-side-item-link"><i class="fn-left ui-icon-mid borrow"></i>借款管理</a>
      <ul class="ui-side-sub-list">
        <li class="ui-side-sub-item ">
          <a class="ui-side-sub-item-link" href="/account/borrow!toMyLoans.action">我的借款</a>
        </li>
        <li class="ui-side-sub-item ">
          <a class="ui-side-sub-item-link" href="/account/borrow!applications.action">借款申请查询</a>
        </li>
        <li class="ui-side-sub-item ">
          <a class="ui-side-sub-item-link last" href="/account/borrow!statistics.action">借款统计</a>
        </li>
      </ul>
    </li>
    <li class="ui-side-item ">
      <a class="ui-side-item-link"><i class="fn-left ui-icon-mid account"></i>账户管理</a>
      <ul class="ui-side-sub-list">
        <li class="ui-side-sub-item ">
          <a class="ui-side-sub-item-link" href="/account/info!basicInfo.action">个人基础信息</a>
        </li>
        <li class="ui-side-sub-item ">
          <a class="ui-side-sub-item-link" href="/account/info!verification.action">认证信息</a>
        </li>
        <li class="ui-side-sub-item ">
          <a class="ui-side-sub-item-link" href="/account/info!security.action">安全信息</a>
        </li>
        <li class="ui-side-sub-item ">
          <a class="ui-side-sub-item-link last" href="/account/info!bank.action">银行卡信息</a>
        </li>
      </ul>
    </li>
    <li class="ui-side-item ">
      <a class="ui-side-item-link"><i class="fn-left ui-icon-mid comm"></i>互动管理</a>
      <ul class="ui-side-sub-list">
        <li class="ui-side-sub-item ">
          <a  class="ui-side-sub-item-link" href="/account/comm!mail.action">站内消息</a>
        </li>
        <li class="ui-side-sub-item ">
          <a  class="ui-side-sub-item-link last" href="/account/comm!settings.action">通知设置</a>
        </li>
      </ul>
    </li>
    <li class="ui-side-item last ">
          <a class="ui-side-item-link"><i class="fn-left ui-icon-mid coupons"></i>优惠券管理</a>
          <ul class="ui-side-sub-list">
              <li class="ui-side-sub-item ">
                  <a  class="ui-side-sub-item-link" href="/account/ucode.action">U-code兑换</a>
              </li>
          </ul>
     </li>
  </ul>
  <div class="ui-side-ad mt20">
        <a  style="display: block; width:140px;overflow:hidden;"><img style="width:140px;" src="http://www.duonet.cn/upload/cms/advertising/accountIndexRight/2960ccda-628c-42b4-addc-c4a391ba847d.jpg?20140401a" alt="微信扫描"></a>
</div>
</div>
<script>
seajs.use(['components/components'], function(Components) {
  new Components.Sidebar({
    name: 'account-sidebar'
  }).init();
});
</script>
        </div>
        <div class="grid_10">
      <div class="p20bs color-white-bg fn-clear">
        <div class="switchbox">
        <div class="title">自动投标</div>
        <div class="status" id="autostatus">自动投标状态：<span> 关闭状态</span></div>
        <div class="bts">
          
          
            <button class="ui-button ui-button-large ui-button-blue" id="oneKeyType">开启一键式自动投标</button>
          
          
          
          
            <button class="ui-button ui-button-large ui-button-blue" id="selfType">开启自助式自动投标</button>
          
        </div>
        <div class="notice">
          <div class="title">自动投标工具说明</div>
          <ol>
            <li>借款进入招标中三十分钟后，才会启动自动投标。 </li>
            <li>投标进度达到95%时停止自动投标。若投标后投标进度超过95%，则按照投标进度达到95%的金额向下取50的倍数投标。 </li>
            <li>单笔投标金额若超过该标借款总额的20%，则按照20%比例的金额向下取50的倍数投标。</li>
            <li>满足自动投标规则的金额小于设定的每次投标金额，也会进行自动投标。</li>
            <li>借款用户在获得借款时会自动关闭自动投标，以避免借款被用作自动投标资金。</li>
            <li>投标排序规则如下：
                <div class="more">
                  <p>a）投标序列按照开启自动投标的时间先后进行排序。</p>
                  <p>b）每个用户每个标仅自动投标一次，投标后，排到队尾。</p>
                  <p>c）轮到用户投标时没有符合用户条件的标，也视为投标一次，重新排队。</p>
                </div>
            </li>
          </ol>
        </div>
      </div>
      
      <div class="fn-hide">
       <div id="oneKeyTypeBox" class="popbox">
        <form action="/account/updateUserAutoBidCondition.action" method="post" id="oneKeyTypeForm">
          <table>
            <tr>
              <th>账户可用余额：</th>
              <td style="">0.00 元</td>
              <td >（大于等于1000元才可开启自动投标工具）</td>
            </tr>
            <tr>
              <th>每次投标金额：</th>
              <td>
                200.0
              </td>
              <td></td>
            </tr>
            <tr>
              <th>利息范围：</th>
              <td>
                12.0% －
                24.0%
              </td>
              <td></td>
            </tr>
            <tr>
              <th>借款期限：</th>
              <td>
                6月 －
                18月
              </td>
              <td></td>
            </tr>
            <tr>
              <th>信用等级范围：</th>
              <td>
                E
                <span style="margin: 0 6px;">－</span>
                AA  
              </td>
              <td></td>
            </tr>
            <tr>
              <th>账户保留金额：</th>
              <td>
                200.0元
              </td>
              <td></td>
            </tr>
          </table>
          
          <div class="bts">
            <input type="hidden" name="type" value="SYSTEM_DEFINED_BID" />
            <input class="ui-button ui-button-mid ui-button-blue" type="submit" value="开启投标" id="oneKeyTypeSub"/>
          </div>
        </form>
        </div>
        </div>
      
      <div class="fn-hide">
       <div id="selfTypeBox" class="popbox">
        <form action="/account/updateUserAutoBidCondition.action" method="post" id="selfTypeForm">
          <table>
            <tr>
              <th>账户可用余额：</th>
              <td style="">0.00 元</td>
              <td >（大于等于1000元才可开启自动投标工具）</td>
            </tr>
            <tr>
              <th>每次投标金额：</th>
              <td>
              <input style="width: 60px;" type="text" value="500" id="ten_value" name="fixedAmount" />元
               <span style="border: 1px solid #ccc; font-size: 14px; cursor: pointer; padding: 0px 2px; vertical-align: middle; margin-left: 10px; -moz-user-select: none;" id="addBt" class="addorsub" data-type="add" unselectable="on" onselectstart="return false;">＋</span>
               <span style="border: 1px solid #ccc; font-size: 14px; cursor: pointer; padding: 0px 2px; vertical-align: middle; margin-left: 10px; -moz-user-select: none;" id="subBt" class="addorsub" data-type="sub" unselectable="on" onselectstart="return false;">－</span></td>
              <td >（该数值须不小于200元，且为50的倍数）</td>
            </tr>
            <tr>
              <th>利息范围：</th>
              <td><input style="width: 50px" type="text" value="10" id="ten_min_lixi" name="loanLowestInterest" />% －<input style="width: 50px" type="text" value="16" id="ten_max_lixi" name="loanHighestInterest" />%</td>
              <td >（10%-24%为有效利率范围）</td>
            </tr>
            <tr>
              <th>借款期限：</th>
              <td><select style="width: 52px" id="ten_min_date" name="lowestLoanPeriod">
                  <option value="3" >3</option>
                  <option value="6" >6</option>
                  <option value="9" >9</option>
                  <option value="12" >12</option>
                  <option value="18" >18</option>
                  <option value="24" >24</option>
                  <option value="36" >36</option>
                </select>
                月 －
                <select style="width: 52px" id="ten_max_date" name="hightestLoanPeriod">
                  <option value="36" >36</option>
                  <option value="24" >24</option>
                  <option value="18" >18</option>
                  <option value="12" >12</option>
                  <option value="9"  >9</option>
                  <option value="6"  >6</option>
                  <option value="3"  >3</option>
                </select>
                月</td>
              <td></td>
            </tr>
            <tr>
              <th>信用等级范围：</th>
              <td><select style="width: 52px" id="ten_min_rank" name="creditLowLevel">
                  <option value="HR" >HR</option>
                  <option value="E" >E</option>
                  <option value="D" >D</option>
                  <option value="C" >C</option>
                  <option value="B" >B</option>
                  <option value="A" >A</option>
                  <option value="AA" >AA</option>
                </select>
                <span style="margin: 0 6px;">－</span>
                <select style="width: 52px" id="ten_max_rank" name="creditHightLevel">
                  <option value="AA" >AA</option>
                  <option value="A" >A</option>
                  <option value="B" >B</option>
                  <option value="C" >C</option>
                  <option value="D" >D</option>
                  <option value="E" >E</option>
                  <option value="HR" >HR</option>
                </select></td>
              <td></td>
            </tr>
            <tr>
              <th>账户保留金额：</th>
              <td><input style="width: 132px;" type="text" value="200" id="ten_remain" name="retainAmount" />
                元</td>
              <td >（您可填写一个金额，这部分钱不会加入自动投标）</td>
            </tr>
          </table>
          
          <div class="bts">
            <input type="hidden" name="type" value="USER_DEFINED_BID" />
            <input class="ui-button ui-button-mid ui-button-blue" type="submit" value="开启投标" id="selfTypeSub"/>
          </div>
        </form>
        </div>
        </div>
                    
      </div>
    </div>
    </div>
  </div>
 <script>seajs.use(['pages/account/invest/auto']);</script>
{%endblock%}