{%extends "parent.tpl"%}

{%block title%}
优选理财计划 - 理财管理 - 我的人人贷帐户中心 -
{%endblock%}

{%block script%}{%endblock%}

{%block link%}
 <link rel="stylesheet" href="/static/css/pages/account/account.css">
{%endblock%}

{%block content%}
  <div id="pg-account-plans" class="pg-account">
    <div class="container_12 mt10">
      <ul class="ui-breadcrumb grid_12 fn-clear">
        <li class="fn-left ui-breadcrumb-item ui-breadcrumb-text ui-breadcrumb-text-first">
          <a href="/account/index.action">我的人人贷</a>
        </li>
        <li class="fn-left ui-breadcrumb-item ui-breadcrumb-separator"></li>
        <li class="fn-left ui-breadcrumb-item ui-breadcrumb-text">
          <a href="/account/invest!loan.action">理财管理</a>
        </li>
        <li class="fn-left ui-breadcrumb-item ui-breadcrumb-separator"></li>
        <li class="fn-left ui-breadcrumb-item ui-breadcrumb-text ui-breadcrumb-text-current">
          <a>优选理财计划</a>
        </li>
      </ul>
    </div>
    <div class="container_12 mt10">
      <div class="grid_2">
        

<div class="ui-side ui-side-withicon" id="sidebar">
  <ul class="ui-side-list nav nav-list bs-docs-sidenav affix">
    <li class="ui-side-item ">
      <a class="ui-side-item-link" href="/account/index.action"><i class="fn-left ui-icon-mid index"></i>我的人人贷</a>
    </li>
    <li class="ui-side-item ">
      <a class="ui-side-item-link"><i class="fn-left ui-icon-mid capital"></i>资金管理</a>
      <ul class="ui-side-sub-list">
        <li class="ui-side-sub-item ">
          <a class="ui-side-sub-item-link" href="/account/capital.action">交易记录</a>
        </li>
        <li class="ui-side-sub-item ">
          <a class="ui-side-sub-item-link" href="/account/capital!recharge.action">充值</a>
        </li>
        <li class="ui-side-sub-item ">
          <a class="ui-side-sub-item-link last" href="/account/capital!withdraw.action">提现</a>
        </li>
      </ul>
    </li>
    <li class="ui-side-item active">
      <a class="ui-side-item-link"><i class="fn-left ui-icon-mid invest"></i>理财管理</a>
      <ul class="ui-side-sub-list">
        <li class="ui-side-sub-item ">
          <a class="ui-side-sub-item-link" href="/account/invest!loan.action">我的债权</a>
        </li>
        <li class="ui-side-sub-item active">
          <a class="ui-side-sub-item-link" href="/account/invest!plan.action">优选理财计划</a>
        </li>
        <li class="ui-side-sub-item ">
          <a class="ui-side-sub-item-link" href="/account/invest!transfer.action">债权转让</a>
        </li>
        <li class="ui-side-sub-item ">
          <a class="ui-side-sub-item-link" href="/account/invest!statistics.action">理财统计</a>
        </li>
        <li class="ui-side-sub-item ">
          <a class="ui-side-sub-item-link last" href="/account/invest!tool.action">自动投标工具</a>
        </li>
      </ul>
    </li>
    <li class="ui-side-item ">
      <a class="ui-side-item-link"><i class="fn-left ui-icon-mid borrow"></i>借款管理</a>
      <ul class="ui-side-sub-list">
        <li class="ui-side-sub-item ">
          <a class="ui-side-sub-item-link" href="/account/borrow!toMyLoans.action">我的借款</a>
        </li>
        <li class="ui-side-sub-item ">
          <a class="ui-side-sub-item-link" href="/account/borrow!applications.action">借款申请查询</a>
        </li>
        <li class="ui-side-sub-item ">
          <a class="ui-side-sub-item-link last" href="/account/borrow!statistics.action">借款统计</a>
        </li>
      </ul>
    </li>
    <li class="ui-side-item ">
      <a class="ui-side-item-link"><i class="fn-left ui-icon-mid account"></i>账户管理</a>
      <ul class="ui-side-sub-list">
        <li class="ui-side-sub-item ">
          <a class="ui-side-sub-item-link" href="/account/info!basicInfo.action">个人基础信息</a>
        </li>
        <li class="ui-side-sub-item ">
          <a class="ui-side-sub-item-link" href="/account/info!verification.action">认证信息</a>
        </li>
        <li class="ui-side-sub-item ">
          <a class="ui-side-sub-item-link" href="/account/info!security.action">安全信息</a>
        </li>
        <li class="ui-side-sub-item ">
          <a class="ui-side-sub-item-link last" href="/account/info!bank.action">银行卡信息</a>
        </li>
      </ul>
    </li>
    <li class="ui-side-item ">
      <a class="ui-side-item-link"><i class="fn-left ui-icon-mid comm"></i>互动管理</a>
      <ul class="ui-side-sub-list">
        <li class="ui-side-sub-item ">
          <a  class="ui-side-sub-item-link" href="/account/comm!mail.action">站内消息</a>
        </li>
        <li class="ui-side-sub-item ">
          <a  class="ui-side-sub-item-link last" href="/account/comm!settings.action">通知设置</a>
        </li>
      </ul>
    </li>
    <li class="ui-side-item last ">
          <a class="ui-side-item-link"><i class="fn-left ui-icon-mid coupons"></i>优惠券管理</a>
          <ul class="ui-side-sub-list">
              <li class="ui-side-sub-item ">
                  <a  class="ui-side-sub-item-link" href="/account/ucode.action">U-code兑换</a>
              </li>
          </ul>
     </li>
  </ul>
  <div class="ui-side-ad mt20">
        <a  style="display: block; width:140px;overflow:hidden;"><img style="width:140px;" src="http://www.renrendai.com/upload/cms/advertising/accountIndexRight/2960ccda-628c-42b4-addc-c4a391ba847d.jpg?20140401a" alt="微信扫描"></a>
</div>
</div>
<script>
seajs.use(['components/components'], function(Components) {
  new Components.Sidebar({
    name: 'account-sidebar'
  }).init();
});
</script>
      </div>
      <div class="grid_10">
        <div class="p20bs color-orange-bg fn-clear">
          <div class="fn-left box-summary-left">
            <h3 class="text-xl">优选计划已赚总额</h3>
            <p class="num color-orange-text"><em>0.00</em>元</p>
            <p class="text-small">
              <span class="pr5">账户总资产</span>
              <span class="num-s"><em>0.00</em>元</span>
            </p>
            <p class="text-small">
              <span class="pr5">平均收益率</span>
              <span class="num-s"><em>0.00</em>%</span>
            </p>
          </div>
          <div class="fn-left box-summary-right last">
            <div class="fn-clear color-dimgray-text">
              <div class="grid_2 alpha">
                <h5 class="text-big">收益再投资金额</h5>
                <p class="num-s"><em>0.00</em>元</p>
              </div>
              <div class="grid_2">
                <h5 class="text-big">已提取金额</h5>
                <p class="num-s"><em>0.00</em>元</p>
              </div>
              <div class="grid_2 omega">
                <h5 class="text-big">加入费用</h5>
                <p class="num-s"><em>0.00</em>元</p>
              </div>
            </div>
            <hr class="mt10">
            <div class="fn-clear mt10 color-dimgray-text">
              <div class="grid_2 alpha">
                <h5 class="text-big">持有中的计划数量</h5>
                <p class="num-s"><em>0</em>个</p>
              </div>
              <div class="grid_2">
                <h5 class="text-big">退出中的计划数量</h5>
                <p class="num-s"><em>0</em>个</p>
              </div>
              <div class="grid_2 omega">
                <h5 class="text-big">已退出的计划数量</h5>
                <p class="num-s"><em>0</em>个</p>
              </div>
            </div>
          </div>
        </div>

        

        <div class="mt20">
          <div class="ui-tab ui-tab-transparent" id="plans-tab">
            <ul class="ui-tab-items">
              <li class="ui-tab-item ui-tab-item-current" data-name="holding">
                <a class="ui-tab-item-link">持有中</a>
              </li>
              <li class="ui-tab-item" data-name="exiting">
                <a class="ui-tab-item-link">退出中</a>
              </li>
              <li class="ui-tab-item" data-name="exited">
                <a class="ui-tab-item-link">已退出</a>
              </li>
              <li class="ui-tab-item" data-name="reserve">
                <a class="ui-tab-item-link">预定中</a>
              </li>
            </ul>
          </div>
          <div class="p20bs color-white-bg">
            <div id="plans-tab-content">
              <div class="ui-tab-content ui-tab-content-current fn-clear" data-name="holding">
                <ul class="ui-list ui-list-s" id="holding-list"></ul>
                <div class="fn-right mt10" id="holding-list-pagination"></div>
              </div>
              <div class="ui-tab-content fn-clear" data-name="exiting">
                <ul class="ui-list ui-list-s" id="exiting-list"></ul>
                <div class="fn-right mt10" id="exiting-list-pagination"></div>
              </div>
              <div class="ui-tab-content fn-clear" data-name="exited">
                <ul class="ui-list ui-list-s" id="exited-list"></ul>
                <div class="fn-right mt10" id="exited-list-pagination"></div>
              </div>
              <div class="ui-tab-content fn-clear" data-name="reserve">
                <ul class="ui-list ui-list-s" id="reserve-list"></ul>
                <div class="fn-right mt10" id="reserve-list-pagination"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{%endblock%}

{%block after%}
<script id="account-info-template" type="text/x-handlebars-template">
{{@ each accounts }}<option value="{{ userBankId }}">{{ bankType }} {{ dealCardId }}</option>{{ else }}<option value="">请先添加银行卡</option>{{/ each }}
</script>
<script id="confirm-plan-exit-template" type="text/x-handlebars-template">
<div class="ui-confirm" id="confirm-plan-exit">
  <h3 class="ui-confirm-title">确认退出{{ name }}</h3>
  <div class="ui-confirm-content">
    <div class="color-gray-text text-small">
      点击退出后，该期优选计划所持有的债权将全部进行债权转让，全部债权转出后，即完成该期优选计划的退出，详细规则请查看<a href="/static/misc/financial-plan-intro.pdf?rrdversion=20140414" target="_blank">《优选理财计划说明书》</a>
    </div>
    <div class="mt20 fn-clear">
      <div class="fn-left w100">退出回款方式</div>
      <div class="fn-left">
        <div data-name="to-renrendai">
          <input type="radio" checked="checked" /> 提取至人人贷主账户（推荐）
        </div>
        <div data-name="to-bank" style="display: none;">
          <input type="radio" checked="checked" /> 提取至银行卡
          <div>
            <select id="account-info" data-name="bank-account"></select>
            <a href="/account/info!bank.action">添加</a>
          </div>
        </div>
        <a class="cursor-pointer text-small" data-name="change-manner">其他回款处理方式</a>
      </div>
    </div>
    <div class="mt10 fn-clear">
      <p data-name="to-renrendai-hint">
        温馨提示：退出回款方式一经选定无法修改。提取至人人贷主账户的回款方式：每日系统定时将可转出资金转至理财人的主账户内，由理财人自由支配。
      </p>
      <p data-name="to-bank-hint" style="display: none;">
        温馨提示：退出回款方式一经选定无法修改。提取至银行卡的回款方式：若优选理财计划持有的债权全部转让完成，系统将发起一次提现操作；若没有将全部债权转出，则系统将每 7 天发起一次提现操作，资金具体到账时间与一般提现相同。
      </p>
    </div>
    <div class="mt10 text-center">
      <div class="fn-clear w170 ui-confirm-submit-box">
        <button class="fn-left ui-button ui-button-mid ui-button-blue" id="submit-plan-exit" type="submit" data-name="cfm-submit">退出</button>
        <a class="fn-left last ui-confirm-cancel-link" id="cancel-plan-exit">取消</a>
      </div>
    </div>
  </div>
</div>
</script>
<script id="confirm-plan-exit-execution-template" type="text/x-handlebars-template">
<div class="ui-confirm" id="confirm-plan-exit-execution">
  <h3 class="ui-confirm-title">确认退出{{ name }}</h3>
  <div class="ui-confirm-content">
    <form id="form-quit" method="post" action="/account/planQuit.action">
      <ul>
        <li class="fn-clear">
          <span class="fn-left ui-confirm-label">加入金额</span>
          <span class="fn-left ui-confirm-value num-s last"><em>{{ amount }}</em>元</span>
        </li>
        <li class="fn-clear">
          <span class="fn-left ui-confirm-label">预计回收金额</span>
          <span class="fn-left ui-confirm-value num-s last">
            <em>{{ expectedExitAmount }}</em>元
            <span class="expected-exit-amount-tip">
              <a class="iconfont text cursor-pointer" data-ui-name="ui-poptip-trigger" data-ui-poptip-ancestor=".expected-exit-amount-tip">&#xF046;</a>
              <div class="ui-poptip ui-poptip-blue" data-ui-name="ui-poptip" style="display: none;">
                <div class="ui-poptip-shadow">
                  <div class="ui-poptip-container">        
                    <div class="ui-poptip-arrow ui-poptip-arrow-7"><em></em><span></span></div>
                    <div class="ui-poptip-content">此为预估值，具体以实际收到金额为准</div>
                  </div>
                </div>
              </div>
            </span>
          </span>
        </li>
        <li class="fn-clear">
          <span class="fn-left ui-confirm-label">预计总收入</span>
          <span class="fn-left ui-confirm-value num-s last">
            <em>{{ expectedTotalIncome }}</em>元
            <span class="expected-total-amount-tip">
              <a class="iconfont text cursor-pointer" data-ui-name="ui-poptip-trigger" data-ui-poptip-ancestor=".expected-total-amount-tip">&#xF046;</a>
              <div class="ui-poptip ui-poptip-blue" data-ui-name="ui-poptip" style="display: none;">
                <div class="ui-poptip-shadow">
                  <div class="ui-poptip-container">        
                    <div class="ui-poptip-arrow ui-poptip-arrow-7"><em></em><span></span></div>
                    <div class="ui-poptip-content">预计总收入 = 预计回收金额 + 退出前已提取金额</div>
                  </div>
                </div>
              </div>
            </span>
          </span>
        </li>
        <li class="fn-clear">
          <span class="fn-left ui-confirm-label">回款处理方式</span>
          <span class="fn-left ui-confirm-value last">{{ quitTypeName }}{{@ if quitBankAccount }} {{ quitBankAccount }}{{/ if }}<!-- <a class="back">更换其他处理方式</a>--></span>
        </li>
        <li class="fn-clear">
          <span class="fn-left ui-confirm-label">提现密码</span>
          <span class="fn-left ui-confirm-value last"><input type="password" name="cashPassword" value="" /></span>
        </li>
      </ul>
      <div class="mt10 fn-clear"><p class="hint">{{ hint }}</p></div>
      <div class="mt10 text-center">
        <input type="hidden" name="planId" value="{{ planId }}" />
        <input type="hidden" name="subPointId" value="{{ subPointId }}" />
        <input type="hidden" name="quitType" value="{{ quitType }}" />
        {{@ if quitBankId }}<input type="hidden" name="quitBankId" value="{{ quitBankId }}" />{{/ if }}
        <div class="fn-clear w170 ui-confirm-submit-box">
          <button class="fn-left ui-button ui-button-mid ui-button-blue" id="submit-plan-exit-execution" type="submit" data-name="cfm-submit">确认退出</button>
          <a class="fn-left last ui-confirm-cancel-link" id="cancel-plan-exit-execution">取消</a>
        </div>
      </div>
    </form>
  </div>
</div>
</script>
  <script id="holding-list-template" type="text/x-handlebars-template">
  <li class="ui-list-header color-gray-text fn-clear">
    <span class="ui-list-title w160 fn-left fn-text-overflow">计划名称</span>
    <span class="ui-list-title w130 fn-left">加入金额</span>
    <span class="ui-list-title w110 fn-left">已赚金额</span>
    <span class="ui-list-title w80 two-line fn-left">平均<br>年利率</span>
    <span class="ui-list-title w80 two-line fn-left">当前<br>投标数</span>
    <span class="ui-list-title w80 fn-left">可用资金</span>
    <span class="ui-list-title w100 fn-left last">状态</span>
  </li>
  {{@ each financePlanList }}
  <li class="ui-list-item fn-clear {{ itemStyle }}" data-plan-name="{{ name }}" data-final-amount="{{ amount }}" data-sub-point-id="{{ subPointId }}">
    <span class="ui-list-field w150 ph5 fn-left name"><a href="{{ link }}">{{ name }}</a></span>
    <span class="ui-list-field num-s text-right w120 pr10 fn-left ui-final-amount">
      <em>{{ amount }}</em>
      <a class="iconfont text cursor-pointer" data-ui-name="ui-poptip-trigger" data-ui-poptip-ancestor=".ui-final-amount">&#xF046;</a>
      <div class="ui-poptip ui-poptip-blue" data-ui-name="ui-poptip" style="display: none;">
        <div class="ui-poptip-shadow">
        <div class="ui-poptip-container">        
          <div class="ui-poptip-arrow ui-poptip-arrow-10"><em></em><span></span></div>
          <div class="ui-poptip-content">加入费用{{ joinFee }}元</div>
        </div>
        </div>
      </div>
    </span>
    <span class="ui-list-field num-s text-right w100 pr10 fn-left ui-interest-amount">
      <em>{{ profit }}</em>
      <a class="iconfont text cursor-pointer" data-ui-name="ui-poptip-trigger" data-ui-poptip-ancestor=".ui-interest-amount">&#xF046;</a>
      <div class="ui-poptip ui-poptip-blue" data-ui-name="ui-poptip" style="display: none;">
        <div class="ui-poptip-shadow">
        <div class="ui-poptip-container">        
          <div class="ui-poptip-arrow ui-poptip-arrow-10"><em></em><span></span></div>
          <div class="ui-poptip-content">服务费用{{ fee }}元</div>
        </div>
        </div>
      </div>
    </span>
    <span class="ui-list-field num-s text-right w65 pr15 fn-left"><em>{{ interest }}</em>%</span>
    <span class="ui-list-field num-s text-right w55 pr25 fn-left"><a href="{{ link }}"><em>{{ loans }}</em>次</a></span>
    <span class="ui-list-field num-s text-right w70 pr10 fn-left"><em>{{ available }}</em></span>
    <span class="ui-list-field num-s text-center w100 fn-left last"><em>{{ status }}</em><!--
    -->{{@ if leftLockingDays }}（{{ leftLockingDays }}天）{{/ if }}<!--
    -->{{@ if hasQuitButton }}（<a class="cursor-pointer" data-name="quit">退出</a>）{{/ if }}<!--
    --></span>
  </li>
  {{ else }}
  <li class="ui-list-status">
    <p class="color-gray-text">{{@ if _message }}{{ _message }}{{ else }}没有持有中的优选理财计划{{/ if }}</p>
  </li>
  {{/ each }}
  </script>
  <script id="exiting-list-template" type="text/x-handlebars-template">
  <li class="ui-list-header color-gray-text fn-clear">
    <span class="ui-list-title w150 fn-left fn-text-overflow">计划名称</span>
    <span class="ui-list-title w90 fn-left">加入金额</span>
    <span class="ui-list-title w90 two-line fn-left">退出前<br>已提取金额</span>
    <span class="ui-list-title w90 two-line fn-left">退出中<br>已转出金额</span>
    <span class="ui-list-title w90 fn-left">待转出金额</span>
    <span class="ui-list-title w90 fn-left">剩余债权价值</span>
    <span class="ui-list-title w70 two-line fn-left">转让中<br>的债权</span>
    <span class="ui-list-title w70 two-line fn-left last">无法转让<br>的债权</span>
  </li>
  {{@ each financePlanList }}
  <li class="ui-list-item fn-clear {{ itemStyle }}">
    <span class="ui-list-field w140 ph5 fn-left name"><a href="{{ link }}">{{ name }}</a></span>
    <span class="ui-list-field num-s text-right w80 pr10 fn-left"><em>{{ amount }}</em></span>
    <span class="ui-list-field num-s text-right w80 pr10 fn-left"><em>{{ withdrawnInterest }}</em></span>
    <span class="ui-list-field num-s text-right w80 pr10 fn-left"><em>{{ transferredAmount }}</em></span>
    <span class="ui-list-field num-s text-right w80 pr10 fn-left"><em>{{ availableAmount }}</em></span>
    <span class="ui-list-field num-s text-right w80 pr10 fn-left"><em>{{ remainedValue }}</em></span>
    <span class="ui-list-field num-s text-center w70 fn-left"><em>{{ transferringCount }}</em></span>
    <span class="ui-list-field num-s text-center w70 fn-left last"><em>{{ disabledCount }}</em></span>
  </li>
  {{ else }}
  <li class="ui-list-status">
    <p class="color-gray-text">{{@ if _message }}{{ _message }}{{ else }}没有退出中的优选理财计划{{/ if }}</p>
  </li>
  {{/ each }}
  </script>
  <script id="exited-list-template" type="text/x-handlebars-template">
  <li class="ui-list-header color-gray-text fn-clear">
    <span class="ui-list-title w160 fn-left fn-text-overflow">计划名称</span>
    <span class="ui-list-title w110 fn-left">加入金额</span>
    <span class="ui-list-title w100 fn-left">已赚金额</span>
    <span class="ui-list-title w70 fn-left">收益率</span>
    <span class="ui-list-title w60 two-line fn-left">投资<br>债权数</span>
    <span class="ui-list-title w60 fn-left">退出费</span>
    <span class="ui-list-title w80 fn-left">实际收入</span>
    <span class="ui-list-title w100 fn-left last">完成时间</span>
  </li>
  {{@ each financePlanList }}
  <li class="ui-list-item fn-clear {{ itemStyle }}">
    <span class="ui-list-field w150 ph5 fn-left name"><a href="{{ link }}">{{ name }}</a></span>
    <span class="ui-list-field num-s text-right w100 pr10 fn-left ui-final-amount">
      <em>{{ amount }}</em>
      <a class="iconfont text cursor-pointer" data-ui-name="ui-poptip-trigger" data-ui-poptip-ancestor=".ui-final-amount">&#xF046;</a>
      <div class="ui-poptip ui-poptip-blue" data-ui-name="ui-poptip" style="display: none;">
        <div class="ui-poptip-shadow">
        <div class="ui-poptip-container">        
          <div class="ui-poptip-arrow ui-poptip-arrow-10"><em></em><span></span></div>
          <div class="ui-poptip-content">加入费用{{ joinFee }}元</div>
        </div>
        </div>
      </div>
    </span>
    <span class="ui-list-field num-s text-right w90 pr10 fn-left ui-interest-amount">
      <em>{{ profit }}</em>
      <a class="iconfont text cursor-pointer" data-ui-name="ui-poptip-trigger" data-ui-poptip-ancestor=".ui-interest-amount">&#xF046;</a>
      <div class="ui-poptip ui-poptip-blue" data-ui-name="ui-poptip" style="display: none;">
        <div class="ui-poptip-shadow">
        <div class="ui-poptip-container">        
          <div class="ui-poptip-arrow ui-poptip-arrow-10"><em></em><span></span></div>
          <div class="ui-poptip-content">服务费用{{ fee }}元</div>
        </div>
        </div>
      </div>
    </span>
    <span class="ui-list-field num-s text-right w60 pr10 fn-left"><em>{{ interest }}</em>%</span>
    <span class="ui-list-field num-s text-right w45 pr15 fn-left"><em>{{ loans }}</em>个</span>
    <span class="ui-list-field num-s text-right w50 pr10 fn-left"><em>{{ quitFee }}</em></span>
    <span class="ui-list-field num-s text-right w80 fn-left"><em>{{ actualIncome }}</em></span>
    <span class="ui-list-field text-center w100 fn-left last">{{ finishedDate }}</span>
  </li>
  {{ else }}
  <li class="ui-list-status">
    <p class="color-gray-text">{{@ if _message }}{{ _message }}{{ else }}没有已退出的优选理财计划{{/ if }}</p>
  </li>
  {{/ each }}
  </script>

  <script id="reserve-list-template" type="text/x-handlebars-template">
      <li class="ui-list-header fn-clear">
          <span class="ui-list-title fn-left color-gray-text w150 text-center">计划名称</span>
          <span class="ui-list-title fn-left color-gray-text w100 text-left-imp">加入金额</span>
          <span class="ui-list-title fn-left color-gray-text w100 text-left-imp">已付定金</span>
          <span class="ui-list-title fn-left color-gray-text w100 text-left-imp">待付金额</span>
          <span class="ui-list-title fn-left color-gray-text w140 text-left-imp">支付截止时间</span>
          <span class="ui-list-title fn-left color-gray-text w150 last text-left-imp">状态</span>
      </li>
      {{@ each financePlanList }}
      <li class="ui-list-item fn-clear {{ itemStyle }}">
          <span class="ui-list-field fn-left color-gray-text w150 fn-text-overflow text-center"><a href="/financeplan/listPlan!detailPlan.action?financePlanId={{ planId }}" target="_blank">{{ name }}</a></span>
          <span class="ui-list-field fn-left color-gray-text w100 text-left-imp fn-text-overflow">{{ amount }}</span>
          <span class="ui-list-field fn-left color-gray-text w100 text-left-imp fn-text-overflow">{{ depositAmount }}</span>
          <span class="ui-list-field fn-left color-gray-text w100 text-left-imp fn-text-overflow">{{ unRepayAmount }}</span>
          <span class="ui-list-field fn-left color-gray-text w140 text-left-imp fn-text-overflow color-red">{{ endPayMentTime }}</span>
          <span class="ui-list-field fn-left color-gray-text w150 last text-left-imp fn-text-overflow">{{ rsvStatus }}<a onclick="javascript:window.showModalDialog('/financeplan/getFinancePlanContract!getPlanRsvContract.action?financePlanId={{planId}}','','dialogWidth=1024px;dialogHeight=768px,status=0,toolbar=no,menubar=no,location=no,scrollbars=yes,top=20,left=20,resizable=no')" href="javascript:void(0)" class="list-a-pay">合同</a> {{@if isNotOverDue}}<a class="list-a-pay J_conform_pay_a" href="#" data-id="{{ planId }}">支付</a>{{/if}}</span>
      </li>
      {{ else }}
      <li class="ui-list-status">
          <p class="color-gray-text">{{@ if _message }}{{ _message }}{{ else }}没有预定中的优选理财计划{{/ if }}</p>
      </li>
      {{/ each }}
  </script>


  <script id="confirm-pay-template" type="text/x-handlebars-template">
      <div id="J_conform_pay_div" class="conform_pay_div ui-form">
        <form data-name="accontRsvConfirm" id="accontRsvConfirm" class="ui-form" action="/financeplan/financeRsvPay.action" method="post" >
          <span class="title">确认支付</span>
          <ul>
              <li><span>计划名称</span>{{ name }}</li>
              <li><span>预期收益</span>{{ expectedRate }}每年</li>
              <li><span>锁定期限</span>{{ lockPeriod }}个月</li>
              <li><span>加入费用</span>{{ buyInAmount }}元</li>
              <li><span>加入金额</span>{{ planAmount }}元</li>
              <li><span>已付定金</span>{{ depositAmount }}元</li>
          </ul>
          <div class="money-div">
              <p><span>应付金额</span><em data1="{{ unRepayAmountComma }}" data2="{{ buyInAmount}}"> {{ unRepayAmountComma }}</em>元</p>
              <p><span>账户余额</span>{{ availablePoints }}元<a href="/account/capital!recharge.action">充值</a></p>
          </div>
          <p><span>收益处理方式</span>
              <label><input type="radio" name="cashTypeStr" value="INVEST" checked="checked"/>收益再投</label>
              <label><input type="radio" name="cashTypeStr" value="RRD" />提至账户</label>
              <label><input type="radio" name="cashTypeStr" value="BANK" />提至银行卡</label>
              <select name="bankIdStr" id="bank-accounts" class="fn-hide"></select> <span id="J_TX_pass" class="fn-hide">&nbsp;&nbsp;提现密码:&nbsp;&nbsp;<input type="password" name="cashPassword" id="txPsw"/></span><a id="J_a_addbank" href="/account/info!bank.action" class="fn-hide">添加</a>
              <div id="pswMsg" style="color: red;padding-left: 350px;height: 20px;"></div>
          </p>
          <p style="line-height: normal"><input id="contract" type="checkbox" checked="checked"  name="contract">我已阅读并同意签署    <a class="text" href="javascript:void(0)" onclick="javascript:window.showModalDialog('/financeplan/getDemoFinancePlanContract.action?financePlanId={{id }}','','dialogWidth=1024px;dialogHeight=768px,status=0,toolbar=no,menubar=no,location=no,scrollbars=yes,top=20,left=20,resizable=no')">《{{ name }}协议》</a><label for="contract" class="error"></label></p>
          <div class="worm-tips">
              <span class="icon"></span>
              <span class="txt">温馨提示：</span>
              <p>1. 该优选理财计划每月{{cashDrawDay}}日提取利息，银行卡提现方式的实际到账日期以银行账单为准。</p>
              <p>2. 每月可提现的金额为该计划在本月收到的利息部分，本金部分将滚动投标，直至您选择退出本计划。</p>
          </div>
          <div class="submit-button">
              <input type="hidden"  name="financePlanIdStr" value="{{ id }}"/>
              <input type="hidden"  name="payAmount" value="{{ unRepayAmountNotComma }}"/>
              <input type="submit" value="确认" class="ui-button ui-button-blue ui-button-mid btn-savecon" />
              <input type="reset" id="closeDialog" value="取消"  class="ui-button ui-button-gray ui-button-mid btn-savecon" />
          </div>
        </form>
      </div>
  </script>
  <script id="bank-accounts-template" type="text/x-handlebars-template">
      {{@ each accounts }}
   <option value="{{ userBankId }}">{{ bankType }} {{ dealCardId }}</option>   
      {{ else }}
      <option value="-1">请先添加银行卡</option>
      {{/ each }}
  </script>
  <script id="holding-list-rsp" type="text/x-json">{"status":0,"message":"okay","data":{"financePlanList":[],"totalPage":1,"pageIndex":1}}</script>
  <script id="bank-accounts-rsp" type="text/x-json">{"status":0,"message":"okay","data":{"userBankVoList":[]}}</script>
  <script>seajs.use(['pages/account/invest/plans']);</script>
{%endblock%}
