{%extends "parent.tpl"%}

{%block title%}
债权转让 - 理财管理 - 我的人人贷帐户中心 -
{%endblock%}

{%block script%}{%endblock%}

{%block link%}
 <link rel="stylesheet" href="/static/css/pages/account/account.css">
{%endblock%}

{%block content%}
  <div id="pg-account-transfer" class="pg-account">
    <div class="container_12 mt10">
      <ul class="ui-breadcrumb grid_12 fn-clear">
        <li class="fn-left ui-breadcrumb-item ui-breadcrumb-text ui-breadcrumb-text-first">
          <a href="/account/index.action">我的人人贷</a>
        </li>
        <li class="fn-left ui-breadcrumb-item ui-breadcrumb-separator"></li>
        <li class="fn-left ui-breadcrumb-item ui-breadcrumb-text">
          <a href="/account/invest!loan.action">理财管理</a>
        </li>
        <li class="fn-left ui-breadcrumb-item ui-breadcrumb-separator"></li>
        <li class="fn-left ui-breadcrumb-item ui-breadcrumb-text ui-breadcrumb-text-current">
          <a>债权转让</a>
        </li>
      </ul>
    </div>
    <div class="container_12 mt10">
      <div class="grid_2">
        

<div class="ui-side ui-side-withicon" id="sidebar">
  <ul class="ui-side-list nav nav-list bs-docs-sidenav affix">
    <li class="ui-side-item ">
      <a class="ui-side-item-link" href="/account/index.action"><i class="fn-left ui-icon-mid index"></i>我的人人贷</a>
    </li>
    <li class="ui-side-item ">
      <a class="ui-side-item-link"><i class="fn-left ui-icon-mid capital"></i>资金管理</a>
      <ul class="ui-side-sub-list">
        <li class="ui-side-sub-item ">
          <a class="ui-side-sub-item-link" href="/account/capital.action">交易记录</a>
        </li>
        <li class="ui-side-sub-item ">
          <a class="ui-side-sub-item-link" href="/account/capital!recharge.action">充值</a>
        </li>
        <li class="ui-side-sub-item ">
          <a class="ui-side-sub-item-link last" href="/account/capital!withdraw.action">提现</a>
        </li>
      </ul>
    </li>
    <li class="ui-side-item active">
      <a class="ui-side-item-link"><i class="fn-left ui-icon-mid invest"></i>理财管理</a>
      <ul class="ui-side-sub-list">
        <li class="ui-side-sub-item ">
          <a class="ui-side-sub-item-link" href="/account/invest!loan.action">我的债权</a>
        </li>
        <li class="ui-side-sub-item ">
          <a class="ui-side-sub-item-link" href="/account/invest!plan.action">优选理财计划</a>
        </li>
        <li class="ui-side-sub-item active">
          <a class="ui-side-sub-item-link" href="/account/invest!transfer.action">债权转让</a>
        </li>
        <li class="ui-side-sub-item ">
          <a class="ui-side-sub-item-link" href="/account/invest!statistics.action">理财统计</a>
        </li>
        <li class="ui-side-sub-item ">
          <a class="ui-side-sub-item-link last" href="/account/invest!tool.action">自动投标工具</a>
        </li>
      </ul>
    </li>
    <li class="ui-side-item ">
      <a class="ui-side-item-link"><i class="fn-left ui-icon-mid borrow"></i>借款管理</a>
      <ul class="ui-side-sub-list">
        <li class="ui-side-sub-item ">
          <a class="ui-side-sub-item-link" href="/account/borrow!toMyLoans.action">我的借款</a>
        </li>
        <li class="ui-side-sub-item ">
          <a class="ui-side-sub-item-link" href="/account/borrow!applications.action">借款申请查询</a>
        </li>
        <li class="ui-side-sub-item ">
          <a class="ui-side-sub-item-link last" href="/account/borrow!statistics.action">借款统计</a>
        </li>
      </ul>
    </li>
    <li class="ui-side-item ">
      <a class="ui-side-item-link"><i class="fn-left ui-icon-mid account"></i>账户管理</a>
      <ul class="ui-side-sub-list">
        <li class="ui-side-sub-item ">
          <a class="ui-side-sub-item-link" href="/account/info!basicInfo.action">个人基础信息</a>
        </li>
        <li class="ui-side-sub-item ">
          <a class="ui-side-sub-item-link" href="/account/info!verification.action">认证信息</a>
        </li>
        <li class="ui-side-sub-item ">
          <a class="ui-side-sub-item-link" href="/account/info!security.action">安全信息</a>
        </li>
        <li class="ui-side-sub-item ">
          <a class="ui-side-sub-item-link last" href="/account/info!bank.action">银行卡信息</a>
        </li>
      </ul>
    </li>
    <li class="ui-side-item ">
      <a class="ui-side-item-link"><i class="fn-left ui-icon-mid comm"></i>互动管理</a>
      <ul class="ui-side-sub-list">
        <li class="ui-side-sub-item ">
          <a  class="ui-side-sub-item-link" href="/account/comm!mail.action">站内消息</a>
        </li>
        <li class="ui-side-sub-item ">
          <a  class="ui-side-sub-item-link last" href="/account/comm!settings.action">通知设置</a>
        </li>
      </ul>
    </li>
    <li class="ui-side-item last ">
          <a class="ui-side-item-link"><i class="fn-left ui-icon-mid coupons"></i>优惠券管理</a>
          <ul class="ui-side-sub-list">
              <li class="ui-side-sub-item ">
                  <a  class="ui-side-sub-item-link" href="/account/ucode.action">U-code兑换</a>
              </li>
          </ul>
     </li>
  </ul>
  <div class="ui-side-ad mt20">
        <a  style="display: block; width:140px;overflow:hidden;"><img style="width:140px;" src="http://www.renrendai.com/upload/cms/advertising/accountIndexRight/2960ccda-628c-42b4-addc-c4a391ba847d.jpg?20140401a" alt="微信扫描"></a>
</div>
</div>
<script>
seajs.use(['components/components'], function(Components) {
  new Components.Sidebar({
    name: 'account-sidebar'
  }).init();
});
</script>
      </div>
      <div class="grid_10">
        <div class="p20bs color-orange-bg fn-clear">
          <div class="fn-left box-summary-left">
            <h3 class="text-xl">债权转让盈亏<i id="tips_1" class="iconfont tips">&#xF046;</i></h3>
            <p class="num color-orange-text"><em>0.00</em>元</p>
            <p class="text-small">
              <span class="pr5">转出中的份额</span>
              <span class="num-s"><em>0</em>份</span>
            </p>
            <p class="text-small">
              <span class="pr5">转出中的数量</span>
              <span class="num-s"><em>0</em>个</span>
            </p>
          </div>
          <div class="fn-left box-summary-right last">
            <div class="fn-clear color-dimgray-text">
              <div class="grid_2 alpha">
                <h5 class="text-big">成功转入金额</h5>
                <p class="num-s"><em>0.00</em>元</p>
              </div>
              <div class="grid_2">
                <h5 class="text-big">债权转入盈亏</h5>
                <p class="num-s"><em>0.00</em>元</p>
              </div>
              <div class="grid_2 omega">
                <h5 class="text-big">已转入债权数量</h5>
                <p class="num-s"><em>0</em>份</p>
              </div>
            </div>
            <hr class="mt10">
            <div class="fn-clear mt10 color-dimgray-text">
              <div class="grid_2 alpha">
                <h5 class="text-big">成功转出金额</h5>
                <p class="num-s"><em>0.00</em>元</p>
              </div>
              <div class="grid_2">
                <h5 class="text-big">债权转出盈亏</h5>
                <p class="num-s"><em>0.00</em>元</p>
              </div>
              <div class="grid_2 omega">
                <h5 class="text-big">已转出债权数量</h5>
                <p class="num-s"><em>0</em>份</p>
              </div>
            </div>
          </div>
        </div>
        <div class="mt20 p20bs pt10 color-white-bg">
          <h3 class="text-xl">债权转让中常遇到的问题</h3>
          <div class="fn-clear">
            <ul class="grid_3 alpha">
              <li><a href="/help/invest/invest!detail.action?flag=zqzr" target="_blank">什么是债权转让？</a></li>
              <li><a href="/help/invest/invest!detail.action?flag=zczq" target="_blank">如何转出债权？</a></li>
              <li><a href="/help/invest/invest!detail.action?flag=mrzq" target="_blank">如何转入债权？</a></li>
            </ul>
            <ul class="grid_3">
              <li><a href="/help/invest/invest!transfer.action#transferValue" target="_blank">什么是债权价值？</a></li>
              <li><a href="/help/invest/invest!income.action#transferCosts" target="_blank">债权转让如何收费？</a></li>
              <li><a href="/help/invest/invest!transfer.action#transferable-loans" target="_blank">什么样的债权可以转让？</a></li>
            </ul>
            <ul class="grid_3 omega">
              <li><a href="/help/invest/invest!transfer.action#loan-value-changed" target="_blank">什么情况下债权价值会变化？</a></li>
              <li><a href="/help/invest/invest!transfer.action#loan-locked" target="_blank">什么情况下债权会被锁定？</a></li>
              <li><a href="/help/invest/invest!transfer.action#loan-transfer-failed" target="_blank">什么情况下购买债权会失败？</a></li>
            </ul>
          </div>
        </div>
        
        <div class="mt20 fn-clear">
          <div class="ui-tab ui-tab-transparent" id="transfer-tab">
            <ul class="ui-tab-items">
              <li class="ui-tab-item ui-tab-item-current" data-name="transferring">
                <a class="ui-tab-item-link">转让中的债权</a>
              </li>
              <li class="ui-tab-item" data-name="transferable">
                <a class="ui-tab-item-link">可转出的债权</a>
              </li>
              <li class="ui-tab-item" data-name="transferred-out">
                <a class="ui-tab-item-link">已转出的债权</a>
              </li>
              <li class="ui-tab-item" data-name="transferred-in">
                <a class="ui-tab-item-link">已转入的债权</a>
              </li>
            </ul>
          </div>
          <div class="p20bs color-white-bg">
            <div id="transfer-tab-content">
              <div class="ui-tab-content ui-tab-content-current fn-clear" data-name="transferring">
                <ul class="ui-list ui-list-s transferring" id="transferring-list"></ul>
                <div class="fn-right mt10" id="transferring-list-pagination"></div>
              </div>
              <div class="ui-tab-content fn-clear" data-name="transferable">
                <ul class="ui-list ui-list-s transferable" id="transferable-list"></ul>
                <div class="fn-clear mt10" id="transferable-selections" style="display: none;">
                  <div class="fn-left ph10"><input type="checkbox" id="select-all" /> <span>全选</span></div>
                  <div class="fn-left ph10"><span>选中 <em id="selected-count">0</em>笔 债权，所选债权的当前总价值 <em id="selected-value">0.00</em>元</span></div>
                  <div class="fn-right"><a class="ui-button ui-button-small ui-button-blue disabled" id="transfer-batch">批量转让</a></div>
                </div>
                <div class="fn-right mt10" id="transferable-list-pagination"></div>
              </div>
              <div class="ui-tab-content fn-clear" data-name="transferred-out">
                <ul class="ui-list ui-list-s transferred-out" id="transferred-out-list"></ul>
                <div class="fn-right mt10" id="transferred-out-list-pagination"></div>
              </div>
              <div class="ui-tab-content fn-clear" data-name="transferred-in">
                <ul class="ui-list ui-list-s transferred-in" id="transferred-in-list"></ul>
                <div class="fn-right mt10" id="transferred-in-list-pagination"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="ui-poptip fn-hide" id="tipCon_1">
      <div class="ui-poptip-shadow">
      <div class="ui-poptip-container">
          <div class="ui-poptip-arrow ui-poptip-arrow-10">
              <em></em>
              <span></span>
          </div>
          <div class="ui-poptip-content" data-role="content">
             债权转让盈亏 = 债权折溢价交易盈亏 - 债权交易费用
          </div>
      </div>
      </div>
  </div>
  <div class="ui-poptip fn-hide" id="tipCon_2">
      <div class="ui-poptip-shadow">
      <div class="ui-poptip-container">
          <div class="ui-poptip-arrow ui-poptip-arrow-10">
              <em></em>
              <span></span>
          </div>
          <div class="ui-poptip-content" data-role="content">
            根据定价公式计算出的债权当前的公允价值，会根据债权的交易日期、状态等进行更新，具体公式请<a href="/help/invest/invest!transfer.action#transferValue" target="_blank">查看详情</a>
          </div>
      </div>
      </div>
  </div>
{%endblock%}
{%block after%}
<script id="confirm-transfer-out-template" type="text/x-handlebars-template">
<div class="ui-confirm" id="confirm-transfer-out">
  <h3 class="ui-confirm-title">债权转出 <span class="text">ID {{ loanId }}</span></h3>
  <div class="ui-confirm-content">
    <form class="ui-confirm-form" action="/account/loanTransfer.action" method="post" data-name="cfm-form">
      <ul>
        <li class="fn-clear">
          <span class="fn-left ui-confirm-label">原始投资额</span>
          <span class="fn-left ui-confirm-value num-s last"><em>{{ investAmount }}</em>元（{{ investShares }}份）</span>
        </li>
        <li class="fn-clear">
          <span class="fn-left ui-confirm-label">已收利息</span>
          <span class="fn-left ui-confirm-value two-column num-s"><em>{{ interestGained }}</em>元</span>
          <span class="fn-left ui-confirm-label">利率</span>
          <span class="fn-left ui-confirm-value two-column num-s last"><em>{{ interest }}</em>%</span>
        </li>
        <li class="fn-clear">
          <span class="fn-left ui-confirm-label">可转让份数</span>
          <span class="fn-left ui-confirm-value two-column num-s"><em data-name="cfm-available-shares">{{ availableShares }}</em>份</span>
          <span class="fn-left ui-confirm-label">剩余期数</span>
          <span class="fn-left ui-confirm-value two-column num-s last"><em>{{ termsLeft }}</em>个月</span>
        </li>
        <li class="fn-clear">
          <span class="fn-left ui-confirm-label">转让份数</span>
          <span class="fn-left ui-confirm-value ui-form-item ui-form-item-nolabel last">
            <input class="ui-input" id="J_zrff"  type="text" name="share" value="{{ availableShares }}" data-name="cfm-shares-to-transfer" />
            <em id="J_error_hint" class="hint rrdcolor-red-text" data-name="cfm-hint" style="display: none;"></em>
          </span>
        </li>
        <li class="fn-clear">
          <span class="fn-left ui-confirm-label">当前债权价值</span>
          <span class="fn-left ui-confirm-value two-column num-s"><em data-name="cfm-value-per-share">{{ valuePerShare }}</em>元/份</span>
          <span class="fn-left ui-confirm-label">当前待收本息</span>
          <span class="fn-left ui-confirm-value two-column num-s last"><em>{{ repaymentsPerShare }}</em>元/份</span>
        </li>
        <li class="ui-confirm-item-note text-small color-gray-text">
          一般为转让时的待回收本金与应计利息之和。
          <a href="/help/invest/invest!transfer.action#transferValue" target="_blank">查看详细</a>
        </li>
        <li class="fn-clear">
          <span class="fn-left ui-confirm-label">转让系数</span>
          <span class="fn-left ui-confirm-value last">
            <select name="disCount" data-name="cfm-discount">
              <option value="1.0" >100.0%</option>
              <option value="0.995">99.5%</option>
              <option value="0.99" >99.0%</option>
              <option value="0.985">98.5%</option>
              <option value="0.98" >98.0%</option>
              <option value="0.975">97.5%</option>
              <option value="0.97" >97.0%</option>
              <option value="0.965">96.5%</option>
              <option value="0.96" >96.0%</option>
              <option value="0.955">95.5%</option>
              <option value="0.95" >95.0%</option>
              <option value="0.945">94.5%</option>
              <option value="0.94" >94.0%</option>
              <option value="0.935">93.5%</option>
              <option value="0.93" >93.0%</option>
              <option value="0.925">92.5%</option>
              <option value="0.92" >92.0%</option>
              <option value="0.915">91.5%</option>
              <option value="0.91" >91.0%</option>
              <option value="0.905">90.5%</option>
              <option value="0.90" >90.0%</option>
            </select>
          </span>
        </li>
        <li class="ui-confirm-item-note text-small color-gray-text">
          此转让系数仅作用于债权待收本金部分
        </li>
        <li class="fn-clear">
          <span class="fn-left ui-confirm-label">转让价格</span>
          <span class="fn-left ui-confirm-value num-s last"><em data-name="cfm-price-per-share" data-interest="{{ interestPerShare }}" data-principal="{{ principalPerShare }}">{{ valuePerShare }}</em>元/每份</span>
        </li>
        <li class="fn-clear">
          <span class="fn-left ui-confirm-label">转让总价格</span>
          <span class="fn-left ui-confirm-value num-s last"><em data-name="cfm-price-in-total">{{ value }}</em>元</span>
        </li>
        <li class="fn-clear">
          <span class="fn-left ui-confirm-label">转让费用</span>
          <span class="fn-left ui-confirm-value num-s last">
            <em data-name="cfm-fee" data-value="{{ fee }}">0</em>元
          </span>
        </li>
        <li class="fn-clear">
          <span class="fn-left ui-confirm-label">预计收入金额</span>
          <span class="fn-left ui-confirm-value num last"><em data-name="cfm-income-summary">{{ summary }}</em>元</span>
        </li>
        <li class="ui-confirm-item-note text-small color-gray-text">
          由于债权价值会发生变动，最终收入金额可能发生变动。
          <a href="/help/invest/invest!transfer.action#loan-value-changed" target="_blank">查看详细</a>
        </li>
        <li class="fn-clear">
          <span class="fn-left ui-confirm-label">提现密码</span>
          <span class="fn-left ui-confirm-value last" id="captcha">
            <input id="captcha-input" type="password" name="cashPassword" value="" />
            <!--<img class="cursor-pointer" id="captcha-img" src="/image_https.jsp" />-->
            <a id="findPsw" class="findPsw" href="/account/info!security.action">忘记密码</a>
          </span>
          <p class='color-red hide J_error_msg_p'>请输入提现密码</p>
        </li>
      </ul>
      <div class="mt10 text-small">
        <p><input type="checkbox" name="agreement" value="agreed" checked="checked" data-name="cfm-agreement" /> 我已阅读并同意签署 <a class="text" href="javascript:void(0)" onclick="javascript:window.showModalDialog('/account/emptyContract.action?templateId=31','','dialogWidth=1024px;dialogHeight=768px,status=0,toolbar=no,menubar=no,location=no,scrollbars=yes,top=20,left=20,resizable=no')">《债权转让及受让协议》</a></p>
        <p class="ui-confirm-hint rrdcolor-red-text text-small" style="display: none;"></p>
      </div>
      <div class="mt10 text-center">
        <input type="hidden" name="lenderId" value="{{ lenderId }}" />
        <div class="fn-clear w170 ui-confirm-submit-box">
          <button class="fn-left ui-button ui-button-mid ui-button-blue" type="submit" data-name="cfm-submit">转让</button>
          <a class="fn-left last ui-confirm-cancel-link">取消</a>
        </div>
      </div>
    </form>
  </div>
</div>
</script>
<script id="confirm-batch-transfer-out-template" type="text/x-handlebars-template">
<div class="ui-confirm" id="confirm-batch-transfer-out">
  <h3 class="ui-confirm-title">批量债权转出</h3>
  <div class="ui-confirm-content">
    <p class="text-small color-gray-text">提示：批量转让债权时，不可修改转出份额，所有债权将使用统一的转让系数全部转出。</p>
    <form class="ui-confirm-form" action="/account/loanTransfer.action" method="post" data-name="cfm-form">
      <ul>
        <li class="fn-clear">
          <span class="fn-left ui-confirm-label">共转让债权</span>
          <span class="fn-left ui-confirm-value num-s last"><em>{{ count }}</em>笔</span>
        </li>
        <li class="fn-clear">
          <span class="fn-left ui-confirm-label">总价值</span>
          <span class="fn-left ui-confirm-value num-s last"><em data-name="cfm-value-in-total">{{ value }}</em>元</span>
        </li>
        <li class="fn-clear">
          <span class="fn-left ui-confirm-label">转让系数</span>
          <span class="fn-left ui-confirm-value last">
            <select name="disCount" data-name="cfm-discount">
              <option value="1.0" >100.0%</option>
              <option value="0.995">99.5%</option>
              <option value="0.99" >99.0%</option>
              <option value="0.985">98.5%</option>
              <option value="0.98" >98.0%</option>
              <option value="0.975">97.5%</option>
              <option value="0.97" >97.0%</option>
              <option value="0.965">96.5%</option>
              <option value="0.96" >96.0%</option>
              <option value="0.955">95.5%</option>
              <option value="0.95" >95.0%</option>
              <option value="0.945">94.5%</option>
              <option value="0.94" >94.0%</option>
              <option value="0.935">93.5%</option>
              <option value="0.93" >93.0%</option>
              <option value="0.925">92.5%</option>
              <option value="0.92" >92.0%</option>
              <option value="0.915">91.5%</option>
              <option value="0.91" >91.0%</option>
              <option value="0.905">90.5%</option>
              <option value="0.90" >90.0%</option>
            </select>
          </span>
        </li>
        <li class="fn-clear">
          <span class="fn-left ui-confirm-label">总价格</span>
          <span class="fn-left ui-confirm-value num-s last"><em data-name="cfm-price-in-total">{{ value }}</em>元</span>
        </li>
        <li class="fn-clear">
          <span class="fn-left ui-confirm-label">转让费用</span>
          <span class="fn-left ui-confirm-value num-s last"><em data-name="cfm-fee" data-value="{{ fee }}">0</em>元</span>
        </li>
        <li class="fn-clear">
          <span class="fn-left ui-confirm-label">预计收入总金额</span>
          <span class="fn-left ui-confirm-value num last"><em data-name="cfm-income-summary">{{ summary }}</em>元</span>
        </li>
        <li class="fn-clear">
          <span class="fn-left ui-confirm-label">提现密码</span>
          <span class="fn-left ui-confirm-value last" id="captcha">
              <input id="captcha-input" type="password" name="cashPassword" value="" />
            <!--<img class="cursor-pointer" id="captcha-img" src="/image_https.jsp" />-->
            <a id="findPsw" class="findPsw" href="/account/info!security.action">忘记密码</a>
          </span>
       <p class='color-red hide J_error_msg_p'>请输入提现密码</p>
        </li>
      </ul>
      <div class="mt10 text-small">
        <p><input type="checkbox" name="agreement" value="agreed" checked="checked" data-name="cfm-agreement" /> 我已阅读并同意签署 <a class="text" href="javascript:void(0)" onclick="javascript:window.showModalDialog('/account/emptyContract.action?templateId=31','','dialogWidth=1024px;dialogHeight=768px,status=0,toolbar=no,menubar=no,location=no,scrollbars=yes,top=20,left=20,resizable=no')">《债权转让及受让协议》</a></p>
        <p class="ui-confirm-hint rrdcolor-red-text text-small" style="display: none;"></p>
      </div>
      <div class="mt10 text-center">
        <input type="hidden" name="lenderId" value="{{ lenderIds }}" />
        <input type="hidden" name="share" value="{{ shares }}" />
        <div class="fn-clear w170 ui-confirm-submit-box">
          <button class="fn-left ui-button ui-button-mid ui-button-blue" type="submit">转让</button>
          <a class="fn-left last ui-confirm-cancel-link">取消</a>
        </div>
      </div>
    </form>
  </div>
</div>
</script>
<script id="confirm-transfer-cancel-template" type="text/x-handlebars-template">
<div class="ui-confirm" id="confirm-transfer-cancel">
  <h3 class="ui-confirm-title">撤销债权转让 <span class="text">ID {{ transferId }}</span></h3>
  <div class="ui-confirm-content">
    <form class="ui-confirm-form" action="/account/invest!cancelTranfsfer.action" method="post">
      <ul>
        <li class="fn-clear">
          <span class="fn-left ui-confirm-label">已转出份数</span>
          <span class="fn-left ui-confirm-value num-s last"><em>{{ sharesTransferred }}</em>份</span>
        </li>
        <li class="fn-clear">
          <span class="fn-left ui-confirm-label">剩余份数</span>
          <span class="fn-left ui-confirm-value num-s last"><em>{{ sharesLeft }}</em>份</span>
        </li>
        <li class="fn-clear">
          <span class="fn-left ui-confirm-label">转让收入</span>
          <span class="fn-left ui-confirm-value num-s last"><em>{{ income }}</em>元</span>
        </li>
        <li class="fn-clear">
          <span class="fn-left ui-confirm-label">转让费用</span>
          <span class="fn-left ui-confirm-value num-s last"><em>{{ fee }}</em>元</span>
        </li>
        <li class="fn-clear">
          <span class="fn-left ui-confirm-label">收入金额</span>
          <span class="fn-left ui-confirm-value num-s last"><em>{{ summary }}</em>元</span>
        </li>
        <li class="fn-clear">
          <span class="fn-left ui-confirm-label">验证码</span>
          <span class="fn-left ui-confirm-value last" id="captcha">
            <input id="captcha-input" type="text" name="randCode" value="" />
            <img class="cursor-pointer" id="captcha-img" src="/image_https.jsp" />
          </span>
        </li>
      </ul>
      <div class="mt10 text-center">
        <input type="hidden" name="tranfsferId" value="{{ transferId }}" />
        <div class="fn-clear w170 ui-confirm-submit-box">
          <button class="fn-left ui-button ui-button-mid ui-button-blue" type="submit">撤销</button>
          <a class="fn-left last ui-confirm-cancel-link">取消</a>
        </div>
      </div>
    </form>
  </div>
</div>
</script>
  
<script id="transferred-out-list-template" type="text/x-handlebars-template">
<li class="ui-list-header color-gray-text fn-clear">
  <span class="ui-list-title w90 fn-left">债权ID</span>
  <span class="ui-list-title w70 fn-left">成交份数</span>
  <span class="ui-list-title w130 fn-left">转出时债权总价值</span>
  <span class="ui-list-title w130 fn-left">转出时总成交金额</span>
  <span class="ui-list-title w110 fn-left">实际收入</span>
  <span class="ui-list-title w60 fn-left">交易费用</span>
  <span class="ui-list-title w70 fn-left">转让盈亏</span>
  <span class="ui-list-title w80 fn-left last"></span>
</li>
{{# each transferList }}
<li class="ui-list-item fn-clear {{ itemStyle }}" data-name="transferred-out-item" data-loan-id="{{ loanId }}" data-transfer-id="{{ transferId }}">
  <div class="ui-list-item-row">
    <span class="ui-list-field w80 ph5 fn-left"><em class="ui-loantype-s {{ loanType }}" title="{{ loanTypeName }}"></em><a href="{{ loanLink }}" target="_blank">{{ loanId }}</a></span>
    <span class="ui-list-field num-s text-right w60 pr10 fn-left"><em>{{ shares }}</em>份</span>
    <span class="ui-list-field num-s text-right w120 pr10 fn-left"><em>{{ value }}</em></span>
    <span class="ui-list-field num-s text-right w120 pr10 fn-left"><em>{{ price }}</em></span>
    <span class="ui-list-field num-s text-right w100 pr10 fn-left"><em>{{ income }}</em></span>
    <span class="ui-list-field num-s text-right w55 pr5 fn-left"><em>{{ fee }}</em></span>
    <span class="ui-list-field num-s text-right w65 pr5 fn-left"><em>{{ pnl }}</em></span>
    <span class="ui-list-field text-center w80 fn-left last"><a class="cursor-pointer" data-name="details">明细</a></span>
  </div>
  <div class="ui-list-item-box" data-name="details-box" data-status="" style="display: none;">
    <h5><span>债权转让明细</span></h5>
    <ul class="ui-list" id="transferred-out-details-{{ loanId }}"></ul>
    <div class="ui-pagination" id="transferred-out-details-{{ loanId }}-pagination"></div>
  </div>
</li>
{{ else }}
<li class="ui-list-status">
  <p class="color-gray-text">{{# if _message }}{{ _message }}{{ else }}没有已转出的债权{{/ if }}</p>
</li>
{{/ each }}
</script>
<script id="transferred-out-details-template" type="text/x-handlebars-template">
<li class="ui-list-header color-gray-text text-small fn-clear">
  <span class="ui-list-title w100 fn-left">购买人</span>
  <span class="ui-list-title w80 two-line fn-left">转出时<br>债权价值</span>
  <span class="ui-list-title w80 fn-left">转让价格</span>
  <span class="ui-list-title w70 fn-left">成交份数</span>
  <span class="ui-list-title w70 fn-left">交易费用</span>
  <span class="ui-list-title w110 fn-left">实际收入</span>
  <span class="ui-list-title w80 fn-left">盈亏</span>
  <span class="ui-list-title w100 fn-left">成交时间</span>
  <span class="ui-list-title w40 fn-left last"></span>
</li>
{{# each transferLogList }}
<li class="ui-list-item dark fn-clear">
  <span class="ui-list-field w90 ph5 fn-left fn-text-overflow" title="{{ user }}{{# if isPlan }}（理{{ planId }}）{{/ if }}">
    <a href="{{ userLink }}" target="_blank">{{ user }}</a>
    {{# if isPlan }}（<a href="{{ planLink }}">理{{ planId }}</a>）{{/ if }}
  </span>
  <span class="ui-list-field num-s text-right w75 pr5 fn-left"><em>{{ value }}</em>/份</span>
  <span class="ui-list-field num-s text-right w75 pr5 fn-left"><em>{{ price }}</em>/份</span>
  <span class="ui-list-field num-s text-right w60 pr10 fn-left"><em>{{ shares }}</em>份</span>
  <span class="ui-list-field num-s text-right w65 pr5 fn-left"><em>{{ fee }}</em></span>
  <span class="ui-list-field num-s text-right w100 pr10 fn-left"><em>{{ income }}</em></span>
  <span class="ui-list-field num-s text-right w75 pr5 fn-left"><em>{{ pnl }}</em></span>
  <span class="ui-list-field text-center w100 fn-left">{{ date }}</span>
  <span class="ui-list-field text-center w40 fn-left last">
      <a class="text" href="javascript:void(0)" onclick="javascript:window.showModalDialog('/account/loanTransferContract.action?transferId={{transferId}}','','dialogWidth=1024px;dialogHeight=768px,status=0,toolbar=no,menubar=no,location=no,scrollbars=yes,top=20,left=20,resizable=no')">合同</a>
  </span>
</li>
{{ else }}
<li class="ui-list-status">
  <p class="color-gray-text">{{# if _message }}{{ _message }}{{ else }}没有债权转出记录{{/ if }}</p>
</li>
{{/ each }}
</script>
  <script id="transferring-list-template" type="text/x-handlebars-template">
  <li class="ui-list-header color-gray-text fn-clear">
    <span class="ui-list-title w90 fn-left">转让ID</span>
    <span class="ui-list-title w90 fn-left">债权ID</span>
    <span class="ui-list-title w80 fn-left">剩余期数</span>
    <span class="ui-list-title w60 fn-left">年利率</span>
    <span class="ui-list-title w85 fn-left">债权价值<i id="tips_2" class="iconfont tips">&#xF046;</i></span>
    <span class="ui-list-title w85 fn-left">转让价格</span>
    <span class="ui-list-title w70 fn-left">转让系数</span>
    <span class="ui-list-title w120 fn-left">剩余份数</span>
    <span class="ui-list-title w50 fn-left last"></span>
  </li>
  {{# each transferList }}
  <li class="ui-list-item fn-clear {{ itemStyle }}"
    data-name="transferring-item"
    data-transfer-id="{{ transferId }}"
    data-fee="{{ fee }}"
    data-income="{{ income }}"
    data-initial-shares="{{ investShares }}"
    data-shares="{{ shares }}">
    <span class="ui-list-field w80 ph5 fn-left"><a href="{{ transferLink }}" target="_blank">{{ transferId }}</a></span>
    <span class="ui-list-field w80 ph5 fn-left"><em class="ui-loantype-s {{ loanType }}" title="{{ loanTypeName }}"></em><a href="{{ loanLink }}" target="_blank">{{ loanId }}</a></span>
    <span class="ui-list-field num-s text-right w60 pr20 fn-left"><em>{{ termsLeft }}/</em>{{ termsInTotal }}</span>
    <span class="ui-list-field num-s text-right w55 pr5 fn-left"><em>{{ interest }}</em>%</span>
    <span class="ui-list-field num-s text-right w70 pr15 fn-left"><em>{{ value }}</em>/份</span>
    <span class="ui-list-field num-s text-right w70 pr15 fn-left"><em>{{ price }}</em>/份</span>
    <span class="ui-list-field num-s text-right w65 pr5 fn-left"><em>{{ discount }}</em>%</span>
    <span class="ui-list-field num-s text-right w110 pr10 fn-left"><em>{{ shares }}</em>/{{ sharesInTotal }}份</span>
    <span class="ui-list-field text-center w50 fn-left last"><a class="cursor-pointer" data-name="cancel">撤销</a></span>
  </li>
  {{ else }}
  <li class="ui-list-status">
    <p class="color-gray-text">{{# if _message }}{{ _message }}{{ else }}没有转让中的债权{{/ if }}</p>
  </li>
  {{/ each }}
  </script>
  <script id="transferable-list-template" type="text/x-handlebars-template">
  <li class="ui-list-header color-gray-text fn-clear">
    <span class="ui-list-title w30 fn-left"></span>
    <span class="ui-list-title w90 fn-left">债权ID</span>
    <span class="ui-list-title w70 fn-left">剩余期数</span>
    <span class="ui-list-title w120 fn-left">下个还款日</span>
    <span class="ui-list-title w60 fn-left">年利率</span>
    <span class="ui-list-title w110 fn-left">待收本息</span>
    <span class="ui-list-title w110 fn-left">债权价值</span>
    <span class="ui-list-title w90 fn-left">可转份数</span>
    <span class="ui-list-title w60 fn-left last"></span>
  </li>
  {{# each transferList }}
  <li class="ui-list-item fn-clear {{ itemStyle }}"
    data-name="transferable-item"
    data-loan-id="{{ loanId }}"
    data-lender-id="{{ lenderId }}"
    data-invest-amount="{{ amount }}"
    data-invest-shares="{{ investShares }}"
    data-terms-left="{{ termsLeft }}"
    data-terms-in-total="{{ termsInTotal }}"
    data-interest="{{ interest }}"
    data-interest-gained="{{ interestGained }}"
    data-available-shares="{{ shares }}"
    data-value-per-share="{{ valuePerShare }}"
    data-interest-per-share="{{ interestPerShare }}"
    data-principal-per-share="{{ principalPerShare }}"
    data-repayments-per-share="{{ repaymentsPerShare }}"
    data-fee="{{ fee }}">
    <span class="ui-list-field text-center w30 fn-left"><input type="checkbox" data-name="check" value="{{ loanId }}" /></span>
    <span class="ui-list-field w80 ph5 fn-left"><em class="ui-loantype-s {{ loanType }}" title="{{ loanTypeName }}"></em><a href="{{ loanLink }}" target="_blank">{{ loanId }}</a></span>
    <span class="ui-list-field num-s text-right w50 pr20 fn-left"><em>{{ termsLeft }}</em>/{{ termsInTotal }}</span>
    <span class="ui-list-field text-center w120 fn-left">{{ nextDueDate }}</span>
    <span class="ui-list-field num-s text-right w55 pr5 fn-left"><em>{{ interest }}</em>%</span>
    <span class="ui-list-field num-s text-right w100 pr10 fn-left"><em>{{ repayments }}</em></span>
    <span class="ui-list-field num-s text-right w100 pr10 fn-left"><em>{{ value }}</em></span>
    <span class="ui-list-field num-s text-right w80 pr10 fn-left"><em>{{ shares }}</em>份</span>
    <span class="ui-list-field text-center w60 fn-left last"><a class="cursor-pointer" data-name="transfer">转让</a></span>
  </li>
  {{ else }}
  <li class="ui-list-status">
    <p class="color-gray-text">{{# if _message }}{{ _message }}{{ else }}没有可转让的债权{{/ if }}</p>
  </li>
  {{/ each }}
  </script>
  <script id="transferred-in-list-template" type="text/x-handlebars-template">
  <li class="ui-list-header color-gray-text fn-clear">
    <span class="ui-list-title w90 fn-left">债权ID</span>
    <span class="ui-list-title w70 fn-left">剩余期数</span>
    <span class="ui-list-title w80 fn-left">年利率</span>
    <span class="ui-list-title w90 fn-left two-line">转入时<br>债权价值</span>
    <span class="ui-list-title w70 fn-left">转入份数</span>
    <span class="ui-list-title w95 fn-left">交易金额</span>
    <span class="ui-list-title w95 fn-left">盈亏</span>
    <span class="ui-list-title w100 fn-left">转入时间</span>
    <span class="ui-list-title w50 fn-left last"></span>
  </li>
  {{# each transferList }}
  <li class="ui-list-item fn-clear {{ itemStyle }}" data-name="transferred-in-item" data-loan-id="{{ loanId }}">
    <span class="ui-list-field w80 ph5 fn-left"><em class="ui-loantype-s {{ loanType }}" title="{{ loanTypeName }}"></em><a href="{{ loanLink }}" target="_blank">{{ loanId }}</a></span>
    <span class="ui-list-field num-s text-right w55 pr15 fn-left"><em>{{ termsLeft }}</em>个月</span>
    <span class="ui-list-field num-s text-right w60 pr10 fn-left"><em>{{ interest }}</em>%</span>
    <span class="ui-list-field num-s text-right w80 pr10 fn-left"><em>{{ value }}</em>/份</span>
    <span class="ui-list-field num-s text-right w60 pr10 fn-left"><em>{{ shares }}</em></span>
    <span class="ui-list-field num-s text-right w90 pr5 fn-left"><em>{{ amount }}</em></span>
    <span class="ui-list-field num-s text-right w90 pr5 fn-left"><em>{{ pnl }}</em></span>
    <span class="ui-list-field text-center w100 fn-left">{{ date }}</span>
    <span class="ui-list-field text-center w50 fn-left last">
        <a class="text" href="javascript:void(0)" onclick="javascript:window.showModalDialog('/account/loanTransferContract.action?transferId={{ loantransferlogId }}','','dialogWidth=1024px;dialogHeight=768px,status=0,toolbar=no,menubar=no,location=no,scrollbars=yes,top=20,left=20,resizable=no')">合同</a>
    </span>
  </li>
  {{ else }}
  <li class="ui-list-status">
    <p class="color-gray-text">{{# if _message }}{{ _message }}{{ else }}没有已转入的债权{{/ if }}</p>
  </li>
  {{/ each }}
  </script>
  <script id="transferring-list-rsp" type="text/x-json">{"status":0,"message":"okay","data":{"transferList":[],"totalPage":1,"pageIndex":1}}</script>
  <script>seajs.use(['pages/account/invest/transfer']);</script>

{%endblock%}