{%extends "parent.tpl"%}

{%block title%}
U-code兑换 - 优惠券管理 - 我的多网帐户中心 -
{%endblock%}

{%block script%}
<script>
            seajs.use(['pages/account/coupons/ucode']);
        </script>
{%endblock%}

{%block link%}
 <link rel="stylesheet" href="/static/css/pages/account/account.css">
{%endblock%}

{%block content%}
        <div id="pg-account-recharge" class="pg-account container_12 fn-clear">
            <div class="container_12 mt10">
                <ul class="ui-breadcrumb grid_12 fn-clear">
                    <li class="fn-left ui-breadcrumb-item ui-breadcrumb-text ui-breadcrumb-text-first">
                        <a href="/account/index.action">我的多网</a>
                    </li>
                    <li class="fn-left ui-breadcrumb-item ui-breadcrumb-separator"></li>
                    <li class="fn-left ui-breadcrumb-item ui-breadcrumb-text">
                        <a href="/account/capital.action">优惠券管理</a>
                    </li>
                    <li class="fn-left ui-breadcrumb-item ui-breadcrumb-separator"></li>
                    <li class="fn-left ui-breadcrumb-item ui-breadcrumb-text ui-breadcrumb-text-current">
                        <a>U-code兑换</a>
                    </li>
                </ul>
            </div>
            <div class="container_12 mt10">
                <div class="grid_2">
                    

<div class="ui-side ui-side-withicon" id="sidebar">
  <ul class="ui-side-list nav nav-list bs-docs-sidenav affix">
    <li class="ui-side-item ">
      <a class="ui-side-item-link" href="/account/index.action"><i class="fn-left ui-icon-mid index"></i>我的多网</a>
    </li>
    <li class="ui-side-item ">
      <a class="ui-side-item-link"><i class="fn-left ui-icon-mid capital"></i>资金管理</a>
      <ul class="ui-side-sub-list">
        <li class="ui-side-sub-item ">
          <a class="ui-side-sub-item-link" href="/account/capital.action">交易记录</a>
        </li>
        <li class="ui-side-sub-item ">
          <a class="ui-side-sub-item-link" href="/account/capital/recharge.action">充值</a>
        </li>
        <li class="ui-side-sub-item ">
          <a class="ui-side-sub-item-link last" href="/account/capital/withdraw.action">提现</a>
        </li>
      </ul>
    </li>
    <li class="ui-side-item ">
      <a class="ui-side-item-link"><i class="fn-left ui-icon-mid invest"></i>理财管理</a>
      <ul class="ui-side-sub-list">
        <li class="ui-side-sub-item ">
          <a class="ui-side-sub-item-link" href="/account/invest/loan.action">我的债权</a>
        </li>
        <li class="ui-side-sub-item ">
          <a class="ui-side-sub-item-link" href="/account/invest/plan.action">优选理财计划</a>
        </li>
        <li class="ui-side-sub-item ">
          <a class="ui-side-sub-item-link" href="/account/invest/transfer.action">债权转让</a>
        </li>
        <li class="ui-side-sub-item ">
          <a class="ui-side-sub-item-link" href="/account/invest/statistics.action">理财统计</a>
        </li>
        <li class="ui-side-sub-item ">
          <a class="ui-side-sub-item-link last" href="/account/invest/tool.action">自动投标工具</a>
        </li>
      </ul>
    </li>
    <li class="ui-side-item ">
      <a class="ui-side-item-link"><i class="fn-left ui-icon-mid borrow"></i>借款管理</a>
      <ul class="ui-side-sub-list">
        <li class="ui-side-sub-item ">
          <a class="ui-side-sub-item-link" href="/account/borrow/toMyLoans.action">我的借款</a>
        </li>
        <li class="ui-side-sub-item ">
          <a class="ui-side-sub-item-link" href="/account/borrow/applications.action">借款申请查询</a>
        </li>
        <li class="ui-side-sub-item ">
          <a class="ui-side-sub-item-link last" href="/account/borrow/statistics.action">借款统计</a>
        </li>
      </ul>
    </li>
    <li class="ui-side-item ">
      <a class="ui-side-item-link"><i class="fn-left ui-icon-mid account"></i>账户管理</a>
      <ul class="ui-side-sub-list">
        <li class="ui-side-sub-item ">
          <a class="ui-side-sub-item-link" href="/account/info/basicInfo.action">个人基础信息</a>
        </li>
        <li class="ui-side-sub-item ">
          <a class="ui-side-sub-item-link" href="/account/info/verification.action">认证信息</a>
        </li>
        <li class="ui-side-sub-item ">
          <a class="ui-side-sub-item-link" href="/account/info/security.action">安全信息</a>
        </li>
        <li class="ui-side-sub-item ">
          <a class="ui-side-sub-item-link last" href="/account/info/bank.action">银行卡信息</a>
        </li>
      </ul>
    </li>
    <li class="ui-side-item ">
      <a class="ui-side-item-link"><i class="fn-left ui-icon-mid comm"></i>互动管理</a>
      <ul class="ui-side-sub-list">
        <li class="ui-side-sub-item ">
          <a  class="ui-side-sub-item-link" href="/account/comm/mail.action">站内消息</a>
        </li>
        <li class="ui-side-sub-item ">
          <a  class="ui-side-sub-item-link last" href="/account/comm/settings.action">通知设置</a>
        </li>
      </ul>
    </li>
    <li class="ui-side-item last active">
          <a class="ui-side-item-link"><i class="fn-left ui-icon-mid coupons"></i>优惠券管理</a>
          <ul class="ui-side-sub-list">
              <li class="ui-side-sub-item active">
                  <a  class="ui-side-sub-item-link" href="/account/ucode.action">U-code兑换</a>
              </li>
          </ul>
     </li>
  </ul>
  <div class="ui-side-ad mt20">
        <a  style="display: block; width:140px;overflow:hidden;"><img style="width:140px;" src="http://www.duonet.cn/upload/cms/advertising/accountIndexRight/2960ccda-628c-42b4-addc-c4a391ba847d.jpg?20140401a" alt="微信扫描"></a>
</div>
</div>
<script>
seajs.use(['components/components'], function(Components) {
  new Components.Sidebar({
    name: 'account-sidebar'
  }).init();
});
</script>
                </div>
                <div class="grid_10">
                    <div class="color-white-bg fn-clear  ucode-use-div">
                        <h3 class="text-xl">U-code抢优选的得力助手</h3>
                        <p class="info mar-top">0定金，抢先预定优选理财计划加入金额！<a target="_blank" href="/help/invest/invest/financial.action#useUcode">了解更多</a></p>
                        <p class="info">关注多网官方微信、微博，抢先了解优选发布动态！</p>
                        <div class="img-div">
                            <h4>如何使用U-code</h4>
                            <img src="/static/img/use-ucode-pro.png">
                        </div>
                        <div class="fn-right mt10" id="applications-pagination"></div>
                    </div>


                    <div class="ucode-use-div">
                        <div class="color-white-bg fn-clear">
                            <h3 class="text-xl">U-code兑换</h3>
                            <form data-name="ucode" enctype="multipart/form-data" class="ui-form" method="get" id="ucodeForm" action="/account/ucode/doUcodeReserve.action">
                                <div class="inputs mt20">
                                    <div class="ui-form-item">
                                        <label class="ui-label">昵称</label>
                                        yanni4night
                                    </div>
                                    <div class="ui-form-item">
                                        <label class="ui-label"  style="line-height:35px;">U-code</label>
                                        <input class="ui-input w250 s_select_bg wid280 het45 clearfix " type="text" name="ucodeSerial" placeholder="请输入您要兑换的U-code"  value="">
                                    </div>
                                    <div class="ui-form-item">
                                        <input type="submit" id="subbt" class="ui-button ui-button-blue ui-button-mid" value="兑 换">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="ucode-use-div">
                        <div class="color-white-bg fn-clear">
                            <h3 class="text-xl">U-code温馨提示</h3>
                            <br>
                            <p class="warm-p">1. 使用U-code预定成功后，必须在规定的时间内完成支付操作。到期未完成支付，视为您主动放弃加入该计划，加入资格将作废；</p>
                            <p class="warm-p">2. U-code仅限在优选理财计划倒计时期间使用，每期优选理财计划中可供U-code预定的总金额有限；</p>
                            <p class="warm-p">3. 每个U-code只能预定一次优选理财计划；</p>
                            <p class="warm-p">4. 使用U-code预定成功后，只对预定时指定的某一期优选理财计划有效，不能延期使用；</p>
                            <p class="warm-p">5. 使用U-code预定成功后，只对当前账户生效，不能跨账户使用；</p>
                            <p class="warm-p">6. 每人每期只能使用一个U-code；</p>
                            <p class="warm-p">7. 预定的优选理财计划加入金额中使用U-code预定的部分，无需支付定金。</p>
                            <br/>
                        </div>
                    </div>


                </div>
            </div>
        </div>

        <script id="ucode-sub-template" type="text/x-handlebars-template">
            <div class="select-div">
                <div class="worm-tips">
                    <span class="icon"></span>
                    <span class="txt">恭喜，您已获得优选计划加入资格！请选择需要加入的优选计划。</span>
                </div>
                <p class="user-info"><span>U-code有效期至</span>{{ expireTime }}</p>
                <div class="edu-div"><span class="fn-left title-span">可加入额度</span>
                    <div>

                        <input type="input" id="graduation" disabled="disabled" value="{{ ucodeValue }}" name="graduation"  class="ui-input affix s_select_bg wid280 het45 clearfix  fn-left" >

                    </div>
                </div>
            </div>
            <ul class="ui-list ui-list-s mt10">
                <li class="ui-list-header color-gray-text fn-clear">
                    <span class="ui-list-title w260 fn-left text-left">&nbsp;&nbsp;&nbsp;&nbsp;兑换期数</span>
                    <span class="ui-list-title w120 fn-left text-right">预期收益</span>
                    <span class="ui-list-title w80 fn-left text-right">锁定期限</span>
                    <span class="ui-list-title w80 fn-left text-right last">加入费用</span>
                </li>

                {{@ each financePlanList }}
                <li class="ui-list-item fn-clear">
                    <span class="ui-list-field w240 ph10 fn-text-overflow fn-left"><a target="_blank" href="/financeplan/listPlan/detailPlan.action?financePlanId={{ id }}">{{ name }}</a></span>
                    <span class="ui-list-field  text-right w120 fn-left">{{expectedRate}}每年</span>
                    <span class="ui-list-field  text-right w80  fn-left">{{ lockPeriod }}个月</span>
                    <span class="ui-list-field  text-right w80  fn-left">{{ buyInRate }}元</span>
                    <span class="ui-list-field text-center w100 fn-left last"><a target="_blank" class="linkRsv" href="/account/ucode/toReserveDetailPage.action?ucodeSerial={{ ucodeSerial }}&financePlanId={{ id }}" data-plan-id="{{ id }}" data-loan-id="172730">去预定</a></span>
                </li>
                {{ else }}
                <li class="ui-list-status">
                    <p class="color-gray-text">{{@ if _message }}{{ _message }}{{ else }}没有兑换期数{{/ if }}</p>
                </li>
                {{/ each }}
            </ul>
        </script>
{%endblock%}
