#pg-login {
color:#8c8c8c;
min-height:500px;
_height:500px
}

#pg-login .container_12 {
padding:50px 0;
position:relative
}

#pg-login .content {
background:none repeat scroll 0 0 #4FC2E9;
margin:0 10px
}

#pg-login .left-con {
float:left;
height:390px;
overflow:hidden
}

#pg-login .right-con {
float:right
}

#pg-login .loginbox {
background:#fff;
width:325px;
position:relative
}

#pg-login .loginbox form {
padding:0 20px
}

#pg-login .loginbox form legend {
display:none
}

#pg-login .loginbox h3 {
height:58px;
line-height:58px;
text-align:center;
background:#51c2e8;
color:#fff;
border-top-left-radius:3px;
border-top-right-radius:3px;
font-weight:400;
font-size:20px;
display:none
}

#pg-login .loginbox .bottom {
height:48px;
line-height:48px;
color:#afafaf;
margin:0 20px;
border-bottom-left-radius:3px;
border-bottom-right-radius:3px;
border-top:1px solid #e2e2e2;
position:relative
}

#pg-login .loginbox .top-msg {
height:40px;
line-height:40px
}

#pg-login .loginbox .bottom-msg {
height:20px;
line-height:20px
}

#pg-login .loginbox .bottom span {
margin-left:20px
}

#pg-login .loginbox .bottom a.partner {
height:20px;
background-image:url(/static/img/login/login_partner.png);
background-repeat:no-repeat;
position:absolute;
text-indent:-9999px
}

#partner-qq {
width:20px;
background-position:0 0;
top:15px;
right:45px
}

#partner-weibo {
width:26px;
background-position:100% 0;
right:0;
top:15px
}

#partner-qq.hover {
background-position:0 -30px
}

#partner-weibo.hover {
background-position:100% -30px
}

#pg-login .oauth-hint {
margin-bottom:20px
}

#pg-login .ui-form-item .ui-label {
display:none
}

#pg-login .ui-form-item {
padding:0 5px 20px 0
}

#pg-login .loginbox .ui-input {
width:230px;
padding:10px 5px
}

#pg-login .loginbox .input-icon {
padding-left:50px
}

#pg-login .loginbox .placeholder {
top:11px;
left:50px
}

#pg-login .loginbox .no-icon {
top:11px;
left:10px
}

#pg-login .loginbox .code {
width:120px;
background:0 0
}

#pg-login .loginbox .code-box {
position:absolute;
border-radius:3px;
border:1px solid #c5c5c5;
text-align:center;
width:100px;
height:42px;
line-height:42px;
left:140px;
top:0
}

#pg-login .loginbox .refresh-box {
position:absolute;
right:10px;
top:10px
}

#pg-login .loginbox .findpsw {
position:absolute;
right:0
}

#pg-login .logininfo {
display:-webkit-box;
-webkit-box-orient:horizontal;
-webkit-box-pack:center;
-webkit-box-align:center;
display:-moz-box;
-moz-box-orient:horizontal;
-moz-box-pack:center;
-moz-box-align:center;
display:-o-box;
-o-box-orient:horizontal;
-o-box-pack:center;
-o-box-align:center;
display:-ms-box;
-ms-box-orient:horizontal;
-ms-box-pack:center;
-ms-box-align:center;
display:box;
box-orient:horizontal;
box-pack:center;
box-align:center
}

#pg-login .pull_5 {
_margin-right:5px
}

.suggest {
border:1px solid #0697da;
border-top:0;
width:285px;
position:absolute;
top:44px;
left:0;
z-index:9999;
background:#fff;
overflow:hidden;
border-bottom-left-radius:3px;
border-bottom-right-radius:3px;
display:none
}

.suggest ul {
margin-bottom:-1px
}

.suggest ul li {
height:38px;
line-height:38px;
border-bottom:1px solid #e9e9e9;
padding-left:50px;
cursor:default
}

.suggest ul li.cur {
background:#0697da;
color:#fff
}

#pg-login .ui-button-blue-new {
background:#0697da
}

#pg-login .ui-form-item .validCode {
width:12px;
height:13px;
background:url(/static/img/hook-blue.png) no-repeat;
position:absolute;
left:113px;
top:15px
}

input[type=checkbox] {
visibility:hidden
}
